// The FAQ block is a "vc_toggle" block, by Visual Composer, tweaked by "Madwell Visual Composer Tweaks" plugin. (I think)

// Double-up class so we override js_composer stylesheet
.vc_toggle.vc_toggle
    margin 0 auto 24px
    padding 0 0 14px
    max-width 900px
    border-bottom 1px solid #ccc

    .vc_toggle_title
        display flex
        justify-content space-between
        padding 0
        margin 0

        h4
            font-size 18px

    &.vc_toggle_color_default .vc_toggle_title
        color orange

    &.vc_toggle_arrow
        .vc_toggle_icon
            align-self center
            left 3px

    &.vc_toggle_color_default.vc_toggle_arrow
        .vc_toggle_icon
            &:before, &:after
                border-color orange
    
        .vc_toggle_title:hover
            .vc_toggle_icon
                &:before, &:after
                    border-color orange

    .vc_toggle_content
        margin 10px 0

        li, p
            color black
