.customer-account-login {
    .main {
        padding: 0 60px;
    }

    .action.remind {
        font-size: 15px;
        color: @orange;
    }
    .fieldset > .field:not(.choice) > .label {
        width: 80px;
        margin-right: 20px;
        text-align: left;
    }
    .login-container {
        margin-top: 40px;
    }

    .actions-toolbar > .primary .action:last-child,
    .actions-toolbar > .secondary .action:last-child {
        margin: 0 auto;
    }
 
    .login:after {
        content: none;
    }

}

.customer-account-forgotpassword {

   .forget .fieldset .label {
        display: block;
        width: 25%;
        text-align: left;
        margin-right: 10px;
        @media @mobile-query {
            width: 100%;
        }
    }
    
    input#captcha_user_forgotpassword {
        width: 30%;
        display: inline-block;
        @media @mobile-query {
           // width: 140px;
        }
    }

    .nested {
        // position: absolute;
        // right: 0;
        // top: 0;
        width: 40%;
        display: inline-block;
        @media @mobile-query {
            position: relative;
            display: inline-block;
        }
    }
    .field.email {

        .control {
            width: 300px;
            margin: auto;
        }
    }

    .field.captcha {
        display: block;
        .action {
            padding: 0;
        }

        .control.captcha {
            width: 64%;
            margin: 0;
            position: relative;
        }

        .control.captcha-image {
            margin: 0;
            .captcha-img {
                width: 80%;  
                margin: 5px 10px; 
                display: inline-block;   
            }
        }

        .action.reload.captcha-reload { 
            &:after {
                font-size: 50px;
                color: @orange;
                content: '\e603';
                font-family: 'icons-blank-theme';
                margin: 0;
                vertical-align: top;
                display: inline-block;
                border: 0;
                width: 20px;
                right: 0;    
            }
            &:hover:after {
               opacity: .6;
            }
        }
    }

    .action.back {
        
        padding: 0 33px 0 43px;
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            .centerY();
            left: 24px;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
            transform: translateY(-50%) rotate(135deg);
            transition: 0.2s ease-in-out;
        }
        &:after {
            content: none;
        }
        &:hover:before {
            left: 20px;
         }
    }
    .primary {
        float: right;
    }

    .action.submit.primary {
        @media @mobile-query {
             padding: 0 18px 0 22px;
             &:after {
                 content: none;
             }
        }       
    }
    
    .action.back {
        @media @mobile-query {
            padding: 0 13px 0 23px;
        }
        &:before {
            @media @mobile-query {
                left: 10px;
            }
        }
    }
}

.account {

    .primary .action.primary {
       @media @tablet-query {
            float: right;
            padding: 0 23px 0 18px; 
            font-size: 15px;
            &:after {
                right: 10px;
            }
       }
    }
   .secondary .action.back {
        @media @tablet-query {
            float: left;
            padding: 0 18px 0 23px;
            font-size: 15px;
            &:before {
                left: 12px;
            }
        }    
    }

    .account-navigation-title {
        display: none;
    }

    .page-title-wrapper {
        margin: 0 auto 30px;
        padding-bottom: 10px;
        border-bottom: 4px solid @lightestgray;
        border-image: url(images/rough-divider.png) 30;
        color: @darkgray;    
        .page-title {
            font-family: @booster;
            font-size: 1.4rem;
            letter-spacing: initial;
            text-align: left;
            text-transform: initial;
        }
    }

    .pager {
        p, span {
            color: @darkgray;
        }
    }

    .action.back {
        padding: 0 53px 0 63px;
        @media @mobile-query {
            line-height: 2.5rem;
        }
        &:after {
            content: none;
        }
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 34px;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
            transform: translateY(-50%) rotate(135deg);
            transition: 0.2s ease-in-out;           
        }
        &:hover:before {
                left: 30px;
            }
    }

    .columns {
        margin-top: 60px;
        @media @mobile-query {
            margin-top: 0;
        }
    }

    #maincontent.page-main {
       @media @tablet-query {
           margin-top: 0;
       }       
    }

    .page-main .column.main {
        box-shadow: 0 3px 15px rgba(137, 135, 133, 0.22);
        padding: 30px;
        position: relative;
        /* @media @smdesktop-query {
            max-width: 66.7%;
        } */
        @media @tablet-query {
            max-width: 62.7%;
            margin-left: 20px;
        }
        @media @mobile-query {
            background: @offwhite;
            display: none;
            max-width: 100%;
            width: 100%;
            box-shadow: none;
            margin-left: 0;
            border-bottom: 10px solid #FFF;
            padding: 30px 20px 80px;
        }
    }

    .fieldset {
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .block.account-navigation {   
            display: inline-block;   
            width: auto;
          //  max-width: 23%;
            @media @smdesktop-query {
                width: 24%;
            } 
            @media @tablet-query {
                width: 34%;
            }
            @media @mobile-query {
                width: 100%;
                max-width: none;
            }        
    }
    .account-navigation-content {
        display: inline-block;
        width: 100%;
    }
    .account-navigation {
        display: inline-block;
        width: 100%;
        .content{
            color: @darkgray;
            padding: 0;
        }

        .item {
            margin: 0;
            border-bottom: 6px solid #fff;
            position: relative;
            &:after {
                border-bottom: 3px solid @lightestgray;
                border-right: 3px solid @lightestgray;
                content: '';
                display: inline-block;
                position: absolute;
                .centerY();
                right: 20px;
                transform: translateY(-50%) rotate(-45deg);
                width: 10px;
                height: 10px;
                @media @tablet-query {
                    right: 10px;
                }
            }
           
        }
    }
    
    .empty {
        color: @darkgray;
    }

    .account-navigation .item > strong {
        background: @offwhite;
        color: @darkgray;
        font-size: 18px;
        font-weight: 700;
        padding: 25px 0 25px 16px;
        border-left: 0;
    }

    .account-navigation .item a {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        padding: 25px 33px 25px 51px;
        @media @tablet-query {
            font-size: 15px;
        }
    }
   
    .fieldset.info legend,
    .fieldset .legend,
    .column:not(.sidebar-additional) form .actions-toolbar,
    .fieldset.password legend {
            margin-left: auto;
            font-size: 1.4rem;
            color: @orange;
            font-weight: 700;
        }
    

    .fieldset legend {
        display: block;
        padding-bottom: 20px;
        width: 100%;
        border-bottom: 3px solid @lightestgray;
    }

    .fieldset > .field:not(.choice) > .label {
        width: 22%;
        text-align: left;
        @media @tablet-query {
            width: 60%;
        }
    }

    .field.choice {
        display: inline-block;
        
        &:before {
            padding: 0;
        }
    }

    .fieldset > .field.choice:before,
    .fieldset > .field.no-label:before {
        width: auto;
    }

    .account-navigation .item.current {
        background: @offwhite;
        a {
            font-weight: 700;
            border-left: none;
        }
    }

    input#dob {
        font-size: 18px;
        font-family: @booster;
        color: @darkgray;
        margin: 0;
       
    }

    .field.date input {
        width: calc(100% - 110px);
    }

    .field.city {
        width: 100%;
    }

    .form-edit-account .fieldset.password {
        display: none;
    }

    .email-password {
        margin-right: 40px;
        font-weight: 700;
    }

    .password-strength-meter {
        font-size: 12px;
    }

    .customer-cc {
        .nav.item a{
            padding-left: 0;
        }
    }
    
 //Account - manage addresses

    #firstname,
    #lastname {
        border: 0;
    }
    .actions-toolbar {
        margin-left: auto;
        .primary {
            float: right;
            @media @tablet-query {
                float: none;
            }
        }
        .secondary {
            float: none;
            a {
                margin-top: 0;
            }
        } 
    }

    .block .box-actions {
        margin-top: 10px;
    }

    .action.edit,
    .action.view span,
    .action.order span {
        font-size: 15px;
        color: @orange;
        &:hover {
            opacity: .8;
        }
        @media @tablet-query {
            font-size: 13px;
        }
    }

    .column.main .block:not(.widget) .block-title > strong{
            margin-left: auto;
            font-size: 1.4rem;
            color: @orange;
            font-weight: 700;
    }
    
    .action.primary:focus,
    .action.primary:active {
        background: @orange;
        border: none;
    }

    &.customer-account-index .action.save.primary {
        position: absolute;
        bottom: 0;
        right: 40px;
       @media @tablet-query {
           right: 20px;
           padding: 0 30px 0 21px;
           line-height: 2em;
           &:after {
               right: 16px;
           }
       }
    }

    .form-address-edit .actions-toolbar .action.primary {
        padding: 0 63px 0 53px;
        font-size: 18px;
        line-height: 2.5em;
         @media @tablet-query {
             font-size: 15px;
             padding: 0 27px 0 19px;
        }
    }

    .field.choice.set.billing {
        display: block;
    }

    // my orders

    .order-products-toolbar {
        margin-top: 60px;
    }
    .order-date {
        margin: 0 0 30px 0;
    }

    .order-links {
        margin-bottom: 10px;

        .item{
            color: @darkgray;
            padding: 3px 20px 0 0;
            margin-right: 0;
            border-bottom: none;
            a {
                color: @orange;
                padding: 3px 5px;
                font-weight: 500;
            }
            a:hover {
                color: @lightgray;
            }
            &:after {
                @media @mobile-query {
                    content: none;
                }               
            }
            & > strong {
                @media @mobile-query {
                     background: none;
                }
               
            }
        }
    }     

    .order-tracking a{
        color: @orange;
    }

    .actions-toolbar a.action.track,
    .actions-toolbar a.action.print {
        display: none;
    }

    .order-title {
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px;
    }

    .order-title a.action.track {
        color: @orange;
        margin-left: 30px;
    }

    .order-title a.action.print {
        font-size: 15px;
        border-radius: 23px;
        color: #FFF;
        font-weight: 700;
        float: right;
        margin: 20px 10px;
        padding: 10px;
        background: @orange;
        &:hover {
            color: rgba(255,255,255, .75);
        }
    }

    td.col {
        vertical-align: middle;
        span, strong {
            font-size: 18px;
            @media @tablet-query {
                font-size: 13px;
            }
        }
        .items-qty span.content {
            color: @darkgray;
            font-weight: 700;
        }
    }

    .order-details-items.ordered {
        table > tfoot > tr > td {
            text-align: right;
        }
        .item {
            border-bottom: none;
        }
        .item:after{
            content: none;
        }
    }

    .order-details-items .order-title > strong {
        font-size: 18px;
        font-weight: 700;
        @media @tablet-query {
            font-size: 15px;
        }
    }

    .block-order-details-view {
        .box-content {
            font-size: 18px;
            line-height: 1.4;
            @media @tablet-query {
                font-size: 13px;
            }
            .payment-method .content{
                @media @mobile-query {
                    background: none;
                }
            }
            .payment-method .title {
                display: none;
            }    
        }
    }
    .column.main .block:not(.widget) .box-title > span {
         @media @tablet-query {
                font-size: 15px;
            }
    }

    select {
        width: 100%;
    }

    .order-details-items.shipments .actions-toolbar:first-child {
        margin-top: 0;
    }
    
    // my subscriptions

    &.billforward-subscription-customer-manage .main {
       
        h2,p,
        .label {
            color: @darkgray;
            font-size: 18px;
            font-family: @booster;
            font-weight: 700;
            letter-spacing: inherit;
            text-transform: inherit;
        }

        .product-options-wrapper .fieldset > .field:not(.choice) > .label {
            display: none;
        }

        .fieldset > .field:not(.choice) > .control {
            width: auto;
        }

        .product-options-wrapper .fieldset > .field {
            display: inline-block;
            margin: 0;
        }

        .legend {
            color: @darkgray;
            font-size: 18px;
        }

        a {
            color: @orange;
        }

        .field.date input {
            width: 100%;
        }

        .fieldset .legend {
            margin-left: 0;
            margin-right: auto;
        }
        
        div button { 
            background: none;
            border: 0;
            font-size: 15px;
            color: @orange;
            margin-left: 40px;
            font-weight: 500;
        }

        .actions-toolbar button {
            background: @orange;
            .button();
            margin-left: 0;
            margin-right: 40px;
        }

        #add_new_card {
            color: #fff;
        }
        #change-card-select h2 {
            display: none;
        }
    }

    &.billforward-subscription-customer-listing .main {
        a {
            color: @orange;
        }
    }

    &.billforward-subscription-customer-addnewcard {
        .fieldset > .field:not(.choice) > .label,
        .fieldset > .field:not(.choice) > .control {
            width: 42%;
        }
    }

    .action.delete {
        color: @orange;
    }

    .items.addresses .action.delete {
        margin-left: 97px;
    }

    // Newsletter preferences 
    &.sales-order-history .limiter-options {
        border: 0;
        &:hover {
            box-shadow: none;
        }
    }

}

//
.account.page-layout-2columns-left .column.main {
    @media @lgdesktop-query {
        width: 74.5%;
    }
    @media @mobile-query {
        width: 100%;
    }
}

.customer-account-login  {
    .form-login .login .actions-toolbar {
        margin-left: 0;
        padding-left: 0;
        width: 74%;
   }
        .primary {
            float: left;
        } 
        .secondary {
            float: none;
            margin-left: 103px;
            margin-bottom: 40px;
            @media @tablet-query {
                margin-left: 0;
            }
        }
        .field.password {
            margin-bottom: 5px;
        }
}

.account {

    #firstname,
    #lastname {
        border: 1px solid @lightestgray;
    }

    input {
        width: 100%;
    }

    .fieldset > .field:not(.choice) > .label {
        width: 22%;
        text-align: left;
        height: 50px;
        padding: 15px 0;
        @media @tablet-query {
            width: 100%;
            text-align: left;
            height: auto;
            padding: 0;
        }
    }

    .fieldset > .field:not(.choice) > .control {
        width: 43%;
        margin-left: 10px;
        @media @tablet-query {
            width: 80%;
            margin-left: 0;
        }
        @media @mobile-query {
            width: 100%;           
        }
    }

    .fieldset > .field.choice .label {
        display: inline-block;
        
    }

    .field.newsletter {
        max-width: none;
        width: 100%;
        text-align: left;
        margin: 0 auto 20px;
    }

    .actions-toolbar .primary {
        @media @tablet-query {
            float: right;
            display: block;
        }
    }

    .actions-toolbar .secondary {
        float: left;
        display: block;
    }

    .actions-toolbar {
        margin-top: 80px;
    }

    .control.customer-dob {
        display: block;
        text-align: center;
        input {
            width: 85%;
            float: left;
            @media @tablet-query {
                width: 86%;
            }
        }
    }
}

.customer-account-createpassword {
    .fieldset > .field:not(.choice) > .label {
        width: 22%;
        text-align: left;
        @media @tablet-query {
            width: 60%;
        }
    }

    .fieldset > .field:not(.choice) > .control {
        width: 43%;
        margin-left: 10px;
        @media @tablet-query {
            width: 80%;
            margin-left: 0;
        }
        @media @mobile-query {
            width: 100%;           
        }
    }

    .actions-toolbar .primary {
        float: left;
    }
}
.password-strength-meter {
    text-align: center;
}

.popup-authentication .customer-account-login .form-login .login .actions-toolbar {
    width: 100%;
}

//customer-account-forgotpassword

    .form.password.forget,
    .form.password.reset, .form.send.confirmation,
    .form.create.account
     {
        margin: 20px auto;
    }
    .customer-account-forgotpassword {
    .fieldset > .field:not(.choice) > .control {
        float: none;
        width: 100%;
        @media @mobile-query {
            width: 100%;
            float: none;

        }
    }
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; 
}
input[type=date] { /* Firefox 19+ */
    -moz-appearance: textfield;
}
.account-details:before,
.my-subscriptions:before,
.my-orders:before,
.my-reviews:before,
.newsletter-preferences:before,
.payment-methods:before
 {        
        content: '';
        display: inline-block;
        width: 24px;
        height: 18px;
        position: absolute;
        .centerY();
        margin-left: 20px;
        @media @tablet-query {
            width: 18px;
            height: 15px;
            margin-left: 10px;
        }       
}
.account-details:before {
    background: url('images/account-details.svg') no-repeat;
}

.my-subscriptions:before {
    background: url('images/subscriptions.svg') no-repeat;
}

.my-orders:before {
    background: url('images/orders.svg') no-repeat;
}

.my-reviews:before {
    background: url('images/reviews.svg') no-repeat;
}

.newsletter-preferences:before {
    background: url('images/my-newsletter.svg') no-repeat;
}

.payment-methods:before{
    background: url('images/payment.svg') no-repeat;
}
