.page-template-page-basic,
.error404,
.coupon {
	margin-top: 124px;

	@media @tablet-query {
		margin-top: 80px;
	}

	@media @mobile-query {
		margin-top: 50px;
	}

	&:not(.page-store-locator):not(.coupon) {
		margin-top: 225px;

		@media @tablet-query {
			margin-top: 140px;
		}

		@media @mobile-query {
			margin-top: 100px;
		}

		#content.site-content {
			width: 900px;
			margin: 0 auto 100px;
			max-width: 95%;

			@media @tablet-query {
				width: 750px;
			}

			@media @mobile-query {
				width: 100%;
			}
		}
	}

	.site-content {

		h1 {
			margin-bottom: 50px;

			@media @tablet-query {
				margin-bottom: 30px;
			}
		}

		h2, h3, h4, h5, h6, p {
			margin-bottom: 15px;
		}

	}
}

.coupon {
	padding: 50px 0 30px;
}

.error404 {

	&__container {
		width: 642px;
		max-width: 100%;
		margin: 0 auto 50px;

		@media @tablet-query {
			width: 461px;
		}

		@media @mobile-query {
			width: 252px;
		}
	}

	&__image {
		margin-bottom: 70px;

		@media @tablet-query {
			margin-bottom: 50px;
		}

		@media @mobile-query {
			width: 190px;
			margin-bottom: 38px;
		}
	}

	.site-content p {
		margin-top: 25px;
	}

	.site-content a {
		font-weight: 700;
	}
}