.bundles-hero {

	&__description {

		p {
			width: 30%;

			@media @tablet-query {
				width: 100%;
			}
		}

		a {
			background-color: @orange;
			color: #fff;

			&:after {
				border-color: #fff;
			}
		}
	}
}


.bundles-how {
	padding: 50px 0 0;

	@media @mobile-query {
		padding: 40px 0;
	}

	h1 {
		color: @darkgray;
		margin-bottom: 50px;

		@media @mobile-query {
			font-size: 28px;
			margin-bottom: 40px;
		}
	}

	p {
		color: @darkgray;
		position: relative;

		&:first-child {
			height: 111px;
			width: 100%;
			margin-bottom: 30px;

			@media @mobile-query {
				margin-bottom: 15px;
			}
		}
	}

	&__button p:first-child {
		height: auto;
	}

	strong {
		font-size: 24px;
		margin-bottom: 15px;
		display: block;

		@media @mobile-query {
			margin-bottom: 0;
			font-size: 16px;
		}
	}

	.col-12 {
		width: 1200px;
		max-width: 100%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		float: none;

		& > div {
			margin-left: auto;
			margin-right: auto;
		}

		@media @smdesktop-query {
			width: 1000px;
		}

		@media @mobile-query {
			width: 695px;
		}

		@media @mobile-query {
			flex-direction: column;
		}
	}

	&__step {
		width: 310px;
		margin-bottom: 50px;

		@media @mobile-query {
			margin-bottom: 30px;
		}

		@media @mobile-query {
			margin-bottom: 30px;

			&:last-of-type {
				margin-bottom: 40px;
			}
		}

		img {
			.centerX();
			bottom: 0;
			max-height: 110px;
			max-width: 100px;
		}
	}

	&__button a {
		.button();
		background-color: @orange;
	}
}

.bundles-tabs .hover-tab {
	width: 30%;
}
