.product-bundles-subscription-container {
            margin-top: 20px;

	.expand {
		max-width: 450px;
		margin: 0px 0px 20px 0px !important;
		
		h3 {
			background: @offwhite;
			font-size: 18px;
			position:relative;
			padding:10px;
			cursor: pointer;
			color: @lightgray;
			font-weight: 700;
			
			&::after {
				position:absolute;
				right:20px;
				content: ' ';
				top:13px;
				border: solid @orange;
				border-width: 0 3px 3px 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(45deg);
				webkit-transform: rotate(45deg);
			}
		}
		>div {
			max-height:0;
			transition:max-height 0.3s ease-out;
			overflow:hidden;
			background: @offwhite;
            padding: 0 10px;
            
		}
		&.open {
			>div {
				max-height: 600px;
				height:auto;
				margin-bottom:20px;
				
			}
		}
	}

    //image gallery
        .product.media {
            margin-bottom: 54px;
            @media @mobile-query {
                margin-bottom: 0;
            }
        }
        .product .gallery-placeholder {
            margin: 0 30px 0 -60px;
            max-width: 618px;
            @media @tablet-query {
                margin-right: 20px;
                margin-left: 0px;
            }
            @media @mobile-query {
                margin-left: auto; 
            }
        }
        .fotorama__nav-wrap--vertical {
            left: 20px;
        }
        .fotorama__stage {
            padding-left: 30px;
        }  
       .fotorama__stage__frame .fotorama__img {
                display: block;
                padding-left: 10%;
        }
        .fotorama__nav__shaft {
            background: none;
        }


    //product info
        .product-details {
            border-bottom: 3px solid @lightestgray;
            border-image: url('images/border-lightgray.svg') 30;
            padding-bottom: 54px;
            @media @tablet-query {
                padding-bottom: 30px;
            }
        }
        .product .page-title .base {
            color: @orange;
        }

    // product addition info
    .product-addition {
        margin-top: 0;
        text-align: center;
        color: @darkgray;
        .icon, .item {
            display: inline-block;
            margin: 0 5%;
            text-align: center;
            width: 21%;
            vertical-align: top;
            @media @tablet-query {
                margin: 0 2%;
                width: 28%;     
            }
            @media @mobile-query {
                width: 100%;
                margin: 0;
            }
            &-image {
            
                img {
                    max-height: 110px;
                    display: inline-block;
                    @media @tablet-query {
                        max-height: 134px;
                    }                 
                }
            }    
            &-title {
                font-size: 24px;
                line-height: 24px;
                margin: 20px auto;
                font-weight: 700;
                @media @mobile-query {
                    margin: 5px auto;
                    font-size: 16px;
                }
            }
            &-text {
                max-width: 300px;
                margin: 0 auto;
                font-size: 18px;
                font-family: @booster;
                font-weight: 500;
                line-height: 26px;
                @media @tablet-query {
                    text-align: left;
                }
                @media @mobile-query {
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
        }
        .product-how-it-works-container {
            .section-title {
                font-size: 60px;
                font-family: @organico;
                margin: 54px auto;
                @media @tablet-query {
                    font-size: 45px;
                    margin: 30px auto;
                }
                @media @mobile-query {
                    font-size: 30px;
                }
            }
        }
        .product-awesome-container {
            background: @offwhite;
            border-top: 5px solid @offwhite;
            border-bottom: 5px solid @offwhite;
            border-image: url('images/border-offwhite.svg') 5;
            margin-top: 66px;
            padding: 54px 0 65px;
            position: relative;
            @media @tablet-query {
                margin-top: 30px;
                padding: 30px 0 65px;
            }
            @media @mobile-query {
                margin-top: 0;
                padding-bottom: 0;
            }

            .icon-wrapper {
                position: relative;
                @media @mobile-query {
                    text-align: left;
                    padding: 15px 0;
                    border-top: 3px solid @lightestgray;
                    border-image: url('images/border-lightgray.svg') 32;
                }

            }    
            .icon-title {
                font-size: 18px;
                @media @mobile-query {
                    font-size: 16px;
                    max-width: 73%;
                }
            }
            .section-title {
                font-size: 50px;
                font-family: @organico;
                color: @orange;
                margin: 0 auto 55px;
                max-width: 565px;
                text-transform: uppercase;
                letter-spacing: 5.39px;
                line-height: 54px;
                @media @mobile-query {
                    font-size: 30px;
                    letter-spacing: initial;
                    line-height: 37px;
                    margin: 0 auto 20px;
                }
            }
            .bottom {
                &-title {
                        font-size: 24px;
                        font-weight: 700;
                        margin: 23px auto;
                }
            }
            .description-tab {
                background: @offwhite;
                display: none;
                font-size: 18px;
                font-family: @booster;
                line-height: 26px;
                padding: 25px 0 0;
                width: 100%;
                .centerX();
                @media @mobile-query {
                    font-size: 16px;
                    position: relative;
                    padding: 0;
                }
                .tab-title {
                    font-size: 24px;
                    font-family: @booster;
                    font-weight: 700;
                    @media @mobile-query {
                        font-size: 18px;
                    }
                }
                span {
                    display: block;
                    margin: 23px auto;
                    max-width: 660px;
                    @media @tablet-query {
                        text-align: left;
                        margin: 10px auto;
                        padding: 20px;
                    }
                    @media @mobile-query {
                        padding-top: 0;
                    }
                }
                
            }
            .active {
                .description-tab {
                    display: block !important;
                }
                .icon-wrapper:before {
                    content: '';
                    background: url(images/bing.svg) right top no-repeat;
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin-top: 0;
                    margin-left: 20px;
                    position: absolute;
                    right: 45px;
                    transform: rotate(25deg);
                    @media @smdesktop-query {
                        right: 10px;
                    }
                    @media @tablet-query {
                        width: 27px;
                        height: 35px;
                        right: 25px;                 
                    }
                    @media @mobile-query {
                       content: none;
                    }
                }                             
            }
            .icon-wrapper {
                @media @mobile-query {
                .arrow();
                &:after {
                    border-color: @lightestgray;
                    right: 24px;
                    transform: translateY(-50%) rotate(45deg);                   
                    }
                 &:hover:after {
                     right: 24px;
                 }    
                }
            }
        }
        .product-subscribe-container {
            margin: 150px auto 40px;
            @media @mobile-query {
                margin-top: 20px;
            }
            .icon-image {
                @media @mobile-query {
                    display: none;
                }
            }
            .text {
                display: table;
                font-size: 30px;
                color: @orange;
                font-weight: 700;
                margin: 23px auto 0 auto;
                text-decoration: none;
                @media @mobile-query {
                    display: block;
                    margin: 0 auto;
                }
                span {
                    display: table-cell;
                    vertical-align: middle;
                    @media @mobile-query {
                        display: block;
                        font-size: 16px;
                    }
                }
            }
            .back-to-top {
                border: 2px solid @orange;
                border-radius: 50%;
                display: inline-block;
                min-width: 48px;
                min-height: 48px;
                position: relative;
                margin-left: 22px;
                @media @mobile-query {
                    min-width: 41px;
                    min-height: 41px;
                    margin: 10px auto 0;
                }
                &:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    .center();
                    border-right: 3px solid @orange;
                    border-bottom: 3px solid @orange;
                    transform: translate(-50%, -50%) rotate(-135deg);
                    transition: 0.2s ease-in-out;
                }
            }
        }

        .product-awesome-container .icon-image {
           img {
                @media @tablet-query {
                    max-height: 80px;
                }
           } 
            @media @mobile-query {
                padding-left: 20px;
                padding-right: 10px;
                display: block;
                float: left;
                text-align: left;
            }
            
            img {
                @media @mobile-query {
                    width: 32px;
                    max-height: 32px;
                }              
            }
        }
    }  

    .bottom-title,
    .bottom-text {
        display: none;
        }


    form {
        .choice label span {
            margin-left:25px;
        }
        .datetime-picker {
            max-width:180px;
            border: 1px solid #d1d1d1;
            border-radius: 25px;
        }
    }

    .product-add-form .fieldset > .field:not(.choice) > .label {
        display: none;
    }
    .product-add-form .fieldset > .field {
        display: block;
        margin-bottom: 10px;
    }

    .control.no-allergies,
    .control.dairy-free,
    .control.gluten-free {
        display: inline-block;
    }

    .date {
        margin-bottom: 20px;
        .control {
            display: inline-block;
        }
        input[type="text"] {
            height: 40px;
            width: 100%;
            max-width: 160px;
        }
        ._has-datepicker ~ .ui-datepicker-trigger {
            position: absolute;
            right: 15px;
            top: 0;
            width: 100%;
            &:before {
                float: right;
            }
        }
    }
    
    .page-title-wrapper {
        @media @tablet-query {
             margin-top: 10px;
        }
        @media @mobile-query {
            margin-top: 0;
        }
    }
}

.product-baby-tot-bundles-subscription .product.media .gallery-placeholder .fotorama__stage__frame .fotorama__img {
    @media @tablet-query {
        left: 38%;
    }
}