

.page-campaign-design,
.page-campaign-landing-page,
.page-happiness-wins {
    background: #f6f6f6;

    #footer {
        background: #fff;
    }
    .top-b-tablet {
        max-width: 623px;
    }

    #content {
        &.site-content {           
            margin-top: 184px;
            max-width: 1640px;

            @media(min-width:1024px) {               
                padding: 0 50px;
            }
            @media(min-width:1280px) {
                padding: 0 100px;
            }           

            @media @tablet-query {
                max-width: 1480px;
                margin-top: 119px;
                padding: 0 40px;
            }

            @media(max-width:667px) {
                margin-top: 120px;
            }

            @media @mobile-query {
                margin-top: 95px;
                padding: 0 16px;
            }


        }
    }
}
.ls-detail-container p {
    color: #808080;
}

.campaign-wrapper {

    .dash-module {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 45px;
        @media(max-width:767px) {
            margin-top: 25px;
        }
        .hudson-grid-container {
            margin-top: 22px;
        }
    }

    .gallery-module {   

        li {
            @media(max-width:767px) {
                width: 100%;
                display: inline-block;               
                height: 0;
                overflow: hidden;
                position: relative;
                z-index: 1;
                padding-bottom: 128.325%;
            }
            img {
                @media(max-width:767px) {
                bottom: 0;
                display: block;
                height: auto;
                left: 0;
                margin: auto;
                max-width: 100%;
                position: absolute;
                right: 0;
                top: 0;
                }
            }

            img.lazyload {
                @media(max-width:767px) {
                min-height:0;
                }
            }

            .lazyload {
                @media(max-width:767px) {
                min-height:0;
                }
            }
        }

    }

    .lazyload{
        opacity: 0;
        min-height:170px;
    }

    .lazyloaded {
        opacity: 1;
        -ms-transition: opacity 2s ease-out;
        -moz-transition: opacity 2s ease-out;
        -webkit-transition: opacity 2s ease-out;
        transition: opacity 2s ease-out;
    }

    .six-images.mos-mobile-view {
        @media(min-width:768px) {
            display: none;
        }
    }

    .six-images.mos-desktop-view {
        @media(max-width:767px) {
            display: none;
        }

    }

    a,
    p,
    div,
    span {
        color: #6E6C69;
        font-family: BoosterNextFY, sans-serif;
        font-weight: normal;
    }

    h1,
    h2,
    h3,
        {
        font-family: BoosterNextFY, sans-serif;
        text-transform: none;
    }

    .desktop-view {
        @media(min-width:768px) {
            display: block;
        }

        @media(max-width:767px) {
            display: none;
        }

    }

    .mobile-view {
        @media(min-width:768px) {
            display: none;
        }

        @media(max-width:767px) {
            display: block;
        }
    }

    .about-us .text {
        .discrip {
            padding: 0;
        }
    }

    .back {
        float: left;
        margin-top: 35px;

        @media(max-width:767px) {
            margin-top: 27px;
        }

        span {
            float: left;
        }

        .back-text {
            margin-top: 12px;
            margin-left: 16px;
            line-height: 1;
            font-size: 16px;
        }
    }

    .h-one {
        max-width: 1168px;
        clear: left;
        margin-top: 19px;
        margin-bottom: 75px;

        @media @tablet-query {
            margin-bottom: 55px;
        }

        @media(max-width:980px) {
            margin-bottom:35px;
        }

        @media(max-width:767px) {
            margin-bottom: 35px;
        }


        .left {
            font-size: 83px;
            line-height: 86px;
            letter-spacing: -0.02em;
            width: 47%;
            float: left;
            text-transform: inherit;
            font-weight: 500;

            @media(max-width:1045px) {
                font-size: 74px;
                line-height: 79px;
            }

            @media(max-width:980px) {
                font-size: 55px;
                line-height: 62px;
                width: 45.5%;
            }

            @media(max-width:767px) {
                font-size: 55px;
                line-height: 62px;
                width: 100%;
            }

            @media(max-width:380px) {
                font-size: 45px;
                line-height: 52px;
                padding-right: 0px;

            }

            h1 {
                font-size: 83px;
                line-height: 86px;
                letter-spacing: -0.02em;
                text-transform: inherit;
                font-weight: 500;
                @media(max-width:1090px) {
                    font-size: 78px;
                }

                @media(max-width:1045px) {
                    font-size: 74px;
                    line-height: 79px;
                }

                @media(max-width:980px) {
                    font-size: 55px;
                    line-height: 62px;
                    width: 100%;
                    float: left;
                }

                @media(max-width:380px) {
                    font-size: 45px;
                    line-height: 52px;
                    padding-right: 0px;

                }
            }
        }

        .right {
            letter-spacing: -0.02em;
            width: 39%;
            float: right;
            margin-top: 7.7%;

            @media(max-width:1045px) {
                width: 44%;
            }

            @media(max-width:980px) {
                font-size: 22px;
                line-height: 30px;
            }

            @media(max-width:767px) {
                margin-top: 19px;
                font-size: 20px;
                line-height: 25px;
                width: 100%;
                padding-right: 76px;
            }

            @media @mobile-query {
                padding-right: 0px;
            }
        }
    }

    .float-left {
        float: left;
        width: 100%;

    }


    .gallery-module {
        .slick-dots {
            display: block;
            position: absolute;
            bottom: 25px;
            left: 0px;

            li.slick-active {
                button {
                    background: #f37021;
                }
            }

            li {
                float: left;
                border-radius: 50%;
                width: 25px;
                background: #fff;
                height: 22px;
                position: relative;
                margin-left: 33px;

                @media(max-width:767px) {
                    width: 18px;
                    height: 16px;
                    margin-left: 25px;
                    padding:0;
                }

                button {
                    font-size: 0;
                    border-radius: 50%;
                    height: 10px;
                    width: 11px;
                    border: none;
                    background: #fff;
                    position: absolute;
                    top: 6px;
                    left: 7px;
                    padding: 0;

                    @media(max-width:767px) {
                        width: 8px;
                        height: 7px;
                        top: 4px;
                        left: 5px;
                    }

                }
            }

        }
    }



    .video-module,
    .gallery-module {
        float: left;
        width: 100%;
        border-bottom: 1px solid #c0bfbe;

        @media(max-width:767px) {

            border-bottom: none;
            position: relative;
        }

        &:after {
            @media(max-width:767px) {
                position: absolute;
                bottom: 0px;
                left: 0px;
                content: "";
                width: 93%;
                height: 1px;
                background: #c0bfbe;
                margin: 0 12px;

            }

        }
    }

    .about-us,
    .scene,
    .team {
        position: relative;
        padding-top: 58px;
        margin-bottom: 58px;
        min-height: 440px;

        @media @tablet-query {
            margin-bottom: 58px;
        }

        @media(max-width:980px) {
            min-height: 330px;
        }

        @media(max-width:767px) {
            padding-top: 32px;
            margin-bottom: 33px;
        }

        .discrip {
            font-size: 30px;
            line-height: 37px;
            letter-spacing: -0.01em;
            width: 29%;
            bottom: -7px;
            left: 0;
            position: absolute;

            @media(max-width:1350px) {
                font-size: 23px;
                line-height: 26px;
                width: 32%;
            }

            @media @tablet-query {
                font-size: 23px;
                line-height: 29px;
            }

            @media(max-width:980px) {
                font-size: 17px;
                line-height: 24px;
                width: 32%;
            }

            @media(max-width:767px) {
                width: 97%;
                font-size: 20px;
                line-height: 24px;
                position: inherit;
                bottom: 0;
                padding: 0 12px;
                float: left;
                margin-bottom: 59px;
            }
        }

        .text {
            float: left;
            width: 33%;
            @media(max-width:1160px) {
                width: 38%;
            }

            @media(max-width:980px) {
                width: 34%;
            }

            @media(max-width:767px) {
                width: 100%;
                padding: 0 12px;
            }

            .header {
                font-size: 62px;
                line-height: 66px;
                letter-spacing: -0.02em;
                float: left;
                width: 100%;

                @media @tablet-query {
                    font-size: 48px;
                    line-height: 48px;

                }

                @media(max-width:980px) {
                    font-size: 40px;
                    line-height: 42px;
                }

                @media(max-width:767px) {
                    font-size: 35px;
                    line-height: 35px;
                    margin-bottom: 24px;
                }

                h2 {
                    font-size: 62px;
                    line-height: 66px;
                    letter-spacing: -0.02em;
                    float: left;
                    width: 100%;

                    @media(max-width:1440px) {
                        font-size: 53px;
                        line-height: 47px;

                    }
                    @media(max-width:1220px) {
                        font-size: 50px;
                    }

                    @media @tablet-query {
                        font-size: 48px;
                        line-height: 48px;

                    }

                    @media(max-width:980px) {
                        font-size: 32px;
                        line-height: 34px;
                    }

                    @media(max-width:767px) {
                        font-size: 35px;
                        line-height: 35px;
                        margin-bottom: 24px;
                    }
                }
            }

            .top-text {
                font-size: 14px;
                color: #716F6C;
                float: left;
                width: 100%;
                margin-top: 4px;
                margin-bottom: 58px;
                letter-spacing: 0.04em;

                @media(max-width:980px) {
                    margin-bottom: 16px;
                }

                @media(max-width:767px) {
                    margin-bottom: 24px;
                }



            }

        }

        .pic {
            float: right;
            width: 65.76%;
            position: relative;
            line-height: 0;
            min-height: 440px;

            @media(max-width:1250px) {
                width: 58.76%;
            }

            @media(max-width:980px) {
                min-height: 330px;
                width: 64.76%;
            }

            @media(max-width:767px) {
                width: 100%;
            }

            .play-text {
                width: 100%;
                top: 50%;
                left: 0;
                position: absolute;
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                text-align: center;

                .video-title {
                    font-size: 35px;
                    width: 100%;
                    float: left;
                    line-height: 30px;
                    margin-bottom: 11px;
                    color: #fff;
                    font-weight: 500;
                }

                .video-discrip {
                    font-size: 20px;
                    float: left;
                    width: 100%;
                    line-height: 23px;
                    margin-bottom: 26px;
                    color: #fff;
                }

                .video-icon {
                    font-size: 35px;
                }

            }

        }

    }

    .top-content {
        @media(max-width:767px) {
            padding: 0 12px;
        }
    }


    .six-images {

        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-align-content: stretch;
        align-content: stretch;
        display: flex;       

        @media(max-width:980px) {
            margin-top: 0px;
        }

        @media(max-width:767px) {
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-align-items: stretch;
            align-items: stretch;
            -webkit-align-content: flex-start;
            align-content: flex-start;
        }

        .column.last {
            .grid-img:nth-child(odd) {
                @media(max-width:767px) {
                    margin-right: 8%;
                    clear: left;
                    float: left;
                }
            }

            .grid-img:nth-child(even) {
                @media(max-width:767px) {
                    float: left;
                }
            }

            .grid-img {
                @media(max-width:767px) {
                    width: 46%;
                }
            }
        }

        .column {
            -webkit-order: 0;
            order: 0;
            -webkit-flex-grow: 0;
            flex-grow: 0;
            -webkit-flex-shrink: 1;
            flex-shrink: 1;
            -webkit-flex-basis: auto;
            flex-basis: auto;
            -webkit-align-self: auto;
            align-self: auto;
            width: 33%;
            max-width: 454px;
            margin-right: 2.7%;
            .grid-img {               
                img {
                    @media(max-width:767px) {
                      width:100%;
                    }
                }
                &:last-child {                   
                    margin-bottom:0;
                }
                &:nth-child(2) {
                    @media(min-width:767px) {
                        margin-bottom:0;
                    }
                    @media(max-width:767px) {
                        margin-bottom:0;
                    }
                }
                &:nth-child(3) {
                    @media(min-width:767px) {
                        margin-top:45px;
                    }
                    @media(max-width:767px) {
                        margin-top:25px;
                    }
                }

            }
            


            @media(max-width:980px) {
                margin-right: 23px;
            }

            @media(max-width:767px) {
                width: 46%;
                -webkit-order: 0;
                order: 0;
                -webkit-flex-grow: 0;
                flex-grow: 0;
                -webkit-flex-shrink: 1;
                flex-shrink: 1;
                -webkit-flex-basis: auto;
                flex-basis: auto;
                -webkit-align-self: auto;
                align-self: auto;
                margin-right: 8%;

            }

            &.center {
                margin-top: 178px;

                @media @tablet-query {
                    margin-top: 118px;
                }

                @media(max-width:980px) {
                    margin-top: 81px;
                }

                @media(max-width:767px) {
                    margin-right: 0;
                    margin-top: 57px;
                }
            }

            &.last {
                margin-right: 0;
                width: 33%;
                max-width: 454px;

                @media(max-width:767px) {
                    width: 100%;
                    display: inline-block;
                    max-width: none;
                }


            }

        }

        .grid-img {
            position: relative;
            margin-bottom: 45px;
            line-height: 0;
            width: 100%;
            float: left;
            min-height: 83px;
            max-width: 454px;

            @media @tablet-query {
                margin-bottom: 27px;
            }

            @media(max-width:980px) {
                margin-bottom: 25px;
            }

            .play-icon {
                position: absolute;
                bottom: 31px;
                left: 50%;
                width: 29px;
                margin-left: -13px;
                text-align: center;
                @media(max-width:767px) {
                    left: 50%;
                    width: 29px;                
                    margin-left: -13px;
                }

                @media @mobile-query {
                    bottom: 22px;
                }
            }

        }

    }

    .mosaic-grid .grid-img {
        display: none;
        svg {
            width:29px;
        }
    }

    .show-more {
        float: left;
        clear: left;
        width: 100%;
        text-align: center;   
        @media(min-width:768px) {
         margin-top: 33px;
         margin-bottom: -20px;
        }

        @media(max-width:767px) {
            margin-top: 16px;
            margin-bottom: -6px;
        }

        .show-text {
            font-size: 14px;
            color: #716F6C;
            float: left;
            margin-top: 8px;
            letter-spacing: 0.04em;

            @media(max-width:767px) {
                margin-top: 10px;
            }
        }

        .show-cover {
            width: 139px;
            margin: 0 auto;
            display: inline-block;

            span.icon {
                float: right;
            }

        }
    }

    .mosaic-grid {
        border-bottom: 1px solid #c0bfbe;
        padding-bottom: 58px;
        float: left;
        width: 100%;       

        @media(max-width:767px) {
            padding-bottom: 33px;
            border-bottom: none;
            position: relative;
        }

        &:after {
            @media(max-width:767px) {
                position: absolute;
                bottom: 0px;
                left: 0px;
                content: "";
                width: 93%;
                height: 1px;
                background: #c0bfbe;
                margin: 0 12px;
            }
        }

    }


    .team-carousel {
        @media(max-width:767px) {
            padding: 0 8px;
            margin-bottom: 126px;
            float: left;
            width: 100%;
        }

        .team .text {
            @media(max-width:767px) {
                padding: 0 7px;
            }
        }

        .slider-controller {
            float: left;
            clear: left;
            width: 23.5%;
            position: relative;
            margin-top: 30px;

            @media(max-width:767px) {
                float: none;
                width: 83%;
                clear: left;
                position: absolute;
                margin-top: 0;
                bottom: -60px;
                left: 30px;
            }

            a {
                display: inline-block;
            }

            .testimonial-left {
                position: absolute;
                left: 0;
                top: 20px;

                &.slick-disabled {
                    opacity: 0.2;
                    cursor: default;
                }

                @media(max-width:767px) {
                    display: none;

                }

            }

            .testimonial-right {
                float: right;

                &.slick-disabled {
                    opacity: 0.2;
                    cursor: default;
                }

                @media(max-width:767px) {
                    display: none;

                }
            }

            span.prev {
                width: 29px;
                height: 29px;
                background-image: url('images/cam-slider-prev.svg');
                background-position: center center;
                background-repeat: no-repeat;
                font-size: 0;
                display: inline-block;
            }

            span.nex {
                width: 29px;
                height: 29px;
                background-image: url('images/cam-team-next.svg');
                background-position: center center;
                background-repeat: no-repeat;
                font-size: 0;
                display: inline-block;
            }

        }
    }

    .team.float-left .text {
        width: 25%;

        @media(max-width:767px) {
            width: 100%;
        }
    }

    .team {

        .team-slides {
            float: right;
            margin-top: -205px;
            width: 67%;
            
            @media(max-width:1440px) {
                margin-top: -164px;

            }

            @media(max-width:980px) {
                margin-top: -75px;
            }

            @media(max-width:767px) {
                float: left;
                margin-top: inherit;
                width: 100%;
            }
        }

        .progress {
            display: block;
            height: 3px;
            border-radius: 10px;
            overflow: hidden;
            background-color: #dedede;
            background-image: linear-gradient(to right, #70a300, #70a300);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .4s ease-in-out;
            margin-bottom: 17px
        }

        .pic-container {
            float: right;
            width: 59.5%;

            @media(max-width:767px) {
                width: 80%;
                float: left;
            }
        }

        .prev img {
            width: 29px;
        }

        .pic-parents {
            float: left;
            width: 94%;

            @media(max-width:767px) {
                width: 100%;
                padding: 0 29px
            }

            h2 {
                margin-top: 13px;

                @media(max-width:767px) {
                    margin-top: 20px;
                }
            }

            h2,
            p {
                font-size: 14px;
                float: left;
                width: 100%;

                @media(max-width:767px) {
                    font-size: 20px;
                }
            }
        }

        .pic-text {
            float: left;
            width: 43%;
            padding-left: 16px;

            @media(max-width:767px) {
                width: 100%;
                padding-left: 30px;
                margin-top: 43px;
            }
        }

        .up-text,
        .down-text,
        .carousel-text,
        .carousel-text {
            float: left;
            width: 100%;
        }

        .down-text.desktop-view {
            @media(max-width:767px) {
                display: block;
                font-size: 20px;
                line-height: 27px;

            }

        }

        .down-text {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: -0.01em;
            line-height: 32px;
            padding-top: 21px;
            padding-right: 0px;

            @media @tablet-query {
                font-size: 20px;
                line-height: 24px;
                padding-right: 0px;
            }

            @media(max-width:980px) {
                padding-right: 0px;
                font-size: 16px;
                line-height: 19px;
            }

        }

        .header-right {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.02em;
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }

        .short {
            font-size: 20px;
            font-weight: normal;
            letter-spacing: -0.02em;
            line-height: 27px;
            float: left;
            padding-bottom: 32px;
            width: 100%;
            position: relative;

            @media @tablet-query {
                font-size: 18px;
                line-height: 22px;
            }

            @media(max-width:980px) {
                font-size: 14px;
                line-height: 19px;
            }

            @media(max-width:767px) {
                font-size: 20px;
                line-height: 27px;
                padding-bottom: 28px;

            }



            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                width: 44px;
                height: 2px;
                background: #70A401;
            }
        }
    }


    .team {
        .pic-container {
            float: left;
            opacity: 0.3;
            width: 39.5% !important;

            @media(max-width:767px) {
                width: 100% !important;
            }
        }

        .slick-slide.slick-active {
            margin: 0;
            left: 0;
        }

        .pic-text {
            display: none;
        }

        .slick-active {
            .pic-parents {
                width: 53.2%; 

                @media(max-width:767px) {
                    width: 100%;
                }

            }

            .pic-container {

                width: 100% !important;
                display: inline-block;
                opacity: 1;

            }

            .pic-text {
                display: block;
            }
        }





    }

    .team-slides {
        @media(max-width:767px) {
            position: relative;
        }

        .slick-slide {
            @media(max-width:767px) {
                min-height: 575px;
            }

        }

        button.slick-prev {
            @media(max-width:767px) {
                width: 29px;
                height: 29px;
                background-image: url('images/cam-slider-prev.svg');
                background-position: center center;
                background-repeat: no-repeat;
                font-size: 0;
                display: inline-block;
                position: absolute;
                left: -7px;
                top: calc((100% - 293px) / 2);
                z-index: 1;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            &.slick-disabled {
                @media(max-width:767px) {
                    opacity: 0.3;
                }

            }
        }

        button.slick-next {
            @media(max-width:767px) {
                width: 29px;
                height: 29px;
                background-image: url('images/cam-team-next.svg');
                background-position: center center;
                background-repeat: no-repeat;
                font-size: 0;
                display: inline-block;
                position: absolute;
                right: -7px;
                top: calc((100% - 293px) / 2);
                z-index: 1;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            &.slick-disabled {
                @media(max-width:767px) {
                    opacity: 0.3;
                }

            }

        }

    }


}




