section.vc_section {

	&.careers {

		@media @tablet-query {
			padding-left: 34px;
			padding-right: 34px;
		}

		@media @mobile-query {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.careers {
	padding: 74px 0 110px;
	display: flex;

	.main {
		width: 100%;

	}
}

.careers-hero {
	padding: 20px 0 40px;

	&__container {
		text-align: center;
	}

	@media @tablet-query {
		padding: 40px 0;
	}

	@media @mobile-query {
		padding: 30px 0 20px;
	}

	&.viewed {

		h1:after, h1:before {
			opacity: 1;
		}
	}

	h1 {
		font-family: @organico;
		font-size: 52px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3.12px;
		margin: 0 auto 30px;
		position: relative;
		display: inline;

		&:after, &:before {
			content: '';
			opacity: 0;
			background-image: url('images/accent-bing.svg');
			background-repeat: no-repeat;
			position: absolute;
			left: -50px;
			top: 0;
			width: 34px;
			height: 100%;
			transition: 0.3s opacity;
			display: inline-block;

		    @media @tablet-query {
		    	top: 50%;
		    	transform: translateY(-50%);
		    }

		}

		&:after {
			transform: scaleX(-1);
			right: -50px;
			left: auto;

		    @media @tablet-query {
				transform: rotate(180deg);
				right: -39px;
				left: auto;
				top: 0;
		    }
		}

	    @media @tablet-query {
	    	width: 550px;

	    	&:before {
	    		left: -40px;
	    	}
	    }

	    @media @mobile-query {
			font-size: 30px;
			width: auto;
			margin-bottom: 20px;

			&:before, &:after {
				width: 18px;
			}

			&:before {
				left: -25px;
			}

			&:after {
				bottom: -70%;
				top: auto;
				transform: scaleX(-1);
				right: -25px;
			}
	    }
	}

	p {
		font-family: @booster;
		font-size: 24px;
		font-weight: 700;
		padding-top: 10px;

		@media @tablet-query {
			width: 400px;
			margin: auto;
			font-size: 27px;
		}

		@media @tablet-query {
			width: auto;
		}

		@media @mobile-query {
			font-size: 14px;
		}
	}

}

.career-listings {
	//categories column
	&__menu {
		margin-right: 20px;

		.button-expand-category {
			&__label {
				font-size: 18px;
			}

			&__subtext {
				font-size: 15px;
				font-weight: 700;
				margin-top: 10px;
				display: block;
			}
		}
	}

	&__content {
		padding-top: 30px;
		padding-bottom: 60px;
	}
}

.career-listings-item {
	&__header-wrapper {
		.lrg-bottom-border();
	}

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__title,
	&__location {		
		font-size: 20px;
		color: @mediumgray;
		font-weight: 700;
	}

	&__title {
		text-transform: uppercase;
		color: @green;
	}

	&-description {
		margin-top: 35px;

		&:last-child {
			margin-bottom: 35px;
		}

		&__subhead {
			color: @brightorange;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 17px;
		}
	
		&__description {
			font-size: 18px;

			p,
			li {
				margin-bottom: 15px;
			}

			li {
				list-style: disc inside;
				list-style-position: outside;
				margin-left: 30px;
			}
		}
	}

	&-apply {
		text-align: center;
		margin-top: 60px;
		&__button {
			background-color: @green;
		}
	}
}

@media @tablet-query {
	.careers-hero {
		padding: 80px 0 50px;
	}

	.career-listings {
		&__menu {
			.button-expand-category {
				&__subtext {
					display: none;
				}
			}
		}
	}


	.career-listings-item {
	
		&__title,
		&__location {
			font-size: 16px;
		}

		&-description {
			&__subhead,
			&__description {
				font-size: 16px;
			}
		}
	}
}



@media @mobile-query {
	.careers-hero {
		padding: 30px;

		h1 {
			font-size: 40px;

			&:before,
			&:after {
				display: none;
			}
		}
	}
	.careers {
		padding-top: 0;
		padding-bottom: 0;
		.main {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.career-listings {
		&__content.expandable-categories__content {
			.button-expand-category {
				&__subtext {
					display: block;
					font-weight: 500;
				}
			}
		}

		&__content {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.career-listings-item {
	
		&-description {
			padding: 0 22px;

			&__subhead {
				font-size: 16px;
			}

			&__description {
				font-size: 14px;
			}
		}
	}

}

