input[type="text"],
input[type="password"], 
input[type="url"], 
input[type="tel"], 
input[type="search"], 
input[type="number"], 
input[type="datetime"], 
input[type="email"],
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; 
}
input[type=number] { /* Firefox 19+ */
    -moz-appearance: textfield;
}
input {
    width: calc(100% - 100px);
    height: 50px;
    border: 1px solid @lightestgray;
    border-radius: 25px;
    &[type="text"],
    &[type="number"],
    &[type="email"],
    &[type="password"], 
    &[type="url"], 
    &[type="tel"], 
    &[type="datetime"] {
        font-size: 18px;
        font-family: @booster;
        padding: 0 13px;
        border-radius: 25px;
        height: 50px;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: @lightestgray;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: @lightestgray;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: @lightestgray;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: @lightestgray;
    }
   @media @mobile-query {
       width: 100%;
   }    
}
input[type="radio"] {
    width: auto;
    height:auto;
    vertical-align: middle;
}

select,
.select {
    border: 1px solid @lightestgray;
    border-radius: 25px;
    background: url(./images/dropdown-arrow.svg) no-repeat center right 5%;
    background-size: 10px;
    height: 50px;
    color: @darkgray;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 20px;
    padding-right: 27px;
    width: 100%;
    @media @mobile-query {
        width: 100%;
    }
    &:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 32px;
        line-height: 16px;
        color: @orange;
        content: '\e622';
        font-family: 'icons-blank-theme';
        margin: 0;
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        text-align: center;
    }      
}

.checkout-container,
.customer-account-forgotpassword,
.customer-account-login,
.field .control._with-tooltip,
.customer-account-create,
.checkout-cart-index,
.modals-wrapper {
   
//input and select were here. move them back if they are affecting WP.
}
#product-addtocart-button, 
.cart .action.update,
.cart-container .form-cart .action.continue,
.cart-summary button.primary.checkout 
{
    width: 223px;
    background: @green;
    border: 0;
    letter-spacing: .36px;
    .button();
    @media @smdesktop-query {
        display: block;
        width: 100%;
        height: 40px;
        padding: 1px 51px 2px 33px;
        line-height: 2.2em;
        min-width: 180px;
        &:after {
            right: 22px;
        }               
    }
    @media @tablet-query {
        padding: 0 48px 0 33px;
        font-size:16px;
    }
    @media @mobile-query {      
        padding: 0px 47px 0px 29px;
        font-size: 16px;
        letter-spacing: .5px;
    }
}
.actions-toolbar > .primary .action,
.actions-toolbar > .secondary .action {
    width: auto;
}

a.action.primary {
    border-radius: 23px;
}

.action {
    &.primary,
    &.secondary,
    &.continue.primary,
    &.primary.checkout,
    &.action-update,
    &.action-cancel,
    &.primary.continue,
    &.create.primary,
    &.reload.captcha-reload,
    &.apply.primary,
    &.login.primary,
    &.action-register.primary,
    &.action-login.secondary,
    &.back,
    &.action-show-popup,
    &.action-select-shipping-item,
    &.action-apply,
    &.action-check {
        font-size: 18px;
        border: 0;
        .button();
        background: @orange;
        border: 0;
        padding: 0 63px 0 53px;
        min-width: auto;
        width: auto;
        span {
            color: #FFF;
        } 
        &:hover {
            background: @orange;
            border: 0;
        }          
    }
}
.actions-toolbar > .primary .action:last-child,
.actions-toolbar > .secondary .action:last-child {
    margin-bottom: 30px;
}
.button.action.continue.primary,
.checkout-methods-items .action.primary {
    padding: 0 63px 0 53px;
    font-size: 18px;
    line-height: 2.5em;
    width: auto;
}
.cart-container .form-cart .action.continue,
.cart-summary button.primary.checkout {
	background: @orange;
}
.cart .action.update{
    background: @orange;
    padding: 0;
}

.column.main .cart-summary {
	#block-shipping,
	#block-giftcard {
		display:none;
	}
	.block > .title strong {
		font-family: @booster;
		font-size: 18px;
		color: @darkgray;
	}
}
 .cart-container {
    .action.primary.checkout {
        padding: 0 63px 0 53px;
        font-size: 18px;
        line-height: 2.5em;
        margin: 0 auto;
        width: auto;
    }
    .cart-summary .actions-toolbar > .primary button {
        border: 0;
    }
    .action.apply.primary:hover {
        background: @orange;
        border: 0;
    } 
	.form-cart {
		.action.update {
            width: auto;
            margin-left: 0;
            text-align: left;
            &::before {
                vertical-align: middle;
            }          
            &::after {
				right: 20px;
            }
            &:hover:before {
                transform: rotate(-180deg);
                transition: ease 300ms;
            }
            &:hover:after {
                right: 15px;
            }
            @media @tablet-query {
                margin: 0 auto;
                position: relative;
                z-index: @z-index-base;
            }
            @media @mobile-query {
                margin: 0 auto;
            }
		}
		.action.clear,
		.action.continue {
			display:none;
		}		
	}
	.checkout-methods-items {
		.multicheckout {
			display: none;
		}
	}
}
#top-cart-btn-checkout {
    padding: 5px 40px 5px 30px;
    &:after {
        right: 20px;
    }
    &:hover:after {
        right: 15px;
    }
}
//You May Also Like
#crosssell {
    margin: 0 auto;
	.carousel-arrow-circle( @bg-color:#FFF);
        button.slick-arrow {
        .centerY();
        margin-top: 0;
        z-index: @z-index-base; 
        @media @tablet-query {
            width: 45px;
            height: 45px;
            &:after {
                width: 13px;
                height: 13px;
            }
        }      
        @media @mobile-query {
            width: 32px;
            height: 32px;
            &:after {
                width: 10px;
                height: 10px;
            }
        }      
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
}
.minicart-wrapper .action.close:hover {
    color: @darkgray;
}