.opc-progress-bar {
		
		text-align: center;
		margin: auto;
		background: @offwhite;
		padding: 15px 0;
		margin-bottom: 31px;
}
.opc-progress-bar > li {
	@media @tablet-query {
		width: 25%;
	}
	
}
.opc-progress-bar-item,
.opc-progress-bar-item._complete {
		&:before {
			background: none;
		}
		& > span {
			color: @lightgray;
			font-weight: 700;
			font-size: 20px;
			&:before {
				background: none;
			}
			&:after {
				content: counter(i);
				counter-increment: i;
				color: @lightgray;
				font-size: 20px;
				line-height: 1.3;
				font-family: @booster;
				font-weight: 700;
				background: url('images/grey-circle.svg');
				@media @mobile-query {
					font-size: 14px;
					width: 24px;
					height: 24px;
					line-height: 1.7;
				}
			}
			@media @mobile-query {
				font-size: 11px;
			}
		}
		&._active {
			&:before {
				background: none;
			}
			&> span {
				color: @orange;
				font-weight: 700;
				font-size: 20px;
				&:before {
					background: none;
				}
				&:after {
					content: counter(i);
					counter-increment: i;
					color: @orange;
					font-size: 20px;
					line-height: 1.3;
					font-family: @booster;
					font-weight: 700;
					background: url('images/orange-circle.svg');
					@media @mobile-query {
						font-size: 14px;
						width: 24px;
						height: 24px;
						line-height: 1.7;
					}				
				}
				@media @mobile-query {
					font-size: 14px;
				}
			}
		
		}
	}

.cart-container {
	.form-cart {
		width: 55%;
		margin-left: 50px;
		@media @tablet-query {
			width: auto;
			margin: 0 20px;
		}
	}
	.cart {
		color: @mediumgray;
		&:before,
		&:after {
			background: none;
		}
		.product-item-name {
			display: block;
			a {
				color: @orange;
				font-size: 18px;
				@media @mobile-query {
					font-size: 16px;
				}
			}
		}

		.price {
			font-size: 18px;
			@media @mobile-query {
				font-size: 14px;
			}		
		}
		.col.price {
			display: none;
		}
		@media @tablet-query {
			position: relative;
			width: 100%;
			height: auto;
			top: auto;
			right: auto;
		}
	}
	.cart-summary {
		background: @offwhite;
		width: 27%;
		margin-top: 27px;
		margin-right: 50px;
		@media @tablet-query {
			width: 100%;
		}
		.title {
			font-size: 1.4rem;
			font-weight: 700;
			color: @orange;
			text-align: center;
		}
		.totals {
			font-family: @booster;
			color: @mediumgray;
			width: 90%;
			margin: 0 auto;
			tr {
				
				.mark {
					text-align: left;
					padding-top: 20px;
					font-weight: 500;
				}
				.amount {
					font-weight: 500;
				}				
			}
			.grand.totals {				
				.mark strong{
					font-weight: 700;				
				}
			}			
		}
		.cart-totals {
			border-top: 4px solid @lightbeige;
			border-image: url('images/rough-divider.png') 30;
		}
		.discount {
			margin-top: 26px;
			> .title {
				border-top: 4px solid @lightbeige;
				border-image: url('images/rough-divider.png') 30;
				font-family: @booster;
				padding-top: 30px;
				padding-left: 25px;
				text-transform: inherit;
				letter-spacing: inherit;
				text-align: left;
				&:after {
					padding-top: 30px;
					transform: rotate(90deg);
					top: 12px;
				}
			}
			.coupon {
				padding: 0;
				margin: 20px auto;
				text-align: center;
				@media @smdesktop-query {
					padding: 0;
				}
				
				.field {
					display: inline-block;
					@media @smdesktop-query {
						width: 123px;
					}
					@media @tablet-query  {
						width: 200px;
						float: none;
					}
					@media @mobile-query {
						width: 168px;
					}
				}

				.label {
					display: none;
				}
				.control {
					display: inline-block;
					@media @smdesktop-query {
						width: 100%;
					}
				}
				.actions-toolbar {
					display: inline-block;
					float: none;
					.primary .action.apply.primary {
						padding: 8px 20px;
						background: @orange;
						line-height: 1.5;
						margin-bottom: 0;
						margin-top: 0;
						margin-left: 13px;
						&:after {
							content: none;
						}
						@media @smdesktop-query {
							padding: 8px 12px;
						}
					}
				}
				input {
					width: 200px;
					height: 45px;
    				border: 0;
					border-radius: 22px;
					float: none;
					@media @lgdesktop-query {
						width: 175px;
					}
					@media @smdesktop-query {
						width: 100%;		
					}
					@media @mobile-query {
						width: 131px;
						padding-left: 10px;
					}
					&[type="text"] {
						font-size: 18px;
						text-align: left;
						padding-left: 20px;
					}
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						color: @lightestgray;
					  }
					&::-moz-placeholder { /* Firefox 19+ */
						color: @lightestgray;
					  }
					&:-ms-input-placeholder { /* IE 10+ */
						color: @lightestgray;
					  }
					&:-moz-placeholder { /* Firefox 18- */
						color: @lightestgray;
					  }
				}
			}
		}
		.actions-toolbar .primary {
			float: none;
		}
	}
}

.cart.table-wrapper {
	padding: 20px 0;
	.product-item-photo {
		display: inline-block;
		text-align: center;
		width: 40%;
		@media @tablet-query {
			max-width: none;
			position: relative;
		}
	}
	.product-item-details {
		display: inline-block;
		width: 53%;
		@media @mobile-query {
			width: 45%;
		}
	}
	.items thead + .item {
		border: 0;
	}
	.items > .item {
		border-bottom: 0;
	}
	.item .col.item {
		border-bottom: 4px solid @lightbeige;
		border-image: url('images/rough-divider.png') 30;
		position: relative;
		@media @tablet-query {
			padding: 0;
		}
	}
	.actions-toolbar > .action.action-edit {
		display: none;
	}
	.actions-toolbar > .action-delete {
		background: none;
		border: 0;
		cursor: pointer;
		width: 25px;
		height: 25px;
		opacity: .3;
		&:hover {
			opacity: 1;
			background: none;
			border: 0;
			color: @lightgray;
		}
		&:before {
			content: '\e604';
			font-family: 'icons-blank-theme';
			font-weight: normal;
			font-size: 35px;
			position: absolute;
			right: 10px;
			top: 0;
		}
		&:focus {
			background: none;
			border: 0;
		}
		&:active {
			box-shadow: none;
		}				
	}
	.item-actions {
		position: absolute;
    	top: 0;
		right: 0;
		margin-top: 20px;
	}
	.price-excluding-tax {
		text-align: right;
		display: inline-block;
		position: absolute;
		right: 0;
		bottom: 20px;
	}
	.field.qty {
		display: inline-block;
		bottom: 0;
		@media @tablet-query {
			position: relative;
			z-index: @z-index-base;
		}
		
	}
	.control.qty {
		background: #fcf8f2;
		border-radius: 22px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 20px 0;
		width: 176px;
		height: 45px;
		position: relative;
		bottom: 0;
		@media @tablet-query {
			position: relative;
		}
		@media @mobile-query {
			width: 88px;
			height: 40px;
		}
		input {
			color: @darkgray;
			display: inline-block;
			font: 700 24px/24px @booster;
			border: 0;
			width: 64px;
			height: 45px;
			text-align: center;
			padding: 0;
			margin: 0;
			background: none;
			vertical-align: text-bottom;
			&[type=number]::-webkit-inner-spin-button, 
			&[type=number]::-webkit-outer-spin-button { 
  				-webkit-appearance: none; 
  				margin: 0; 
			}
			@media @mobile-query {
				width: 45px;
				height: 40px;
				font: 700 16px/16px @booster;
			}
		}
		button {
			border: 0;
			padding: 0 10px;
			color: @lightgray;
			background: none;
			display: inline-block;
			font: 700 45px/45px @booster;
			vertical-align: text-bottom;
			@media @mobile-query {
				font: 700 24px/40px @booster;
				padding: 0;
			}
			&:active {
				box-shadow: none;
			}
		}
	}

	.item-options,
	.cart.item.message {
		font-size: 15px;
		font-weight: 700;
		@media @mobile-query {
			font-size: 14px;
			font-weight: 500px;
		}
	}

	.action-delete span {
		display: none;
	}
}

#maincontent.page-main .cart-empty {
	text-align: center;
	p{
		color: @lightgray;
	}
	a {
		color: @orange;
		&:hover {
			opacity: .8;
		}
	}
}
 

//slider 

.column.main .products-grid .slick-slider .product-item:nth-child(2n) {
	margin-left: auto;
}

.cart-summary .mark .value {
	display: none;
}

.checkout-cart-index #mini-cart input,
.modals-wrapper #mini-cart input{
	padding: 0;
	height: 30px;
	border-radius: 0;
}
.block-minicart .subtitle.empty {
	color: @darkgray;
	font-weight: 700;
	font-size: 18px;
}

.minicart-wrapper .product.options.list .label {
	display: none;
}
	

