.checkout-container {
    .label, 
    span,
    .step-content{
         color: @darkgray;
         @media @tablet-query {
            text-align: center;
         }       
    }   

    .form-login {
        max-width: none;
        .field-tooltip {
            height: 68px;
        }
    }

    .form-shipping-address {
        max-width: none;
    }

    .field.stree-1 {
        margin-bottom: 29px;
    }

    .step-title {
        font-size: 1.4rem;       
        font-weight: 700;
        color: @orange;
        border-bottom: none;
    }

    .form.methods-shipping {
        input[type="radio"] {
            width: 16px;
            height: 16px;
        }
    }
    
    td#label_method_happyfamily_happyfamily {
        display: none;
    }
    
    .payment-method-billing-address .checkout-billing-address {
        label {
            width: auto;
            height: auto;
            span {
                margin-left: 14px;
            }
        }
    }

    .block.items-in-cart .product-item {
        width: 100%;
    }

    .field-tooltip{
       @media @tablet-query {
        right: 0;
        left: auto;
       }
    }

    .fieldset > .field .note {
        @media @tablet-query {
            display: block;
        }
    }

    .fieldset > .field {
        margin-right: 30px;
        vertical-align: top;
        width: 40%;
        @media @mobile-query {
            margin-right: 0;
            width: 100%;
        }

        &.street {
            width: 87%;
            @media @mobile-query {
                width: 100%;
            }
        }

    }

    .fieldset > .field.country_id._required
    {
        display: inline-block;
        .control {
            width: 100%;
        }
    }

    .fieldset > .field.postcode {
        display: inline-block;
    }

    .fieldset > .field:not(.choice) > .control {
        width: 100%;
    }

    .form-login {
        margin-bottom: 0;
        width: 95%;
    }

    .privacy-and-terms {  
        margin-left: 40px;
        a,span {
            color: @darkgray;
        }
        span {
            padding: 0 5px;
        }
    }
}
.fieldset {
    text-align: left;
}
.field.newsletter {
        max-width: 600px;
        label {
            width: auto;
            display: inline-block;
        }
}

input[type=checkbox]:checked + label,
input[type=checkbox] + label {
    width: auto;
    padding: 0 12px;
    font-size: 15px;
}

.opc-wrapper {
    padding-bottom: 140px;
    position: relative;
}

.opc-wrapper .form-login .fieldset{
    color: @darkgray;
}
.opc-summary-wrapper{
    margin: 0 0 20px;
   
        &.custom-slide {   
            @media @tablet-query {
                 left: 50%; 
            }
            @media @mobile-query {
                left: 20%;
            }
        }             
       .modal-inner-wrap {
        @media @tablet-query {
             background: @offwhite;
        }         
       }     
       .action-close {
           @media @tablet-query {
               margin: 15px 20px;
                z-index: @z-index-uber;
           }  
       }      
}

.opc-block-summary .mark .value {
    display: none;
}

.opc-block-summary,
.opc-block-shipping-information {
        background: @offwhite;
		margin-top: 27px;
        margin-right: 50px;
        color: @darkgray; 
             
		@media @tablet-query {
            width: 100%;
            max-width: 380px;
            margin: 0;
        }

        .data.table .grand.totals {
            border-top: 2px solid @lightestgray;
            border-image: url(images/rough-divider.png) 30;
        }

        .data.table tr th.mark strong {
            font-weight: 700;
        }

        .shipping-information{
            padding: 30px 0;
            .action-edit:before {
                content: '';
                background: url(images/pen_icon.svg);
                width: 24px;
                height: 24px;
            }
        }

        .shipping-information-title {
            border-bottom: 4px solid @lightestgray;
            border-image: url(images/rough-divider.png) 30;
            span {
                font-size: 18px;
                font-weight: 700;
                color: @orange;
            }
        }

        .title {
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            color: @orange;           
        }

        .block.items-in-cart {
            margin-top: 30px;
            .title {
                text-align: left;
            }
        }
        
        .product-item:not(:first-child) {
            border-top: 4px solid @lightestgray;
            border-image: url('images/rough-divider.png') 30;
        }
       
        .minicart-items {
            background: @offwhite;
            .product-item-details {
            color: @darkgray;
            font-family: @booster;
            font-size: 18px;
            @media @tablet-query {
                padding-left: 0;
            }
            .details-qty {
                font-size: 14px;
                }           
            }
            .product-item-name-block .product-item-name {
                height: auto;
            }
        }
        .minicart-items-wrapper {
            padding: 10px;
            margin: 0;
        }
        .table:not(.cart):not(.totals) {
            line-height: 35px;
            margin: 20px 0;
            width: 100%;
        }
        .product-item .price,
        .product-item-name  {
            font-size: 18px;
            font-family: @booster;
        }
        .items-in-cart > .title strong,
        .items-in-cart > .title strong span {
            font-family: @booster;
            color: @darkgray;
            font-weight: 700;
            text-transform: lowercase;       
        }

}

.opc-block-summary .block.items-in-cart > .title,
.opc-block-summary > .title {
    border-bottom: 4px solid @lightestgray;
    border-image: url('images/rough-divider.png') 30;
    font-size: 1.4rem;
    font-family: @booster;
    font-weight: 700;
}

//shipping info

#checkout .firstname .control,
#checkout .lastname .control {
    display: inline-block;
    width: 100%;
}

.checkout-index-index .checkout-container .field.firstname._required,
.checkout-index-index .checkout-container .field.lastname._required,
.checkout-container .field.city {
    display: inline-block;
}

#shipping.checkout-shipping-address {
    border-bottom: 4px solid @lightestgray;
    border-image: url(images/rough-divider.png) 30;
    margin-bottom: 60px;
}

.checkout-container .field.city {
    input {
        width: 100%;
    }
}

ol#checkoutSteps {
    width: 63%;
    margin: 0 auto;
    @media @mobile-query {
        width: 90%;
    }
}

.field.region_id {
    display: inline-block;
    width: auto;

}

#checkout {
	.label {
        color: @darkgray;
        width: 100%;
        text-align: left;
    }
    .field.cvv > .control {
        width: auto;
    }

    .fieldset.address .label {
        display: none;
    }
}

#customer-email-fieldset .field {
    width: 100%;

}
#checkout .field.newsletter .label {
    display: inline-block;
}

#checkout-step-shipping .action-show-popup {
    float: left;
}

.opc-wrapper .shipping-address-item {
    padding: 20px;
    float: left;
    text-align: left;
}

.action.action-select-shipping-item {
    background: none;
    float: left;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    span {
        color: @orange;
        position: absolute;
        bottom: 0px;
        left: 0;
        padding-left: 20px;
        line-height: 1.2rem;
    }
    &:hover {
        background: none;
        opacity: .75;
    }
    &:after {
        content: none;
    }
}

//payment 

.checkout-payment-method .ccard > .field.cvv > .control {
    padding-right: 37px;
}

.opc-block-summary .block.items-in-cart > .title:after {
    content: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    border: none;
}

input[type="radio"].radio:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 6px; // change to 4px when selected.
    margin-right: 3px;
    background-clip: content-box;
    border: 2px solid @orange;
    background-color: @orange;
    border-radius: 50%;
}

input[type="radio"]:checked.radio:before {
    padding: 2px;
}

.radio-checked:before {
    padding: 4px;
}

.payment-method-title.field.choice .label {
    span {
        padding-left: 0;
        margin-left: 0;
        font-family: @booster;
        font-weight: 700;
    }
}

    .opc-payment {       
        border-bottom: 4px solid @lightestgray;
        border-image: url(images/rough-divider.png) 30;
        margin-bottom: 40px;
    }

    .opc-payment .payment-methods:before {
        background: none;
    }
    
    .checkout-payment-method {
        .fieldset > .field {
            width: 60%;       
        }
        .fieldset > .field.type {
            width: 100%;
        }
        .ccard .number .input-text {
            width: 100%;
        }

        .ccard .cvv .input-text {
            width: 104px;
            margin: 10px auto 0px;
        }

        .ccard .fields .select {
            padding-left: 20px;
        }

        .field.date .control{
            margin-left: 0;
        }
        
        .field.choice .field-tooltip {
            top: 10px;
            margin-left: 0;
        }
    }

    #payment_form_vault_billforward span {
        margin-left: 6px;
    }

    .fieldset > .field.choice:before,
    .fieldset > .field.no-label:before {
        width: auto;
        padding: 0;
    }

    .checkout-index-index .fieldset > .field {
        margin-bottom: 20px;
    }

.checkout-payment-method .payment-option {
    display: block;
    &-title {
        border-top: 0;            
    }
    &-content {
        padding-bottom: 0;
    }
    &.giftcardaccount {
        @media @tablet-query {
            margin-top: 40px;
        }
    }
    .action.action-check {
        @media @smdesktop-query {
            padding: 0 60px 0 32px;
        }
    }
}

.billing-address-form {
    @media @tablet-query {
        margin-bottom: 40px;
    }
}

.checkout-index-index .modal-popup .form-shipping-address {
    padding-top: 40px;
    width: 100%;
}

.checkout-index-index .modal-content {
    box-shadow: none;
}

.action.edit-address-link {
    span {
        color: @orange;
        text-decoration: underline;
    }
}

.modal-content #shipping-new-address-form {
    .label {
        width: 31%;
        text-align: left;
    }
    
    .field .control {
        width: 68%;
    }

    .field.region_id,
    .field.street .control .control {
        width: 100%;
    }

    .field.street .stree-2 {
        margin-top: 10px;
    }
}

.block-customer-login .actions-toolbar #send2 {
    margin-top: 15px;
}
.checkout-index-index #shipping-new-address-form .field .control {
    width: 100%;
}

.checkout-index-index #shipping-new-address-form .field.region_id {
    width: 39%;
}   

.opc-wrapper .action-show-popup > span:before {
    content: none;
}

.payment-method._active .payment-method-content {
    display: inline-block;
}

.checkout-container .fieldset > .field:not(.choice) > .control {
    width: 100%;
} 

.checkout-payment-method .payment-method-content .fieldset > .field.type .control {
        margin-left: auto;
}

.payment-method-content {
    &>.actions-toolbar >.primary .action.primary.checkout {
        font-size: 18px;
        line-height: 2.5em;
        padding: 2px 63px 0 53px;
        position: absolute;
        bottom: 0;
        right: 20px;
    }
}

.fields.group.group-2 {
    @media @tablet-query {
        display: inline-block;
        margin: 0 auto;
    }
}

//checkout billing address
#billing-new-address-form  {
    .field.street {
        width: 60%;
    }
}

#checkout-step-payment .checkout-billing-address {
    label {
        padding: 0 10px;
    }

    .field-select-billing {
        width: 100%;
    }

    .action-edit-address {
        border: 0;
        background: none;
        font-size: 18px;
        padding-left: 0;
        span {
            color: @orange;
            font-weight: 600;
        }
    }
}

.checkout-payment-method .checkout-billing-address{
    border-bottom: 4px solid @lightbeige;
    border-image: url(images/rough-divider.png) 30;
}

//Success page
#registration {
    text-align: center;
    margin-bottom: 20px;
}

.checkout-onepage-success .top-banner {
    display: none;
}

.checkout-onepage-success .page-title-wrapper {
    margin: 65px auto;
    text-align: center;
        .page-title .base {
            color: @orange;
        }
}

.checkout-onepage-success .print {
        color: @orange;
        float: none;
}

.customer-account-login {       
        margin: 65px auto 80px;
        .page-title .base {
            color: @orange;
        }
}

.checkout-success {
    margin: 50px auto;
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 2;
    p.order-number,
    p.order-subscription {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        a {
            color: @orange;
        }
    }

    p.order-message {
        font-size: 20px;
        font-weight: 500;
    }

    p {
        color: @darkgray;
        line-height: 2;
        text-align: center;
    }
    
    .actions-toolbar {
        text-align: center;
        .primary {
            float: none;
        }
    }

    .action.primary.continue {
        margin: 100px auto;
    }
}

#registration {
    p {
        color: @darkgray;
        line-height: 2;
    }
}

.field-tooltip {
    top: 50%;
    right: 5px;
    height: 25px;
    transform: translateY(-50%);
}

.checkout-alert-message {
    width: 53%;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
    .label {
        padding: 0;
    }
    @media @tablet-query {
        width: 100%;
    }
}
.before-place-order-alert-message {
    display: none;
    float: right;
    font-weight: 700;
}