.clearly-crafted-hero {
	position: relative;

	@media @tablet-query {
		height: 595px;
	}

	@media @mobile-query {
		height: 645px;
	}

	&__product.main {
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		z-index: @z-index-base;

		& > .col-12 {
			width: auto;
			height: auto;
		}

		@media @tablet-query {
			width: 215px;
			right: calc(50% - 260px);

			&.cereal {
				right: calc(50% - 320px);
				width: 280px;
			}
		}

		@media @mobile-query {
			width: 160px;
			right: auto;
			left: 50%;
			transform: translateX(-50%);
			top: auto;
			height: 300px;
			padding: 0;
			bottom: 70px;

			&.cereal {
				width: 70vw;
			}
		}
	}

	&__description {
		margin-top: 85px;

		@media @tablet-query {
			width: 344px;
			margin: 0;
			right: calc(280px - 50%);
			text-align: left;

			h1 {
				margin-bottom: 20px;
			}

			p {
				width: 85%;
			}

			a {
				position: relative;
				transform: none;
				left: auto;
				margin-top: 50px;
			}
		}

		@media @mobile-query {
			width: 100%;
			right: 0;
			text-align: center;

			p {
				width: 85%;
				margin: auto;
			}

			a {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 20px;
			}
		}


	}

	&__clear-package {
		position: absolute;
		right: -100px;
		text-transform: uppercase;
		font-family: @organico;
		font-size: 25px;
		top: 65px;

		&:after {
			content: '';
			background-image: url(images/arrow-looped.svg);
			width: 80px;
			height: 35px;
			background-size: contain;
			top: 55px;
			left: -20px;
			display: inline-block;
			background-repeat: no-repeat;
			transform: rotate(-75deg) scaleX(-1);
			position: absolute;
		}

		@media @tablet-query {
			top: 10px;
			right: -75px;

			&:after {
				width: 55px;
				transform: rotate(-100deg) scaleX(-1);
				top: 45px;
				left: 0;
			}
		}

		@media @mobile-query {
			top: -10px;
			right: -60px;
			font-size: 18px;

			&:after {
				width: 40px;
				transform: rotate(-80deg) scaleX(-1);
				top: 25px;
				left: 5px;
			}
		}
	}

	&__recipe-toggle {
		left: -180px;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		position: absolute;
		bottom: 80px;
		background-image: url(images/accent-bings-double.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: auto 50%;

		@media @smdesktop-query {
			font-size: 18px;
			left: -140px;
		}

		&:after {
			content: '';
			background-image: url(images/arrow-looped.svg);
			width: 80px;
			height: 35px;
			background-size: contain;
			bottom: -39px;
			left: 60%;
			display: inline-block;
			background-repeat: no-repeat;
			transform: rotate(45deg);
			position: absolute;
		}

		@media @tablet-query {
			left: -65px;
			font-size: 20px;
			width: 70px;
			bottom: -40px;
			background-size: contain;

			&:after {
				transform: rotate(105deg) scaleX(-1);
				top: -45px;
				bottom: auto;
				width: 55px;
				left: 20%;
			}
		}

		@media @mobile-query {
			font-size: 14px;
			background-size: auto 18px;
			background-position: top center;
			bottom: 0;

			&:after {
				width: 38px;
				top: -38px;
			}
		}
	}

	&__modal {
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		left: auto;
		height: 100%;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: 0.3s opacity;
		display: flex;
		z-index: 0;

		@media @smdesktop-query {
			width: 60%;
		}

		@media @tablet-query {
			width: 100%;
		}

		@media @mobile-query {
			width: 320px;
			right: auto;
			left: 50%;
			margin: auto;
			transform: translateX(-50%);
		}

		& > .col-12 {
			width: auto;
			height: auto;
			display: flex;
			flex-wrap: wrap;
			margin: 20px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				background-image: url(images/icon-circled-x-white.svg);
				height: 40px;
				width: 40px;
				background-size: contain;
				cursor: pointer;

				@media @mobile-query {
					height: 30px;
					width: 30px;
				}
			}
		}

		.modal-overlay {
			display: none;
		}

		&.visible {
			opacity: 1;
			z-index: @z-index-base;
		}
	}

	.two-ingredients > .col-12 {
		max-width: 512px;
	}

	.three-ingredients {
		width: 760px;

		.clearly-crafted-hero__recipe-ingredient {
			padding: 25px;
			max-width: 34.333333%;
		}

		& > .col-12 {
			max-width: 719px;
		}

		@media @smdesktop-query {
			width: 760px;
		}

		@media @tablet-query {
			width: 580px;

			.clearly-crafted-hero__recipe-ingredient {
				width: 180px;
				padding: 15px;
				max-width: unset;
			}
		}

		@media @mobile-query {
			width: 300px;

			.clearly-crafted-hero__recipe-ingredient {
				width: 100%;
			}
		}
	}

	&__recipe-header {
		flex: 0 0 100%;
		padding: 35px 0 24px;
		border-radius: 60px 60px 0 0;

		@media @mobile-query {
			padding: 20px 0 15px;
			border-radius: 40px 40px 0 0;
		}
	}

	&__recipe-ingredient {
		max-width: 256px;
		padding: 40px;
		text-align: center;
		background-color: #fff;
		width:100%;

		&:nth-of-type(2) {
			border-radius: 0 0 0 60px;

			@media @mobile-query {
				border-radius: 0;
			}
		}

		&:last-of-type {
			border-radius: 0 0 60px 0;

			@media @mobile-query {
				border-radius: 0 0 10px 10px;
			}
		}

		img {
			margin-bottom: 10px;
			height: 115px;
			width: auto;
			max-width: none;
		}

		b {
			color: @darkgray;
		}

		ul {
			margin-top: 25px;
			text-align: left;
		}

		li {
			color: @green;
			background-image: url(images/icon-pin-green.svg);
			background-repeat: no-repeat;
			background-size: 10px 15px;
			background-position: top 5px left;
			padding-left: 20px;
			margin-bottom: 15px;
		}

		@media @mobile-query {
			width: 100%;
			padding: 15px;
			max-width: none;
			border-bottom: 3px solid @lightestgray;

			&:last-of-type {
				border-bottom: 0;
			}

			p {
				float: left;
				width: 100%;
				padding: 0;
			}

			img {
				height: 60px;
			}

			ul {
				width: 51%;
				margin: 0;
				margin-left: auto;
			}

			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.clearly-crafted-hero__modal.two-ingredients {
	.clearly-crafted-hero__recipe-ingredient {
		 max-width: 256px;
		 width:100%;
		 @media @mobile-query {
			max-width:none;
		 }
		 p { 
			@media @mobile-query {
			 width:100%; 
			 padding: 0;
			}
		}
	}
}

.clearly-crafted-videos {

	h1 {
		color: @lightpurple;
	}

	.slick-slide {
		.learning-center-card();
		.rough-border(white);
		margin-bottom: 6px;
		box-shadow: 1px 3px 6px -1px rgba(29, 28, 28, 0.15);
	}

	&__modal {
		position: fixed;
		padding: 0;
		border-radius: 15px;

		.wpb_content_element {
			margin: 10px 0;
			max-height: calc(90vh - 20px);
			overflow: scroll;
		}
	}

	&__modal .modal-close {
		top: 0;
		right: -45px;

		button {
			background-size: 30px;
			background-color: transparent;
			background-image: url('images/close-button.png');
		}
	}
}

.page-clearly-crafted-jars,
.page-clearly-crafted-purees {

	.carousel-products-big .slick-slide {

		h1 {
			color: @green;

			@media @mobile-query {
				color: #fff;
			}
		}

		.hero-button {
			background-color: @green;

			@media @mobile-query {
				background-color: #fff;
			}
		}
	}
}