section.vc_section {

    &.contact-hero {
        height: 160px;
        margin-top: 184px;
        padding: 0;

        h1 {
            margin-bottom: 0;
        }

        .main {
            padding: 0;
        }

        @media @tablet-query {
            margin-top: 80px;
            height: 100px;
        }

        @media @mobile-query {
            margin-top: 0;
            height: 120px;

            h1 {
                font-size: 36px;
            }
        }
    }
}

.careers-hero__container {

    &.contact {
        .center();
        width: 100%;
    }
}

.contact-container {
    margin: 58px auto 0;
    max-width: 1190px;
}

.contact-details {
    .subhead {
        color: @green;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 10px;
    }

    p {
        color: @darkgray;
        font-size: 18px;

        a {
            color: inherit;
            text-decoration: underline;
            transition: 0.3s opacity;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    &__group {
        margin-bottom: 47px;
    }

    &__locations {
        div {
            display: inline-block;

            &:first-child {
                margin-right: 50px;
            }
        }


    }
}

.contact-faq-section {
    padding-top: 60px;
    padding-bottom: 40px;

    p {
        color: @darkgray;
        margin-bottom: 30px;
        max-width: 90%;
    }

    a {
        .button();
        background: @orange;
        color: #fff;
    }
}

// ---- Tablet ----
@media @tablet-query {

    .contact-details,
    .contact-form {
        margin-left: auto;
        margin-right: auto;
        width: 66.7%;
        float: none;

    }

    .contact-details {
        margin-top: 50px;

        .subhead,
        p {
            font-size: 16px;
        }
    }
}

// ---- Tablet ----
@media @mobile-query {

    .contact-details,
    .contact-form {
        width: 100%;

    }

    .contact-form {
        .submit-wrapper {
            text-align: center;
        }
    }

    .contact-details {
        text-align: center;


        &__locations {
            div {
                display: block;

                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }
}