.coupon .wpb_content_element {
	margin-bottom: 0;
}

.coupon-promotions {

	h1 {
		margin: 60px 0 50px;

		@media @tablet-query {
			margin: 40px 0 25px;
		}
	}
}

.coupon-promotions-banners {
	clear: both;
	display: flex;
	justify-content: space-between;
	.rough-border(white);

	@media @tablet-query {
		margin-bottom: 40px;
	}
}

.coupon-promotions-banners .left-banner,
.coupon-promotions-banners .right-banners-container {
	position: relative;
	max-height: 700px;
	height: 50vw;
	width: calc( 50% - 3.5px );
	overflow: hidden;
	margin-bottom: 15px;

	& > .col-12 {
		height: 100%;
	}

	h1 {
		font-size: 50px;

		@media @smdesktop-query {
			font-size: 45px;
		}

		@media @tablet-query {
			font-size: 40px;
		}

		@media @mobile-query {
			font-size: 30px;
		}
	}

	.banner-image {
		position: absolute;
		width: 100%;
		overflow: hidden;
		max-height: 100%;

		img {
			width: 50vw;
			min-height: 100%;
			max-width: 720px;
		}
	}

	a {
		.button();
		position: relative;
		transform: none;
		bottom: auto;
		left: auto;

		@media @tablet-query {
			font-size: 16px;
		}
	}

	.text-green a {
		background-color: @green;
	}

	.text-orange a,
	.text-white a {
		background-color: @orange;
	}

	.text-lightpurple a {
		background-color: @lightpurple;
	}
	
	@media @tablet-query {
		height: 520px;
		width: 100%;
		.carousel-arrow();

		.slick-arrow {
			background-image: url('images/carousel-arrow-orange.svg');
			height: 40px;
			width: 40px;
			left: 30px;
		}

		.slick-next {
			left: auto;
			right: 30px;
		}

		.carousel-dots();
		.slick-dots {
			.centerX();
			bottom: 22px;
			height: 7px;

			li {
				height: 7px;
				width: 7px;
				margin: 0 6px;
				opacity: 1;

				&.slick-active {
					background-color: @orange;
				}
			}
		}

		.left-banner {
			display: block;
		}

	}
	
	@media @mobile-query {
		height: 420px;

		.slick-arrow {
			left: 15px;
		}

		.slick-next {
			right: 15px;
		}

		.slick-dots {
			bottom: 17px;
		}

	}
}

.coupon-promotions-banners .left-banner {
	
	h1 {
		margin: 5% auto 0;
		width: 90%;
		position: relative;
	}

	p {
		.centerX();
		bottom: 5%;
	}

	a {
		background-color: @lightpurple;
	}

	.banner-content {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	@media @tablet-query {
		display: none;

		h1 {
			width: 370px;
			margin: 40px auto;
		}

		p {
			bottom: 50px;
		}

		.banner-image {
			.center();
			height: 100%;
			overflow: hidden;

			img {
				min-height: 100%;
				min-width: 100vw;
				max-width: none;
				width: auto;
				.center();
			}
		}
	}

	@media @mobile-query {

		h1 {
			width: 90%;
			margin: 33px auto;
		}

		p {
			bottom: 40px;
		}
	}
}

.coupon-promotions-banners .vc_column_container {
	height: calc( 50% - 3.5px );
	position: relative;
	overflow: hidden;

	.banner-content {
		width: 300px;
		.centerY();
		left: 30px;
		text-align: center;

		@media @smdesktop-query {
			left: 10px;
		}
	}

	h1 {
		margin-bottom: 40px;

		@media @smdesktop-query {
			margin-bottom: 20px;
		}
	}

	&:first-child {
		margin-bottom: 7px;
	}

	.banner-image img {
		height: 25vw;
		max-height: 360px;
	}

	@media @tablet-query {
	    height: 520px;
		overflow: visible;

		.banner-image {
			.center();
			height: 100%;
			overflow: hidden;

			img {
				min-height: 100%;
				min-width: 100vw;
				max-width: none;
				width: auto;
				.center();
			}
		}

		.banner-content {
			height: 100%;
			width: 100%;
			padding: 40px;
		}

		p {
			.centerX();
			bottom: 50px;
		}
	}

	@media @mobile-query {
	    height: 420px;

		.banner-content {
			padding: 33px;
		}

		p {
			bottom: 40px;
		}
	}
}