//used on FAQ & careers page
.button-expand-category {
	.button();
	background: #f6f6f6;
	border-radius: 0px;
	width: 100%;
	padding: 22px;
	margin-bottom: 3px;
	color: @mediumgray;
	font-weight: 500;
	min-width: 0;
	border: 0;
	text-align: left;
	white-space: normal;
	max-width: 350px;
	line-height: 1.2;

	&:after {
		right: 22px;
		border-color: @lightgray;
	}

	&:hover {
		&:after {
			right: 18px;
		}
	}

	&--active {
		background: @lightbeige;
		font-weight: 700;
	}

	&__icon {
		display: inline-block;
		vertical-align: middle;
		width: 33px;
		height: 33px;
		margin-right: 5px;
	}

	&__label {
		display: inline-block;
		margin-right: 20px;
		vertical-align: middle;
	}
}

.expandable-categories {
	max-width: 1125px;
	margin: auto;
	display: flex;
	justify-content: center;

	&__categories{
		margin-right: 20px;
	}

	&__content {
		padding: 10px 40px;
	    box-shadow: 0px 5px 13px 0px rgba(46, 46, 46, 0.1);
	    flex-basis: 58%;
		width: 100%;

		.button-expand-category {
			display: none;
		}
	}

	&__group {
		display: none;

		&--active {
			display: block;
		}

		* {
			color: @darkgray;
		}
	}

	* {
		color: @darkgray;
	}
}



// ---- Tablet ----
@media @tablet-query {
	.button-expand-category {
		font-size: 16px;
		max-width: 100%;

		&__icon {
			width: 25px;
			height: 25px;
		}
	}

	.expandable-categories__content {
		padding: 22px 25px;
	}

}

// ---- Mobile ----
@media @mobile-query {
	.button-expand-category {
		margin-bottom: 0;
		border-bottom: 3px solid #e4d8c6;

		&:after {
			transform: translateY(-50%) rotate(45deg);
			border-color: #e4d8c6;
		}

		&:hover {
			&:after {
				right: 22px;
			}
		}


		&--active {
			&:after {
				transform: translateY(-50%) rotate(-135deg);
			}
		}

	}
	
	.expandable-categories__content {
		padding: 0;
		box-shadow: none; 
		flex-basis: 100%;
		
		.button-expand-category {
			display: block;

			span {
				font-weight: 700;
				font-size: 16px;
				padding-top: 5px;
			}
		}
	}
}