.expert-users {
	float: left;
	width: 100%;
	padding-bottom: 120px;
	position: relative;

	@media @tablet-query {
		padding-bottom: 80px;
	}

	@media @mobile-query {
		padding-bottom: 80px;
	}

	.users-coach-container {
		max-width: 1320px;
		width: 100%;
		margin: 0 auto;

		.user-coach {
			width: 33.33%;
			float: left;
			text-align: center;
			margin-top: 70px;

			.modal-close {
				display: none;
			}

			&:nth-child(3n + 1) {
				clear: left;
			}

			@media @tablet-query {
				width: 50%;
				&:nth-child(3n + 1) {
					clear: none;
				}

				&:nth-child(2n + 1) {
					clear: left;
				}
			}

			@media @mobile-query {
				margin-top: 33px;
				margin-bottom: 18px;
			}

			&__avatar {
				border: 5px solid @green;
				border-radius: 50%;
				width: 280px;
				height: 280px;
				display: inline-block;
				position: relative;
				cursor: pointer;

				@media @mobile-query {
					border-width: 3px;
					width: 84%;
					height: auto;
					margin: auto;
				}

				img {
					border-radius: 50%;

					@media @tablet-query {
						display: block;
					}
				}

				.user-coach__expand {
					width: 40px;
					height: 40px;
					display: block;
					position: absolute;
					top: 17px;
					right: 13px;
					background-image: url('images/expand-button.png');
					background-size: 100%;

					@media @mobile-query {
						top: 8px;
						right: 8px;
					}

					@media only screen and (max-width: 500px) {
						width: 25px;
						height: 25px;
						top: 14px;
						right: 14px;
					}

					@media only screen and (max-width: 450px) {
						top: 10px;
						right: 10px;
					}

					@media only screen and (max-width: 390px) {
						top: 6px;
						right: 6px;
					}

					@media only screen and (max-width: 340px) {
						top: 3px;
						right: 3px;
					}
				}
			}

			h3, h4 {
				color: @darkgray;
				width: 90%;
				margin-left: auto;
				margin-right: auto;
			}

			h3 {
				margin-top: 30px;

				@media @tablet-query {
					font-size: 27px;
				}

				@media @mobile-query {
					font-size: 16px;
					margin-top: 5px;
				}
			}

			h4 {
				margin-top: 6px;

				@media @tablet-query {
					font-size: 20px;
				}

				@media @mobile-query {
					font-size: 14px;
				}
			}

			&__modal-data {
				display: none;
			}
		}
	}

	.coach-modal {

		&__content {
			padding: 80px;
			width: 80%;
			max-width: 1050px;
			background-color: @offwhite;
			overflow: scroll;
			border-radius: 15px;

			@media @tablet-query {
				width: 76%;
				padding-left: 0;
				padding-top: 55px;
				padding-right: 0;
				margin: auto;
			}

			@media @mobile-query {
				width: 88%;
				padding-bottom: 40px;
				padding-right: 0;
			}
		}

		.modal-close button {
			height: 25px;
			width: 25px;
			background-image: url('images/close-button.png');
			background-color: transparent;
		}

		.user-coach__modal-left {
			float: left;
			width: 35%;

			@media @tablet-query {
				width: 60%;
				margin-left: 20%;
			}

			@media @mobile-query {
				width: 86%;
				margin-left: 7%;

				// vertically align headings
				.user-coach__base-info {
					float: left;
					width: 100%;
					position: relative;

					hgroup {
						.centerY();
						left: 46%;
					}
				}
			}

		}

		.user-coach__avatar {
			border: 5px solid @green;
			border-radius: 50%;
			width: 84%;
			height: auto;
			display: inline-block;
			position: relative;
			margin-left: 8%;

			@media @tablet-query {
				width: 70%;
				margin-left: 15%;
			}

			@media @mobile-query {
				border-width: 2px;
				width: 40%;
				margin-left: 0;
				float: left;
			}

			img {
				border-radius: 50%;
				display: block;
			}
		}

		h3, h4, li, blockquote, p {
			color: @darkgray;
		}

		h3, h4 {
			width: 94%;
			text-align: center;
			margin-left: auto;
			margin-right: auto;

			@media @mobile-query {
				width: 100%;
				margin-left: 0;
				float: left;
				text-align: left;
			}
		}

		h3 {
			font-size: 30px;
			margin-top: 20px;

			@media @tablet-query {
				font-size: 27px;
			}

			@media @mobile-query {
				font-size: 24px;
				margin-top: 0;
			}
		}

		h4 {
			font-size: 24px;
			margin-top: 5px;

			@media @tablet-query {
				font-size: 20px;
			}

			@media @mobile-query {
				font-size: 16px;
				margin-top: 3px;
			}
		}

		.user-coach__callouts {
			margin-top: 32px;
			width: 100%;
			float: left;

			li {
				font-size: 18px;
				background-image: url('images/yes-icon.png');
				background-repeat: no-repeat;
				background-size: 31px;
				min-height: 31px;
				padding-left: 46px;
				margin-bottom: 19px;
				padding-top: 5px;

				@media @tablet-query {
					font-size: 16px;
					margin-bottom: 23px;
				}

				@media @mobile-query {
					background-size: 26px;
					font-size: 14px;
					line-height: 1.3;
					padding-top: 3px;
					margin-bottom: 21px;
				}
			}
		}

		blockquote {
			font-size: 30px;
			text-align: center;
			width: 60%;
			margin-left: 5%;
			float: left;
			line-height: 1.2;
			margin-top: 20px;
			font-family: @booster;

			@media @tablet-query {
				width: 76%;
				margin-top: 40px;
				margin-left: 12%;
				font-size: 27px;
				font-weight: 700;
				line-height: 1.3;
			}

			@media @mobile-query {
				font-size: 16px;
				line-height: 1.2;
				width: 84%;
				margin-left: 8%;
				margin-top: 5px;
			}
		}

		.user-coach__bio {
			float: left;
			width: 60%;
			margin-left: 5%;
			margin-top: 33px;

			@media @tablet-query {
				display: none;
			}

			p {
				margin-bottom: 14px;
			}
		}
	}
}

.experts-hero {
	background: @green;

	.main { // additional padding to account for subheader
		padding-top: 170px;

		@media @tablet-query {
			padding-top: 50px;
		}

		@media @mobile-query {
			padding-top: 50px;
		}
		.col-12{
			div{
				padding-bottom: 5px !important;
			}
		}
	}

	h4 {
		color: #fff;

		@media @tablet-query {
			font-size: 20px;
		}
	}
	&.border-green:after {
		bottom: -9px;
	}
}
