
.faq-hero {

	p {
		max-width: none;
	}

	h1 + p {
		margin-bottom: 20px;
		max-width: 525px;
	}

	p a {
		border-bottom: 1px solid #fff;
		transition: 0.3s opacity;

		&:hover {
			opacity: 0.6;
		}
	}

	&__search.wpb_content_element {
		border-radius: 20px;
		width: 100%;
		max-width: 639px;
		margin: 0 auto 30px;
		height: 45px;
		background-color: #fff;
		display: flex;
    	align-items: center;
    	padding: 0 60px;
    	background-image: url('images/icon-search-gray.svg');
    	background-size: 22px 26px;
    	background-position: right 33px center;
    	background-repeat: no-repeat;

		.wpb_wrapper, input {
			width: 100%;
		}

		@media @tablet-query {
			max-width: 466px;
		}

		@media @mobile-query {
			width: 90%;
			margin-bottom: 24px;
			padding: 0 60px 0 30px;
		}
	}

	&__search input {
		appearance: none;
		text-align: center;
		font-family: @booster;
		font-size: 16px;
		color: @darkgray;
		.placeholder(@darkgray, 18px, 500); 
		border: none;
		height: auto;

		@media @mobile-query {
			padding: 0;
			border-radius: 0;
			text-align: left;
		}
	}
}

.faq {
	padding: 68px 0 59px;
	display: flex;

	h1 {
		color: @orange;
		text-align: center;
		margin-bottom: 55px;

		@media @mobile-query {
			margin-bottom: 35px;
		}

	}

	.main {
		width: 100%;
	}

	@media @mobile-query {
		
		& > .main > .col-12 {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

//categories column
.faq-categories {
	margin-right: 20px;

	.button-expand-category {
		width: 350px;
	}
}

.faq-customer-service {
	margin-top: 63px;

	&__subhead {
		color: @lightpurple;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 18px;
	
		img {
			display: inline-block;
			width: 35px;
			vertical-align: middle;
			margin-right: 13px;
		}
	}

	&__button {
		background: @lightpurple;
		min-width: 0;
		padding: 0 45px 0 25px;

		&:after {
			right: 25px;
		}

		&:hover {
			&:after {
				right: 21px;
			}
		}
	}
}

//questions column
.faq-questions {

	&__chat-button {
		background: @lightpurple;
		display: inline-block;
	}

	&__chat-icon {
		margin-right: 15px;
		width: 40px;
		display: inline-block;
		vertical-align: middle;
	}

	&__category,
	&__subhead {
		font-weight: 700;
	}

	&__category {
		color: @lightpurple;
		margin-bottom: 35px;
		font-size: 20px;
		.lrg-bottom-border();
	}

	&__subcategory {
		font-weight: 700;
		margin-bottom: 10px;
		font-size: 14px;
	}

	&__subhead {
		color: @lightpurple;
		margin: 0px 0 17px;
	}

	&__description {
		color: @darkgray;
	}

	&__chat-icons {
		margin: 25px 0;
	}

	&__item {
		.lrg-bottom-border();
		margin-bottom: 22px;

		&:last-child {
			margin-bottom: 15px;
		}
	}

	&__group ul:last-child &__item:last-child:after {
		background: transparent;
	}

	&__question {
		font-weight: 700;
		color: @orange;
		margin-bottom: 28px;
	}

	&__answer {
		color: @darkgray;	
		margin-left: 9%;

		b, strong {
			font-weight: 700;
			font-style: normal;
		}

		em {
			font-style: italic;
		}

		.disclaimer {
			display: block;
			margin-top: 15px;
			font-size: 0.8em;
			font-style: italic;
		}

		a {
			color: @orange;
			transition: 0.3s opacity;
		}

		a:hover {
			opacity: 0.6;
		}

		& + ul {
			list-style: disc;
			margin: 10px 0 0 15%;
		}

		img {
			margin: 20px 0 10px;
		}
	}
}

@media @tablet-query {
	.faq-categories {
		margin-right: 20px;


		.faq-customer-service {

			&__subhead {
				font-size: 18px;
			
				img {
					width: 30px;
				}
			}

			&__button {
				font-size: 16px;
			}
		}
	}

	.faq-questions {
		&__category {
			font-size: 16px;
		}

		&__chat-button {
			padding: 0 43px 0 23px;
		    min-width: 0;
			font-size: 16px;

			&:after {
				right: 22px;
			}

			&:hover {
				&:after {
					right: 18px;
				}
			}
		}

		&__chat-icon {
			width: 50px;
		}
	}

}

@media @mobile-query {
	.faq {
		.main {
			padding-left: 0;
			padding-right: 0;
		}

		h1 {
			padding: 0 10px;
		}
	}
	.faq-questions {
		&__category {
			display: none;
		}

		&__group {
			padding-top: 30px;
		}

		&__subhead {
			font-size: 16px;
		}

		&__category,
		&__group,
		&__subhead,
		&__description,
		&__chat-icons,
		&__question,
		&__answer {
			padding-left: 20px;
			padding-right: 20px;
		}

	}

	.faq-customer-service {
		text-align: center;
		padding: 0 20px;

		img {
			display: block;
			margin: auto;
			width: 68px;
			margin-bottom: 24px;
		}

		&__subhead {
			line-height: 1.2;
			font-size: 40px;
			font-family: @organico;
			text-transform: uppercase;
		}
	}
}


