.site-footer {
    background-color: #FDFBF8;
    clear: both;

    h1,
    p,
    li a {
        color: @orange;
    }

    &__container {
        max-width: 1390px;
        padding: 42px 20px 96px;
        margin: 0 auto;
        display: flex;
        justify-content: start;
        letter-spacing: normal;

        &:after,
        &:before {
            display: none;
        }

        .hide {
            display: none;
        }

        @media @smdesktop-query {
            flex-wrap: wrap;
        }

        @media @tablet-query {
            justify-content: center;
            padding: 32px 20px 45px;
        }

        @media @mobile-query {
            padding: 32px 0 45px;
        }

        .news-letter-wrapper {
            flex-basis: 573px;
            margin-right: 87px;

            @media @smdesktop-query {
                flex-basis: 100%;
                margin-bottom: 30px;
            }

            @media @tablet-query {
                flex-basis: 573px;
                margin-right: 0;
                text-align: center;
            }

            @media @mobile-query {
                margin-bottom: 15px;
                padding: 0 20px;
            }
        }

        .footer_menu_heading {
            font-size: 24px;
            line-height: 24px;
            font-weight: 700;
            margin-bottom: 23px;
            color: #e9713a;
            display: block;
            white-space: nowrap;
            padding-top: 5px;

            @media @tablet-query {
                text-align: center;
                padding-top: 0;
                margin-bottom: 28px;
            }

            @media @mobile-query {
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 0;
                text-align: left;
                padding: 22px 20px;
                position: relative;
            }
        }

        .footer_menu_content {
            padding-top: 3px;

            @media (min-width: 601px) {
                display: block !important
            }

            @media @mobile-query {
                display: none;
                padding-bottom: 12px;
                padding-top: 1px;
            }

            li {
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;

                @media @mobile-query {
                    font-size: 13px;
                    line-height: 16px;
                    text-align: left;
                    margin-left: 45px;
                    margin-bottom: 16px;
                }
            }

            a {
                color: #7C7A77;
            }
        }

        .social-connect-wrapper {
            flex-basis: 276px;

            @media @mobile-query {
                flex-basis: 100%;

                .footer_menu_heading {
                    padding: 17px 20px 22px 20px;
                }
            }

            .social_icons {
                @media @mobile-query {
                    padding: 8px 0 0 20px;
                }
            }

            ul {
                display: flex;
            }

            li {
                margin-right: 19px;
                margin-bottom: 19px;

                &:last-of-type {
                    margin-right: 0;
                }

                @media @mobile-query {
                    margin-right: 19px;
                }

                a {
                    width: 40px;
                    height: 40px;
                    color: transparent;
                    cursor: pointer;
                    position: relative;
                    display: block;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    transition: 0.3s opacity;

                    &:hover {
                        opacity: 0.6;
                    }

                    @media @mobile-query {
                        width: 42px;
                        height: 42px;
                    }

                }
            }

            .twitter {
                background-image: url('images/social-twitter.svg');
            }

            .instagram {
                background-image: url('images/social-instagram.svg');
            }

            .facebook {
                background-image: url('images/social-facebook.svg');
            }

            .youtube {
                background-image: url('images/social-youtube.svg');
            }

            .pinterest {
                background-image: url('images/social-pinterest.svg');
            }
        }
    }

    h1 {
        font-family: @booster;
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        letter-spacing: 0;
        text-transform: none;
        margin-bottom: 26px;

        @media @mobile-query {
            font-size: 24px;
            line-height: 31px;
        }
    }

    p {
        line-height: 30px;
        font-weight: 700;

        @media @mobile-query {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.footer-copyright-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    letter-spacing: normal;

    @media @tablet-query {
        margin-bottom: 90px;
    }

    @media @mobile-query {
        padding: 0 20px;
        margin-bottom: 70px;
    }

    .footer_copyright_content {
        width: 100%;
        padding-left: 80px;
        display: flex;
        justify-content: center;

        li {
            font-size: 14px;
            line-height: 25px;
            color: #5e5c59;
            margin-right: 6px;
            font-weight: normal;

            @media @mobile-query {
                font-size: 12px;
                line-height: 23px;
                font-weight: bold;
                color: #999999;

                a {
                    color: #999999;
                }

                &:first-child {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }

        a {
            color: #5e5c59;
        }

        @media @tablet-query {
            padding-left: 55px;
        }

        @media @mobile-query {
            padding-left: 0;
            flex-wrap: wrap;
            justify-content: start;
            align-content: center;
        }
    }
}

.footer-newsletter {
    margin: 7px 0 0;

    @media @tablet-query {
        text-align: center;
    }

    @media @mobile-query {
        margin: 17px 0 0;
    }

    input[type="email"],
    input[type="text"] {
        float: left;
        border-radius: 20px;
        border: 2px solid @lightestgray;
        line-height: calc(3em - 4px);
        font-size: 15px;
        padding: 0 23px;
        min-width: 80px;
        margin-right: 25px;
        height: 42px;
        width: auto;
        text-align: center;
        .placeholder(@lightestgray, 15px, 400);

        @media @smdesktop-query {
            margin-right: 15px;
        }

        @media @mobile-query {
            padding: 0 15px;
            min-width: 70px;
            margin-right: 15px;
        }
    }

    .yearfield {
        input[type="text"] {
            min-width: 100px;

            @media @mobile-query {
                min-width: 80px;
            }
        }
    }

    input[type="email"] {
        width: 100%;
        max-width: 538px;
        margin-bottom: 12px;
        margin-right: 0;
        text-align: left;

        @media @mobile-query {
            text-align: left;
            font-size: 14px;
            max-width: 288px;
            margin: 0 auto 22px;
            float: none;
            padding: 0 28px;
        }
    }

    &__submit-container {
        float: left;
        background-color: @orange;
        padding: 0;
        border: 0;
        width: 35%;
        min-width: 194px;
        height: 42px;

        &:after {
            right: 28%;

            @media @mobile-query {
                right: 36.5%;
            }
        }

        &:hover:after {
            right: 22%;
        }

        &.mobile-only {
            display: none;
        }

        @media @tablet-query {
            float: none;
        }

        @media @mobile-query {
            width: 100%;
            max-width: 288px;
            margin: 15px auto;

            &.mobile-only {
                display: inline-block;
            }

            &.mobile-hide {
                display: none;
            }
        }
    }

    input[type="submit"] {
        .button();
        display: block;
        line-height: 40px;
        background-color: transparent;
        border: 0;
        min-width: 1px;
        width: 100%;
        z-index: @z-index-base;
        padding: 0 35% 0 25%;
        height: auto;
    }

    &__birthday {
        display: block;
        position: relative;

        @media @tablet-query {
            max-width: 318px;
            margin: 0 auto;
        }

        @media @mobile-query {
            max-width: 288px;
        }

        p {
            font-size: 18px;
            margin-bottom: 10px;
            line-height: 16px;

            @media @mobile-query {
                line-height: 25px;
                margin-bottom: 18px;
            }
        }
    }

    &__add-birthday {
        width: 38px;
        padding: 7px;
        position: absolute;
        left: 329px;
        bottom: 2px;
        cursor: pointer;

        @media @tablet-query {
            left: 298px;
        }

        @media @mobile-query {
            left: 257px;
        }
    }

    &__birthday-fields {
        margin-bottom: 22px;
        display: none;

        &.visible {
            display: block;
        }

        @media @tablet-query {
            margin-bottom: 15px;
        }
    }

    #responses {
        float: left;
        width: 100%;
        font-size: 18px;
        margin-top: 10px;

        @media @mobile-query {
            margin-top: 0;
        }
    }
}

.store-footer {
    .footer-newsletter__birthday-fields input.datepart {
        width: auto;
    }
}

.footer-menu {
    text-align: left;
    margin-right: 60px;

    @media @tablet-query {
        text-align: center;
        margin-bottom: 30px;
        margin-right: 0;
        flex-basis: 50%;
    }

    @media @mobile-query {
        flex-basis: 100%;
        margin-bottom: 0;
        border-top: solid 1px #E3E2E2;

        &:nth-of-type(3) {
            border-bottom: solid 1px #E3E2E2;
        }
    }

    .footer_menu_heading {
        @media @mobile-query {
            &:after {
                content: "+";
                position: absolute;
                right: 18px;
                font-weight: normal;
                font-size: 28px;
                color: #716F6C;
                width: 18px;
                text-align: center;
            }
        }
    }

    &.active {
        .footer_menu_heading {
            @media @mobile-query {
                &:after {
                    content: "-";
                }
            }
        }
    }
}




.footer-legal {
    width: 311px;
    float: right;

    @media @tablet-query {
        width: 257px;
        float: none;
        margin: auto;
    }

    @media @mobile-query {
        width: 227px;
    }

    p,
    a {
        color: @darkgray;
        font-size: 12px;
        font-weight: 500;
        line-height: 2em;
        margin-right: 5px;

        @media @tablet-query {
            font-size: 10px;
        }
    }

    &__badge {
        min-width: 36px;
        max-width: 36px;
        display: block;
        margin-top: -20px;
        margin-right: 44px;

        @media @tablet-query {
            min-width: 32px;
            margin-right: 23px;
        }

        @media @mobile-query {
            margin-top: 9px;
            margin-right: 0;
        }
    }
}

// Freshchat styles

.d-hotline {
    display: none;
}

body .hotline-launcher.h-open {
    margin: 20px 0 20px 20px !important;
}

body .fc-widget-normal .hotline-launcher.h-open,
body .fc-widget-normal.expanded-modal .hotline-launcher {
    width: 400px !important;
}

body #fc_frame,
body #fc_frame.fc-widget-normal {
    right: 0px !important;
}

.purple {
    #custom_fc_button {
        max-width: 57px;
        background-color: transparent;
        box-shadow: inherit;
    }

    #imageicon {
        margin-left: 0px;
        max-width: 56px;
    }
}


#imageicon {
    height: auto;
    width: 100%;
    margin-left: 27px;
    max-width: 55px;
    float: left;
    margin-top: 0;

    //max-600
    @media @mobile-query {
        float: none;
        vertical-align: top;
        display: inline-block;
    }

    @media(max-width: 398px) {
        margin-left: .2%;
    }
}

.fc-widget-open #custom_fc_button {
    display: none;
}

#custom_fc_button a span.text-item:hover::after {
    right: -2px;
}

/* Safari 7.1+ */

_::-webkit-full-page-media,
_:future,
:root #custom_fc_button a span.text-item::after {
    top: 30%;
}

#custom_fc_button a span.text-item {
    position: relative;

    &:after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: translateY(-50%) rotate(-45deg);
        transition: .2s ease-in-out;

        @media @mobile-query {
            right: 13px;
        }

        @media(max-width: 398px) {
            right: 0px;
        }
    }
}

#custom_fc_button {
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 35px;
    z-index: 4 !important;
    min-width: 45px;
    max-width: 400px;
    background-color: #e9713a;
    box-shadow: 2px -1px 3px #c3c3c3;
    transition: bottom 0.3s linear;

    @media(max-width: 900px) {
        bottom: 20px;
    }

    @media(max-width: 780px) {
        bottom: 0;
    }

    //max-600
    @media @mobile-query {
        text-align: center;
        max-width: none;
    }

    a {
        display: block;
        padding-top: 1px;
        float: left;
        width: 100%;

        span.text-item {
            margin-top: 7px;
            display: inline-block;
            padding-right: 3px;
            font-size: 16px;
            line-height: 20px;
            padding-left: 7px;
            margin-bottom: 9px;
            color: #fff;
            font-family: @booster;
            font-weight: 700;
            letter-spacing: 0.072em;
            float: left;
            max-width: 300px;
            width: 100%;
            text-align: left;

            @media @mobile-query {
                //MAX-600
                padding-right: 21px;
                font-size: 15px;
                line-height: 20px;
                float: none;
                vertical-align: top;
                display: inline-block;
            }

            @media(max-width: 398px) {
                padding-right: 10px;
                font-size: 14px;
                line-height: 20px;
                float: none;
                max-width: 260px;
            }

            @media(max-width: 360px) {
                padding-right: 7px;
                font-size: 13px;
                line-height: 20px;
                float: none;
                max-width: 244px;
            }

        }
    }
}

.near-bottom {
    #custom_fc_button {
        bottom: 140px;

        @media @tablet-query {
            bottom: 20px;
        }

        @media @mobile-query {
            bottom: 0;
        }
    }
}

#fc_frame,
#fc_frame.fc-widget-normal {
    z-index: 3 !important;
}

div#fc_frame.fc-widget-normal.h-open-container,
div#fc_frame.h-open-container {
    z-index: 9999 !important;
}

#fc_frame {
    visibility: hidden;
}

.ls-detail {
    .ls-detail-footer {
        display: none;
    }
}