.formula-modal {

	&__content {
		width: 400px;
	}

	p {
		color: @green;
		margin-bottom: 1em;

		strong {
			font-size: 24px;
		}
	}

	&__close {
		top: -45px;
		right: -30px;
	}

	&__close button {
		background-image: url('images/icon-circled-x-green.svg');
	}
}

.page-infant-feeding-support {
	& .formula-modal {
		& p {
			color: @green;
		}
	}
}

.formula-products {
	background-color: @lightbeige;
	z-index: @z-index-base;
	float: left;
	width: 100%;

	&.carousel-products-small {

		.slick-track {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		.slick-slider {
			width: 1200px;
			max-width: calc(100% - 100px);
			margin-top: 40px;

			@media @tablet-query {
				margin-top: 60px;
			}

			@media @mobile-query {
				margin-top: 20px;
				margin-bottom: 20px;
				max-width: calc(100% - 70px);
			}
		}

		.slick-slide {
			p {
				font-size: 18px;
				font-weight: 500;

				a {
					text-decoration: none;
					color: @darkgray;
				}
			}

			img {
				margin: 0 auto 15px;
				max-width: 90%;
				max-height: 100%;
			}

			@media @tablet-query {
				h1, p {
					font-size: 15px;
					font-weight: 700;
				}

				p {
					margin-top: 0;
				}
			}

			@media @mobile-query {
				h1, p {
					font-size: 12px;
				}

				h1 {
					margin-top: 4px;
				}

				p {
					font-weight: 500;
				}
			}
		}


		.slick-arrow {
			background-image: url('images/carousel-arrow-orange-on-light-beige.svg');

			@media @mobile-query {
				&.slick-next {
					right: -25px;
				}

				&.slick-prev {
					left: -25px;
				}
			}
		}

		.hero-container__fullwidth img {
			@media @tablet-query {
				width: 80%;
				max-height: none;
			}
		}
	}
}

.formula-reviews {
	float: left;
	width: 100%;

	&.vc_section {
		margin-bottom: 70px;

		@media @mobile-query {
			margin-bottom: 20px;
		}
	}
}

.formula-learning-center {
	z-index: @z-index-base;
}

.formula-inside {
	float: left;
	width: 100%;
	background-color: @lightbeige;

	h1 {
		color: @green;
	}

	.made-with {
		width: 35%;
		margin-left: 15%;

		@media @tablet-query {
			width: 63%;
			margin-left: 5%;
		}

		@media @mobile-query {
			width: 100%;
			margin-left: 0;
		}
	}

	.made-not-with {
		width: 40%;
		margin-left: 10%;

		@media @tablet-query {
			width: 32%;
			margin-left: 0%;
		}

		@media @mobile-query {
			width: 100%;
			margin-left: 0;
		}
	}
}

.formula-stages {
	background-color: #fff;

	&.border-light-beige:before {
		height: 2px;
	}

	@media @tablet-query {
		padding-top: 55px;
		padding-bottom: 0;
	}

	@media @mobile-query {
		padding-top: 45px;
	}

	h1 {
		color: @green;
		line-height: 1.1;
		margin-bottom: 15px;

		@media @tablet-query {
			font-size: 50px;
			width: 90%;
			margin-left: 5%;
			margin-bottom: 24px;
		}

		@media @mobile-query {
			font-size: 30px;
			margin-bottom: 10px;
		}
	}

	li {
		max-width: 640px;
		color: @mediumgray;
		list-style: disc;
		margin-left: 25px;

		@media @tablet-query {
			font-size: 16px;
			width: 85%;
		}

		@media @mobile-query {
			font-size: 14px;
			width: 90%;
		}
	}

	.formula-tabs-container{
		width: 50%;

		@media @tablet-query {
			margin: auto;
			width: 95%;
			float: none;
		}
	}
}

.formula-stages .hover-tabs__container {
	float: left;
	margin-top: 40px;

	@media @tablet-query {
		width: 100%;
	}

	@media @mobile-query {
		display: block;
		margin: 20px auto 30px;
	}

	.hover-tab {
		float: left;
		background-image: url('images/rough-divider-tabs.png');
		background-size: 100% 5px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		padding-bottom: 10px;

		&__icon-container {
			display: none;
		}

		@media @tablet-query {
			width: 33%;

			&__title {
				font-size: 20px;
			}
		}

		@media @mobile-query {
			background-size: 100% 4px;

			&__title {
				font-size: 16px;
			}
		}

		&:nth-child(2) {
			background-position: -33.33% 100%;
		}

		&:nth-child(3) {
			background-position: (-33.33% * 2) 100%;
		}

		&.active {
			background-image: url('images/rough-divider-tab-active.png');
			background-position: 0 100%;

			p:first-child a:after {
				display: none;
			}

			a {
				color: @green;
			}
		}

		p {
			max-width: none;
			width: auto;
		}

		a {
			color: @mediumgray3;
			font-weight: 900;
			font-size: 24px;
			width: 139px;
			text-align: center;
			height: 52px;
			line-height: 46px;
			display: block;

			@media @tablet-query {
				font-size: 18px;
				line-height: 38px;
				height: 45px;
			}

			@media @mobile-query {
				font-size: 14px;
				line-height: 34px;
				height: 38px;
			}
		}
	}
}

.formula-stages .tab-content {
	top: 400px;
	right: 10%;
	width: 40%;
	visibility: hidden;
	transition: 0.3s visibility, 0.3s opacity;

	&.active {
		visibility: visible;
	}

	@media @smdesktop-query {
		width: 50%;
		right: 0;
	}

	@media @tablet-query {
		width: 55%;
	}

	@media @mobile-query {
		width: 95%;
		margin: auto;
		top: auto;
		display: none;
		visibility: visible;

		&.active {
			display: block;
		}
	}

	p {
		margin: 0;
		color: @mediumgray;
		width: 98%;

		@media @mobile-query {
			text-align: center;
		}
	}

	a {
		.button();
		background-color: @green;
		margin-top: 30px;

		&:after {
			@media @tablet-query {
				width: 8px;
				height: 8px;
				right: 40px;
			}
		}

		@media @tablet-query {
			font-size: 16px;
			padding: 0 55px 0 45px;
			min-width: 160px;
			margin-top: 28px;

			&:hover:after {
				right: 36px;
			}
		}

		@media @mobile-query {
			margin-bottom: 45px;
		}
	}
}

.formula-stages .hover-tabs__image-container {
	float: left;
	width: 30%;
	position: relative;
	margin-top: 40px;
	margin-bottom: 100px;
	height: 365px;
	margin-left: 15%;
	margin-right: 5%;

	@media @tablet-query {
		margin-top: 0;
		height: 300px;
		margin-right: 2%;
		margin-bottom: 130px;
	}

	@media @mobile-query {
		max-width: 260px;
		margin: auto;
		float: none;
		width: auto;
		height: 230px;
	}

	.tab-section {
		width: 33.33%;
		display: none;

		@media @tablet-query {
			display: block;
		}

		a {
			width: 100%;
		}
	}

	.tab-content {
		display: block !important; // override inline styles
		position: absolute;
		float: right;
		top: 0;
		right: 0;
		transition: 0.3s;
		z-index: 0;
		height: auto;
		opacity: 1;
		width: 100%;
		visibility: visible;

		img {
			max-width: 100%;

			@media @mobile-query {
				max-width: 85%;
				float: right;
			}
		}

		// third active
		& + .tab-content:not(.active) {
			z-index: @z-index-base;
			top: 20px;
			right: 50px;

			@media @tablet-query {
				top: 15px;
				right: 30px;
			}

			@media @mobile-query {
				right: 12%;
			}
		}

		// second active
		& + .tab-content.active + .tab-content {
			z-index: @z-index-base;
			top: 20px;
			right: 50px;

			@media @tablet-query {
				top: 15px;
				right: 30px;
			}

			@media @mobile-query {
				right: 15%;
			}
		}

		// first active
		&.active {
			top: 40px;
			right: 100px;
			z-index: @z-index-mid;

			@media @tablet-query {
				top: 30px;
				right: 60px;
			}

			@media @mobile-query {
				right: 19%;
			}

			& + .tab-content {
				z-index: @z-index-base;
				top: 20px;
				right: 50px;

				@media @tablet-query {
					top: 15px;
					right: 30px;
				}

				@media @mobile-query {
					right: 12%;
				}
			}

			& + .tab-content + .tab-content {
				z-index: 0;
				top: 0;
				right: 0;

				@media @mobile-query {
					right: 7%;
				}
			}
		}
	}
}
