.darkHeader {

    #wp-megamenu-menu-hf-left,
    .menu-right,
    .explore-topmenu {
        display: none;
    }

    #header .menus-container {
        padding-top: 0;
    }

    #header.site-header.sticky {
        height: auto;
    }
}

#header {
    .menu-right {
        margin-top: -18px;
        height: auto;
    }

    span.counter.qty {
        min-height: 16px;
        line-height: 1;
        border-radius: 50%;
        font-size: 10px;
        font-family: 'BoosterNextFY', sans-serif;
        font-weight: 700;
        background: #E9713A;
        position: relative;
        text-align: center;
        white-space: normal;
        color: #fff;
        min-width: 16px;

    }

    .cart {
        .loading-mask {
            display: none;
        }

        &.loading {
            .loading-mask {
                display: block;
            }

            .counter-number {
                display: none;
            }
        }
    }

    .administrative-menu__item.cart {
        &.cart-empty .counter.qty {
            background: transparent;
        }

        .loading-mask {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 0;
            display: none;
        }

        &.loading {
            .loading-mask {
                display: block;
            }

            .counter-number {
                display: none;
            }
        }

        a {
            color: transparent;
            cursor: pointer;
            position: relative;
            left: -30px;
            top: -6px;
        }
    }

    #wp-megamenu-menu-hf-left ul.wp-megamenu>li.wpmm_mega_menu {

        &:last-child,
        &:nth-child(4) {
            a {
                color: #DC4F58;
            }
        }

        &:nth-child(1) {
            a {
                color: #70A400;
            }
        }

        &:nth-child(2) {
            a {
                color: #A770B4;
            }

        }

        &:nth-child(3) {
            a {
                color: #449DCD;
            }
        }
    }


    #wp-megamenu-menu-hf-right .wp-megamenu-sub-menu.level-2 {
        li.wpmm-col-2:nth-child(4) h4.wpmm-item-title {
            color: #DC4F58;
        }

        li.wpmm-col-2:nth-child(3) h4.wpmm-item-title {
            color: #449DCD;
        }

        li.wpmm-col-2:nth-child(2) h4.wpmm-item-title {
            color: #A770B4;
        }

        li.wpmm-col-2:nth-child(1) h4.wpmm-item-title {
            color: #70A400;
        }
    }

    .administrative-menu__item {
        a {
            color: #4A4A4A;
            font-size: 12px;
            max-width: none;
            letter-spacing: 0.07em;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .explore-topmenu {
        float: left;
        color: #4A4A4A;
        font-size: 12px;

        a {
            color: #4a4a4a;
            font-size: 12px;
            position: relative;
            padding-left: 32px;
            letter-spacing: 0.07em;
            line-height: 15px;
            padding-top: 4px;

            &:after {
                position: absolute;
                content: "";
                width: 21px;
                height: 21px;
                left: 0;
                top: 2px;
                background-image: url('images/missionicon.svg');
                background-position: center center;
                background-repeat: no-repeat;
            }

            &:hover {
                text-decoration: underline;

                &:after {
                    background-image: url('images/missiion-org.svg');
                }
            }
        }
    }


    ::placeholder {
        color: #e9713a;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #e9713a;
    }

    ::-ms-input-placeholder {
        color: #e9713a;
    }

}

#wp-megamenu-menu-hf-left,
#wp-megamenu-menu-hf-right {
    .wpmm_brand_logo_wrap img {
        display: none;
    }
}


#header.site-header.sticky {
    height: 48px;
    border-bottom: 1px solid #e6e6e6;

    .site-branding {
        width: 81px;
        max-width: none;
        top: 26%;
    }


    #wp-megamenu-menu-hf-left {
        .wpmm-strees-row-and-content-container {
            top: 37px;
        }
    }

    #wp-megamenu-menu-hf-right {
        .wpmm-strees-row-and-content-container {
            top: 39px;
        }
    }

    #wp-megamenu-menu-hf-left>.wpmm-nav-wrap {
        ul.wp-megamenu>li>a {
            font-size: 18px;
            line-height: 23px;
        }
    }


    #wp-megamenu-menu-hf-right>.wpmm-nav-wrap {
        ul.wp-megamenu>li>a {
            font-size: 10px;

            @media @tablet-query {
                font-size: 18px;
            }
        }
    }

    .explore-topmenu,
    .administrative-menu__item a,
    .administrative-menu__item.login {
        display: none;
    }

    #wp-megamenu-menu-hf-left {
        .wpmm-strees-row-and-content-container {
            padding-top: 0;
        }
    }

    #wp-megamenu-menu-hf-left {
        margin-top: -18px;
    }

    .wpmm-strees-row-and-content-container {
        padding-top: 0;
    }

    #wp-megamenu-menu-hf-right {
        .wpmm-nav-wrap ul.wp-megamenu>li {
            margin-left: 0;
            padding: 0 7px;
        }
    }

    .fa-angle-down:before {
        content: "";
        width: 15px;
        height: 16px;
        left: 1px;
        top: 4px;
        background-size: 5px;
    }

}

#header.site-header {
    &.sticky {
        @media @tablet-query {
            height: 80px;
        }

        @media @mobile-query {
            height: 51px;
        }


        #wp-megamenu-menu-hf-left {
            .wpmm-strees-row-and-content-container {
                @media @tablet-query {
                    padding-top: 0;
                }

            }
        }

        .menu-right {
            @media @tablet-query {
                width: auto;
                margin-top: 0;
            }
        }

        .wpmm-strees-row-and-content-container {
            @media @tablet-query {
                padding-top: 0;
            }
        }

        #wp-megamenu-menu-hf-left {
            @media @tablet-query {
                margin-top: 0;
            }
        }

        #wp-megamenu-menu-hf-right {
            .wpmm-nav-wrap ul.wp-megamenu>li {
                @media @tablet-query {
                    margin-left: 0;
                }

            }
        }

        #header.site-header.sticky {
            .wpmm-strees-row-and-content-container {
                @media @tablet-query {
                    padding-top: 0;
                }
            }
        }

        .explore-topmenu.desktop-hide {
            @media @tablet-query {
                display: block;
            }

        }

        .administrative-menu__item.login {
            @media @tablet-query {
                display: block;
                margin-right: 16px;
            }
        }

        .site-branding {
            @media @tablet-query {
                width: 160px;
                top: 50%;
            }

            @media @mobile-query {
                width: 108px;
            }
        }
    }

}

//general end


@media (max-width:1023px) {

    body.pushNotificationFixed {
        position: fixed;
    }

    #header.site-header.sticky {

        #wp-megamenu-menu-hf-left {
            .wpmm-strees-row-and-content-container {
                top: 0;
            }
        }

        #wp-megamenu-menu-hf-right {
            .wpmm-strees-row-and-content-container {
                top: 0;
            }
        }
    }

    .menu-visible {
        display: block !important;
    }

    .menu-invisible {
        display: none !important;
    }

    #wp-megamenu-menu-hf-right>.wpmm-nav-wrap .wp-megamenu>li {
        .wpmm-strees-row-and-content-container>ul.wp-megamenu-sub-menu li.wpmm-type-widget>a {
            margin-bottom: 0;
        }
    }

    #header .menus-container {
        top: 80px; //when header change
        background: #FDFBF8;

        .search__form {
            display: none;
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu>li {
            ul.wp-megamenu-sub-menu .menu-visible li a {
                color: #696764;
                font-weight: 500;
            }
        }

        li.login.administrative-menu__item.desktop-only {
            display: none;
        }

        li#wp-megamenu-item-4753 {
            display: none;
        }

        #wp-megamenu-menu-hf-right {
            padding: 0;
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap {
            .wp-megamenu>li {
                .wpmm-strees-row-and-content-container>ul.wp-megamenu-sub-menu li.wpmm-type-widget>a {
                    margin-bottom: 0;
                }
            }
        }

        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu>li.active-list> {
            h4.wpmm-item-title {
                padding: 25px 18px 26px 35px;
            }

            h4.wpmm-item-title+div {
                padding: 0 18px 22px 35px;
            }
        }

        &.submenu-active {
            .wp-megamenu-wrap .wpmm-nav-wrap ul.wp-megamenu>li {
                display: none;
            }

            .wp-megamenu-wrap .wpmm-nav-wrap ul.wp-megamenu>li.active-list {
                display: block;
            }

            #wp-megamenu-menu-hf-left.wp-megamenu-wrap {
                .wpmm-nav-wrap ul.wp-megamenu>li.wpmm-strees-row-and-content.wpmm-strees-row-and-content>a {
                    padding-left: 21px;

                    &:after {
                        transform: rotate(-180deg);
                        left: -9px;
                        right: auto;
                    }
                }
            }

            .wp-megamenu-wrap .wpmm-nav-wrap {
                overflow: hidden;
            }


            #wp-megamenu-menu-hf-left {
                ul.wp-megamenu>li.wpmm_mega_menu.active-list:nth-child(1) a {
                    &:after {
                        background-image: url(images/show-all-icon-green.svg);
                    }
                }

                ul.wp-megamenu>li.wpmm_mega_menu.active-list:nth-child(2) a {
                    &:after {
                        background-image: url(images/show-all-icon-violet.svg);
                    }
                }

                ul.wp-megamenu>li.wpmm_mega_menu.active-list:nth-child(3) a {
                    &:after {
                        background-image: url(images/show-all-icon-blue.svg);
                    }
                }

                ul.wp-megamenu>li.wpmm_mega_menu.active-list:nth-child(4) a {
                    &:after {
                        background-image: url(images/show-all-icon-red.svg);
                    }
                }

                .active-list .wpmm-strees-row-and-content-container {
                    margin-top: 21px;
                    position: relative;

                    &:before {
                        position: relative;
                        top: 0;
                        left: 0;
                        content: "";
                        height: 1px;
                        background-color: #e3e2e2;
                        display: block;
                        margin: 0 -36px;
                    }

                }
            }

            #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu>li.active-list>a {
                padding-left: 63px;

                &:after {
                    transform: rotate(-180deg);
                    left: 29px;
                    right: auto;
                    background-image: url(images/show-all-icon-orange.svg);

                }

            }
        }


        .wpmm-col.wpmm-col-2 {
            width: 100%;
        }

        .wpmm-col.wpmm-col-6 {
            width: 100%;
        }


        a.wpmm_mobile_menu_btn {
            display: none !important;
        }

        .wp-megamenu-wrap ul.wp-megamenu {
            position: relative;
            display: block !important;
        }

        #wp-megamenu-menu-hf-left,
        #wp-megamenu-menu-hf-right {
            background: transparent;
        }

        .wp-megamenu-wrap ul.wp-megamenu {
            background: transparent;
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap {
            ul.wp-megamenu>li>a {
                font-size: 18px;
                text-transform: none;
                font-family: BoosterNextFY, sans-serif !important;
                font-weight: 700;
                letter-spacing: 0.04em;
            }
        }

        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap {
            ul.wp-megamenu>li>a {
                font-size: 18px;
                font-family: BoosterNextFY, sans-serif !important;
                font-weight: 700;
                color: #E9713A;
                letter-spacing: 1.3px;
                padding: 22px 18px 22px 24px;
            }
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu {
            li.wpmm-type-widget .wpmm-item-title {
                color: #716F6C;
                font-size: 14px;
                font-weight: 700;
                text-transform: none;
                line-height: 18px;
                font-family: BoosterNextFY, sans-serif !important;
                padding: 17px 0 18px 0;
                cursor: pointer;

                &.sub-submenu {
                    background-image: none;

                    &:after {
                        position: absolute;
                        content: "";
                        width: 15px;
                        height: 16px;
                        top: 50%;
                        right: 17px;
                        background-image: url(images/plus-menu.svg);
                        background-position: right center;
                        background-repeat: no-repeat;
                        background-size: 11px 11px;
                        margin-top: -7px;
                    }
                }

                &.sub-submenu.sub-submenu-active:after {
                    content: "";
                    width: 9px;
                    height: 7px;
                    border-bottom: 2px solid #a6a6a6;
                    position: absolute;
                    top: 29px;
                    right: 18px;
                    background: 0 0;
                }

            }
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu {
            li.wpmm-type-widget .wpmm-item-title+div {
                display: none;
            }
        }

        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu {
            li.wpmm-type-widget .wpmm-item-title+div {
                display: none;
                padding: 0 18px 22px 24px;
            }
        }

        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu {
            li.wpmm-type-widget .wpmm-item-title {
                font-size: 16px;
                font-weight: 700;
                text-transform: none;
                line-height: 18px;
                font-family: BoosterNextFY, sans-serif !important;
                position: relative;
                padding: 25px 18px 26px 24px;

                &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #e3e2e2;

                }

                &.mobile-menu-right {
                    display: block;

                    span {
                        font-size: 12px;
                    }
                }
            }
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu {
            li.wpmm-type-widget .wpmm-item-title>div {
                display: none;
            }
        }

        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu>li {
            ul.wp-megamenu-sub-menu li a {
                color: #716F6C;
                font-size: 14px;
                font-weight: 500;
                text-transform: none;
                line-height: 18px;
                font-family: BoosterNextFY, sans-serif !important;
                padding: 0;

            }
        }

        .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu> {
            li.wpmm_mega_menu> {
                .wpmm-strees-row-and-content-container>ul.wp-megamenu-sub-menu {
                    background: transparent;
                    position: relative;
                    visibility: visible;
                    opacity: 1;
                    z-index: 1;

                }
            }
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap>ul.wp-megamenu> {
            li.wpmm_mega_menu>.wpmm-strees-row-and-content-container> {
                ul.wp-megamenu-sub-menu {
                    background: transparent;
                    position: relative;
                    visibility: visible;
                    opacity: 1;
                    z-index: 1;
                }
            }
        }

        .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu li.wpmm_mega_menu {
            .wpmm-strees-row-and-content-container> {
                .wp-megamenu-sub-menu>li>.wp-megamenu-sub-menu>li {
                    padding: 0;
                    line-height: 0;
                }
            }
        }

        .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu li.wpmm_mega_menu {
            .wpmm-strees-row-and-content-container> {
                .wp-megamenu-sub-menu>li {
                    padding: 0;
                }

            }
        }

        .wp-megamenu-wrap .wpmm-nav-wrap>ul> {
            li.wpmm-social-link {
                display: none;
            }
        }

        a.wpmm_mobile_menu_btn {
            display: none !important;
        }

        .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu {
            ul.wp-megamenu-sub-menu {
                li.wpmm-type-widget {
                    margin-bottom: 0;
                }
            }
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu>li {
            ul.wp-megamenu-sub-menu {
                li {
                    a {
                        padding: 0;
                        color: #716F6C;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 18px;
                        font-family: BoosterNextFY, sans-serif !important;
                    }
                }
            }
        }

        .wpmm-strees-row-and-content {

            .img-subtitle,
            img,
            .img-content {
                display: none;
            }
        }

        li.login {
            float: left;
            text-transform: none;
            right: 0;
            border: none;
            margin-top: 12px;
        }

        .main-menu__item {
            padding-left: 19px;
        }

        .fa-angle-down {
            &:before {
                display: none;
            }
        }

        span.mobile-search-icon {
            display: none !important;
        }



        .login.navigational-menu__item {
            a {
                padding-left: 40px;
            }

            &:before {
                background-size: 19px 20px;
                left: 27px;
                top: -3px;
            }
        }


        .navigational-menu__item {
            text-transform: none;

            a {
                color: #4a4a4a;
                font-size: 12px;
                letter-spacing: .07em;
                line-height: 15px;
            }
        }

        .navigational-menu__item.store-locator.desktop-hide {
            position: relative;

            a {
                background-image: url(images/icon-pin-new.svg);
                background-position: 4px 11px;
                background-repeat: no-repeat;
                background-size: 25px 23px;
                padding-left: 43px;
            }

        }

        .explore-topmenu {
            margin-top: 11px;
            margin-left: 25px;

            a {
                font-weight: 700;
                padding-left: 36px;

                &:after {
                    top: 2px;
                }
            }
        }

        .wpmm-sticky.wpmm-sticky-wrap {
            position: relative;
        }

    }

    .wpmm-item-title.sub-submenu {
        background-image: url(images/plus-menu.svg);
        background-position: right 20px;
        background-repeat: no-repeat;
        background-size: 11px 11px;

        &.sub-submenu-active {
            position: relative;
            background-image: none;

            &:after {
                content: "";
                width: 9px;
                height: 7px;
                border-bottom: 2px solid #A6A6A6;
                position: absolute;
                top: 20px;
                right: 1px;
            }

        }
    }

    .headerSearchActive {
        span.mobile-search-icon {
            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }

    }

    span.mobile-search-icon {
        display: block !important;
        height: 28px;
        width: 23px;
        position: relative;
        float: left;
        cursor: pointer;

        &:before,
        &:after {
            top: 0;
            left: -6px;
            background-size: 31px 22px;
            content: '';
            background-repeat: no-repeat;
            height: 26px;
            width: 38px;
            cursor: pointer;
            position: absolute;
            transform: none;
        }

        &:before {
            background-image: url(images/icon-search.svg);
            opacity: 1;
        }

        &:after {
            background-image: url(images/icon-search-orange.svg);
            opacity: 0;
        }
    }

    .headerSearchActive {
        #header .menus-container.expanded {
            top: 129px;
        }
    }

    #header {
        .cart {
            &:after {
                display: none;
            }
        }

        .menu-right .wp-megamenu-wrap {
            .wpmm-nav-wrap ul.wp-megamenu>li {
                &:nth-child(3)+li {
                    display: none;
                }
            }
        }

        .menus-container.submenu-active {
            #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu>li.active-list>a {
                padding-left: 63px;
            }

            #wp-megamenu-menu-hf-left .active-list .wpmm-strees-row-and-content-container {
                min-height: 349px;
            }

            #wp-megamenu-menu-hf-right .active-list .wpmm-strees-row-and-content-container {
                min-height: 371px;
            }
        }

        #wp-megamenu-menu-hf-right {
            .wp-megamenu-sub-menu.level-2 li.wpmm-col-2:nth-child(4) h4.wpmm-item-title {

                border-bottom: 1px solid #e3e2e2;
            }
        }

        #wp-megamenu-menu-hf-right {
            .wp-megamenu-sub-menu.level-2 li.wpmm-col-2:nth-child(4) h4.wpmm-item-title.sub-submenu-active {
                border-bottom: none;
            }
        }

        .administrative-menu__item a {
            position: relative;
            right: 20px;
        }

        .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu> {
            li.wpmm_mega_menu {
                ul.wp-megamenu-sub-menu li a b {
                    float: none;
                }
            }
        }

        .cart.loading {
            span.counter.qty {
                background-color: transparent;
            }
        }

        span.counter.qty {
            margin: 0 0 9px 24px;
            font-size: 0;
            padding: 4px 3px;
            display: inline-block;
            line-height: 0;

            .counter-number {
                font-size: 11px;
                top: 4px;
                position: relative;
            }
        }

        .explore-topmenu.mobile-hide {
            display: none;
        }

        button.search-submit {
            display: none;
            width: 33px;
            height: 26px;
            position: absolute;
            top: 10px;
            right: 22px;
            cursor: pointer;
            border: none;
            padding: 2px;
            background-repeat: no-repeat;
            background-position: 0 4px;
            background: transparent;
            z-index: 1;

        }

        .ais-search-box--reset {
            display: none !important;
        }

        #wp-megamenu-menu-hf-left {
            .wpmm-strees-row-and-content-container {
                padding-top: 0;
                width: 100% !important;
                left: 0 !important;
                position: relative !important;
            }
        }

        .wp-megamenu-wrap .wpmm-nav-wrap ul.wp-megamenu>li {
            .wpmm-strees-row-and-content-container {
                padding-top: 0;
                width: 100% !important;
                left: 0 !important;
                position: relative !important;
            }

        }

        #wp-megamenu-menu-hf-left.wp-megamenu-wrap .wpmm-nav-wrap {
            ul.wp-megamenu.active-wrap>li.active-list {
                padding: 22px 0 22px 35px;
            }
        }


        .wp-megamenu-wrap .wpmm-nav-wrap {
            ul.wp-megamenu.submenu-active>li {
                padding: 22px 18px 22px 35px;
            }
        }

        .sub-sub-expanded {
            margin-top: 1px;

            li {
                margin-bottom: 12px;
            }
        }

        .wp-megamenu-wrap .wpmm-nav-wrap ul.wp-megamenu>li {
            width: 100%;
            border-bottom: 1px solid #e3e2e2;
            padding: 22px 0 22px 24px;
            cursor: pointer;
            position: relative;

            &.wpmm-strees-row-and-content>a {
                position: relative;
                width: 100%;

                &:after {
                    background-image: url(images/show-all-icon.svg);
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    width: 12px;
                    height: 12px;
                    margin-top: -7px;
                    background-repeat: no-repeat;
                    display: block !important;

                }
            }

        }

        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap>ul.wp-megamenu> {
            li.wpmm_mega_menu> {
                .wpmm-strees-row-and-content-container>ul.wp-megamenu-sub-menu {
                    background: transparent;
                }
            }
        }

        .wp-megamenu-wrap .wpmm-nav-wrap>ul>li>a {
            padding: 0;
        }

        #wp-megamenu-menu-hf-left {
            padding-right: 0;
            padding-left: 0;
        }

        .wp-megamenu-wrap .wpmm-nav-wrap .wp-megamenu {
            padding: 0;
        }

        .main-menu__item {
            border: none;
        }

        .menu-right {
            height: auto;
            margin-top: 0;

            .wp-megamenu-wrap .wpmm-nav-wrap ul.wp-megamenu>li {
                padding: 0;
            }

            .wpmm-item-title.sub-submenu {
                position: relative;
                background: none;

                &:after {
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 16px;
                    top: 50%;
                    right: 17px;
                    background-image: url(images/plus-menu.svg);
                    background-position: right center;
                    background-repeat: no-repeat;
                    background-size: 11px 11px;
                    margin-top: -7px;
                }

                &.sub-submenu-active {
                    &:after {
                        content: "";
                        width: 9px;
                        height: 7px;
                        border-bottom: 2px solid #a6a6a6;
                        position: absolute;
                        top: 37px;
                        right: 18px;
                        background: none;
                    }
                }
            }
        }

        li.login.administrative-menu__item {
            position: relative;
            width: 12px;
            height: 23px;
            float: right;
            display: block;

            &:after {
                background-image: url(images/icon-login-new.svg);
                opacity: 1;
                background-size: 20px 20px;
            }
        }

        .search__form {
            .mobile-search-icon:before {
                display: block;
            }

            .mobile-search-icon:after {
                display: none;
            }

            &.expanded {
                .mobile-search-icon:before {
                    display: none;
                }

                .mobile-search-icon:after {
                    display: block;
                }

            }
        }

        .site-branding__logo {
            margin-top: 2px;
        }

        .header-container {
            border-bottom: 1px solid #E3E2E2;
            box-shadow: none;
        }

        input#search[type=text] {
            font-size: 15px;
            color: #E9713A;
            font-weight: 700;
            line-height: 28px;
        }

        input#search::-webkit-input-placeholder {
            top: 2px;
            position: relative;
        }

        .nav-toggle {
            left: 6px;
        }

        .menus-container.expanded {
            width: 100%;
            overflow: auto;
            height: calc(100vh - -220px);
            padding-bottom: 200px;

            li.login.administrative-menu__item {
                display: none;
            }

            .filter-mg-menu {
                color: #716F6C;
                padding: 17px 0 18px 0 !important;
            }
        }

        .search__form {
            &:before {
                display: none;
            }

            &:after {
                opacity: 1;
                background-size: 22px 18px;
                height: 26px;
                width: 33px;
                cursor: pointer;
                left: auto;
                right: 27px;
                top: 21px;
                display: none;
            }

            &.expanded {
                input {
                    border: 1px solid #E9713A;
                }

                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                    background-image: url(images/search-arrow.svg);
                    display: block;
                }

            }
        }

        #search_mini_form.search__form input {
            height: auto;
            top: 4px;
            position: relative;
            padding: 0 64px 4px 21px;
            display: none;
        }

        #search_mini_form.search__form {
            padding: 0 12px;
            width: 100%;
            position: relative;
            float: left;
            height: 48px;
            padding-top: 2px;

            &.expanded {
                background: #fff;
                border-bottom: 1px solid #e3e2e2;

                input {
                    display: block;
                }

                button.search-submit {
                    display: block;
                }
            }
        }

        .nav-toggle {
            &.expanded {
                .nav-toggle__icon {
                    background: transparent;

                    &:after,
                    &:before {
                        background: #e9713a;
                        width: 22px;
                        border-radius: 24px;
                        height: 3px;
                        top: 44%;
                    }
                }
            }
        }

        .nav-toggle__icon {
            width: 25px;
            border-radius: 8px;
            background: #A6A6A6;

            &:after,
            &:before {
                width: 25px;
                border-radius: 8px;
                background: #A6A6A6;
            }
        }

    }


    #search_mini_form.search__form {
        padding: 0 12px;
        border-radius: 0;
    }

    #wp-megamenu-menu-hf-left {
        .shop-icon {
            margin-top: 14px;
        }

        .sub-expanded>li {
            &:first-child {
                order: 2;
            }
        }

        .sub-expanded {
            display: flex !important;
            flex-wrap: wrap;

            li {
                &:first-child {

                    .level-2 {

                        .sub-submenu,
                        .sub-menu {
                            display: none;
                        }

                    }

                    .level-2>li {
                        &:first-child {
                            display: none;
                        }
                    }
                }

                &:last-child {
                    order: 1;
                }
            }

        }
    }

    .headerSearchActive {
        .site-sub-header-menu {
            display: none
        }
    }

}

//max 1023 end////////////////////
.headerSearchActive {
    #header .menus-container.expanded {
        @media @mobile-query {
            top: 98px; //when header change
        }
    }
}

#header {
    .nav-toggle {
        &.expanded {
            @media @tablet-query {
                top: 21px; //when header change
            }

            @media @mobile-query {
                top: 6px; //when header change
            }
        }
    }

    .menus-container {
        @media @mobile-query {
            top: 50px; //when header change
        }

        &.expanded {
            @media @mobile-query {
                top: 50px; //when header change
                overflow: auto;
                height: calc(100vh - 50px); //when header change
                padding-bottom: 140px;
            }
        }
    }

    .block-search {
        margin-top: 0;

        @media @tablet-query {
            top: 81px;
            position: relative;
        }

        @media @mobile-query {
            top: 50px;
        }
    }

    span.mobile-search-icon {
        @media @tablet-query {
            top: -97px;
            left: 59px;
        }

        @media @mobile-query {
            top: -83px;
            left: 54px;
        }

    }

    li.login.administrative-menu__item {
        @media @tablet-query {
            top: -18px;
            right: 45px;
        }

        @media @mobile-query {
            top: -34px;

        }
    }

}

body.sticky-header {
    #content.site-content>* {
        display: block;
    }
}

//1024 start

@media only screen and (min-width: 1024px) {

    .page-template-page-masterbrand.darkHeader {
        #header.site-header {
            height: auto;
        }
    }

    body.sticky-header.page-template-page-masterbrand {
        #content.site-content>* {
            display: none;
        }
    }

    .page-template-page-masterbrand.darkHeader {
        #content.site-content {
            margin-top: 117px;
        }
    }

    .page-template-page-masterbrand {
        &.pageStickyHeader {
            #content.site-content {
                margin-top: 48px;
            }
        }

        #header.site-header.sticky {
            #wp-megamenu-menu-hf-right {
                right: auto;
                left: 0;

            }

            #content.site-content {
                margin-top: 48px;
            }
        }
    }


    #header.site-header.sticky {
        #wp-megamenu-menu-hf-left {
            ul.wp-megamenu>li.wpmm_mega_menu:nth-child(1) a {
                color: #70A400;
            }

            ul.wp-megamenu>li.wpmm_mega_menu:nth-child(2) a {
                color: #A770B4;
            }

            ul.wp-megamenu>li.wpmm_mega_menu:nth-child(3) a {
                color: #449DCD;
            }

            ul.wp-megamenu>li.wpmm_mega_menu:nth-child(4) a {
                color: #DC4F58;
            }
        }

        .administrative-menu .cart {
            a {
                width: 25px;
            }
        }
    }



    .darkHeader {
        #header.site-header {
            height: auto;
            border-bottom: 1px solid #e6e6e6;
        }
    }

    #header.site-header.sticky {
        #wp-megamenu-menu-hf-right {
            width: 235px;
            position: absolute;
            right: -93px;
            top: -3px;
        }

        .administrative-menu__item.cart {
            padding-left: 2px;
        }

        .site-sub-header {
            top: -52px;
            position: relative;
        }

        .administrative-menu__item.search {
            margin-right: 14px;
        }

        #wp-megamenu-menu-hf-right .wpmm-nav-wrap {
            ul.wp-megamenu>li:nth-child(4) {
                display: inline-block;
            }
        }



        #menu-main-menu-right {
            li.wpmm-submenu-right:nth-child(4) {
                display: inline-block;
            }
        }

        input#search[type=text] {
            font-size: 10px;
        }

        .search__form input {
            width: 154px;
        }

        .menu-right {
            width: 457px;

            .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li.wpmm_mega_menu:hover> {
                .wpmm-strees-row-and-content-container> {
                    ul.wp-megamenu-sub-menu {
                        top: 1px;
                    }
                }
            }
        }

        .administrative-menu {
            top: -17px;
        }

        #wp-megamenu-menu-hf-right {
            .wpmm-nav-wrap ul.wp-megamenu>li {
                &:nth-child(3) {
                    display: none;
                }
            }

        }
    }

    #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu>li {
        ul.wp-megamenu-sub-menu li:last-child li {
            width: 100%;
            justify-content: space-between;
            margin-right: 27px;

            &:last-child {
                margin-right: 0;
            }
        }

    }

    #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu>li {
        ul.wp-megamenu-sub-menu li:last-child li {
            width: 100%;
            justify-content: space-between;
            margin-right: 27px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    #wp-megamenu-menu-hf-left.wp-megamenu-wrap .wpmm-nav-wrap> {
        ul.wp-megamenu>li.wpmm_mega_menu> {
            .wpmm-strees-row-and-content-container {
                ul.wp-megamenu-sub-menu>li.wpmm-row>ul.wp-megamenu-sub-menu {
                    -webkit-flex-wrap: nowrap;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                }
            }
        }

    }


    .menu-right {
        .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li.wpmm_mega_menu> {
            .wpmm-strees-row-and-content-container {
                ul.wp-megamenu-sub-menu>li.wpmm-row>ul.wp-megamenu-sub-menu {
                    -webkit-flex-wrap: nowrap;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    width: 100%;
                    justify-content: space-between;

                }
            }
        }

    }

    #wp-megamenu-menu-hf-right>.wpmm-nav-wrap {
        .wp-megamenu-sub-menu.level-2 li.wpmm-col-2 {

            &:last-child,
            &:nth-last-child(2) {

                max-width: 261px;
            }
        }
    }


    .wpmm-sticky.wpmm-sticky-wrap {
        .wpmm-nav-wrap.wpmm-main-wrap-menu-hf-right {
            width: auto;
            padding: 0;
        }

        .wpmm-nav-wrap.wpmm-main-wrap-menu-hf-left {
            width: auto;
            padding: 0;
        }
    }

    #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu>li {
        ul.wp-megamenu-sub-menu li .filter-mg-menu {
            font-weight: 700 !important;
            margin-bottom: 37px;
            background-image: url(images/filter-show.svg);
            background-position: center right;
            background-repeat: no-repeat;
            padding-right: 17px;
            background-size: 12px 11px;
            transform: none;

            &.no-icon {
                background-image: none;

                &:hover {
                    background-image: none;
                }
            }

            &.green-filter {
                &:hover {
                    background-image: url(images/show-all-icon-green.svg);
                    transform: none;
                    background-size: 12px 11px;
                }
            }

            &.violet-filter {
                &:hover {
                    background-image: url(images/show-all-icon-violet.svg);
                    transform: none;
                    background-size: 12px 11px;
                }
            }

            &.blue-filter {
                &:hover {
                    background-image: url(images/show-all-icon-blue.svg);
                    transform: none;
                    background-size: 12px 11px;
                }
            }

            &.red-filter {
                &:hover {
                    background-image: url(images/show-all-icon-red.svg);
                    transform: none;
                    background-size: 12px 11px;
                }
            }

        }

    }

    .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu> {
        li.wpmm_mega_menu ul.wp-megamenu-sub-menu li a {
            display: inline-block;
        }
    }

    #header.site-header {
        height: 184px;
    }

    #header {
        .menu-top-margin {
            margin-top: 32px;
        }

        .explore-topmenu a {
            top: -2px;
        }

        .menu-bottom-margin {
            margin-bottom: 37px;
        }

        .search__form:after {
            opacity: 1;
        }

        .search__form:before {
            opacity: 0;
        }

        span.counter.qty {
            margin: 0 0 26px 10px;
            padding: 2px 5px 2px 6px;
            overflow: inherit;
            top: -30px;
        }

        .administrative-menu__item.cart.desktop-only a {
            left: 0;
            top: 0;
            display: block;
        }


        button.search-submit {
            background-image: url(images/icon-search-orange.svg);
            width: 15px;
            height: 26px;
            position: absolute;
            top: 1px;
            right: 13px;
            cursor: pointer;
            border: none;
            padding: 2px;
            background-repeat: no-repeat;
            background-position: 0 4px;
            background-color: transparent;
        }

        .wpmm-sticky.wpmm-sticky-wrap {
            position: inherit;
            top: 0;
            left: 0;
        }

        #wp-megamenu-menu-hf-left,
        #wp-megamenu-menu-hf-right {
            background: none;

            .blue-color {
                color: #039ED2;
            }

            .red-color {
                color: #DC4F58;
            }

            .orange-color {
                color: #E9713A;
            }

            .violet-color {
                color: #B16BB8;
            }

            .green-color {
                color: #70A400;
            }

            .img-subtitle {
                font-size: 11px;
                text-transform: capitalize;
                text-align: center;

            }

            .img-content {
                font-size: 19px;
                margin-top: 12px;
                font-weight: 600;
            }

            .img-container {
                text-align: center;
            }

            .fa-search {
                display: none;
            }

            padding-right: 0;
            padding-left: 0;
        }

        .search__form {
            width: auto;

            input {
                border: 1px solid #e9713a;
                padding-left: 19px;
                padding-right: 32px;
                width: 160px;
            }
        }

        #wp-megamenu-menu-hf-left {
            float: left;
            width: 50%;
            clear: left;
            margin-top: 47px;

            .fa {
                display: none;
            }

            .fa-angle-down {
                &:before {
                    content: "";
                    background-image: none;
                }
            }

            .wpmm-strees-row-and-content-container {
                li.menu-promo-image {
                    min-width: 170px;
                    margin-right: 17px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

            }
        }

        #wp-megamenu-menu-hf-right {
            .wpmm-strees-row-and-content-container {
                li.menu-promo-image {
                    min-width: 170px;
                    margin-right: 17px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .wpmm-nav-wrap ul.wp-megamenu>li {
                margin-left: 30px;

                &:first-child {
                    margin-left: 0;
                }

                &:nth-child(4) {
                    display: none;
                }

                a {
                    font-family: BoosterNextFY, sans-serif;
                    font-weight: 700;
                    line-height: 18px;

                }
            }

        }

        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu>li> {
            &:hover {
                .fa {
                    &:before {
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu>li>a {
            color: #e9713a;

            &:hover {
                text-decoration: underline;
                padding-bottom: 61px;
            }
        }

        .administrative-menu {
            top: -22px;
        }

        .menus-container {
            padding-top: 28px;
        }


        .header-container {
            top: 10px;
            box-shadow: none;
        }

        .site-branding {
            width: 205px;
            max-width: none;
            z-index: 10000;
        }

        li.wpmm-social-link {
            display: none;
        }

        .menu-right {
            width: 50%;

            .fa-angle-down:before {
                content: "";
                width: 17px;
                height: 20px;
                left: 0;
                top: 5px;
                background-image: url(images/shop-mega-menu.svg);
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
                transform: rotate(90deg);
                background-size: 8px;
                position: relative;
            }
        }

        .administrative-menu__item.cart {
            margin-right: 0;
            padding-left: 0;
            width: 27px;

            a {
                color: transparent;
                cursor: pointer;
                overflow: inherit;
            }
        }

        .wp-megamenu-wrap .wpmm-nav-wrap>ul>li>a {
            padding: 0;
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu>li>a {
            font-size: 26px;
            text-transform: none;
            font-weight: 700;
            font-family: BoosterNextFY, sans-serif !important;
            letter-spacing: 0.04em;
            line-height: 34px;

            &:hover {
                padding-bottom: 63px;
            }
        }

        input#search {
            height: 28px;
            line-height: 28px;
        }

        #wp-megamenu-menu-hf-left ul.wp-megamenu.level-2>li {

            &:last-child,
            &:nth-child(4) {
                a {
                    color: #5E5C59;
                }
            }

            &:nth-child(1) {
                a {
                    color: #5E5C59;
                }
            }

            &:nth-child(2) {
                a {
                    color: #5E5C59;
                }
            }

            &:nth-child(3) {
                a {
                    color: #5E5C59;
                }
            }
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap {
            ul.wp-megamenu li.wpmm-type-widget {
                h4.wpmm-item-title.sub-submenu {
                    font-size: 14px;
                    margin-bottom: 1px;
                }

                h4.wpmm-item-title {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 36px;
                }

            }
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap {
            ul.wp-megamenu {
                li.wpmm-type-widget .wpmm-item-title {
                    color: #5E5C59;
                    font-family: BoosterNextFY, sans-serif !important;
                    font-weight: 500;
                }

            }
        }

        #wp-megamenu-menu-hf-left {
            ul.wp-megamenu-sub-menu.level-1>li {
                &:nth-child(1) {
                    a {
                        color: #5E5C59;
                    }
                }
            }
        }

        #wp-megamenu-menu-hf-left {
            .wpmm-nav-wrap ul.wp-megamenu>li {
                ul.wp-megamenu-sub-menu li a {
                    font-size: 14px;
                    color: #696764 !important;

                    &.shop-icon {
                        background-image: url(images/show-all-icon.svg);
                        background-repeat: no-repeat;
                        padding-right: 16px;
                        background-position: center right;

                    }
                }
            }
        }

        a.shop-link.shop-icon {
            width: 140px;
            display: inline-block;
            float: left;
        }


        #wp-megamenu-menu-hf-left ul.wp-megamenu>li.wpmm_mega_menu {
            padding: 0 4.5%;
            height: 90px;
            cursor: pointer;

            &:first-child {
                margin-left: -4.5%;
            }

            &:last-child,
            &:nth-child(4) {
                margin-left: 0;

                li.wpmm-type-widget {
                    h4.wpmm-item-title {
                        color: #DC4F58;
                    }
                }

                li.wpmm-type-widget {
                    h4.wpmm-item-title.sub-submenu {
                        color: #5e5c59;
                    }
                }

                ul.wp-megamenu-sub-menu li a {
                    &:hover {
                        color: #DC4F58 !important;
                    }

                }

            }

            &:nth-child(1) {
                li.wpmm-type-widget {
                    h4.wpmm-item-title {
                        color: #70A400;
                    }
                }

                li.wpmm-type-widget {
                    h4.wpmm-item-title.sub-submenu {
                        color: #5e5c59;
                    }
                }

                ul.wp-megamenu-sub-menu li a {
                    &:hover {
                        color: #70A400 !important;
                    }

                }
            }

            &:nth-child(2) {

                li.wpmm-type-widget {
                    h4.wpmm-item-title {
                        color: #A770B4;
                    }
                }

                li.wpmm-type-widget {
                    h4.wpmm-item-title.sub-submenu {
                        color: #5e5c59;
                    }
                }

                ul.wp-megamenu-sub-menu li a {
                    &:hover {
                        color: #b16bb9 !important;
                    }

                }

            }

            &:nth-child(3) {

                li.wpmm-type-widget {
                    h4.wpmm-item-title {
                        color: #449DCD;
                    }
                }

                li.wpmm-type-widget {
                    h4.wpmm-item-title.sub-submenu {
                        color: #5e5c59;
                    }
                }

                ul.wp-megamenu-sub-menu li a {
                    &:hover {
                        color: #449DCD !important;
                    }

                }
            }
        }

        #search_mini_form.search__form.expanded input {
            border: 1px solid #e9713a;
            padding-left: 19px;
            padding-right: 32px;
        }

        #search_mini_form.search__form.expanded {
            width: 205px;
            margin-right: 0;
        }


        .search__form:after,
        .search__form:before {
            display: none;
        }

        input#search[type=text] {
            font-size: 12px;
            color: #E9713A;
            font-weight: 700;
        }

        .navigational-menu {
            margin-top: 60px;
            width: auto;
        }

        .administrative-menu__item:after,
        .administrative-menu__item:before {
            background-position: top left;
            background-size: auto 19px;
        }

        .administrative-menu__item {
            padding-left: 28px;
            margin-right: 8px;

            &.search {
                padding-left: 0;
                margin-right: 0;
                margin-right: 10px;
            }
        }

        .block-search {
            width: auto;
        }

        .login:before {
            background-image: url(images/icon-login-new.svg);
        }

        .wpmm-strees-row-and-content-container {
            padding-top: 0;
            top: 88px;
        }
    }

    //header end

    .wp-megamenu-sub-menu.level-2 {
        li.wpmm-col-2:last-child {
            width: auto;

        }
    }

    .wp-megamenu-sub-menu.level-2 {
        li.wpmm-col-2:nth-child(5n) {
            margin-right: 0;
        }
    }

    .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li.wpmm_mega_menu> {
        .wpmm-strees-row-and-content-container>ul.wp-megamenu-sub-menu {
            border: 1px solid #e3e2e2;
            max-width: 1440px;
            text-align: left;
            width: 100%;
            margin: 0 auto;
            position: relative;
            padding: 20px 20px 66px;

        }
    }

    #wp-megamenu-menu-hf-right ul.wp-megamenu> {
        li.wpmm_mega_menu {
            li.wpmm-type-widget h4.wpmm-item-title {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 47px;
                color: #e9713a;
            }
        }
    }

    #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu {
        li.wpmm-type-widget .wpmm-item-title {
            text-transform: none;
        }

    }

    #wp-megamenu-menu-hf-right {
        .wp-megamenu-sub-menu.level-2 {
            li.wpmm-col-2:nth-child(1) {
                h4.wpmm-item-title {
                    color: #70A400;

                }

                .shop-icon {
                    &:hover {
                        background-image: url(images/show-all-icon-green.svg);
                        background-size: 8px;
                        transition: none;
                    }
                }

                .menu a,
                .shop-icon {
                    &:hover {
                        color: #70A400;
                    }

                }
            }
        }
    }


    #wp-megamenu-menu-hf-right .wp-megamenu-sub-menu.level-2 {
        li.wpmm-col-2:nth-child(2) {
            h4.wpmm-item-title {
                color: #A770B4;
            }

            .shop-icon {
                &:hover {
                    background-image: url(images/show-all-icon-violet.svg);
                    background-size: 8px;
                    transition: none;
                }
            }

            .menu a,
            .shop-icon {
                &:hover {
                    color: #B16BB8;
                }

            }
        }
    }


    #wp-megamenu-menu-hf-right {
        .wp-megamenu-sub-menu.level-2 {
            li.wpmm-col-2:nth-child(3) {
                h4.wpmm-item-title {
                    color: #449DCD;

                }

                .shop-icon {
                    &:hover {
                        background-image: url(images/show-all-icon-blue.svg);
                        background-size: 8px;
                        transition: none;
                    }
                }

                .menu a,
                .shop-icon {
                    &:hover {
                        color: #449DCD;
                    }

                }
            }
        }
    }

    #wp-megamenu-menu-hf-right {
        .wp-megamenu-sub-menu.level-2 {
            li.wpmm-col-2:nth-child(4) {
                h4.wpmm-item-title {
                    color: #DC4F58;
                }

                .shop-icon {
                    &:hover {
                        background-image: url(images/show-all-icon-red.svg);
                        background-size: 8px;
                        transition: none;
                    }
                }

                .menu a,
                .shop-icon {
                    &:hover {
                        color: #DC4F58;
                    }

                }
            }
        }
    }

    #wp-megamenu-menu-hf-right {
        .wp-megamenu-sub-menu.level-2 {
            li.wpmm-col-2:nth-child(6) {
                margin-right: 0;
            }
        }
    }


    #wp-megamenu-menu-hf-right .wpmm-nav-wrap ul.wp-megamenu>li {
        ul.wp-megamenu-sub-menu li a {
            &.shop-icon {
                background-image: url(images/show-all-icon.svg);
                background-repeat: no-repeat;
                background-position: center right;
                padding-right: 17px;
                margin-top: 4px;
                transition: none;
            }
        }
    }

    #wp-megamenu-menu-hf-right .wp-megamenu-sub-menu.level-2 {
        li.wpmm-col-2 h4.wpmm-item-title {
            margin-bottom: 7px !important;
            font-size: 14px !important;

            &.mobile-menu-right {
                display: none;
            }
        }
    }


    .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu li.wpmm_mega_menu {
        .wpmm-strees-row-and-content-container>.wp-megamenu-sub-menu>li> {
            .wp-megamenu-sub-menu>li {
                padding: 0;
            }
        }
    }

    .wp-megamenu-wrap {
        .wpmm-nav-wrap>ul.wp-megamenu li.wpmm_mega_menu {
            .wpmm-strees-row-and-content-container>.wp-megamenu-sub-menu>li {
                padding: 0;
            }
        }
    }

    .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li.wpmm_mega_menu>.wpmm-strees-row-and-content-container>ul.wp-megamenu-sub-menu {
        // display: block;
        // opacity: 1;
        // visibility: visible; //drop menu
    }

    .wpmm-col.wpmm-col-6 {
        min-width: 82px;
        width: auto;
        margin-right: 16px;
    }

    #header #wp-megamenu-menu-hf-left {
        .wpmm-strees-row-and-content-container {
            padding-top: 0;
        }
    }


    #header #wp-megamenu-menu-hf-left {
        ul.wp-megamenu>li.wpmm_mega_menu:nth-child(1) {
            li.wpmm-type-widget h4.wpmm-item-title.sub-submenu {
                color: #5e5c59;
                font-size: 14px;
                margin-bottom: 1px;
            }
        }
    }

    #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu {
        li.wpmm-type-widget .wpmm-item-title {
            text-transform: none;
        }
    }

    #wp-megamenu-menu-hf-left>.wpmm-nav-wrap {
        ul.wp-megamenu>li ul.wp-megamenu-sub-menu li a {
            color: #696764;
            font-family: BoosterNextFY, sans-serif !important;
            font-weight: 500;
        }

    }


    #wp-megamenu-menu-hf-left,
    #wp-megamenu-menu-hf-right {
        >.wpmm-nav-wrap {
            ul.wp-megamenu {
                >li {
                    ul.wp-megamenu-sub-menu {
                        li {
                            a {
                                font-family: BoosterNextFY, sans-serif !important;
                                font-weight: 500 !important;
                                font-size: 14px;
                                color: #696764;
                            }

                            font-family: BoosterNextFY,
                            sans-serif !important;
                            font-weight:500 !important;
                            font-size:14px;
                            color:#5E5C59;
                        }
                    }
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-family: BoosterNextFY, sans-serif !important;
                    font-weight: 500;
                    color: #5E5C59;
                }
            }
        }
    }

    .wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu {
        ul.wp-megamenu-sub-menu li.wpmm-type-widget {
            margin-bottom: -8px;
        }

    }

}


@media only screen and (min-width: 1200px) {

    #header {
        .site-branding {
            width: 275px;
        }

        #wp-megamenu-menu-hf-right {
            .wpmm-nav-wrap ul.wp-megamenu {
                margin-right: -20px;
            }

            .wpmm-nav-wrap ul.wp-megamenu>li {
                margin-left: 0;
                padding: 0 20px;

                &:first-child {
                    height: 90px;
                    cursor: pointer;
                }
            }
        }

        .menu-right {
            width: 50%;
        }

        .administrative-menu__item.search {
            margin-right: 26px;
        }

        .search__form input {
            width: 204px;
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu {
            li.wpmm-type-widget h4.wpmm-item-title.sub-submenu {
                white-space: nowrap;
            }
        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap {
            ul.wp-megamenu>li.wpmm_mega_menu ul.wp-megamenu-sub-menu {
                li:nth-child(3) {
                    margin-right: 0;
                }
            }

        }

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap {
            ul.wp-megamenu>li.wpmm_mega_menu ul.wp-megamenu-sub-menu {
                li:nth-child(4) {
                    margin-right: 0;
                }

            }
        }

        #wp-megamenu-menu-hf-left {
            .wpmm-strees-row-and-content-container {
                li.menu-promo-image {
                    min-width: 261px;
                    margin-right: 27px;
                }
            }
        }


        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu>li {
            ul.wp-megamenu-sub-menu li:last-child {
                li {
                    white-space: nowrap;
                    margin-right: 1.6%;
                }

                li:last-child {
                    margin-right: 0;
                }

                li.menu-promo-image {
                    margin-right: 27px;
                    min-width: 226px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }



        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu>li {
            ul.wp-megamenu-sub-menu li:last-child {
                li {
                    margin-right: 1.6%;
                    white-space: nowrap;
                }

                li:last-child {
                    margin-right: 0;
                }

                li.menu-promo-image {
                    margin-right: 27px;
                    min-width: 226px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

        }

    }

    #wp-megamenu-menu-hf-right>.wpmm-nav-wrap {
        .wp-megamenu-sub-menu.level-2 li.wpmm-col-2 {

            &:last-child,
            &:nth-last-child(2) {
                min-width: 261px;
            }
        }
    }

    .wp-megamenu-wrap {
        .wpmm-nav-wrap>ul.wp-megamenu>li.wpmm_mega_menu>.wpmm-strees-row-and-content-container>ul.wp-megamenu-sub-menu {
            padding: 20px 46px 61px;
        }
    }

    #header.site-header {
        &.sticky {
            .search__form input {
                width: 182px;
            }

            .administrative-menu__item.search {
                margin-right: 24px;
            }

            .menu-right {
                width: 524px;
            }

            .administrative-menu {
                top: -15px;
            }

            .administrative-menu__item {
                margin-right: 0;

                &.store-locator {
                    margin-right: 21px;
                    padding-left: 0;

                    a {
                        display: block;
                        font-size: 0;
                        width: 18px;
                        height: 21px;
                    }
                }

                &.cart {
                    padding-left: 2px;
                }
            }

        }
    }
}

@media only screen and (min-width: 1370px) {

    #header {

        #wp-megamenu-menu-hf-left>.wpmm-nav-wrap ul.wp-megamenu>li {
            ul.wp-megamenu-sub-menu li:last-child {
                li {
                    margin-right: 5.6%;
                }

                li.menu-promo-image {
                    margin-right: 27px;
                    min-width: 261px;
                }
            }
        }



        #wp-megamenu-menu-hf-right>.wpmm-nav-wrap ul.wp-megamenu>li {
            ul.wp-megamenu-sub-menu li:last-child {
                li {
                    margin-right: 5.6%;
                }

                li.menu-promo-image {
                    margin-right: 27px;
                    min-width: 261px;
                }
            }

        }

    }

}

@media only screen and (min-width: 1400px) {

    #header {
        .administrative-menu__item {
            margin-right: 24px;
        }
    }

    #header.site-header.sticky {
        .menu-right {
            width: 553px;
        }

        .search__form input {
            width: 204px;
        }


    }


}


@media only screen and (min-width: 1440px) {

    body {
        .site-header {
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}

@media only screen and (min-width: 1500px) {
    #header {
        #wp-megamenu-menu-hf-left {
            .wpmm-strees-row-and-content-container {
                max-width: 1440px;
                left: -20px !important;
            }
        }

        #menu-main-menuright {
            .wpmm-strees-row-and-content-container {
                max-width: 1440px;
                right: 0px !important;
                left: auto !important;
            }
        }

        &.sticky {
            #menu-main-menuright {
                .wpmm-strees-row-and-content-container {
                    right: -318px !important;
                }
            }

        }
    }
}