.header-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 3px 4px rgba(85, 85, 85, 0.03);

    @media @tablet-query {
        z-index: @z-index-high;
    }
}

.navigational-menu .dropdown-menu.visible {
    @media @tablet-query {
        visibility: hidden;
    }
}

.page-infant-feeding-support {
    #content {
        #formulafeeding {
            position: relative;
            margin-top: 0 !important;
        }
    }
    #footer {
        clear: both;
    }
}

.page-template-learning-center-category,
.page-our-story,
.page-our-experts,
.page-packaging-safety,
.page-farmed-for-our-future,
.single-post {
    #content.site-content {
        margin-top: 194px;

        .hero .main {
            padding-top: 180px;
        }

        @media @tablet-query {
            margin-top: 90px;

            .hero .main {
                padding-top: 80px;
            }
        }

        @media @mobile-query {
            margin-top: 55px;

            .hero .main {
                padding-top: 50px;
            }
        }
    }
}

.page-template-learning-center-category.page-recipes-meal-plans {
    #content.site-content {
        margin-top: 0;

        @media @tablet-query {
            margin-top: 0;
        }

        @media @mobile-query {
            margin-top: 55px;
        }
    }
}

.page-our-team {
    #content.site-content {
        margin-top: 280px;

        @media @tablet-query {
            margin-top: 174px;
        }

        @media @mobile-query {
            margin-top: 95px;
        }
    }
}

body.remove-top-spacing {
    #content.site-content {
        margin-top: 0;
    }

    @media @mobile-query {
        #content.site-content {
            margin-top: 50px;
        }
    }
}

div {
    .top-spacing-content {
        margin-top: 194px;

        @media @tablet-query {
            margin-top: 80px;
        }

        @media @mobile-query {
            margin-top: 0;
        }
    }
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 70px;
    z-index: @z-index-high;
    transition: 0.3s all;

    &.hidden {
        display: block;
        top: -125px;

        @media @tablet-query {
            top: -82px;
        }

        @media @mobile-query {
            top: -52px;
        }
    }

    &.hidden-sub-header {
        top: -242px;

        @media @tablet-query {
            top: -192px;
        }

        @media @mobile-query {
            top: -112px;
        }
    }

    &.condensed {
        height: 80px;

        .site-branding {
            width: 168px;
        }

        .administrative-menu {
            margin-top: 11px;
        }

        .dropdown-menu {
            top: 80px;
        }
    }

    @media @lgdesktop-query {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media @tablet-query {
        padding-left: 40px;
        padding-right: 40px;
        height: 80px;
    }

    @media @mobile-query {
        padding-left: 20px;
        padding-right: 20px;
        height: 50px;
    }

    &--with-sub-header {
        &+.site-content>.mini-hero:first-child .main {
            padding-top: 280px;

            @media @tablet-query {
                padding-top: 160px;
            }

            @media @mobile-query {
                padding-top: 112px;
            }
        }

        &+.site-content>.mini-hero.mini-hero--with-image:first-child .main {
            padding-top: 0;
        }
    }

    &--with-sub-header.--short-sub-header {
        .site-sub-header--with-images .site-sub-header-menu__item {
            margin-bottom: 10px;

            a {
                padding: 0;

                @media @mobile-query {
                    padding: 5px 0;

                    .site-sub-header-menu__title {
                        margin: 0;
                    }
                }
            }

            img {
                max-height: 37px;
                max-width: 60px;
                transform: translate(-50%, -50%) scale(1);

                @media @mobile-query {
                    transform: translate(-50%, -50%) scale(0.8);
                }
            }
        }

        &+.site-content>.hero:first-child {
            .main {
                margin-top: 240px;

                @media @tablet-query {
                    margin-top: 190px;
                }

                @media @mobile-query {
                    margin-top: 109px;
                }
            }
        }

        &+.site-content>.mini-hero:first-child .main {
            padding-top: 200px;

            @media @tablet-query {
                padding-top: 100px;
            }

            @media @mobile-query {
                padding-top: 90px;
            }
        }

        &+#content.site-content {
            margin-top: 123px;
        }

        &~.site-content>.mini-hero-stages.mini-hero {
            @media @tablet-query {
                padding-top: 52px;
            }

            @media @mobile-query {
                padding-top: 0px;
            }

        }

        &+.site-content>.mini-hero-stages.mini-hero {
            @media @tablet-query {
                padding-top: 52px;
            }

            @media @mobile-query {
                padding-top: 0px;
            }

        }

        &+.site-content>.mini-hero-stages:first-child .main {
            padding-top: 85px;
            margin-top: 0px;

            @media @tablet-query {
                padding-top: 0px;
                margin-top: 0px;
            }

            @media @mobile-query {
                padding-top: 0px;
                margin-top: 0px;
            }
        }

        &~.site-content>.mini-hero-stages:first-child .main {
            padding-top: 85px;
            margin-top: 0px;

            @media @tablet-query {
                padding-top: 0;
                margin-top: 0;
            }

            @media @mobile-query {
                padding-top: 0px;
                margin-top: 0px;
            }
        }
    }
}

.site-branding {
    .center();
    width: 260px;
    max-width: 19%;
    transition: 0.3s width;

    &__logo {
        width: 100%;

        @media(max-width:1023px) {
            width: 100%;
        }

        @media(max-width:1050px) {
            width: 92%;
        }

        @media(max-width:1230px) {
            width: 97%;
        }
    }

    @media @tablet-query {
        width: 160px;
        max-width: none;
    }

    @media @mobile-query {
        width: 108px;
    }
}

.menus-container {
    height: 100%;
    width: 100%;
    max-width: 1400px; // 1440px lgdesktop breakpoint minus 40px padding
    margin: auto;

    @media @tablet-query {
        position: fixed;
        background-color: #fff;
        left: -335px;
        top: 0;
        z-index: @z-index-uber;
        width: 330px;
        transition: 0.4s left ease-in-out;
        box-shadow: 3px 0 4px rgba(85, 85, 85, 0.03);

        &.expanded {
            left: 0;
        }
    }

    @media @mobile-query {
        width: 230px;
    }
}

.main-menu {
    display: block;
    height: 100%;

    @media @tablet-query {
        height: auto;

        &.categorical-menu {
            margin-top: 130px;
        }
    }

    @media @mobile-query {

        &.categorical-menu {
            margin-top: 85px;
        }
    }

    &__item {
        display: table;
        height: 100%;
        float: left;
        position: relative;

        a {
            text-decoration: none;
            display: table-cell;
            vertical-align: middle;

        }

        &:before {
            content: '';
            height: 3px;
            width: 0;
            position: absolute;
            left: 0;
            bottom: 40px;
            transition: width 0.2s ease-in-out 0s
        }

        &:hover:before {
            width: 100%;
        }

        &.desktop-hide {
            display: none;
        }

        @media @tablet-query {
            float: none;
            height: 42px;
            padding-left: 40px;
            border-bottom: 1px solid @lightgray;
            margin-bottom: auto;
            width: 100%;

            &:before,
            &:hover:before,
            &.desktop-only {
                display: none;
            }

            &.desktop-hide {
                display: table;
            }
        }

        @media @mobile-query {
            padding-left: 20px;
        }
    }

    &__dropdown {
        padding-right: 10px;
        padding-left: 45px;
        padding-bottom: 46px;
        height: auto;
        margin-top: 51.5px;
        margin-bottom: 0;

        &:after {
            content: '';
            height: 7px;
            width: 7px;
            border-right: 2px solid @orange;
            border-bottom: 2px solid @orange;
            position: absolute;
            top: 10px;
            transform: rotate(45deg) translateY(-8px);
            right: 2px;

            @media @tablet-query {
                display: none;
            }
        }

        &:before {
            display: none;
        }

        @media @tablet-query {
            padding-left: 40px;
            padding-bottom: 0;
            margin: auto 0 0;
            height: 42px;
        }

        @media @mobile-query {
            padding-left: 20px;
        }
    }

}

.navigational-menu,
.administrative-menu {
    float: right;
}

.menu-right {
    position: relative;
    height: 100%;

    @media @tablet-query {
        float: none;
        position: static;
    }
}

.categorical-menu {

    &__item {
        text-transform: lowercase;
        font-size: 26px;
        font-weight: 700;
        margin-right: 70px;
        font-family: @omnes;

        @media @smdesktop-query {
            margin-right: 40px;
        }
    }

    @media @tablet-query {
        float: none;

        &__item {
            font-size: 18px;
            margin: 0;
        }
    }

    @media @mobile-query {

        &__item {
            font-size: 16px;
        }
    }
}

.administrative-menu {
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    transition: 0.3s margin-top;

    &__item {
        position: relative;
        margin-right: 24px;

        @media @smdesktop-query {
            margin-right: 18px;
        }

        a {
            display: block;
            color: transparent;
            height: 17px;
            overflow: hidden;
            max-width: 20px;
            position: relative;
            z-index: @z-index-base;
        }

        &:before,
        &:after {
            content: '';
            background-repeat: no-repeat;
            transition: 0.3s all;
            margin-right: 0;
            background-position: top center;
            background-size: auto 17px;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:before {
            opacity: 1;
        }

        &:after {
            opacity: 0;
        }

        &:hover:after {
            opacity: 1
        }

        .account-links {
            a {
                float: left;

                +a {
                    margin-left: 13px;
                }
            }
        }
    }

    @media @tablet-query {
        width: 100%;
        margin-top: 80px;

        &__item {
            border: 0;
        }

        &:before {
            opacity: 0;
        }

        &:after {
            opacity: 1;
        }
    }

    @media @mobile-query {
        margin-top: 55px;
    }
}

.site-sub-header {
    width: 106%;
    float: left;
    margin-left: -3%;
    background-color: rgba(255, 255, 255, 0.9);

    @media @tablet-query {
        margin-top: 80px;
        width: 116%;
        margin-left: -8%;
    }

    @media @mobile-query {
        margin-top: 50px;
    }
}

.site-sub-header-menu {
    margin: 0 auto;
    text-align: center;

    &__item {
        margin: 0 36px;
        display: inline-block;
        height: 100%;

        @media @tablet-query {
            margin-left: 8%;
            margin-right: 0;

            &:first-child {
                margin-left: 0;
            }
        }

        a {
            color: @darkgray;
            font-size: 24px;
            font-weight: 700;
            text-decoration: none;
            position: relative;
            vertical-align: middle;
            display: block;
            padding-top: 40px;
            padding-bottom: 40px;

            @media @tablet-query {
                font-size: 20px;
            }

            @media @mobile-query {
                font-size: 10px;
                padding-top: 22px;
                padding-bottom: 22px;
            }

            .site-sub-header-menu__title {
                transition: 0.2s color;

                &:before {
                    content: '';
                    height: 4px;
                    width: 0;
                    position: absolute;
                    left: 0;
                    bottom: 34px;
                    transition: width 0.2s ease-in-out 0s;
                    background-color: @orange;

                    @media @tablet-query {
                        height: 3px;
                    }

                    @media @mobile-query {
                        height: 2px;
                        bottom: 18px;
                    }
                }
            }

            &:hover .site-sub-header-menu__title,
            &.active .site-sub-header-menu__title {
                color: @orange;

                &:before {
                    width: 100%;
                }
            }
        }

        &--hover-orange {
            a {
                &:hover .site-sub-header-menu__title {
                    color: @orange;
                }

                .site-sub-header-menu__title:before {
                    background-color: @orange;
                }
            }
        }

        &--hover-green {
            a {
                &:hover .site-sub-header-menu__title {
                    color: @green;
                }

                .site-sub-header-menu__title:before {
                    background-color: @green;
                }
            }
        }

        &--hover-yellow {
            a {
                &:hover .site-sub-header-menu__title {
                    color: @mediumyellow;
                }

                .site-sub-header-menu__title:before {
                    background-color: @mediumyellow;
                }
            }
        }

        &--hover-blue {
            a {
                &:hover .site-sub-header-menu__title {
                    color: @lightblue;
                }

                .site-sub-header-menu__title:before {
                    background-color: @lightblue;
                }
            }
        }

        &--hover-purple {
            a {
                &:hover .site-sub-header-menu__title {
                    color: @lightpurple;
                }

                .site-sub-header-menu__title:before {
                    background-color: @lightpurple;
                }
            }
        }
    }
}

.site-sub-header {
    &--with-images {
        .site-sub-header-menu {
            width: 53%;
            display: flex;
            justify-content: space-between;

            @media @tablet-query {
                width: 72%;
            }

            @media @tablet-query {
                width: 78%;
            }

            &__item {
                margin: 0;
                width: 120px;

                a {
                    padding-top: 26px;
                    padding-bottom: 35px;
                    position: relative;

                    .site-sub-header-menu__title:before {
                        height: 2px;
                        bottom: -5px;

                        @media @tablet-query {
                            bottom: -3px;
                        }
                    }

                    @media @tablet-query {
                        padding-top: 4px;
                        padding-bottom: 31px;
                    }

                    @media @mobile-query {
                        padding-top: 11px;
                        padding-bottom: 29px;
                    }
                }

                &-image-wrapper {
                    position: relative;
                    height: 70px;
                    width: 100%;

                    @media @mobile-query {
                        height: 40px;
                    }
                }

                img {
                    display: block;
                    .center();

                    @media @tablet-query {
                        transform: translate(-50%, -50%) scale(.8);
                    }

                    @media @mobile-query {
                        transform: translate(-50%, -50%) scale(.6);
                    }
                }
            }

            &__title {
                float: left;
                font-size: 15px;
                line-height: 1;
                display: block;
                .centerX();
                position: relative;

                @media @tablet-query {
                    font-size: 13px;
                    margin-top: 2px;
                }

                @media @mobile-query {
                    font-size: 10px;
                    margin-top: 7px;
                }
            }
        }
    }
}

.cart {

    &:before {
        background-image: url('images/icon-cart.svg');
    }

    &:after {
        background-image: url('images/icon-cart-orange.svg');
    }

    @media @tablet-query {
        right: 30px;
        top: 20px;
        position: absolute;
        width: 40px;
        height: 40px;

        &:before,
        &:after {
            content: '';
            background-size: 34px 27px;
            opacity: 1;
            height: 100%;
            width: 100%;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            background-position: center;
        }

        a {
            color: transparent;
            display: block;
            height: 100%;
            position: relative;
            z-index: @z-index-base;
        }
    }

    @media @mobile-query {
        top: 5px;
        right: 12px;

        &:before,
        &:after {
            background-size: 26px 22px;
        }
    }
}

.login {

    &:before {
        background-image: url('images/icon-login.svg');
        width: 20px;
    }

    &:hover:before {
        width: 20px;
    }

    &:after {
        background-image: url('images/icon-login-orange.svg');
        width: 20px;
    }

    @media @tablet-query {

        &.navigational-menu__item:before,
        &.navigational-menu__item:after {
            background-size: 13px auto;
            background-position: center;
            width: 18px;
            height: 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            left: 40px;
            top: 0;
            display: block;
        }

        &:hover:before {
            display: block;
        }

        a {
            padding-left: 25px;
        }
    }

    @media @mobile-query {

        &.navigational-menu__item:before,
        &.navigational-menu__item:after {
            left: 20px;
        }

        a {
            padding-left: 20px;
        }
    }
}

.store-locator {

    &:before {
        background-image: url('images/icon-pin.svg');
    }

    &:after {
        background-image: url('images/icon-pin-orange.svg');
    }

    @media @tablet-query {
        background-image: none;

        &:hover {
            background-image: none;
        }
    }
}

.search {
    padding: 3px 0 3px 3px;
    margin-right: 0;
    margin-top: -10px;
    height: auto;
    display: block;
    width: auto;
    z-index: @z-index-base;

    @media @smdesktop-query {
        width: auto;
    }

    &:before,
    &:after,
    &__close {
        display: none;
    }

    &__form.expanded+&__close {
        background-image: url('images/icon-circled-x.svg');
        width: 35px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 25px;
        left: auto;
        background-position: center right;
        background-size: 15px 15px;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
    }

    &__form {
        border-radius: 5px;
        padding-right: 20%;
        border: 1.1px solid transparent;
        height: 25px;
        position: relative;
        width: 43px;
        cursor: pointer;
        float: right;

        &:before,
        &:after {
            content: '';
            background-repeat: no-repeat;
            background-size: cover;
            .centerY();
            left: 9px;
            height: 17px;
            margin-top: 2px;
            width: 14px;
        }

        &:before {
            background-image: url('images/icon-search.svg');
            opacity: 1;
        }

        &:after {
            background-image: url('images/icon-search-orange.svg');
            opacity: 0;

            @media @tablet-query {
                margin-top: 0;
                left: 0;
            }

            @media @mobile-query {
                left: 3px;
                margin-top: 2px;
            }
        }

        &:hover:after {
            opacity: 1;
        }

        &.expanded {
            border-color: @mediumgray;
            width: 200px;
            margin-right: 20px;

            &:after {
                opacity: 1;
            }

            .search__icon {
                z-index: @z-index-base;
            }
        }
    }

    &__field {
        max-width: 0;
        transition: 0.6s max-width;
        display: none;
        border: 0;
        position: absolute;
        left: 30px;
        top: 0;
        height: 100%;
        font-size: 14px;
        color: @mediumgray;
        background: transparent;

        &.expanded {
            max-width: 200px;
        }

        &::-webkit-input-placeholder {
            color: transparent;
        }

        &::-moz-placeholder {
            color: transparent;
        }

        &:-ms-input-placeholder {
            color: transparent;
        }

        &:-moz-placeholder {
            color: transparent;
        }

    }

    &__icon {
        position: relative;
        border: 0;
        background-color: transparent;
        color: transparent;
        padding: 0;
        height: 100%;
        width: 25px;
    }

    @media @tablet-query {
        height: 40px;
        padding: 0 40px;
        margin: 0;
        width: auto;

        &__form,
        &__form.expanded {
            border: 1.1px solid @orange;
            width: 100%;
            height: 40px;
            border-radius: 25px;
            padding: 0 0 0 45px;
            margin: 0;

            &:after {
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px auto;
                opacity: 1;
                height: 100%;
                width: 20px;
                left: 0;
            }

            &:before {
                opacity: 0;
            }
        }

        &__field,
        &__field.expanded {
            max-width: none;
            position: relative;
            left: auto;
            width: 90%;

            &::-webkit-input-placeholder {
                color: @orange;
                letter-spacing: 0.3px;
                font-size: 14px;
                font-weight: 700;
            }

            &::-moz-placeholder {
                color: @orange;
                letter-spacing: 0.3px;
                font-size: 14px;
                font-weight: 700;
            }

            &:-ms-input-placeholder {
                color: @orange;
                letter-spacing: 0.3px;
                font-size: 14px;
                font-weight: 700;
            }

            &:-moz-placeholder {
                color: @orange;
                letter-spacing: 0.3px;
                font-size: 14px;
                font-weight: 700;
            }

        }

        &__icon {
            display: none;
        }

    }

    @media @mobile-query {
        padding: 0 20px;
        height: 25px;

        &__form,
        &__form.expanded {
            height: 25px;
            padding: 0 0 0 30px;

            &:after {
                width: 34px;
                background-size: 13px auto;
                background-position: center left 5px;
            }
        }

        &__field,
        &__field.expanded {
            font-size: 13px;

            &::-webkit-input-placeholder {
                font-size: 12px;
            }

            &::-moz-placeholder {
                font-size: 12px;
            }

            &:-ms-input-placeholder {
                font-size: 12px;
            }

            &:-moz-placeholder {
                font-size: 12px;
            }

        }
    }
}

.ais-search-box--reset {
    top: 3px;
    display: none;

    svg {
        width: 11px;
        height: 11px;
    }

    &:hover {
        border: none;
    }
}

.ais-search-box--magnifier svg {
    display: none;
}

input#search {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;

    &[type="text"] {
        font-size: 15px;
    }
}

.navigational-menu {
    clear: right;
    margin-top: 5px;

    &__item {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        margin-left: 45px;
        font-family: @booster;

        @media @smdesktop-query {
            margin-left: 20px;
        }

        @media @tablet-query {
            margin-left: 0;
        }

        &>a {
            color: @orange;
        }

        &:before {
            background-color: @orange;
            bottom: 45px;
        }
    }

    @media @tablet-query {
        float: none;
        margin-top: 0;

        &__item a {
            color: @lightgray;
        }
    }

    @media @mobile-query {

        &__item {
            font-size: 13px;
        }
    }
}

.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
    display: none;
    position: fixed;
    top: 124px;
    width: 100%;
    left: 0;
    justify-content: center;
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
    z-index: @z-index-high;

    &__container {
        flex-direction: row;
        display: flex;
        padding: 44px 0;
    }

    &__section {
        padding-right: 52px;
        display: inline-block;

        &:last-child {
            padding-right: 0;
        }
    }

    &__categories {
        border-right: 3px solid #e6e6e6;
        margin-right: 52px;
    }

    &__item {
        font-size: 16px;
        line-height: 1.5em;
        text-transform: initial;
        font-weight: 500;
        margin-bottom: 0;

        a {
            display: inline;
        }

        &:not(.dropdown-menu__header):not(:last-child) a {
            color: @darkgray;
            transition: 0.3s color;

            &:hover {
                color: @orange;
            }
        }
    }

    &__header {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
    }

    &__ages {
        font-size: 15px;
        text-transform: lowercase;
        font-weight: 500;
    }
}

// display dropdown menu on parent hover
.dropdown-menu.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    display: flex !important;

    @media @tablet-query {
        display: none;
    }
}

.site-header.hidden .dropdown-menu.visible {
    visibility: hidden;
    opacity: 0;
}

// Tablet/mobile icon styles
.nav-toggle {
    width: 40px;
    position: absolute;
    cursor: pointer;
    top: 22px;
    left: 30px;
    height: 40px;
    z-index: 5; // above @z-index-uber, highest element on site

    &:before {
        display: none;
    }

    &__icon,
    &__icon:before,
    &__icon:after {
        content: '';
        display: block;
        width: 28px;
        height: 3px;
        background: @orange;
        position: absolute;
        top: 50%;
        transition: 0.15s all ease-in, 0.15s top 0.15s cubic-bezier(0.175, 0.885, 0.320, 1.6), 0s background 0.15s;
    }

    &__icon {
        .centerX();
    }

    &__icon:before {
        top: -8px;
    }

    &__icon:after {
        top: 8px;
    }

    // Nav toggle icon when menu is expanded

    &.expanded {
        position: fixed;
    }

    &.expanded .nav-toggle__icon {
        background: transparent;
        transition: 0s background 0.15s;

        &:before,
        &:after {
            background: @orange;
            top: 0;
            height: 2px;
            transform: rotate(45deg);
            transition: 0.15s all 0.15s cubic-bezier(0.175, 0.885, 0.320, 1.6), 0.15s top ease-in;
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    @media @mobile-query {
        top: 5px;
        left: 14px;
    }
}

//Magento header style
.minicart-items .product-item-name {
    padding-right: 40px;
}

.checkout-index-index .nav-toggle {
    @media @tablet-query {
        display: block
    }
}

.page-header .administrative-menu {
    right: 25px;

    @media @tablet-query {
        right: 0;
    }
}

.page-header .administrative-menu__item.login {
    margin-right: 46px;

    @media @lgdesktop-query {
        margin-right: 36px;
    }

    @media @smdesktop-query {
        margin-right: 28px;
    }
}

.account__dropdown {
    .customer-account {
        @media @tablet-query {
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 30px;
            padding-bottom: 10px;
            border-bottom: 1px solid @lightgray;
        }
    }

    .customer-logout {
        @media @tablet-query {
            margin-left: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    a {
        @media @tablet-query {
            font-weight: 700;
        }
    }
}

.header-minicart {
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    z-index: @z-index-uber;
}

.opc-estimated-wrapper .minicart-wrapper {
    display: none;
}

.block-minicart .block-content>.actions>.primary {
    float: none;

    button {
        float: none;
    }
}

.block-minicart .block-content>.actions>.secondary {
    margin-left: auto;
}


.minicart-wrapper {
    margin: 0;
    padding: 0;
    top: 17px;
    width: auto;
    z-index: @z-index-base;

    @media @smdesktop-query {
        padding-right: 15px;
    }

    @media @tablet-query {
        top: 30px;
    }

    @media @mobile-query {
        top: 13px;
    }

    &.active .block-minicart {
        max-height: 600px;
        overflow: auto;
        right: 5px;
        top: -100px;

        @media @tablet-query {
            top: 20px;
        }
    }

    .items-total,
    .subtotal {
        color: @lightgray;
    }

    .action.viewcart {
        display: block;

        span {
            color: @orange;
        }
    }

    .action.showcart {
        position: absolute;
        right: 0;
        top: -175px;
        height: 20px;

        @media @tablet-query {
            top: 0;
        }

        @media @mobile-query {
            top: 5px;
        }

        &:before,
        &.active:before {
            content: '';
            width: 23px;
            height: 23px;
            background-image: url(./images/icon-cart.svg);
            background-repeat: no-repeat;
            background-size: contain;

            @media @tablet-query {
                width: 26px;
                height: 22px;
                background-image: url(./images/icon-cart-orange.svg);
                font-size: 40px;
            }
        }

        &:hover:before {
            content: '';
            width: 23px;
            height: 23px;
            background-image: url(./images/icon-cart-orange.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:active:before {
            color: @orange;
        }
    }

    .action.close {
        min-width: auto;
    }

    .action.close:before {
        color: @darkgray;
    }

    .showcart {
        max-width: 61px;
        height: auto;

        @media @tablet-query {
            width: auto;
            height: 35px;
        }
    }

    .action.showcart .counter.qty {
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        margin: -10px 0 10px -23px;
        font-size: 15px;
        font-family: @booster;
        font-weight: 700;
        background: @orange;

        @media @tablet-query {
            float: right;
        }
    }

    .product-item-details {
        position: relative;

        a {
            color: @darkgray;
            font-weight: 700;
        }

        .price {
            font-size: 16px;
        }
    }

    .block-content {
        span {
            color: @darkgray;
            font-weight: 700;
        }
    }

    .product .actions {
        position: absolute;
        top: 20px;
        right: 0;
    }

    .minicart-items-wrapper {
        margin: 20px -20px;
    }

    .minicart-items .product-item {
        padding: 10px 0;
    }

    .minicart-items {
        .product-item-pricing .label {
            display: none;
        }

        .item-qty {
            margin-right: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
        }
    }

    span.price-excluding-tax,
    span.minicart-price {
        display: block;
        float: right;
    }

    @media @smdesktop-query {
        margin-left: 20px;
    }
}

.header.content,
.minicart-items .action.edit,
#invitation-send-link,
.block-search .nested {
    display: none;
}

.block-search {
    //magento
    width: 297px;
    margin: 2px 0 0;

    .block-content {
        width: 100%;
    }

    @media @smdesktop-query {
        width: 100%;
    }

    label {
        display: none
    }

    @media @tablet-query {
        input {
            left: 0;
        }
    }
}

#algolia-searchbox .magnifying-glass {
    background: none;
}

#search_mini_form.search__form {
    border: 0;
    padding-right: 0;

    @media @tablet-query {
        padding: 0;
        width: 100%;
        padding-left: 25px;
    }

    @media @mobile-query {
        //	padding-left: 0;
    }

    #algolia-glass {
        display: none !important;
    }

    input {
        border: 0;
        width: 0;
        padding: 0;

        @media @tablet-query {
            border: 1px solid @orange;
            padding: 0 10px 0 30px;
            width: 100%;
            height: 40px;
        }

        @media @mobile-query {
            height: 30px;

        }
    }

    &.expanded {
        width: 100%;

        input {
            border: 1px solid @lightestgray;
            width: 100%;
            padding-left: 30px;
            padding-right: 10px;
        }

        .ais-search-box--reset {
            display: block;
        }
    }

}

.administrative-menu__item.login {
    margin-right: 36px;
    padding-bottom: 10px;
    cursor: pointer;

    .account__dropdown {
        display: none;
        position: absolute;
        height: auto;
        padding: 20px;
        margin-top: 23px;
        background: @offwhite;
        margin-left: -111px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        li {
            margin-bottom: 10px;

            a:hover {
                border-bottom: 2px solid @orange;
            }

        }

        a {
            max-width: none;
            color: @orange;
            width: 100px;
            height: auto;
            display: block;
        }
    }

    &:hover .account__dropdown {
        display: block;
    }

    @media @smdesktop-query {
        margin-right: 16px;
    }

}

//End Magento header style

/*sticky header scroll*/

.top-banner-block {
    .darkHeader {
        display: none;
        height: 0;
    }
}

.darkHeader {
    .header-container {
        .site-branding {
            display: none;
        }
    }
}

.darkHeader {
    .header-container {
        .cart {
            display: none;
        }
    }
}

.darkHeader {
    .menus-container {
        .categorical-menu {
            display: none;
        }
    }
}

.darkHeader {
    .menus-container {
        .menu-right {
            display: none;
        }
    }
}

.site-header {
    .menus-container {
        .overlay-content {
            display: none;
        }
    }
}

.darkHeader {
    .menus-container {
        .overlay-content {
            display: block;
        }
    }
}

.darkHeader {
    background-color: #fff;
}

.mobsticky {
    display: none;
}

.moblay {
    display: none;
}

.desklay {
    display: block;
}

@media only screen and (max-width: 1023px) {

    .desklay {
        display: none;
        height: 0;
    }

    .moblay {
        display: block;
    }

    .mobsticky {
        display: none;
    }

    .darkHeader .mobsticky {
        display: block;
        background-color: #fff;
        width: 100%;
        float: left;
        position: absolute;
        left: 0;
        top: -3%;
        z-index: 9;
        height: 80px;
        padding: 14px 20px;

        .left {
            float: left;

            h1 {
                font-family: BoosterNextFY, sans-serif;
                font-weight: 500;
                font-size: 43px;
                line-height: 43px;
                letter-spacing: -1.99px;
                text-transform: none;
            }
        }
    }

    .darkHeader {
        .mobsticky {
            .right {
                float: right;

                img {
                    width: 40px;
                    height: 40px;
                    margin-top: 4px;
                }

                a {
                    cursor: pointer;
                }
            }
        }
    }

    .footfix {
        top: auto !Important;
        bottom: 0 !important;
    }

    .cross {
        font-size: 54px !important;
        top: 33px;
        right: 28px;
    }

    .overlay_1 {
        transition: none
    }

    .content-master-list .content-block h2 {
        letter-spacing: 0px;
    }

    .footfix img {
        margin-right: 24px
    }

    .site-branding__logo {
        margin-top: 9px
    }

    .mob-video-title {
        color: #fff;
        color: #fff;
        position: absolute;
        left: 50px;
        top: 623px;
        text-transform: uppercase !important;
        font-size: 14px !important;
    }

    .sty {
        font-size: 14px !important;
        text-transform: uppercase !important;
        margin-top: 7px !important;
    }

    .sty1 {
        font-size: 12px !important;
    }

}

.desk img {
    width: 59px;
    height: 59px;
    margin-top: -13px;
}

.tog-ham {
    cursor: pointer;
}

.cross {
    font-size: 42px !important;
    margin-top: 5px;
}

.darkHeader {
    .banner-links {
        display: none;
    }

    .site-header {
        top: 0px !important;
        background-color: #fff;
    }
}

.sticky-header {
    #content.site-content>* {
        display: none;
    }

    .tog-ham {
        display: none;
    }

    .cross {
        display: block;
    }
}

#content.site-content {
    margin-top: 123px;

    @media @tablet-query {
        margin-top: 81px;
    }

    @media @mobile-query {
        margin-top: 50px;
    }
}

//HFOBCS2-245 start
.page-fruit-oat-bars,
.page-fiber-protein,
.page-clearly-crafted-cereal,
.page-superfoods {
    #content.site-content {
        margin-top: 0px;
    }
}

.page-toddler-snacks,
.page-toddler-mealtime,
.page-clearly-crafted-purees,
.page-super-morning,
.page-breastfeeding-support {
    #content.site-content {
        margin-top: 0px;
    }
}

//HFOBCS2-245 end
.lazyload {
    opacity: 0;
}

.lazyloading {
    opacity: 1;
    -ms-transition: 600ms opacity;
    -webkit-transition: 600ms opacity;
    transition: 600ms opacity;
    background: #f7f7f7 url('images/loader-1.gif') no-repeat center;
    background-size: 40px 40px !important;
    min-height: 50px;
    font-size: 10px;
}

.ls-detail .ls-detail-footer {
    display: none;
}

.page-quality-safety {
    #content.site-content {
        margin-top: 124px;

        @media @tablet-query {
            margin-top: 80px;
        }

        @media @mobile-query {
            margin-top: 50px;
        }
    }
}

body #content.site-content {
    margin-top: 124px;

    @media @tablet-query {
        margin-top: 80px;
    }

    @media @mobile-query {
        margin-top: 50px;
    }
}

body {
    .site-header--with-sub-header.--short-sub-header+#content.site-content {
        margin-top: 174px;

        @media @tablet-query {
            margin-top: 123px;
        }

        @media @mobile-query {
            margin-top: 115px;
        }

    }


}

.page-our-team {
    .team-hero.mini-hero .main {
        padding-top: 135px;

        @media @tablet-query {
            padding-top: 0;
        }

    }

    .mini-hero {
        @media @tablet-query {
            padding: 15px 0 45px;
        }
    }
}

.page-our-story {
    section.vc_section.mini-hero--with-image.mini-hero {
        margin-top: 125px;

        @media @tablet-query {
            padding-top: 0;
            margin-top: 0;
        }
    }
}