// Positioning classes

.clearfix() {
	*zoom: 1;
	&:before, &:after { display: table; content: ""; }
	&:after { clear: both; }
}

.center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerX() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.centerY() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.hidden {
	display: none;
}

.float-right,
[class^="col-"].float-right, 
[class*=" col-"].float-right {
	float: right;
}

.float-left,
[class^="col-"].float-left, 
[class*=" col-"].float-left {
	float: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

// Text colors with/without arrows

.text-white,
.text-white a,
.text-white * {
	color: #fff;

	&:before { background-color: #fff; }
}

.text-orange,
.text-orange a,
.text-orange * {
	color: @orange;

	&:before { background-color: @orange; }
	&:after { border-color: @orange; }
}

.text-red,
.text-red a,
.text-red * {
	color: @red;

	&:before { background-color: @red; }
	&:after { border-color: @red; }
}

.text-pink,
.text-pink a,
.text-pink * {
	color: @pink;

	&:before { background-color: @pink; }
	&:after { border-color: @pink; }
	a:hover {
		color: @pink;
	}

}

.text-green,
.text-green a,
.text-green *{
	color: @green;

	&:before { background-color: @green; }
	&:after { border-color: @green; }
	a:hover {
		color: @green;
	}
}

.text-lightpurple,
.text-lightpurple a,
.text-lightpurple * {
	color: @lightpurple;

	&:before { background-color: @lightpurple; }
	&:after { border-color: @lightpurple; }
	a:hover {
		color: @lightpurple;
	}
}

.text-lightblue,
.text-lightblue a,
.text-lightblue * {
	color: @lightblue;
	&:before { background-color: @lightblue; }
	&:after { border-color: @lightblue; }
	a:hover {
		color: @lightblue;
	}
}

.text-mediumyellow,
.text-mediumyellow a,
.text-mediumyellow * {
	color: @mediumyellow;

	&:before { background-color: @mediumyellow; }
	&:after { border-color: @mediumyellow; }
	a:hover {
		color: @mediumyellow;
	}
}

.text-darkgray,
.text-darkgray a,
.text-darkgray * {
	color: @darkgray;

	&:before { background-color: @darkgray; }
}

// Bings on headers

.with-bings {
	position: relative;
	width: auto;
	margin-left: auto;
	margin-right: auto;

	&:after, &:before {
		content: '';
		background-image: url('images/accent-bing.svg');
		background-repeat: no-repeat;
		position: absolute;
		left: -45px;
		top: 0;
		width: 34px;
		height: 100%;
	}

	&:after {
		transform: scaleX(-1);
		right: -45px;
		left: auto;
	}
}

// Section borders

.rough-border(@color) {
	position: relative;

	&:before, &:after {
		content: '';
		background-image: url('images/border-@{color}.svg?v=2');
		width: 100%;
		height: 10px;
		background-size: 890px auto;
		position: absolute;
		left: 0;
		transition: 0.3s all;

		@media @mobile-query {
			background-size: 600px auto;
		}
	}

	&:before {
		top: -10px;
		background-position: top center;

		@media @mobile-query {
			top: -6px;
		}
	}

	&:after {
		bottom: -10px;
		background-position: bottom center;

		@media @mobile-query {
			bottom: -6px;
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		&:before,
		&:after {
			display: none;
		}
	}

}

.rough-border--vertical-border(@color) {
	&:before, &:after {
		background-image: url('images/border-@{color}-vertical.svg');
		background-size: cover;
		z-index: @z-index-base;
		height: 100%;
		width: 27px;
		top: 0;
	}

	&:before {
		left: -13px;
	}

	&:after {
		right: -15px;
		left: auto;
	}
}

.border-bottom:before { display: none; }
.border-top:after { display: none; }
.border-blue { .rough-border(blue); }
.border-orange { .rough-border(orange); }
.border-green { .rough-border(green); }
.border-purple { .rough-border(purple); }
.border-beige { .rough-border(beige); }
.border-light-beige { .rough-border(lightbeige); }
.border-yellow { .rough-border(yellow); }
.border-offwhite { .rough-border(offwhite); }


.border-white { 
	.rough-border(white);

	&:before {
		background-position: bottom left;
		top: 0;

	}

	&:after {
		background-position: top left;
		bottom: 0;
	}

	@media @mobile-query {

		&:before {
			top: -10px;
		}

		&:after {
			bottom: -10px;
		}
	}

}

// Input placeholders

.placeholder(@color, @size, @weight) {

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: @color;
		font-size: @size;
		font-weight: @weight;
	}

	&::-moz-placeholder { /* Firefox 19+ */
		color: @color;
		font-size: @size;
		font-weight: @weight;
	}
	
	&:-ms-input-placeholder { /* IE 10+ */
		color: @color;
		font-size: @size;
		font-weight: @weight;
	}
	
	&:-moz-placeholder { /* Firefox 18- */
		color: @color;
		font-size: @size;
		font-weight: @weight;
	}
}

// Breakpoint helpers

.mobile-only,
.tablet-only,
.desktop-hide {
	display: none;
}

@media @tablet-query {

	.desktop-only {
		display: none;
	}

	.tablet-only,
	.desktop-hide {
		display: block;
	}

}

@media @mobile-query {

	.tablet-only,
	.mobile-hide {
		display: none;
	}

	.mobile-only {
		display: block;
	}

}

.img-desktop-display(@display-type) {
	img.desktop-hide {
		display: none;

		@media @tablet-query {
			display: @display-type;
		}
	}

	img.desktop-only {
		display: @display-type;

		@media @tablet-query {
			display: none;
		}
	}
}

@media (min-width: @tablet-design) {
	.tablet-down {
		display: none;
	}
}

@media (max-width: (@tablet-design - 1px)) {
	.tablet-up {
		display: none;
	}
}