.home-ingredient-carousel {
	&, .slick-list, .slick-slide {
		height: 680px;
		width: 100%;

		@media @mobile-query {
			height: 580px;
		}
	}

	&.vc_section {
		margin-bottom: 20px;
	}

	.slick-slide {
		width: 100%;
		
		& > div, .main, .col-12 {
			height: 100%;
			position: relative;
		}
	}

	.carousel-arrow();
	.slick-arrow {
		background-image: url('images/carousel-arrow-orange.svg');
		height: 50px;
		width: 50px;
		left: 25px;
		transition: 0.3s transform;

		&:hover {
			transform: scale(1.2) translateY(-50%);
		}

		&.slick-next {
			right: 25px;

			&:hover {
				transform: scaleX(-1.2) scaleY(1.2) translateY(-50%);
			}
		}

		@media @mobile-query {
			height: 40px;
			width: 40px;
			left: 10px;
			top: 170px;

			&.slick-next {
				right: 10px;
			}
		}
	}

	.slick-dots {
		opacity: 0;
		text-align: center;
		.centerX();
		bottom: 5px;

		li {
			display: inline-block;
			background: #fff;
			border-radius: 100%;
			border: 0;
			height: 7px;
			width: 7px;
			margin: 0 12px 0 0;
			transition: 0.3s background;
		}

		button {
			opacity: 0;
		}

		li.slick-active {
			background: @green;
		}

		@media @mobile-query {
			opacity: 1;
		}
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			min-height: 100%;
			width: auto;
			min-width: 100%;
			max-width: 1440px;
			.center();

		}
	}

	&__description {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 36px 0 32px 70px;
		background-color: rgba(120, 161, 9, 0.42);

		p {
			width: 700px;
			font-family: @booster;
			font-weight: 700;
			color: #fff;
			font-size: 24px;
			line-height: 1.3;
			max-width: 50%;
		}

		a {
			.button();
			.centerY();
			right: 0;
			background-color: #fff;
			border-radius: 23px 0 0 23px;
		}

		@media @tablet-query {
			padding: 30px 0 10px;
			width: 100%;

			p {
				font-size: 18px;
				max-width: 100%;
				margin: 0 auto 20px;
				text-align: center;
			}

			a {
				font-size: 16px;
				padding: 0 60px 0 40px;
				border-radius: 20px;
				position: relative;
				top: auto;
				transform: none;

				&:after {
					right: 45px;
				}
			}

		}

		@media @mobile-query {
			padding: 25px 10px;
			position: absolute;
			bottom: 0;
			left: 0;

			p {
				font-size: 16px;
			}
		}

	}

	&__overlayed-text {
		position: absolute;
		top: 50px;
		right: calc(50% - 50px);
		width: 50%;
		text-align: center;

		@media @mobile-query {
			top: 15px;
			left: 0;
			width: 100%;
		}

		h1 {
			position: relative;
			overflow: visible;
			display: inline;

			@media @smdesktop-query {
				font-size: 50px;
			}

			@media @mobile-query {
				font-size: 30px;
				letter-spacing: 1.8px;
				margin-bottom: 10px;
				text-align: center;
			}

	    	&:after {
				content: '';
				opacity: 0;
				background-image: url('images/arrow-looped.svg');
				width: 130px;
				height: 130px;
				background-size: contain;
				bottom: -115px;
				right: -100px;
				display: inline-block;
				background-repeat: no-repeat;
				transform: rotate(45deg);
				position: absolute;

				@media @tablet-query {
					height: 100px;
					width: 100px;
					bottom: -90px;
					right: -70px;
				}

				@media @mobile-query {
					height: 70px;
					width: 70px;
					bottom: -70px;
					right: -45px;
					transform: scaleX(-1) rotate(90deg);
				}
	    	}
		}
	}

	.green &__description {
		background-color: rgba(120, 161, 9, 0.7);

		a {
			color: @green;

			&:after {
				border-color: @green;
			}
		}
	}

	.blue &__description {
		background-color: rgba(0, 158, 210, 0.7);

		a {
			color: @lightblue;

			&:after {
				border-color: @lightblue;
			}
		}
	}

	.orange &__description {
		background-color: rgba(234, 118, 65, 0.7);

		a {
			color: @orange;

			&:after {
				border-color: @orange;
			}
		}
	}

	&__overlayed-text.hide-arrow h1:after {
		display: none;
	}

	.purple &__description {
		background-color: rgba(177, 107, 185, 0.7);

		a {
			color: @lightpurple;

			&:after {
				border-color: @lightpurple;
			}
		}
	}

	// Animations!

	&.viewed &__overlayed-text h1:after {
		opacity: 1;
	}
}



.home-learning-center {
	background: transparent;

	&.hover-tabs {
		padding: 0 0 25px;

		@media @tablet-query {
			padding: 25px 0;
		}

		p {
			width: 100%;
			max-width: inherit;
		}
	}

	.learning-center-carousel {
		padding: 0;

		@media @smdesktop-query {
			margin-left: 5%;

			&__container {
				max-width: calc(100% - 50px);
			}
		}

		@media @tablet-query {
			margin: 0 auto;
			width: 375px;
			max-width: 100%;
			float: none;

			&__container {
				max-width: calc(100% - 50px);
			}
		}
	}

	@media @tablet-query {
		min-height: 0;
		padding-top: 50px;
		background-color: #fff;
		z-index: @z-index-base;
		.rough-border(white) !important;

		&:before, &:after {
			background-size: auto 100%;
		}

		.col-12 {
			padding: 0;
		}

		.hover-tabs__container {
			display: none;
		}
	}

	h1, p {
		text-align: center;
		margin: 0 auto 37px;

		@media @tablet-query {
			margin-bottom: 25px;
			color: @orange;

			br { display: none; }
		}
	}

	@media @mobile-query {
		padding-top: 30px;

		p {
			width: 268px;
			font-size: 14px;
		}

		h1 {
			width: 250px;
		}
	}

	&__navigation  {
		background-color: @lightblue;
		padding-top: 70px;
		margin-bottom: 100px;

		& > .col-12 {
			float: none;
		}

		@media @tablet-query {
			background-color: #fff;
			margin-bottom: 0;
			padding-top: 0;

			&:before, &:after {
				background-image: none;
			}
		}
	}

	&__intro {

		a {
			.button();
			color: @lightblue;
			background-color: #fff;
			margin-bottom: 20px;

			&:after {
				border-color: @lightblue;
			}

			@media @tablet-query {
				color: #fff;
				background-color: @orange;

				&:after {
					border-color: #fff;
				}
			}

			@media @mobile-query {
				font-size: 16px;
				padding: 0 43px 0 23px; 

				&:after {
					right: 25px;
				}

				&:hover:after {
					right: 25px;
				}
			}
		}

		p {
			color: #fff;
		}

		@media @tablet-query {
			max-width: 600px;
			width: 95%;
			margin: auto;

			h1 {
				font-size: 45px;
			}

			p {
				color: @orange;
			}
		}

		@media @mobile-query {

			h1 {
				margin-bottom: 20px;
				font-size: 35px;
				width: auto;
			}

			h1 + p {
				margin-bottom: 20px;
			}
		}
	}

	.hover-tab {
		position: relative;
		width: 30%;

		img {
			height: 135px;
			transition: 0.3s transform;
			width: auto;
			max-width: none;

			&:hover {
				transform: scale(1.1);
			}
		}

		&__title {
			color: #fff;
		}
		
		// only show active arrow on desktop
		&.active:after {
			content: '';
			height: 77px;
			width: 77px;
			border-radius: 10px;
			background-color: @lightblue;
			.centerX();
			bottom: -60px;
			transform: rotate(45deg) translateX(-50%);
			z-index: -1;

			@media @tablet-query {
				display: none;
			}
		}
		
		// hide bing from hover tabs component
		&.active .hover-tab__icon-container:after {
			display: none;
		}
	}
}

// Homepage-specific styles
.home-learning-center .tab-content {

	& > .col-12 {
		height: 100%;
	}

	.vc_column_container {
		padding-top: 75px;
		height: 100%;
		display: flex;
		align-items: center;

		@media @smdesktop-query {
			width: 1000px;
			float: none;
			margin: auto;
			max-width: 95%;
		}

		@media @tablet-query {
			padding-top: 40px;
		}

		@media @mobile-query {
			padding-top: 0;
		}
	}

	&.active {
		z-index: @z-index-base;
	}

	&__intro {
		margin-left: 5%;
		width: 28%;

		@media @smdesktop-query {
			margin: 0;
			width: 32%;
		}

		@media @tablet-query {
			margin: 0 auto;
			width: 375px;
			max-width: 100%;
			float: none;

			h1 {
				display: none;
			}
		}

		p {
			width: 100%;
			color: inherit;
		}

		a {
			.button();
		}
	}
}

.home-learning-center .learning-center-card {
	width: 390px !important;
	position: relative;
	box-shadow: none;
	overflow: visible;

	@media @lgdesktop-query {
		margin-right: 0;
		margin-left: 0;
	}

	@media @tablet-query {
		margin-bottom: 50px;
		
		&.rough-border:before {
			display: none;
		}
	}

	&__image {
		position: absolute;
		width: 385px;
		height: auto;
		z-index: @z-index-base;

		@media @tablet-query {
			position: relative;
			min-width: 100%;
			min-height: 100%;
			flex-shrink: 0;
		}
	}

	&__breadcrumb, &__excerpt {
		display: none;
	}

	&__title {
		text-align: left;
		color: #fff !important;
	}

	&__title a {
		display: inline;
		.arrow();

		&:after {
			display: inline-block;
			position: relative;
			right: -5px;
			top: 3px;
		}

		&:hover:after {
			right: -10px;
		}
	}

	&__details {
		width: 380px;
		height: 210px;
		display: flex;
		align-items: flex-end;
		background-image: none;
		z-index: 0;

		@media @tablet-query {
			display: block;
			width: 100%;
			height: auto;
			padding: 20px 12px;
			z-index: @z-index-base;
		}

		@media @mobile-query {
			height: auto;
		}
	}

	&__link {
		display: block;
		position: absolute;
		height: 220px;

		@media @tablet-query {
			position: relative;
			display: flex;
		}
	}
}

.home-learning-center .slick-slide {
	flex-direction: column;
	overflow: hidden;

	// top card in carousel
	& > div:nth-child(odd) .learning-center-card {
		float: left;
		margin-bottom: 225px;
		margin-top: 30px;

		&__link {
			left: 68%;
			top: 19%;

			@media @smdesktop-query {
				left: 55%;
			}
		}

		&__details {
			padding-right: 35%;

			@media @smdesktop-query {
				padding-right: 45%;
			}
		}
	}
	
	// bottom card in carousel
	& > div:nth-child(even) .learning-center-card {
	 	float: right;
		
		&__link {
			right: 50%;
			bottom: 60%;
		}

	}
}

// Homepage-specific tablet/mobile header drawers
.home-learning-center .tab-content {

	@media @tablet-query {
		opacity: 1;
		position: relative;
		bottom: auto;

		.tab-drawer-header {
			display: flex;
			height: 90px;
			justify-content: center;

			p {
				line-height: 90px;
				color: #fff;
				display: inline-block;
				width: auto;
				margin: 0 35px 0 0;

				&:after {
					border-color: #fff;
					top: 37px;
				}

				&:after, &:hover:after {
					right: -25px;
				}
			}

			img {
				max-height: 55px;
				vertical-align: middle;
				margin-right: 25px;
				width: auto;
				max-width: none;
			}

			&.expanded p:after {
				top: 40px;
			}
		}

		.vc_column_container {
			display: none;
			height: auto;
			float: none;
			clear: both;
		}
	}

	@media @mobile-query {

		.tab-drawer-header img {
			margin-right: 20px;
			max-height: 40px;
		}

		.tab-drawer-header + div p {
			background-color: transparent;
			padding: 30px 20px 0;
		}
	}
}

#articles-resources {

	.tab-content__intro a,
	.learning-center-card__details,
	.tab-drawer-header {
		background-color: @lightblue;
	}

	.learning-center-card__details {
		box-shadow: none;
		.rough-border(blue);

		&:before, &:after {
			background-size: 500px auto;
		}
	}

	@media @tablet-query {

		.tab-drawer-header {
			.rough-border(blue);
		}
	}
}

#mentors-experts {

	.tab-content__intro a,
	.learning-center-card__details,
	.tab-drawer-header {
		background-color: @green;
	}

	.learning-center-card__details {
		box-shadow: none;
		.rough-border(green);
	}

	@media @tablet-query {

		.tab-drawer-header {
			.rough-border(green);
		}
	}

	.home-tab-content__expert {
		padding: 40px 100px;
		width: 638px;
		margin: 20px auto 0;
		background: @green;

		@media @smdesktop-query {
			padding: 40px 50px;
			width: 530px;
		}

		img {
			float: right;
		}

		img.loop {
			position: absolute;
			transform: rotate(195deg);
			width: 80px;
			right: 270px;
			top: 40px;
		}

		h1 {
			font-size: 30px;
			margin-top: 48px;
			margin-bottom: 30px;
			float: left;
			color: #fff;
		}

		p {
			max-width: none;
			width: 100%;
			color: #fff;
			text-align: left;
			margin: 0;
		}

		strong {
			font-size: inherit;
			margin: 0;
			display: inline;
			color: #fff;
		}
	}

	@media @tablet-query {

		.home-tab-content__content {
			width: 90%;
			max-width: 640px;
		}

		.home-tab-content__expert {
			margin: 20px auto 40px;
			padding: 40px;
			width: 375px;
			max-width: 100%;
			float: none;

			h1 {
				margin: 0 auto 10px;
			}

			.loop {
				display: none;
			}

			img {
				width: 100px;
			}

			p {
				background-color: transparent;
			}
		}
	}

	@media @mobile-query {

		.home-tab-content__expert {
			padding: 30px 25px;
			text-align: center;

			h1 {
				float: none;
				margin: 0 0 15px;
				font-size: 24px;
			}

			p {
				padding: 0;
			}
		}

	}
}

#our-story {
	.main {
		// Fix bug where on mobile the orange background didn't cover the container.
		.clearfix();
	}

}

#recipes-mealplans {

	.tab-content__intro a,
	.learning-center-card__details,
	.tab-drawer-header {
		background-color: @lightpurple;
	}

	.learning-center-card__details {
		box-shadow: none;
		.rough-border(purple);

		&:before, &:after {
			background-size: 500px auto;
		}
	}

	@media @tablet-query {

		.tab-drawer-header {
			.rough-border(purple);
		}
	}
}