//global chat in mobile

body .fc-widget-normal .hotline-launcher.h-open {
	@media(max-width: 560px) {
		width: 284px;
	}
}

body div.h-conv .h-header h1.list-title {
	@media(max-width: 560px) {
		font-size: 18px;
	}
}

body div.h-conv .h-header p.list-desc {
	@media(max-width: 560px) {
		white-space: normal;
	}
}


.page-infant-feeding-support {

	.site-footer__container {

		@media(max-width:768px) {
			margin-top: 0px;

		}

	}

	.site-header {
		background-color: #fff;
	}

	.site-content {
		margin-top: 124px;

		@media @tablet-query {
			margin-top: 80px;
		}

		@media @mobile-query {
			margin-top: 50px;
		}
	}

	.hero {
		height: auto;
		overflow: unset;
		margin-bottom: 28px;
	}

	.hero.formula .shell {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		position: relative;
	}

	.shell.formula {
	    max-width: 1024px;
	    margin: 0 auto;
	}

	.formula {
		padding: 0;
	}

	#videos {
		margin-top: -120px;

		@media(max-width: 768px) {
			margin-top: 0px;
		}
	}

	p, li {
		color: @darkgray;
	}

	.chat {
		height: auto;
		clear: none;
	}

	#formulafeeding{
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		margin-top: -105px;
		@media @mobile-query {
			margin-top: -50px;
		}
	}
	#supplementing{
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		margin-top: -150px;
		@media @mobile-query {
			margin-top: -85px;
		}
	}
	#breastfeeding{
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		margin-top: -150px;
		@media @mobile-query {
			margin-top: -95px;
		}
	}

}

// Template Base Styles

hr {
	&.feeding {
		width: 100%;
		max-width: 992px;
		margin: 0 auto;
		padding-top: 50px;
		border: none;
		border-bottom: 2px solid @lightestgray;
	}
}

.formula-base {
	&__introcopy {
		width: 100%;
		margin: 40px auto 0;

		h2 {
			color: @green;
			font-family: @organico;
			text-transform: uppercase;
			text-align: center;
		}

		p {
			font-weight: bold;
			text-align: center;
			letter-spacing: 0.75px;
			padding-top: 24px;

			@media(max-width: 640px) {
				padding-left: 12px;
				padding-right: 12px;
			}
		}

		&.hero {
			max-width: 530px;

			h2 {
				@media(max-width: 768px) {
					padding: 0 30px;
				}
			}
		}

		&.ingredients {
			max-width: 620px;
		}

		&.stages {
			max-width: 675px;
		}

		&.stores {
			width: 40%;
			float: left;
			padding-top: 2%;

			h2 {
				max-width: 240px;
				margin: 0 auto;
			}

			@media(max-width: 768px) {
				width: 100%;
			}
		}

		&.support {
			max-width: 300px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 10%;
			margin-top: 0;

			h2 {
				color: white;
				padding: 0 12px;
			}

			p {
				color: white;
				padding-bottom: 16px;
			}

			@media(max-width: 768px) {
				left: 0;
				max-width: 100%;
			}
		}

		&.measure {
			width: 50%;
			float: left;
			text-align: left;
			padding-left: 40px;

			h2 {
				text-align: left;
				max-width: 315px;
			}

			p {
				text-align: left;
				max-width: 315px;
				padding-bottom: 20px;
			}

			@media(max-width: 768px) {
				width: 100%;
				padding-left: 0;
				text-align: center;

				h2, p {
					text-align: center;
				}
			}
		}
	}

	&__ctalink {
		background: @orange;
		color: white;
		padding: 22px 0;
		text-align: center;
		width: 300px;
		display: block;
		border-radius: 16px 0 16px 0;
		font-family: @booster;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 16px;
		box-shadow: 0 2px 4px rgba(137, 135, 133, 0.26);
		-webkit-box-shadow: 0 2px 4px rgba(137, 135, 133, 0.26);
		-moz-box-shadow: 0 2px 4px rgba(137, 135, 133, 0.26);

		@media(max-width: 768px) {
			margin: 0 auto;
		}

		.triangle {
			position: relative;
			padding-left: 13px;

			&:after {
				content: '';
				position: absolute;
				top: 2px;
				height: 0;
				width: 0;
				border-style: solid;
				border-width: 5px 0 5px 5px;
				border-color: transparent transparent transparent white;
			}
		}

		&.stores {
			margin: 24px auto 0;
		}

		&.support {
			background: @green;
		}
	}
}
	.formula-base__introcopy.testimonials {
		margin-top: 32px;
	}
	.feeding-base__introcopy.hero {
	
		@media(max-width: 640px) {
			right: auto;
			top: 65%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
		}
	}

.feeding-base {
	&__introcopy {
		width: 100%;
		margin: 40px auto 0;
		padding: 0;

		h2 {
			color: @green;
			font-family: @organico;
			text-transform: uppercase;
			text-align: center;
		}

		p {
			font-weight: bold;
			text-align: center;
			letter-spacing: 0.75px;
			padding-top: 24px;

			@media(max-width: 640px) {
				padding-left: 12px;
				padding-right: 12px;
			}
		}

		&.white {

			h2 {
				color: white;
			}

			p {
				color: white;
			}
		}

		&.hero {
			width: 50%;
			float: right;
			max-width: 420px;
			margin-right:0px;
			right: 6.7%;
      		top: 15.0%;
			text-align: center;
			margin-top:0px;
			position: absolute;
			z-index: 2;
			
			@media(max-width: 768px) {
				    width: 100%;
				    float: none;
				    margin-top: 0px;
				    margin-right: auto;
				    top: 60%;
				    padding: 0 15px;				  
				    right:auto;
				    left: 50%;
	                position: absolute;
	                transform: translate(-50%, -50%);
	               -moz-transform: translate(-50%, -50%);
	               -ms-transform: translate(-50%, -50%);
	               -webkit-transform: translate(-50%, -50%);

    h2 {
    	font-size: 45px !important;
    }

    p {
    	padding: 24px 12px !important;
    }
			}

				h2 {
					font-size: 55px;
					letter-spacing: 1.5px;
					line-height: 1;

					@media(max-width:980px) {
						font-size: 39px;
					}

				}

				p {
					padding: 26px 64px 27px;
					letter-spacing: 1px;

					@media(max-width:980px) {
						padding: 11px 44px 16px;
					}

				}
		}

		&.chat {
			width: 60%;
			text-align: left;
			float: left;
			margin-top: 35px;

			@media(max-width: 768px) {
				width: 100%;
			    text-align: center;
			    float: none;
			    display: inline-block;

    h2, p {
    	text-align: center !important;
    }

    p {
    	padding-right: 15px !important;
    	padding-left: 15px !important;
    }
			}

			h2, p {
				text-align: left;
			}

			p {
				padding-right: 100px;
				padding-bottom: 4px;
			}
		}
	}

	&__ctalink {
		background: @orange;
		color: white;
		padding: 22px 0;
		text-align: center;
		width: 300px;
		display: block;
		border-radius: 16px 0 16px 0;
		font-family: @booster;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 16px;
		box-shadow: 0 2px 4px rgba(137, 135, 133, 0.26);
		-webkit-box-shadow: 0 2px 4px rgba(137, 135, 133, 0.26);
		-moz-box-shadow: 0 2px 4px rgba(137, 135, 133, 0.26);

		@media(max-width: 768px) {
			width: 100%;
			max-width: 300px;
		}

		.triangle {
			position: relative;
			padding-left: 9px;

			&:after {
				content: '';
				position: absolute;
				top: 2px;
				height: 0;
				width: 0;
				border-style: solid;
				border-width: 4px 0 4px 4px;
				border-color: transparent transparent transparent white;
				right:-8px;
			}
		}

		&.green {
			background:#70a401;
			color: #fff;
			padding-top: 18px;
            padding-bottom: 22px;

             @media(max-width: 980px) {
             	padding-top: 18px;
                padding-bottom: 22px;
              
              }

              @media(max-width: 640px) {
              
              }
		}

		&.white {
			background: #fff;
			color: @green;

			.triangle {

				&:after {
					border-color: transparent transparent transparent @green;
				}
			}
		}

		&.hero {
			margin: 0 auto;			
            padding-top: 22px;
			padding-bottom: 23px;
			line-height: 0.8;
            	
		}

		&.chat {
			margin-top: 28px;
			padding-top: 20px;
            padding-bottom: 24px;
            line-height:0.8;

			@media(max-width: 980px) {
				 padding-top: 23px;
				 padding-bottom: 24px;
			}

			@media(max-width: 768px) {
				float: none;
			    margin: 24px auto;
			    width: 100%;			   
			    max-width: 300px;
			    line-height:1;
			}
		}
	}
}

.feeding-base__ctalink.chat {
	.triangle {
		padding-left: 0px;
		line-height:1;

		&:after {
			top: auto;
			right: -15px;
			content: "";
			width: 15px;
			height: 15px;
			background-image: url(images/hffd-1.svg);
			background-repeat: no-repeat;
			background-position: 1px 2px;
			border: 0px;
		}

	}

}

.hero.formula {
    margin-top: 0;
}
.feeding-hero {
	height: auto;
	background-repeat: no-repeat;
	background-position: center -3px;
	background-size: cover;
	padding: 49.46% 0 0;

	@media(max-width: 768px) {
       padding: 86% 0 0;
       background-position: center 0px;
	}

	@media(max-width: 560px) {
		height: 670px;
		background-image: url('images/infant-feeding-hero_mobile.png') !important;
		overflow-x: hidden;
		position: relative;
		background-size: 560px auto;
		padding:0;
	}
}

.homepage-hero {
	&__video {
		position: absolute;
		display: block;
		z-index: 0;
		top: 45.7%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		height: auto;
		transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-56%);
    -o-transform: translateX(-50%) translateY(-50%);


		@media(max-width:768px) {
			display: none;
		}
	}
}

.feeding-intro {
	max-width: 544px;
	margin: 0 auto 12px;
	text-align: center;

	@media(max-width: 768px) {
		padding: 0 15px;
	}
	
	h2 {
		font-family: @organico;
		font-size: 44px;
		text-transform: uppercase;
		color: @green;
		line-height: 1;
    	letter-spacing: 0.00em;
	}

	p {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.75px;
		margin: 29px 0 26px;
		padding: 0;
		line-height: 23px;
	}

	.feeding-base__ctalink {
		margin: 0 auto;
		text-transform: capitalize;
    	letter-spacing: 0.07em;
	}
}

// Testimonials Section Styles
.formula-testimonials {
	background: white;

	&__container {
		position: relative;
	}

	&__slider {
		width: 100%;
		max-width: 954px;
		margin: 0 auto;
	}

	&__testimonial {

		p {
			text-align: center;
			font-size: 24px;
			line-height: 34px;
			font-family: @booster;
			font-weight: 500;
			color: @darkgray;
			max-width: 640px;
			width: 100%;
			padding: 42px 0 40px;
			margin: 0 auto;

			@media( max-width: 768px ) {
				font-size: 17px;
				line-height: 24px;
				padding: 30px 40px;
			}

			&.testimonial-creds {
				font-size: 20px;
				padding: 0;
				padding-bottom: 20px;

				@media( max-width: 768px ) {
					font-size: 16px;
				}
			}

			a {
				color: @darkgray;
				font-size: 20px;
				text-decoration: underline;

				@media( max-width: 768px ) {
					font-size: 16px;
				}
			}
		}
	}

	&__slick-controls {
		width: 15px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		top: 51%;
		transform: translateY(-50%);

		&:before, &:after {
			content: '';
			position: absolute;
			right: 4px;
			width: 3px;
			height: 60%;
			background: @green;
			border-radius: 14px;
		}

		&:before {
			top: 0;
			transform: rotate(45deg);
		}

		&:after {
			bottom: 0;
			transform: rotate(-45deg);
		}


		&.prev {
			left: 5px;
			z-index: 2;
		}

		&.next {
			right: 5px;
			z-index: 2;
			transform: translateY(-50%) rotate(180deg);
		}
	}
}

.feeding-testimonial__copy.right-text {
	right: 45px;
	left: inherit;
	@media(max-width: 980px) {
		right: 0;
	}
	h3 {
		margin-bottom: 26px;
		line-height: 28px;
	}
}

.feeding-breast__slick-controls.breast {
	top: 50%;
}
.feeding-breast__slick-controls.next.breast {
	right: 0px;
}
.feeding-breast__slick-controls.prev.breast {
	left: 0px;
}
.feeding-testimonial.formula-margin {
	margin-top: 58px;
}

.feeding-testimonial {
	margin-top: 91px;
	position: relative;
	float: left;

	img {
		width: 100%;
	}

	&__copy {
		position: absolute;
		top: 49.3%;
		left: 42px;
		width: 100%;
		max-width: 400px;
		text-align: center;
		transform: translateY(-50%);

		@media(max-width: 980px) {
		   max-width: 660px;
		   position: relative;
		   top: 0;
		   right: initial;
		   left: initial;
		   padding: 30px 15px;
		   margin: 0 auto;
		   transform: translateY(0);
		}

		@media(max-width: 660px) {
			max-width: 400px;
		}

		h3 {
			font-size: 24px;
			font-weight: 100;
			font-family: @booster;
			color: @green;
		}

		p {
			font-size: 16px;
			font-weight: regular;
			padding-top: 0px;
		}
	}
}

.feeding-chat {
	background: @green;
	padding: 12px 0 50px;

	&__image {
		width: 40%;
		float: left;
		text-align: center;
		margin-top: 40px;
		padding-left: 50px;

		&--left {
			width: 100%;
			max-width: 137px;
			float: left;
			animation: bounce 5s infinite;
			@media(max-width: 900px) {
				max-width: 109px;
			}
			@media(max-width: 768px) {
				vertical-align: top;
				float: none;
			}
		}

		&--right {
			width: 100%;
			max-width: 117px;
			float: left;
			margin-left: 16px;
			margin-top: 75px;
			animation: bounce 5s 1.5s infinite;
			@media(max-width: 900px) {
				max-width: 97px;
			}
			@media(max-width: 768px) {
				float: none;
				margin-top: 0px;
				padding-top: 50px;
			}
		}

		@media(max-width: 768px) {
			width: 100%;
   max-width: 100%;
   margin: 40px auto 0px;
   float: none;
   padding-left: 0;

   img {
   	width: 100%;
   }
		}
	}
}

.feeding-product {
	width: 100%;
	float: left;
	text-align: center;

	img {
		width: 100%;
		margin-bottom: 40px;
	}

	h3 {
		font-size: 24px;
		font-family: @booster;
		font-weight: bold;
		color: @green;
		margin-bottom: 28px;
	}
}

.feeding-formula {
	margin-top: 0;
}

.feeding-breast {
	float: left;
	width: 100%;
	position: relative;
	margin-top:9px;
	
	&__image {
		@media(max-width:768px) {
			float: left;
		}
	}
}

.feeding-testimonial.first-testmnl-margin {
    margin-top: 0px;
     @media(max-width: 980px) {
        margin-top:0px;
     }
}

.video-image {
	width: 100%;
}

.feeding-videos {
	margin-bottom: 2px;

	&__intro {
		padding-top: 143px;
	}
}

hr.feeding.white-last{
    border-bottom: 2px solid #fff;
    padding-top: 34px;
    float:left;
    width:100%;
}
.shell.formula.social-footer {
    margin-top: 0px;
}

hr.feeding.white{
    border-bottom: 2px solid #fff;
    float:left;
    width:100%; 
    padding-top: 64px;  
}
hr.feeding.white.formula-article-line {
	padding-top: 33px;
}
hr.feeding.feeding-formula-line {
	padding-top: 22px;
}
.feeding-testimonial.supplement-margin {
	margin-top: 92px;
}
.feeding-testimonial.formula-margin {
  margin-top: 58px;
}
.feeding-formula__articles {
	margin-top: 48px;
}

.feeding-testimonial.testimonial-last {
	margin-top: 63px;
}

#footer {
   .col-5 {
	 padding-top:30px;
    }

 .col-3,.col-4 {
   padding-top:30px;
	@media(max-width: 768px) {
	  padding-top:0;
	}
  }
}
.feeding-testimonial__copy.feeding-intro {
    top: 50%;
    left:40px;
	@media(max-width:980px) {
		top: 0;
		left: 0;
		max-width: 544px;
		padding-right: 13px;
        padding-left: 13px;
	}

    h2 {
        font-size: 41px;
        letter-spacing: 0.03em;
        color:#70a401 !important;
    }

    p {
        margin: 20px 0 14px;
        line-height: 22px;
        letter-spacing: 0.05em;
        padding: 0 2px;
    }

      .feeding-base__ctalink {
      	line-height:0.8;
      	margin-top:3px;
      }

    .feeding-base__ctalink .triangle {
        padding-left: 0px;
        margin-left: -12px;
        line-height:1;
        padding-top: 18px;
        padding-bottom: 21px;

        &:after {
           border: 0px;
			top: auto;
			right: -20px;
			content: "";
			width: 12px;
			height: 15px;
			background-image: url(images/hffd-2.svg);
			background-repeat: no-repeat;
			background-position: 1px 2px;			
        }
    }
}

.ie-11.page-infant-feeding-support {
	.hero {
		margin-bottom: 0px;
	}

}

.ie-11 {
	.feeding-hero {
		padding: 48% 0 0;
		background-position: center -59px;
		@media(max-width:768px) {
			background-position: center 0px;			
		}
		@media(min-width:768px) {
			//background-image: none !important;

		}
	}

}


.ie-11 .feeding-base__introcopy.hero h2 {
	@media (max-width:1111px) {
		font-size: 35px !important;
	}

}


.touch .feeding-base__introcopy.hero h2 {
	 font-size: 35px;
}


.feeding-base__ctalink.hero .triangle {
	padding-left:0px;
	line-height:1;
	display: inline-block;

	&:after {
		border-width:0px;
		top: auto;
		right: -17px;
		content:"";
		width:15px;
		height:15px;
        background-image: url(images/hffd-1.svg);
        background-repeat: no-repeat;
        background-position: 1px 1px;		

	}

}
.feeding-breast, .feeding-formula, .feeding-videos {

	&__image {
		margin-bottom: 50px;

		img {
			max-width: none;
		}
	}

	&__intro {
		margin-top:36px;
		margin-bottom: 46px;
		text-align: center;

		h3 {
			font-size: 24px;
			font-family: @booster;
			color: @green;
			text-transform: uppercase;
			padding-bottom: 26px;
		}

		p {
			font-size: 16px;
			font-family: @booster;
			color: @darkgray;
		}
	}

	&__slider {
		width: 100%;
		max-width: 954px;
		margin: 0 auto;
	}

	&__articles, &__videos {
		position: relative;
		padding: 0 20px;
	}

	&__video {
		padding: 0 6px;
		@media(max-width: 768px) {
			padding: 0 24px;
		}

		p {
			text-align: center;
			font-size: 19px;
			font-family: @booster;
			font-weight: bold;
			padding-top: 18px;

			&.video-attr {
				font-size: 14px;
				font-weight: 500;
				line-height: 20px;
				margin: 0;
				padding-top: 0;
			}

			&.video-cred {
				font-size: 14px;
				font-weight: 500;
				line-height: 18px;
				margin-top: 4px;
				padding-top: 4px;
			}
		}
	}

	&__article {
		padding: 0 12px;

		@media(max-width: 768px) {
			padding: 0 24px;
		}

		&--image {


			img {
				width: 100%;
				height: auto;
			}
		}

		p {
			text-align: center;
			font-size: 19px;
			font-family: @booster;
			font-weight: bold;
			padding-top: 18px;
		}
	}

	&__slick-controls {
		width: 15px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		top: 44%;
		transform: translateY(-50%);

		&:before, &:after {
			content: '';
			position: absolute;
			right: 4px;
			width: 3px;
			height: 60%;
			background: @green;
			border-radius: 14px;
		}

		&:before {
			top: 0;
			transform:  rotate(45deg) ;
		}

		&:after {
			bottom: 0;
			transform:  rotate(-45deg) ;
		}


		&.prev {
			left: 2px;
			z-index: 2;
		}

		&.next {
			right: 2px;
			z-index: 2;
			transform:  translateY(-50%) rotate(180deg) ;
		}
	}
}

.feeding-supportnav {
	text-align: center;
	display: inline-block;
	width: 100%;
	background-color: #fcf8f2;
	padding-top: 26px;
	padding-bottom: 26px;
	margin-top: 0px;
	margin-bottom: 29px;

	&.article {
		margin-bottom: 0;
		padding-top: 48px;

		p.article {
			font-weight: bold;
			font-size: 16px;
			line-height: 22px;
			max-width: 622px;
			width: 100%;
			margin: 0 auto 24px;
		}
	}

	h3 {
		font-size: 24px;
		font-family: @booster;
		font-weight: bold;
		color: @green;
		margin-bottom: 28px;
	}

	&__links {
		width: 100%;
		max-width: 940px;
		margin: 0 auto;
		display: inline-block;
		box-sizing: border-box;

		@media(max-width: 768px) {
			padding: 0 15px;
		}
	}

	&__link {
		display: inline-block;
		box-sizing: border-box;
		width: 30%;
		margin: 0 1.5%;
		background: white;
		padding: 20px;
		border-radius: 16px 0 16px 0;
		-webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.5);
		box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.5);

		@media(max-width: 768px) {
			width: 100%;
			margin: 6px auto;
		}

		p {
			padding: 0;
			font-size: 19px;
			font-weight: bold;
			display: inline-block;
			vertical-align: top;
			padding-top: 12px;
			padding-left: 6px;
			line-height: 1;

			&.supplementing {
				padding-top: 3px;

				span {
					font-size: 12px;
					display: inline-block;
					margin-top: -6px;
				}
			}
		}

		img {
			&.breastfeeding {
				width: 40px;
				display: inline-block;
			}

			&.supplementing {
				width: 38px;
			}

			&.formula-link {
				width: 26px;
				transform: rotate(25deg);
			}
		}
	}
}

.feeding-supplementing {

	&__image {
		margin-top: 70px;
		margin-bottom: 50px;

		img {
			max-width: none;
		}
	}
}

.feeding-social {
	margin: 40px auto 0;
	padding: 50px 0;
	background: @green;
	text-align: center;
	 
 h3 {
 	font-size: 24px;
 	font-family: @booster;
 	color: white;
 }

 h2 {
 	font-size: 50px;
 	font-family: @organico;
 	color: white;
 	padding-top: 24px;
 }

 &__icons {
 	margin-top: 40px;
 	text-align: center;

 	img {
 		width: 50px;
 		margin: 0 12px;
 	}
 }
}

.feeding-socialgrid {
	width: 100%;
	float: left;
	padding: 0.5%;
	margin-bottom: 72px;
	@media(max-width: 768px) {
		margin-bottom: 20px;
	}

	img {
		width: 32.333%;
		margin: 0.5%;
		float: left;

		@media(max-width: 768px) {
			width: 49%;
		}
	}
}

.feeding-videos {
	float: left;
	width: 100%;
	text-align: center;

	&__intro {
		max-width: 585px;
		margin: 0 auto 12px;
		text-align: center;

		@media(max-width: 768px) {
			padding: 0 15px;
		}
		
		h2 {
			font-family: @organico;
			font-size: 44px;
			text-transform: uppercase;
			padding: 0 10px;
			color: @green;
		}

		p {
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.75px;
			margin: 24px 0 26px;
			padding: 0;
		}
	}
}

@media(max-width: 768px) {
	.feeding-breast {
		&__image {
			overflow-x: hidden; 

			img {
				width: 200%;
				margin-left: -85%;
			}
		}

		&__intro {
			padding: 0 15px;
		}
	}

	.feeding-supplementing {
		&__image {
			overflow-x: hidden;

			img {
				width: 200%;
				margin-left: -55%;
			}
		}
	}

	.feeding-formula {
		&__image {
			overflow-x: hidden;

			img {
				width: 200%;
				margin-left: -50%;
			}
		}
	}
}

.modal-disclaimer {

	.fancybox-skin {
		border-radius: 16px 0 16px 0;
	}

	.fancybox-inner {
		padding-top: 24px;
	}

	p {
		font-size: 16px;
		font-family: @booster;
		font-weight: 500;
		color: @green;
		margin-bottom: 24px;
		text-align: center;
	}
}

@-webkit-keyframes bounce {
  0%, 17%, 100%  {
  	transform: translateY(0px);
  }
  5% {
  	transform: translateY(5px);
  }
  8% {
  	transform: translateY(-5px);
  }
  11% {
  	transform: translateY(5px);
  }
  14% {
  	transform: translateY(-5px);
  }
  17% {
  	transform: translateY(0px);
  }
}
@-moz-keyframes bounce {
  0%, 17%, 100%  {
  	transform: translateY(0px);
  }
  5% {
  	transform: translateY(5px);
  }
  8% {
  	transform: translateY(-5px);
  }
  11% {
  	transform: translateY(5px);
  }
  14% {
  	transform: translateY(-5px);
  }
  17% {
  	transform: translateY(0px);
  }
}
@-o-keyframes bounce {
  0%, 17%, 100%  {
  	transform: translateY(0px);
  }
  5% {
  	transform: translateY(5px);
  }
  8% {
  	transform: translateY(-5px);
  }
  11% {
  	transform: translateY(5px);
  }
  14% {
  	transform: translateY(-5px);
  }
  17% {
  	transform: translateY(0px);
  }
}

@keyframes bounce {
  0%, 17%, 100%  {
  	transform: translateY(0px);
  }
  5% {
  	transform: translateY(5px);
  }
  8% {
  	transform: translateY(-5px);
  }
  11% {
  	transform: translateY(5px);
  }
  14% {
  	transform: translateY(-5px);
  }
  17% {
  	transform: translateY(0px);
  }
}