.international-hero {
	height: 565px;
	overflow: hidden;

	@media @mobile-query {
		height: auto;
	}

	& > .main, & > .main > .col-12, .hero-container__fullwidth, .home-hero__background {
		height: 100%;
	}

	.home-hero__background {
		width: 1440px;
		max-width: none;
		.centerX();
		top: 0;

		@media @tablet-query {
			left: 40%;

			&.desktop-only {
				display: block;
			}

			&.desktop-hide {
				display: none;
			}
		}

		@media @mobile-query {
			left: 50%;
			height: 211px;
			top: 0;
			transform: translateX(-50%);
			width: auto;
			position: relative;
			margin-bottom: 10px;

			&.desktop-only {
				display: none;
			}

			&.desktop-hide {
				display: block;
			}
		}
	}

	.hero-content__fullwidth {
		padding: 193px 0 0 12%;
		width: 50%;
		margin-left: 0;
		position: absolute;

		@media @tablet-query {
			padding: 150px 0 0 5%;
		}

		@media @mobile-query {
			position: relative;
			padding: 0;
			width: 100%;
			.text-center();

			p {
				color: @darkgray;
				font-size: 16px;
				width: 320px;
				margin: auto;
			}
		}
	}

	h1.hero {
		height: auto;
		width: 500px;

		@media @tablet-query {
			width: 350px;
			margin-bottom: 20px;
		}

		@media @mobile-query {
			width: 350px;
			max-width: 100%;
			margin: 0 auto 20px;
			color: @green;
			margin-bottom: 10px;
		}
	}

	.hero-button {
		.button();
		background-color: @green;
		margin-top: 25px;

		@media @mobile-query {
			padding: 0 40px 0 20px;
			margin: 10px 0 25px;

			&:after {
				right: 25px;
			}

			&:hover:after {
				right: 20px;
			}
		}
	}
}

.international-about {
	padding: 60px 0;
	overflow: visible;
	height: auto;
	clear: both;

	@media @mobile-query {
		padding: 30px 0;
	}

	&.hero .main {
		padding-top: 0;
		.clearfix();
	}

	&__title {
		margin-bottom: 50px;

		@media @tablet-query {
			margin-bottom: 30px;
		}
	}

	&__description {
		width: 50%;
		float: right;
		padding-left: 5%;

		@media @mobile-query {
			width: 320px;
			float: none;
			margin: auto;
			text-align: center;
			padding: 0;
		}

		p {
			font-size: 18px;
			line-height: 1.4;
			font-weight: 500;
			margin-bottom: 35px;
			width: 400px;
			max-width: 100%;

			span {
				font-size: 15px;
			}

			@media @tablet-query {
				font-size: 16px;
				margin-bottom: 25px;

				span {
					font-size: 14px;
				}
			}

			@media @mobile-query {
				margin-bottom: 15px;
			}
		}

		a {
			.button();
			color: @green;
			background: #fff;

			&:after {
				border-color: @green;
			}

			@media @tablet-query {
				padding: 0 40px 0 20px;
				margin-top: 10px;

				&:after {
					right: 25px;
				}

				&:hover:after {
					right: 20px;
				}
			}
		}
	}

	&__image {
		float: left;
		width: 50%;
		text-align: right;

		@media @mobile-query {
			width: 320px;
			float: none;
			margin: 0 auto 10px;
		}
	}
}