.learning-center-article {
	width: 92%;
	margin: 0 auto 0 auto;
	padding-top: 60px;

	&__container {
		width: 88%;
		margin-left: 12%;

		@media @smdesktop-query {
			width: 92%;
			margin-left: 6%;
		}

		@media @tablet-query {
			width: 100%;
			margin-left: 0;
		}
	}

	@media @tablet-query {
		margin-top: 0;
		padding-top: 35px;
		padding-left: 0;
	}

	@media @mobile-query {
		margin-top: 0;
		width: 88%;
		padding-top: 24px;
	}

	a, span {
		font-family: @booster;
	}

	&__header {
		&, h1, nav {
			float: left;
			width: 100%;
		}

		nav {

			&, a {
				font-size: 18px;
				color: @darkgray;

				@media @tablet-query {
					font-size: 16px;
				}

				@media @mobile-query {
					font-size: 10px;
					font-weight: 700;
				}
			}


			a {
				text-transform: uppercase;
				text-decoration: none;
			}
		}

		h1, h2 {
			color: @darkgray;
			float: left;
			width: 100%;
		}

		h1 {
			font-size: 52px;
			margin-top: 8px;
			margin-bottom: 7px;

			@media @tablet-query {
				font-size: 40px;
				margin-top: 2px;
				margin-bottom: 6px;
			}

			@media @mobile-query {
				font-size: 30px;
				margin-top: 4px;
				margin-bottom: 2px;
			}
		}

		h2 {
			font-family: @booster;
			font-size: 18px;
			text-transform: none;

			@media @tablet-query {
				font-size: 16px;
			}

			@media @mobile-query {
				font-weight: 700;
			}
		}

		&-topic {
			border-left: 1px solid @darkgray;
			padding-left: 10px;
			margin-left: 5px;
		}

		&-image {
			width: 100%;
		}

		&-mobile-image {
			float: left;
			width: 100%;
			margin-top: 10px;
			margin-bottom: 6px;
		}

		// overrides from moving it from the sidebar to the article header
		.learning-center-article__share {
			width: auto;
			margin-top: 20px;
			margin-left: 0;

			@media @tablet-query {
				margin-top: 14px;
			}

			h1 {
				width: auto;
				margin-right: 12px;
				margin-top: 0;
				margin-bottom: 0;
				line-height: 44px;
				margin-right: 10px;

				@media @tablet-query {
					font-size: 20px;
					line-height: 24px;
					text-transform: none;
				}
			}

			@media @tablet-query {
				.learning-center-article__share-link {
					width: 29px;
					height: 29px;
					margin-right: 9px;
					margin-left: 0;
				}
			}
		}
	}

	&__author {
		float: left;
		width: 100%;
		margin-top: 20px;
		position: relative;

		@media @tablet-query {
			margin-top: 25px;
		}

		@media @mobile-query {
			margin-top: 19px;
		}

		img {
			max-width: 59px;
			max-height: 59px;
			border-radius: 50%;
			vertical-align: middle;

			@media @tablet-query {
				max-width: 45px;
				max-height: 45px;
			}

			@media @mobile-query {
				max-width: 32px;
				max-height: 32px;
			}
		}

		&-credentials {
			color: @darkgray;
			font-size: 15px;
			font-weight: 700;
			margin-left: 12px;

			@media @tablet-query {
				font-size: 13px;
			}

			@media @mobile-query {
				font-size: 10px;
			}
		}

		&-info {
			display: inline-block;
			position: relative;

			@media @mobile-query {
				position: static;
			}

			&-trigger {
				background-image: url('images/info-button.png');
				width: 15px;
				height: 15px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
				background-size: contain;

				@media @tablet-query {
					width: 12px;
					height: 12px;
					margin-left: 3px;
				}

				@media @mobile-query {
					width: 11px;
					height: 11px;
				}
			}

			&-modal {
				text-align: center;
				width: 390px;
				position: absolute;
				height: auto;
				z-index: @z-index-uber;

				@media @mobile-query {
					width: 100%;
				}

				.modal-content {
					background-color: @offwhite;
					padding: 20px 30px;
					width: 100%;
					transform: translate(-50%, -100%);
					left: 15px;

					@media @mobile-query {
						transform: translate(0, 20%);
						left: 0;
					}

					.modal-close {
						width: 16px;
						height: 16px;
						top: 15px;
						right: 15px;

						button {
							transform: rotate(45deg);
						}
					}
				}

				p {
					color: @darkgray;
					font-size: 18px;

					@media @tablet-query {
						font-size: 16px;
					}

					@media @mobile-query {
						font-size: 14px;
					}
				}
			}
		}
	}

	// No Recipes & Meal Plans subtitle
	h1 + &__author {
		margin-top: 10px;

		@media @tablet-query {
			margin-top: 8px;
		}

		@media @mobile-query {
			margin-top: 7px;
		}
	}

	&__content {
		float: left;
		margin-top: 26px;
		margin-bottom: 33px;

		@media @tablet-query {
			margin: 20px 0;
		}

		p&-disclaimer {
			font-size: 15px;
			line-height: 1.3;
			margin-top: 10px;

			@media @tablet-query {
				font-size: 13px;
				line-height: 1.4;
				margin-top: 14px;
			}

			@media @mobile-query {
				font-size: 10px;
				margin-top: 10px;
			}
		}

		&-sources {
			border-top: 1px solid @darkgray2;
			border-bottom: 1px solid @darkgray2;
			float: left;
			width: 100%;
			margin-top: 24px;

			@media @tablet-query {
				margin-top: 9px;
			}

			@media @mobile-query {
				margin-top: 10px;
			}

			&-header {
				.arrow();
				font-size: 24px;
				color: @darkgray;
				font-family: @booster;
				height: 64px;
				line-height: 64px;
				padding-left: 3px;
				float: left;
				width: 100%;
				font-weight: 700;
				cursor: pointer;

				&:after {
					border-color: @darkgray;
					right: 13px;
					transform: translateY(-50%) rotate(45deg);
				}

				&:hover:after {
					right: 13px;
				}

				&.active {
					&:after {
						transform: translateY(-50%) rotate(-135deg)
					}
				}

				@media @tablet-query {
					font-size: 27px;
					padding-left: 1px;
				}

				@media @mobile-query {
					font-size: 16px;
					padding-left: 16px;
					height: 37px;
					line-height: 37px;
				}
			}

			&-content {
				display: none;
				float: left;
				padding-left: 3px;

				@media @tablet-query {
					padding-left: 1px;
				}

				@media @mobile-query {
					padding-left: 16px;
					padding-right: 16px;
				}

				p, li {
					margin-bottom: 20px;
					width: 100%;
					font-size: 14px;

					@media @tablet-query {
						font-size: 13px;
					}

					@media @mobile-query {
						font-size: 11px;
					}
				}

				a {
					color: @orange;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		ul&-recipe-details {
			display: flex;
			margin-bottom: 50px;

			&.mobile-only {
				display: none;

				@media @mobile-query {
					display: flex;
					margin-bottom: 15px;
					padding: 3px 0 5px;
					border-top: 0;

					li.learning-center-article__content-recipe-detail-contain {
						display: inline;
						text-indent: 0;
					}
				}
			}

			@media @tablet-query {
				margin-top: 20px;
				margin-bottom: 27px;
			}

			@media @mobile-query {
				border-top: 1px solid @darkgray2;
				border-bottom: 1px solid @darkgray2;
				margin-top: 2px;
				margin-bottom: 0;
				padding-top: 8px;
				padding-bottom: 18px;
			}

			li {
				text-align: center;
				width: 80px;
				padding-left: 0;
				text-indent: 0;
				margin: 0 10px;
				text-indent: 0;
				padding-left: 0;

				&, &.mobile-only {
					text-indent: 0;
				}

				&:before {
					display: none;
				}

				@media @tablet-query {
					padding-bottom: 10px;
				}

				@media @mobile-query {
					width: 60px;
					padding-bottom: 0;

					&.learning-center-article__content-recipe-detail-contain {
						display: none;
					}
				}


				&.learning-center-article__content-recipe-detail--full-width {
					width: 170px;
					text-indent: 0;
					padding-left: 0;

					@media @tablet-query {
						width: 80px;
					}

					@media @mobile-query {
						width: auto;
					}
				}

				&.learning-center-article__content-recipe-detail--vertical-border {
					background-color: @darkgray2;
					width: 1px;
					padding-left: 0;
				}

				.learning-center-article__content-recipe-image {
					height: 80px;
					width: 100%;
					position: relative;

					@media @tablet-query {
						height: 70px;
					}

					@media @mobile-query {
						height: 45px;
					}

					img {
						max-height: 100%;
						max-width: 100%;
						width: auto;
						height: auto;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;

						@media @tablet-query {
							max-width: 40px;
							max-height: 40px;
						}

						@media @mobile-query {
							margin: 5px auto 0;
						}
					}

					.learning-center-article__content-recipe-text-inside-image {
						font-size: 18px;
						font-weight: 700;
						color: @green2;
						line-height: 80px;

						@media @tablet-query {
							font-size: 13px;
							line-height: 70px;
						}

						@media @mobile-query {
							font-size: 10px;
							line-height: 52px;
						}
					}
				}

				a {
					color: @darkgray;
				}

				.learning-center-article__content-recipe-text {
					text-align: center;
					float: left;
					width: 100%;
					line-height: 1.2;
					font-size: 18px;

					@media @tablet-query {
						font-size: 13px;
						font-weight: 700;
					}

					@media @mobile-query {
						font-size: 10px;
						font-weight: 700;
					}
				}
			}

			&--meal-plan {
				@media @mobile-query {
					border-top: 1px solid @darkgray2;
				}

				li {
					width: 50%;
				}
			}
		}

		// Meal Plan titles should be gray; breakfast, lunch and dinner subtitles should not
		.meal-plan-stage-title:not([id*="breakfast"]):not([id*="lunch"]):not([id*="dinner"]):not([id*="snacks"]) {
			color: @darkgray;
		}

		&-ingredient-heading {
			@media @mobile-query {
				.arrow();
				cursor: pointer;

				&:after {
					border-color: @lightpurple;
					transform: translateY(-50%) rotate(45deg);
					right: auto;
					left: 196px;
					top: 42%;
				}

				&:hover:after {
					right: auto;
				}

				&.active {
					&:after {
						transform: translateY(-50%) rotate(-135deg);
						top: 55%;
					}
				}
			}
		}

		ul&-ingredient-details {
			columns: 2;
			margin-top: 5px;
			margin-bottom: 10px;
			width: 80%;
			column-gap: 40px;

			@media only screen and (min-width: @mobile-breakpoint) {
				// Always display starting from the tablet size. In case it was closed on mobile, then resized.
				display: block !important;
			}

			@media @tablet-query {
				columns: 3;
				width: 100%;
				margin-top: 0;
				margin-bottom: 20px;
			}

			@media @mobile-query {
				columns: 1;
			}

			li {
				padding-left: 0;
				text-indent: 0;
				margin-top: 0;
				margin-bottom: 10px;

				&:before {
					display: none;
				}

				@media @mobile-query {
					margin-bottom: 3px;
				}
			}
		}
	}

	&__inline {
		display: none;
		clear: both;
		float: right;
		width: 30%;
		margin-left: 5%;
		margin-bottom: 30px;
		min-width: 220px;

		h1 {
			margin-top: 0;
		}

		.learning-center-article__newsletter,
		.learning-center-article__sidebar-hr,
		.learning-center-article__related-articles {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			float: none;
		}

		.learning-center-article__newsletter {
			margin-top: 0;
		}

		@media @tablet-query {
			display: block;

			& + p {
				width: 65%;
				max-width: calc(100% - 220px);
			}
		}

		@media @mobile-query {
			min-width: 1px;
			margin-bottom: 15px;
			width: 50%;

			.learning-center-article__related-articles {
				margin-top: 20px;
			}

			.learning-center-article__newsletter,
			.learning-center-article__sidebar-hr {
				display: none;
			}

			& + p {
				width: auto;
				max-width: none;
			}
		}
	}

	&__tags {
		width: 100%;
		clear: both;

		@media @tablet-query {
			text-align: center;
		}

		a {
			float: left;
			color: @lightblue;
			border: 2px solid @lightblue;
			font-size: 15px;
			text-transform: uppercase;
			min-width: 100px;
			padding-left: 25px;
			padding-right: 25px;
			margin-right: 17px;
			margin-bottom: 10px;
			text-align: center;

			&:after {
				display: none;
			}

			@media @tablet-query {
				font-size: 13px;
				line-height: 2.7;
				min-width: auto;
				padding-left: 20px;
				padding-right: 20px;
				margin-left: 9px;
				margin-right: 9px;
				float: none;
			}

			@media @mobile-query {
				font-size: 10px;
				padding-left: 17px;
				padding-right: 17px;
				line-height: 2.3;
				margin-left: 0;
				margin-right: 10px;
				border-width: 1px;
				margin-bottom: 7px;
			}
		}
	}

	&__sidebar-hr {
		width: 26%;
		float: left;
		padding-left: 25px;
		margin-top: 28px;
		margin-left: 2%;
		margin-right: 0;
		margin-bottom: 28px;
		border: none;
		height: 1px;
		background-color: @darkgray2;

		@media @tablet-query {
			width: 100%;
		}
	}

	&__related-articles, &__share, &__newsletter {
		width: 26%;
		float: left;
		margin-left: 2%;

		@media @tablet-query {
			width: 100%;
		}

		@media @mobile-query {
			margin-top: 44px;
		}
	}

	&__newsletter {
		margin-top: 24px;

		h1 {
			float: left;
			width: 100%;
			color: @darkgray;
			font-family: @booster;
			letter-spacing: 0;
			font-size: 24px;
			text-transform: none;
			margin-bottom: 20px;

			@media @tablet-query {
				margin-bottom: 0;
			}

			@media @mobile-query {
				text-transform: none;
				font-size: 24px;
				margin-bottom: 7px;
			}
		}

		@media @tablet-query {
			margin: 30px auto 0;
		}

		input[type="email"] {
			.placeholder(@darkgray2, 18px, 500);
			color: @darkgray;
			font-size: 18px;
			border: 1px solid @darkgray2;
			width: 100%;
			height: 45px;
			border-radius: 23px;
			padding-left: 18px;
			padding-right: 18px;

			@media @tablet-query {
				max-width: 300px;
				margin-right: 20px;
			}

			@media @mobile-query {
				margin-right: 0;
				width: 90%;
			}
		}

		.button {
			color: #fff;
			background-color: @lightblue;
			border: none;
			margin-top: 20px;
			padding: 0 10px 0 0;

			@media @tablet-query {
				margin-top: 10px;
			}

			input[type="submit"] {
				border: 0;
				background-color: transparent;
				font-family: inherit;
				font-size: inherit;
				color: inherit;
				font-weight: inherit;
				width: 100%;
				height: 45px;
				display: block;
			}
		}
	}

	&__related-articles {

		h1 {
			float: left;
			width: 100%;
			font-family: @booster;
			letter-spacing: 0;
			font-size: 24px;
			text-transform: none;
			margin-bottom: 15px;

			@media @tablet-query {
				margin-bottom: 0;
			}

			@media @mobile-query {
				text-transform: none;
				font-size: 24px;
				margin-bottom: 7px;
			}
		}

		a {
			.arrow();
			float: left;
			clear: left;
			color: @darkgray;
			font-size: 18px;
			line-height: 1.4;
			text-decoration: none;
			margin-bottom: 10px;
			padding-right: 25px;

			&:after {
				border-color: @lightblue;
				right: -5px;
				display: inline-block;
				position: relative;
				top: 0;
    			transform: rotate(-45deg);
			}

			&:hover:after {
				right: -10px;
			}

			@media @tablet-query {
				position: relative;
				font-size: 16px;
				padding-right: 25px;

				&:after {
					width: 8px;
					height: 8px;
				}
			}

			@media @mobile-query {
				font-size: 14px;
			}
		}
	}

	&__share {

		@media @tablet-query {
			text-align: center;
			margin-bottom: 20px;
		}

		h1 {
			font-family: @booster;
			letter-spacing: 0;
			font-size: 24px;
			text-transform: none;
			margin-bottom: 20px;

			@media @tablet-query {
				margin: 40px 0 10px
			}

			@media @mobile-query {
				margin: 0 0 10px;
			}
		}

		&-link {
			width: 44px;
			height: 44px;
			display: block;
			float: left;
			margin-right: 14px;
			background-size: contain;
			background-repeat: no-repeat;
			transition: 0.3s opacity;

			&:hover {
				opacity: 0.6;
			}

			@media @tablet-query {
				width: 51px;
				height: 51px;
				display: inline-block;
				float: none;
				margin-left: 7px;
				margin-right: 7px;
			}

			@media @mobile-query {
				width: 40px;
				height: 40px;
				margin-left: 4px;
				margin-right: 4px;
			}

			&--email {
				background-image: url('images/icon-email-big.svg');
			}
			&--pinterest {
				background-image: url('images/social-pinterest.svg');
			}
			&--facebook {
				background-image: url('images/social-facebook.svg');
			}
			&--twitter {
				background-image: url('images/social-twitter.svg');
			}
		}
	}

	.learning-center-article__share-wrapper-recipe-meal-plan {
		.learning-center-article__share {
			margin-top: 32px;

			h1 {
				margin-bottom: 18px;
			}

			.learning-center-article__share-link {
				width: 42px;
				height: 42px;
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}

	&__jump-meal-plan {
		color: @darkgray;
		text-decoration: none;
		background-image: url('images/icon-jump.svg');
		background-repeat: no-repeat;
		background-size: contain;
		height: 40px;
		line-height: 40px;
		padding-left: 45px;
		display: inline-block;
		float: right;
		margin-top: 20px;

		@media @tablet-query {
			font-size: 13px;
			font-weight: 700;
			height: 31px;
			line-height: 31px;
			margin-top: 14px;
			padding-left: 38px;
		}
	}

	.learning-center-carousel--article {
		width: 100%;
		padding: 0;
		clear: both;
		margin: 90px auto 0;

		@media @tablet-query {
			margin-top: 50px;
		}

		@media @mobile-query {
			//width: 75%;
			margin-top: 30px;
		}

		h1 {
			font-size: 52px;
			text-transform: uppercase;
			color: @darkgray;
			text-align: center;
			margin-bottom: 40px;

			@media @tablet-query {
				font-size: 40px;
				margin-bottom: 24px;
			}

			@media @mobile-query {
				font-size: 30px;
				margin-bottom: 12px;
			}
		}

		&.blue {
			h1 {
				color: @lightblue;
			}
		}

		&.purple {
			h1 {
				color: @lightpurple;
			}
		}

		.learning-center-carousel {
			&__container {
				width: 100%;
			}
		}
	}

	&--content-big-h &__content {
		h1 {
			font-size: 30px;

			@media @tablet-query {
				font-size: 27px;
			}

			@media @mobile-query {
				font-size: 24px;
			}
		}
	}

	&--with-sidebar &__content {
		width: 71%;

		@media @tablet-query {
			width: 100%;
		}
	}

	&--full-width {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;

		.learning-center-article__container {
			margin-left: auto;
			margin-right: auto;
		}

		.learning-center-article__content,
		.learning-center-article__header {
			padding-left: 0;
			width: 90%;
			max-width: 860px;
			float: none;
			clear: both;
			margin-left: auto;
			margin-right: auto;

			@media @mobile-query {
				width: 88%;
			}
		}
	}

	&--purple {
		.learning-center-article__author-info-modal .modal-content .modal-close button {
			background-image: url('images/close-button-purple.svg');
		}

		.learning-center-article__share h1,
		.learning-center-article__related-articles h1,
		.learning-center-article__newsletter h1,
		.learning-center-article__tags a {
			color: @lightpurple;
		}

		.learning-center-article__newsletter .button {
			background-color: @lightpurple;
		}

		.learning-center-article__related-articles a:after,
		.learning-center-article__tags a {
			border-color: @lightpurple;
		}


	}

	&--purple &__header {
		h1 {
			color: @lightpurple;
		}
	}

	&--purple &__content {
		h1 , h2 , h3 , h4 , h5 , h6, a {
			color: @lightpurple;
		}

		ol li:before, ul li:before {
			color: @lightpurple;
		}
	}

	&--blue {
		.learning-center-article__author-info-modal .modal-content .modal-close button {
			background-image: url('images/close-button-blue.svg');
		}

		.learning-center-article__share h1, .learning-center-article__related-articles h1, .learning-center-article__newsletter h1 {
			color: @lightblue;
		}
	}

	&--blue &__header {
		h1 {
			color: @lightblue;
		}
	}

	&--blue &__content {
		h1 , h2 , h3 , h4 , h5 , h6, a {
			color: @lightblue;
		}

		ol li:before, ul li:before {
			color: @lightblue;
		}
	}
}

.learning-center-article__content .lc-nutritional-guide {
	padding: 10px 15px;
	margin: 20px 0 15px;


	@media @smdesktop-query {
		padding: 10px;
	}

	@media @tablet-query {
		margin: 15px 0;
	}

	@media @mobile-query {
		text-align: center;
		background: transparent;
		padding: 0;
		margin: 10px auto;
	}

	p {
		margin: 0;
		color: #fff;
		line-height: 40px;
		font-weight: 700;

		&::first-letter {
			text-transform: uppercase;
		}
	}

	img {
		height: 40px;
		margin: 0 10px 0 0;
	}

	a.lc-nutritional-guide__button {
		background-color: #fff;
		padding: 0 30px 0 20px;
		font-size: 16px;

		&:after {
			border-right: 2px solid @lightblue;
			border-bottom: 2px solid @lightblue;
			right: 19px;
			height: 8px;
			width: 8px;
		}

		&:hover:after {
			right: 16px;
		}

		&.mobile-only {
			display: none;
		}

		@media @smdesktop-query {
			padding: 0 25px 0 15px;
			min-width: 0;

			&:after {
				right: 16px;
			}
		}


		@media @tablet-query {
			padding: 0 20px 0 10px;
			min-width: 0;
			font-size: 14px;
			margin: 2px 0;

			&:after, &:hover:after {
				right: 12px;
				top: 48%;
			}
		}


		@media @mobile-query {
			background-color: @lightblue;
			color: white;
			margin: auto;
			font-size: 13px;
    		padding: 0 30px 0 20px;

			&:after, &:hover:after {
				right: 16px;
				top: 50%;
				border-right-color: #fff;
				border-bottom-color: #fff;
			}
			
			&.mobile-only {
				display: inline-block;
			}

			&.mobile-hide {
				display: none;
			}
		}
	}
}
