.page-learning-center {

	.mini-hero {
		padding: 40px 0;
		margin-bottom: 10px;

		@media @tablet-query {
			padding: 30px 0;
		}

		@media @mobile-query {
			padding: 15px 0;
		}

		&:not(.learning-center-hero) h1 {
			margin-bottom: 0;
		}

		h1 + p {
			margin-top: 20px;

			a {
				margin: 0 auto;
			}

			@media @mobile-query {
				margin-top: 5px;
			}
		}

		a {
			.button();
			background-color: #fff;
			margin: 25px auto 0;
		}

		&.section-yellow a {
			color: @mediumyellow;

			&:after {
				border-color: @mediumyellow;
			}
		}

		&.section-blue a {
			color: @lightblue;

			&:after {
				border-color: @lightblue;
			}
		}

		&.section-purple a {
			color: @lightpurple;

			&:after {
				border-color: @lightpurple;
			}
		}
	}

	.chat, .learning-center-yogurt {
		margin-bottom: 80px;
	}

	.you-may-also-like h1 {
		margin-bottom: 30px;
	}

}

.learning-center-hero {
	height: 539px;

	@media @tablet-query {
		height: 415px;

		.main {
			padding-top: 80px;
		}

		&.vc_section {
			background-position: center left -100px !important;
			background-size: auto 110% !important;
		}
	}

	@media @mobile-query {
		height: 585px;
		background-color: #8f8c8e;

		.main {
			padding-top: 40px;
		}

		&.vc_section {
			background-image: url('images/learning-center-lp-hero-mobile.png') !important;
			background-position: center !important;
		}
	}

	&__search.wpb_content_element {
		border-radius: 20px;
		width: 100%;
		max-width: 639px;
		margin: 0 auto 30px;
		height: 45px;
		background-color: #fff;
		display: flex;
    	align-items: center;
    	padding: 0 28px 0 60px;
    	background-image: url('images/icon-search-blue.svg');
    	background-size: 22px 26px;
    	background-position: right 33px center;
    	background-repeat: no-repeat;

		.wpb_wrapper {
			width: 100%;
		}

        input {
			width:86%;
		}
		input#button {
			float: right;
			width: 30px;
			font-size: 0;			
			height: 34px;
			padding: 0 2px;
		}
		@media @tablet-query {
			max-width: 466px;
		}

		@media @mobile-query {
			width: 90%;
			margin-bottom: 24px;
			padding: 0 30px 0 15px;
			background-size: 15px;
			background-position: right 40px center;
		}
	}

	&__search input {
		appearance: none;
		text-align: center;
		font-family: @booster;
		font-size: 16px;
		color: @darkgray;
		.placeholder(@lightblue, 16px, 500); 
		border: none;
		height: auto;
		background-color: transparent;

		@media @mobile-query {
			padding: 0 20px;
		}
	}

	h1 {
		margin-bottom: 30px;

		@media @mobile-query {
			font-size: 40px;
			margin-bottom: 20px;
		}
	}

	p {
		max-width: 800px;
		width: 90%;
	}
}

// Override VC default padding
.vc_section.vc_section-has-fill + .learning-center-mama.vc_section {
	padding-top: 10px;
}

.learning-center-mama,
.learning-center-baby-tot-kid,
.learning-center-meal-plans {
	margin-bottom: 50px;

	@media @tablet-query {
		margin-bottom: 30px;
	}

	@media @mobile-query {
		margin-bottom: 10px;
	}

	h1 {

		@media @tablet-query {
			font-size: 40px;
		}

		@media @mobile-query {
			font-size: 30px;
		}
	}
}

.learning-center-category-posts--first.vc_section {

	.learning-center-columns {
		margin-top: 74px;
		margin-bottom: 78px;

		@media @tablet-query {
			margin-top: 41px;
			margin-bottom: 40px;
		}

		@media @mobile-query {
			margin-top: 34px;
		}
	}

	.learning-center-carousel {
		margin-bottom: 35px;

		@media @mobile-query {
			margin-bottom: 0px;
		}
	}
}

.learning-center-category-posts--you-may-also-like.vc_section {
	margin-bottom: 65px;
}

.learning-center-category-posts {
	.clearfix();
	clear: both;

	&--spacing-top {
		.learning-center-category-posts__description {
			margin-top: 64px;

			@media @tablet-query {
				margin-top: 70px;
			}

			@media @mobile-query {
				margin-top: 46px;
			}
		}
	}

	&__description {

		&, & + .col-12 {
			margin-bottom: 34px;
			

			@media @tablet-query {
				margin-bottom: 25px;
			}

			@media @mobile-query {
				margin-bottom: 18px;
			}
		}

		h3 {
			text-transform: uppercase;
			width: 80%;
			margin: auto;

			@media @tablet-query {
				font-size: 27px;
			}

			@media @mobile-query {
				font-size: 23px;
			}
		}

		p {
			color: @darkgray;
			width: 90%;
			max-width: 710px;
			margin: auto;
			margin-top: 4px;

			@media @tablet-query {
				margin-top: 7px;
				max-width: 488px;
			}
		}
	}

	&__see-all {
		margin-top: 34px;
			

		@media @tablet-query {
			margin-top: 25px;
		}

		@media @mobile-query {
			margin-top: 18px;
			margin-bottom: 12px;
		}

		a {
			.button();
			min-width: auto;

			@media @tablet-query {
				font-size: 16px;
			}
		}
	}

	&--you-may-also-like {
		.learning-center-category-posts__description {
			margin-top: 106px;

			@media @tablet-query {
				margin-top: 91px;
			}

			@media @tablet-query {
				margin-top: 40px;
			}

			h1 {
				@media @mobile-query {
					font-size: 30px;
				}
			}
		}
	}

	&--purple {
		h1, h2, h3, h4, h5, h6 {
			color: @lightpurple;
		}
	}

	&--blue {
		h1, h2, h3, h4, h5, h6 {
			color: @lightblue;
		}

		.learning-center-category-posts__see-all {
			a {
				background-color: @lightblue;
			}
		}
	}
}

.learning-center-category-chat.vc_section {
	margin-top: 77px;

	@media @mobile-query {
		margin-top: 50px;
	}
}

.page-recipes-meal-plans {
	.learning-center-book {
		margin-top: 27px;

		@media @tablet-query {
			margin-top: 58px;
		}

		@media @mobile-query {
			margin-top: 22px;
		}
	}
}