//Magento login page/popup style
.checkout-cart-index,
.modals-wrapper {
	.block-content {
        p,li {
            color: @darkgray;
            margin-bottom: 1rem;
        }
    }
    .block-authentication .block-title {
        font-size: 25px;
        margin-top: 20px;
    }
	.modal-content {
		opacity: 1;
		//position: relative;
		top: 60px;
        left: auto;
        width: 100%;
        max-width: none;
        transform: translate(0);
        border-radius: 0;
        @media @tablet-query {
            top: 60px;
        }
	}
	.block-authentication {
		border-top: 0;
    }
    .action-register.primary{
        @media @mobile-query {
            padding: 0 34px 0 18px;
            &:hover:after {
                right: 16px;
            }
            &:after {
                right: 20px;
            }
        }       
    }
} 
.form-create-account {
    margin: 0 auto;
    .password-strength-meter {
        background: none;
    }
}
// added #maincontent to fix conflict with .login:after on WP site
#maincontent .login:after {
    background: none;
}
.customer-account-login p{
    color: @darkgray;
}