.content-master-list {
    .more-icon-desktop {
        float: right;
        line-height: 0;
        margin-top: 7px;
        width: 31px;
        height: 31px;
        border-radius: 50% 50%;
    }
}

.page-template-page-masterbrand {
    .site-sub-header {
        display: none;
    }

}

@media screen and (max-width: 900px) and (min-width: 768px) {

    .content-master-list .content-block pre {
        font-size: 44px;
        line-height: 51px;
    }

    #hamburger .content-master-list .content-block {

        h2,
        pre {
            font-size: 42px;
            line-height: 45px;
        }
    }

}

.page-template-page-masterbrand {
    #header.site-header {
        top: 0;

        @media only screen and (max-width: 650px) {
            top: 0;
        }
    }


    #content {
        max-width: none;
        background: #f2f2f2;

        &.site-content {
            margin-top: 184px;

            @media @tablet-query {
                margin-top: 80px;
            }

            @media @mobile-query {
                margin-top: 50px;
            }


        }
    }

    .content-master-wrapper {
        max-width: 1480px;
        margin: 0 auto;
        min-height: 600px;
        padding: 46px 20px 0 20px;

        @media(max-width:767px) {
            padding-top: 29px;
            padding: 29px 0;
        }
    }
}

.master-hero.brand-master {
    position: relative;
    font-family: BoosterNextFY, sans-serif;
    background-position: center;
    text-align: center;
    overflow: hidden;

    @media(min-width:768px) {
        background: none;
        background-size: cover;
        background-position: center;
    }

    @media(max-width:767px) {
        padding-top: 0%;
        background-size: cover;
        background-position: center;
    }

    .desktop {
        @media(min-width:768px) {
            display: block;
        }

        @media(max-width:767px) {
            display: none;
        }

    }

    .mobile {
        @media(min-width:768px) {
            display: none;
        }

        @media(max-width:767px) {
            display: block;
        }

    }

    .top.right.mobile {
        right: 20px;
        top: 26px;
        display: block;
    }

    video {
        width: 100%;
        display: block;

    }

    .banner-links {
        max-width: 1456px;
        position: relative;
        margin: 0 auto;
    }

    a {
        font-family: BoosterNextFY, sans-serif;
    }

    .top.left {
        position: absolute;
        left: 23px;
        top: 38px;

        @media @tablet-query {
            left: 0px;
            padding-left: 40px;
        }

        @media(max-width:980px) {
            top: 17px;
        }

        @media(max-width:767px) {
            padding-left: 28px;
            top: 17px;
        }

        h1 {
            font-size: 83px;
            font-family: BoosterNextFY, sans-serif;
            letter-spacing: -1.7px;
            text-transform: none;
            font-weight: 500;
            line-height: 87px;
            text-align: left;

            @media @tablet-query {
                font-size: 63px;
                line-height: 67px;
            }

            @media(max-width:980px) {
                font-size: 58px;
                line-height: 64px;
            }

            @media(max-width:767px) {
                font-size: 50px;
                line-height: 54px;
            }

            p {
                font-size: inherit;
                letter-spacing: inherit;
                line-height: inherit;
            }
        }

    }

    .top.right {
        position: absolute;
        right: 34px;
        top: 55px;

        @media(max-width:980px) {
            top: 29px;
        }

        img {
            width: 59px;

            @media(max-width:767px) {
                width: 42px;
            }
        }
    }

    .bottom.left {
        position: absolute;
        left: 0;
        bottom: 32px;
        padding-left: 25px;
        width: 42%;

        @media @tablet-query {
            padding-left: 40px;
            width: 47%;
        }

        @media(max-width:980px) {
            width: 45%;
            top: -89px;
        }

        @media(max-width:767px) {
            top: auto;
            width: 76%;
            bottom: 12px
        }


        img {
            width: 65px;
            float: left;
            margin-right: 38px;

            @media(max-width:980px) {
                width: 56px;
                margin-right: 13px;
            }
        }

        h2 {
            float: left;
            text-transform: none;
            font-size: 35px;
            font-family: BoosterNextFY, sans-serif;
            margin-top: -8px;
            letter-spacing: -0.1px;
            margin-bottom: 6px;
            color: #ea7641;

            @media(max-width:980px) {
                font-size: 27px;
            }
        }

        p {
            float: left;
            width: 63.5%;
            font-size: 20px;
            text-align: left;
            line-height: 20px;
            color: #ea7641;

            @media(max-width:980px) {
                font-size: 18px;
            }
        }
    }

    .bottom.right {
        position: absolute;
        right: 0;
        bottom: 42px;
        display: inline-block;
        max-width: 597px;
        width: 100%;

        @media(max-width:1285px) {
            max-width: 490px;
        }

        @media(max-width:980px) {
            width: 48%;
            bottom: 33px;
        }

        @media(max-width:767px) {
            display: none;
        }

        img {
            width: 29px;
            margin-left: 17px;
            float: left;

            @media(max-width:980px) {

                margin-left: 15px;
            }

        }

        p {
            float: left;
            letter-spacing: 1px;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ea7641;

            @media(max-width:980px) {
                font-size: 14px;
                margin-top: 3px;
            }
        }

        a {
            color: #ea7641;
            font-size: 18px;
            font-weight: 700;
            float: left;

            &:first-child {
                margin-right: 11%;

                @media(max-width:980px) {
                    margin-right: 5%;
                }
            }
        }

    }
}


.content-master-wrapper {
    font-family: BoosterNextFY, sans-serif;

    a,
    p {
        color: #6E6C69;
    }

    @media @tablet-query {
        padding-right: 20px;
        padding-left: 20px;

    }
}

.content-master-list {
    width: 100%;
    float: left;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 53px;
    margin-bottom: 42px;

    &:last-child {
        border: none;
    }

    a,
    p {
        color: #6E6C69;
    }

    @media(max-width:980px) {
        margin-bottom: 39px;
    }

    @media(max-width:767px) {
        width: 100%;
        padding: 0 30px 20px 31px;
        border-bottom: 1px solid #dadada;
        margin-bottom: 20px;

    }

    .cover {
        float: left;
        width: 19%;
        margin-top: 31px;
        min-width: 152px;

        circle {
            stroke: transparent;
        }

        @media(max-width:767px) {
            min-width: 128px;
            margin-top: 42px;
        }

    }

    .brief-desc-block {
        display: none;
    }

    .image-block {
        float: right;
        width: 100%;
        margin-top: 17px;

        @media(max-width:1023px) {
            width: 45%;
        }

        @media(max-width:767px) {
            display: none;
        }

        @media(min-width:1024px) {
            max-width: 420px;
        }

        @media(min-width:1280px) {
            max-width: 450px;
        }

        @media(min-width:1370px) {
            max-width: 500px;
        }
    }

    .more-icon-desktop {
        float: right;
        line-height: 0;
        margin-top: 0px;

        @media(max-width:767px) {
            margin-top: -4px;
        }
    }

    .more-icon-mobile {
        @media(min-width:768px) {
            display: none;
        }

        @media(max-width:767px) {
            display: none;
        }
    }

    .descript {
        font-size: 20px;
        line-height: 27px;
        letter-spacing: -.01px;
        max-width: none;
        width: auto;
        float: left;

        @media(max-width:980px) {
            font-size: 19px;
            line-height: 23px;
            max-width: 160px;
        }

        @media(max-width:767px) {
            max-width: none;
            width: 71%;
            font-size: 16px;
            line-height: 22px;
        }

        &.desktop {
            @media(min-width:768px) {
                display: block;
            }

            @media(max-width:767px) {
                display: none;
            }

        }

        &.mobile {
            @media(min-width:768px) {
                display: none;
            }

            @media(max-width:767px) {
                display: block;
            }

        }

    }

    .post_title_mobile {
        @media(min-width:768px) {
            display: none;
        }

        @media(max-width:767px) {
            display: block;
        }
    }

    .post_title_desktop {
        @media(min-width:768px) {
            display: block;
        }

        @media(max-width:767px) {
            display: none;
        }

    }

    .content-block {
        float: left;

        @media(max-width:980px) {
            width: 50%;
        }

        @media(max-width:767px) {
            width: 100%;
        }

        @media(min-width:1024px) {
            width: 52%;
        }

        @media(min-width:1280px) {
            width: 58%;
        }

        @media(min-width:1370px) {
            width: 58%;
        }

        br {
            display: none;
        }

        h2,
        pre {
            font-family: BoosterNextFY, sans-serif;
            font-weight: 500;
            text-transform: none;
            letter-spacing: -1.99px;


            @media(max-width:374px) {
                font-size: 34px !important;
                line-height: 38px !important;

            }

        }
    }

    a.list-items {
        float: left;
        width: 100%;
        display: inline-block;

        @media(min-width:1280px) {
            padding: 0px 100px;
        }

        @media(min-width:1024px) {
            padding: 0px 50px;

        }
    }

    span.discript {
        font-size: 23px;
    }

    p.image-block {
        float: right;
    }

    p.image-block.text {
        font-size: 32px;
        width: 36%;
    }
}

//********feature/HFOBCE-286**********//
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgb(242, 242, 242);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    width: 100%;
}


.overlay .closebtn {
    position: absolute;
    top: 188px;
    right: 7px;
    font-size: 60px;
    z-index: 9;
    color: #ff6600;
}

#hamburger {
    .content-master-wrapper {

        @media(max-width:767px) {
            max-height: calc(100% - 152px);
        }

        @media(max-width:358px) {
            max-height: calc(100% - 180px);
        }
    }
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;

    }
}

.tophead {
    background-color: #fff;
    padding: 15px 0 15px 0;
    height: 117px;
    max-width: 1480px;
    margin: 0 auto;
}

.lefttop {
    float: left;
}

.righttop {
    float: right;
    padding-right: 5%;
}


.master-hero.brand-master {
    video {
        position: relative;
        z-index: 1;
    }
}

.master-hero.brand-master {
    .banner-links {
        z-index: 2;
    }
}

.righttop {
    p {
        color: #716F6C;
        float: left;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 500;
    }
}

.darkHeader {
    .header-container {
        box-shadow: 0 3px 4px rgba(85, 85, 85, .03);
    }

    .righttop {
        padding-right: 0%;

        .tog-ham img {
            margin-right: 0px;
        }
    }

}

.footfix {
    display: none;
}

.righttop {
    img {
        margin-left: 17px;
        float: left;
        margin-left: 14px;
        margin-right: 55px;
    }

    .banner-link-1 img {
        width: 29px;
    }
}

.righttop {
    a {
        font-size: 18px;
        font-weight: 700;
        float: left;
        font-size: 16px;
        padding-top: 6%;
        line-height: 19px;
        align-items: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }
}

.lefttop {
    h1 {
        font-family: BoosterNextFY, sans-serif;
        font-weight: 500;
        font-size: 83px;
        line-height: 84px;
        text-transform: none;
        letter-spacing: -1.99px;
        text-transform: none;
    }
}

#hamburger {
    .content-master-wrapper {
        min-height: auto;
        padding: 0px;
        max-width: none;

        a.list-items {
            width: 100%;
            float: none;
            display: block;
            max-width: 1448px;
            margin: 0 auto;
            padding: 0 20px;

            @media(max-width:767px) {
                padding: 0 0;
            }
        }
    }


    .titleblock {
        @media (max-width: 1406px) {
            width: 72.6%;
        }

        @media @tablet-query {
            width: 71.8%;
        }

        @media (max-width:850px) {
            width: 66.9%;
        }
    }

    circle {
        stroke: none;
    }

    .content-master-list .descript {
        float: right;
    }

    .content-master-wrapper::-webkit-scrollbar-track {
        border: 1px solid #000;
        padding: 2px 0;
        background-color: #404040;
    }

    .content-master-wrapper::-webkit-scrollbar {
        width: 10px;
    }

    .content-master-wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #737272;
        border: 1px solid #000;
    }

    .iconblock {
        float: right;
    }



}


.full {
    width: 100% !important;
}

.titleblock {
    width: 73%;
    float: left;
    display: block;
    text-align: left;
    padding-right: 0px;
    margin-right: 5.7%;

    @media(max-width:1406px) {
        width: 70.9%;
    }

    @media @tablet-query {
        width: 65%;
    }

    @media(max-width:980px) {
        width: 62.9%;
    }
}

.descblock {
    width: 16%;
    float: left;
    display: block;
    font-size: 20px;
    text-align: left;
    margin-right: 43px;

    @media @tablet-query {
        width: 21%;
    }

    @media(max-width:980px) {
        width: 22%;
        margin-right: 32px;
    }
}

.descblock {
    .cover {
        width: 100% !important;
        margin-top: 0 !important;
    }
}

.iconblock {
    width: 29px;
    float: left;
    display: block;
    margin-top: 7px;
}

#hamburger {
    .content-master-list {
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding: 49px 0px 48px 0;
        min-height: 266px;

        @media @tablet-query {
            min-height: auto;
        }

        &:last-child {
            border: none;
        }

    }


    .descblock {
        margin-top: 10px;
        margin-right: 15px;
        width: 16%;

        @media (max-width: 980px) {
            width: 16%;
        }
    }
}

#hamburger {
    .post_title_mobile {
        @media(min-width:768px) {
            display: none;
        }

        @media(max-width:767px) {
            display: block;
        }
    }

    .post_title_desktop {
        @media(min-width:768px) {
            display: block;
        }

        @media(max-width:767px) {
            display: none;
        }

    }
}


.cross {
    display: none;
    font-size: 36px !important;
    color: #ff6600;
}

.overlay_1 {
    display: none;
}

.overlay_1 #headfix {
    display: none;
}


@media (max-width: 767px) {

    #hamburger {
        .master-hero.brand-master {
            padding-top: 0;
            box-shadow: 0 3px 4px rgba(85, 85, 85, .03);
        }

        .lefttop h1 {
            font-size: 43px;
            line-height: 63px;
            padding-left: 20px;
        }

        .tophead {
            height: 101px;
        }

        .titleblock {
            width: 86.4%;
        }

        .iconblock {
            float: right;
            margin-right: -8px;
        }

        .post_title_desktop {
            display: none;
        }

        .post_title_mobile {
            display: block;
        }

        .post_title_mobile {
            h2 {
                font-size: 25px;
            }
        }

        .content-master-list {
            padding: 25px 20px;
            width: 100%;
            margin: 0;
        }
    }

    .overlay-content {
        top: 13%
    }

    .descblock {
        display: none
    }

    .titleblock {
        width: 95%
    }

    .lefttop {
        width: 100%;

        .mobile {
            width: 100%;
        }

        h1 {
            font-size: 43px;
            padding-left: 8%;
            text-align: left;
        }
    }

    .overlay .closebtn {
        top: 121px;
    }


    .righttop {
        display: none
    }

    #hamburger {
        .content-master-wrapper {
            position: absolute;
            left: 0px;
            width: 100%;
            overflow-y: scroll;
        }
    }

    .overlay_1 {
        display: none;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        background-color: rgb(242, 242, 242);
        overflow-y: hidden;
    }

    .overlay_1 #headfix {
        display: block
    }

    .cross {
        float: right;
        font-size: 25px;
        position: absolute;
        right: 20px;
        top: 27%;
    }


    .footfix {
        position: absolute;
        left: 0;
        top: 592px;
        border-top: solid 1px #c2c2c2;
        padding: 10px 10px;
        width: 100%;
        display: block;
        text-align: center;
        background-color: #f2f2f2;

        .mobile-only {
            @media (max-width: 767px) {
                display: block;
            }
        }

        a.banner-link-0 {
            display: inline-block;
        }

        a.banner-link-1 {
            display: inline-block;
            margin-left: 3px;
        }

        p {
            color: #716F6C;
            float: left;
            letter-spacing: 1px;
            font-size: 14px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
        }

        img {
            width: 28px;
            margin-left: 17px;
            float: left;
            margin-left: 4px;
            margin-right: 10px;
        }
    }


}