.mission-hero {
	height: auto;
	padding-top: 240px;

	@media @tablet-query {
		padding-top: 190px;
	}

	@media @mobile-query {
		padding-top: 109px;
	}

	& > .main {
		height: 545px;
		padding-top: 0;
		background-repeat: no-repeat;
		background-size: cover;

		@media @mobile-query {
			height: 292px;
		}
	}

	.hero__description {
		max-width: 580px;
		width: 90%;
		margin: 246px auto 0 auto;
		position: static;

		@media @tablet-query {
			max-width: 520px;
			padding-top: 0;
			margin-top: 240px;
		}

		@media @mobile-query {
			margin-top: 125px;
		}

		h3 {
			@media @tablet-query {
				font-size: 27px;
			}

			@media @mobile-query {
				font-size: 23px;
			}
		}
	}
}

.help-graphic-desk {
	float: left;
	width: 100%;
	text-align: center;
	margin: 40px 0 0;
	display:block;
	@media @tablet-query {
		display: none;
	}

	@media @mobile-query {
		display: none;
	}
}

.help-graphic-tab {
	display: none;

	@media @tablet-query {
		float: left;
		width: 100%;
		text-align: center;
		margin: 40px 0 0;
		display: block;
	}

	@media @mobile-query {
		display: none;
	}

}

.help-graphic-mob {
	display: none;

	@media @tablet-query {
		display: none;
	}

	@media @mobile-query {
		float: left;
		width: 100%;
		text-align: center;
		margin:0 0 12px;
		display: block;
	}

}

.mission-what-we-do {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 46px;
	padding-bottom: 40px;

	@media @tablet-query {
		padding-top: 20px;
		padding-bottom: 24px;
	}

	.main {
		width: 70%;
		margin: auto;

		@media @tablet-query {
			width: 91%;
		}
	}

	.col-12 {
		display: flex;
		justify-content: space-between;
	}

	img {
		max-width: 121px;
		max-height: 121px;

		@media @tablet-query {
			max-width: 86px;
			max-height: 85px;
		}

		@media @mobile-query {
			max-width: 63px;
			max-height: 65px;
		}
	}

	p {
		color: @darkgray;
		font-size: 24px;

		@media @tablet-query {
			font-size: 20px;
			line-height: 1.2;
		}

		@media @mobile-query {
			font-size: 13px;
			max-width: 80px;

			&:first-child {
				margin-bottom: 4px;
			}
		}
	}

	.blue {
		p {
			color: @lightblue;
		}
	}

	.green {
		p {
			color: @green;
		}
	}

	.purple {
		p {
			color: @lightpurple;
		}
	}
}

.mission-certification {
	float: left;
	width: 100%;
	padding-top: 41px;
	padding-bottom: 45px;

	@media @tablet-query {
		padding-top: 37px;
		padding-bottom: 42px;
	}

	@media @mobile-query {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	h3 {
		@media @tablet-query {
			font-size: 27px;
			width: 65%;
			margin: auto;
		}

		@media @mobile-query {
			font-size: 20px;
			width: 80%;
		}
	}

	img {
		margin-top: 18px;
		margin-bottom: 14px;
		width: 100%;
		max-width: 60px;

		@media @tablet-query {
			transform: scale(.86);
			margin-top: 9px;
		}

		@media @mobile-query {
			transform: scale(.76);
			margin-top: 2px;
		}
	}

	&__modal-link {
		&:hover {
			text-decoration: none;
		}
	}

	.button {
		background-color: @orange;
		margin-top: 21px;
		color: #fff;

		&:after {
			border-color: #fff;
		}

		@media @tablet-query {
			margin-top: 15px;
			font-size: 16px;
		}

		@media @mobile-query {
			padding-left: 22px;
			padding-right: 32px;
			margin-top: 22px;

			&:after {
				right: 15px;
			}

			&:hover::after {
				right: 11px;
			}
		}
	}

	&-modal {
		z-index: @z-index-uber;
		
		@media @mobile-query {
			position: relative;
		}

		.modal-overlay {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	&-modal-content {
		background-color: @orange;
		border-radius: 0;
		box-shadow: none;
		width: 62%;

		@media @mobile-query {
			width: 100%;
			max-width: none;
			padding: 20px 0
		}

		p {
			margin-top: 30px;
			width: 80%;
			float: left;
			margin-left: 10%;

			@media @tablet-query {
				margin-top: 20px;
			}

			@media @mobile-query {
				margin-top: 7px;
				width: 96%;
				margin-left: 2%;
			}
		}

		img {
			@media @tablet-query {
				transform: scale(.86);
			}

			@media @mobile-query {
				transform: scale(.76);
			}
		}
	}

	&-modal__close {
		width: 25px;
		height: 25px;
		top: 5px;
		right: 27px;

		@media @tablet-query {
			top: 0;
			right: 20px;
		}

		@media @mobile-query {
			top: 0;
			right: 5px;
		}

		button {
			background: none;
			line-height: 18px;
			font-size: 42px;
			line-height: 25px;

			@media @mobile-query {
				font-size: 35px;
			}
		}
	}
}

.mission-nourish {
	float: left;
	width: 100%;
	padding-top: 36px;
	padding-bottom: 30px;

	@media @tablet-query {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	img {
		max-width: 136px;

		@media @tablet-query {
			max-width: 101px;
		}

		@media @mobile-query {
			width: 84px;
		}
	}

	h1 {
		margin-top: 20px;

		@media @tablet-query {
			font-size: 50px;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
		}

		@media @mobile-query {
			font-size: 30px;
			width: 90%;
			margin-top: 10px;
		}
	}
}

.mission-organic {
	float: left;
	width: 100%;
	padding-top: 51px;
	padding-bottom: 43px;

	@media @tablet-query {
		padding-top: 45px;
		padding-bottom: 28px;
	}

	@media @mobile-query {
		padding-top: 42px;
		padding-bottom: 21px;
	}

	h3 {
		color: @green;

		@media @tablet-query {
			font-size: 27px;
		}

		@media @mobile-query {
			font-size: 24px;
			width: 65%;
			margin: auto;
		}
	}

	p {
		color: @darkgray;
		max-width: 670px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 21px;

		@media @tablet-query {
			max-width: 590px;
			margin-top: 17px;
		}

		@media @mobile-query {
			width: 93%;
			margin-top: 26px;
		}
	}

	img {
		margin-top: 7px;
		margin-bottom: 4px;

		@media @tablet-query {
			margin-top: 10px;
			margin-bottom: 7px;
		}

		@media @mobile-query {
			margin-top: 6px;
			margin-bottom: 0;
		}
	}
}

.mission-organic-why {
	float: left;
	width: 100%;
	padding-top: 34px;
	padding-bottom: 38px;

	@media @tablet-query {
		padding-top: 38px;
		padding-bottom: 28px;
	}

	@media @mobile-query {
		padding-top: 29px;
	}

	h3 {
		color: @green;
		margin-bottom: 12px;

		@media @tablet-query {
			font-size: 27px;
			margin-bottom: 5px;
		}

		@media @mobile-query {
			font-size: 24px;
			margin-bottom: 13px;
		}
	}

	p, li {
		color: @darkgray;
	}

	p {
		@media @tablet-query {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__swipe {
		width: 100%;
		float: left;
		margin-top: 18px;

		p {
			font-size: 13px;
			color: @lightgray;
			float: left;
			margin-left: 256px + 12px * 2 + 86px;
			width: auto;

			@media @mobile-query {
				margin-left: 0;
				float: right;
				width: 52%;
			}
		}
	}
}

.mission-organic-points {
	width: 256px;
	margin-top: 34px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 29px;
	background-color: #fff;
	padding-bottom: 20px;
	display: inline-block;
	vertical-align: top;

	@media @tablet-query {
		margin-top: 6px;
	}

	@media @mobile-query {
		padding-bottom: 3px;
		width: 44%;
		margin-left: 3%;
		margin-right: 0;
		margin-bottom: 6px;
	}

	h4 {
		font-size: 20px;
		height: 60px;
		line-height: 60px;
		background-color: @darkbeige;
		color: @darkgray;
		margin-bottom: 30px;
		.rough-border(darkbeige);

		@media @tablet-query {
			font-size: 17px;
			height: 50px;
			line-height: 50px;
		}

		@media @mobile-query {
			font-size: 15px;
			height: 40px;
			line-height: 40px;
			margin-bottom: 19px;
		}

		&:before {
			display: none;
		}

		img {
			vertical-align: middle;
			float: right;
			margin-top: 8px;
			width: 44px;
			height: 44px;
			margin-right: 27px;
			margin-left: -44px / 2 - 27;

			@media @tablet-query {
				width: 34px;
				height: 34px;
				margin-right: 10px;
				margin-left: -34px / 2 - 20;
			}

			@media @mobile-query {
				width: 24px;
				height: 24px;
				margin-left: -24px / 2 - 10;
			}
		}
	}

	li {
		font-size: 18px;
		text-align: left;
		float: left;
		width: 100%;
		padding-left: 12px;
		padding-right: 12px;
		margin-bottom: 20px;
		height: 45px;

		@media @tablet-query {
			font-size: 15px;
		}

		@media @mobile-query {
			font-size: 11px;
			padding-left: 6px;
			padding-right: 6px;
			height: 32px;
			margin-bottom: 12px;
			line-height: 1.2;
		}

		strong, em {
			background-repeat: no-repeat;
			padding-left: 31px;
			float: left;

			@media @mobile-query {
				padding-left: 14px;
				min-height: 32px;
			}
		}

		strong {
			background-image: url('images/thumb-up.svg');
			background-size: 19px 17px;
			background-position: 0 2px;
			font-weight: 500;

			@media @tablet-query {
				background-size: 15px 14px;
			}

			@media @mobile-query {
				background-size: 12px 11px;
				background-position: 0 0;
			}
		}

		em {
			background-image: url('images/thumb-down.svg');-webkit-background-size: ;
			background-size: 18px 18px;
			font-style: normal;
			background-position: 0 4px;

			@media @tablet-query {
				background-size: 15px 15px;
			}

			@media @mobile-query {
				background-size: 12px 12px;
				background-position: 0 1px;
			}
		}
	}

	&--main {
		h4 {
			background-color: @green;
			color: #fff;
			.rough-border(green);
		}
	}

	&-carousel {
		float: none;
		display: inline-block;

		@media only screen and (min-width: @mobile-breakpoint + 1) {
			.slick-track {
				width: 100% !important;

				.slick-slide {
					width: 256px !important;
					margin-left: 12px;
					margin-right: 12px;
				}
			}

			.mission-organic-points {
				margin-left: 0;
				margin-right: 0;
			}
		}

		@media @mobile-query {
			.mission-organic-points {
				box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
				width: 85% !important;
			}
		}

		.slick-list {
			overflow-x: auto;

			@media @mobile-query {
				overflow-x: hidden;
			}
		}

		.slick-track {
			width: 256px * 3 + 12px * 6 !important;

			@media @mobile-query {
				width: 6000px !important;
			}
		}

		.mission-organic-points {
			@media @tablet-query {
				margin-left: 0;
				margin-right: 0;
			}
		}

		.carousel-dots();
		.slick-dots {
			margin-top: 10px;
			li {
				background-color: @lightestgray;

				&.slick-active {
					background-color: @green;
				}
			}
		}
	}

	&__notes {
		max-width: 492px;
		clear: left;
		margin: auto;

		@media @mobile-query {
			text-align: left;
		}

		@media @mobile-query {
			margin-top: 20px;
		}

		p {
			margin-top: 4px;
			font-size: 12px;

			@media @tablet-query {
				font-size: 13px;
			}

			@media @mobile-query {
				font-size: 11px;
				width: 84%;
				margin-top: 9px;
			}
		}
	}
}

.vc_column_container.mission-organic-points-carousel {
	width: calc(100% - 256px - 10px * 3);
	max-width: 256px * 3 + 12px * 6;

	@media @tablet-query {
	}

	@media @mobile-query {
		width: 52%;
	}
}

.mission-enlightened-nutrition {
	float: left;
	width: 100%;
	padding-top: 62px;
	padding-bottom: 40px;

	@media @tablet-query {
		padding-top: 35px;
		padding-bottom: 32px;
	}

	@media @mobile-query {
		padding-top: 30px;
		padding-bottom: 0;
	}

	& > .main {
		max-width: 1142px;
		margin: auto;
	}

	&__intro {
		margin-bottom: 36px;

		@media @tablet-query {
			margin-bottom: 27px;
		}

		@media @mobile-query {
			margin-bottom: 40px;
		}

		h3 {
			color: @green;
			margin-bottom: 19px;
			margin-left: auto;
			margin-right: auto;

			@media @tablet-query {
				font-size: 27px;
				margin-bottom: 12px;
			}

			@media @mobile-query {
				font-size: 24px;
				width: 90%;
			}
		}
	}

	&__item {
		width: 33.33%;
		float: left;
		padding-left: 45px;
		padding-right: 45px;

		@media @tablet-query {
			padding-left: 17px;
			padding-right: 17px;
		}

		@media @mobile-query {
			width: 100%;
			margin-bottom: 37px;
		}

		img {
			max-width: 110px;
			max-height: 110px;

			@media @tablet-query {
				max-width: 90px;
				max-height: 94px;
			}

			@media @mobile-query {
				max-width: 91px;
				max-height: 101px;
			}
		}

		h4 {
			margin-top: 16px;
			margin-bottom: 12px;

			@media @tablet-query {
				font-size: 20px;
				margin-top: 8px;
				margin-bottom: 7px;
			}

			@media @mobile-query {
				font-size: 18px;
				margin-bottom: 10px;
			}
		}
	}
}

.mission-support-families {
	float: left;
	width: 100%;
	padding-top: 48px;
	padding-bottom: 46px;

	@media @tablet-query {
		padding-top: 40px;
		padding-bottom: 32px;
	}

	@media @mobile-query {
		padding-top: 26px;
		padding-bottom: 25px;
	}

	img {
		max-width: 115px;
		max-height: 121px;

		@media @tablet-query {
			max-width: 92px;
			max-height: 96px;
		}

		@media @mobile-query {
			max-width: 89px;
			max-height: 94px;
		}
	}

	h1 {
		margin-top: 17px;
		margin-left: auto;
		margin-right: auto;

		@media @tablet-query {
			font-size: 50px;
			margin-top: 10px;
			max-width: 450px;
		}

		@media @mobile-query {
			font-size: 30px;
			margin-top: 14px;
			width: 80%;
		}
	}
}

.mission-nutrition-education {
	float: left;
	width: 100%;
	text-align: center;

	h1, h2, h3, h5 {
		color: @lightpurple;
	}

	&__title {
		margin-top: 68px;
		margin-bottom: 55px;

		@media @tablet-query {
			margin-top: 40px;
			margin-bottom: 37px;

			h1 {
				font-size: 27px;
				text-transform: none;
				font-family: @booster;
			}
		}

		@media @mobile-query {
			margin-top: 35px;
			margin-bottom: 0;

			h1 {
				font-size: 24px;
				width: 80%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.mission-carousel {
	float: left;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 65px;

	@media @tablet-query {
		padding-top: 40px;
		padding-bottom: 36px;
	}

	@media @mobile-query {
		padding-top: 0;
		padding-bottom: 36px;
	}

	h1 {
		width: 70%;
		margin: auto;

		@media @tablet-query {
			width: 60%;
			font-size: 27px;
			font-family: @booster;
			text-transform: none;
		}

		@media @mobile-query {
			font-size: 24px;
			width: 90%;
		}
	}

	h4 {
		width: 50%;
		font-size: 18px;
		margin-top: 21px;
		margin-left: auto;
		margin-right: auto;

		@media @tablet-query {
			font-size: 16px;
			width: 68%;
		}

		@media @mobile-query {
			font-size: 18px;
			width: 88%;
			margin-top: 26px;
			margin-bottom: 10px;
		}
	}

	p {
		color: @darkgray;
	}

	&-inner {
		margin-top: 65px;
		overflow: hidden;
		.carousel-arrow();

		@media @tablet-query {
			margin-top: 32px;
		}

		@media @mobile-query {
			margin-top: 26px;
		}

		.slick-arrow {
			transition: 0.3s transform;
			top: 20%;
			left: 51px;
			width: 48px;
			height: 48px;

			@media @tablet-query {
				top: 64%;
				left: 12px;
				width: 40px;
				height: 40px;
			}

			@media @mobile-query {
				top: 18%;
			}

			@media @mobile-query {
				left: -3px;
			}

			&:hover {
				transform: scale(1.2) translateY(-50%);
			}

			&.slick-next {
				right: 51px;

				@media @tablet-query {
					right: 12px;
				}

				@media @mobile-query {
					right: -3px;
				}

				&:hover {
					transform: scaleX(-1.2) scaleY(1.2) translateY(-50%);
				}
			}
		}

		.carousel-dots();
		.slick-dots {
			margin-top: 20px;

			li {
				background-color: @lightestgray;
			}
		}
	}

	.slick-list {
		width: 77%;
		margin: auto;

		@media @tablet-query {
			width: 79%;
		}
	}

	.slick-track {
		@media @mobile-query {
			width: 85%;
		}
	}

	.slick-slide {
		margin-left: 30px;
		margin-right: 30px;

		@media @tablet-query {
			margin-left: 38px;
			margin-right: 38px;
		}

		@media @mobile-query {
			margin-left: 0;
			margin-right: 0;
		}

		p:first-child {
			margin-bottom: 37px;
			text-align: center;

			@media @tablet-query {
				margin-bottom: 17px;
			}

			@media @mobile-query {
				margin-bottom: 38px;
			}

			img {
				display: inline;
			}
		}
	}

	&.purple {
		h1, h3, h4 {
			color: @lightpurple;
		}

		.mission-carousel-inner {
			.slick-arrow {
				background-image: url('images/carousel-arrow-purple-no-circle.svg');
			}

			.slick-dots {
				li {
					&.slick-active {
						background-color: @lightpurple;
					}
				}
			}
		}
	}

	&.blue {
		h1, h3, h4 {
			color: @lightblue;
		}

		.mission-carousel-inner {
			.slick-arrow {
				background-image: url('images/carousel-arrow-blue.svg');

				@media @tablet-query {
					background-image: url('images/carousel-arrow-blue-no-circle.svg');
				}
			}

			.slick-dots {
				li {
					&.slick-active {
						background-color: @lightblue;
					}
				}
			}
		}
	}

	&.mission-world {
		h1 {
			@media @tablet-query {
				font-family: @organico;
				font-size: 50px;
				width: 84%;
			}

			@media @mobile-query {
				font-size: 30px;
				background-color: @lightblue;
				color: #fff;
				width: 100%;
				padding-top: 23px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 23px;
				.rough-border(blue);

				&:before, &:after {
					background-size: cover;
				}
			}
		}
	}
}

.mission-thinking {
	float: left;
	width: 100%;
	padding-top: 47px;
	padding-bottom: 47px;

	@media @tablet-query {
		padding-top: 36px;
		padding-bottom: 36px;
	}

	@media @mobile-query {
		padding-top: 28px;
		padding-bottom: 25px;
	}

	img {
		max-width: 121px;

		@media @tablet-query {
			max-width: 92px;
		}

		@media @mobile-query {
			max-width: 97px;
		}
	}

	h1 {
		margin-top: 26px;
		margin-left: auto;
		margin-right: auto;

		@media @tablet-query {
			font-size: 50px;
			margin-top: 12px;
			max-width: 420px;
		}

		@media @mobile-query {
			font-size: 30px;
			margin-top: 15px;
			max-width: 250px;
		}
	}
}

.mission-design {
	float: left;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 55px;

	@media @tablet-query {
		padding-top: 15px;
		padding-bottom: 54px;
	}

	@media @mobile-query {
		padding-top: 20px;
		padding-bottom: 30px
	}

	h4 {
		color: @lightblue;

		@media @tablet-query {
			font-size: 20px;
		}

		@media @mobile-query {
			width: 81%;
		}
	}

	p {
		color: @darkgray;
		max-width: 630px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 12px;

		@media @tablet-query {
			max-width: 466px;
			margin-top: 24px;
		}

		@media @mobile-query {
			max-width: none;
			width: 84%;
			margin-top: 14px;
		}
	}

	&__side-description {
		margin-left: 20%;
		width: 29%;
		margin-top: 10%;
		float: left;

		@media @tablet-query {
			margin-left: 4%;
			width: 41%;
			margin-top: 5%;
		}

		@media @mobile-query {
			width: 100%;
			text-align: center;
			margin-left: 0;
			margin-top: 16px;
		}

		h4 {
			margin-bottom: 24px;

			@media @mobile-query {
				display: none;
				margin-bottom: 3px;
			}
		}
	}

	&__image-description {
		width: 25%;
		margin-right: 17%;
		margin-top: 40px;
		float: right;
		position: relative;

		@media @tablet-query {
			margin-right: 4%;
			width: 43%;
			margin-top: 22px;
		}

		@media @mobile-query {
			width: 68%;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}

		ul {
			li {
				position: absolute;

				&:before {
					content: '';
					display: block;
					background-image: url('images/expand-button-blue.png');
					position: absolute;
					width: 33px;
					height: 33px;
					cursor: pointer;
					background-size: 100%;

					@media @mobile-query {
						width: 22px;
						height: 22px;
					}
				}

				&:hover strong {
					visibility: visible;
					opacity: 1;

					@media @mobile-query {
						visibility: hidden;
						opacity: 0;
					}
				}

				strong {
					visibility: hidden;
					opacity: 0;
					transition: opacity .3s, visibility .3s;
					z-index: @z-index-base;
					position: absolute;
					background-color: rgba(255, 255, 255, 0.9);
					color: @lightblue;
					right: 39px;
					text-align: center;
					box-shadow: -1px 4px 12px 1px rgba(29, 28, 28, 0.06);
					padding-top: 26px;
					padding-left: 30px;
					padding-right: 30px;
					padding-bottom: 26px;

					&:after {
						content: '';
						position: absolute;
						right: -34px;
						top: 0;
						width: 0;
						height: 0;
						border-top: 14px solid transparent;
						border-bottom: 14px solid transparent;
						border-left: 34px solid rgba(255, 255, 255, 0.9);

						@media @mobile-query {
							display: none;
						}
					}

					@media @mobile-query {
						top: 26px;

						&.active {
							visibility: visible;
							opacity: 1;
						}
					}

					.close {
						display: none;
						background-image: url('images/pop-up-close.png');
						background-repeat: no-repeat;
						width: 13px;
						height: 13px;
						position: absolute;
						top: 14px;
						right: 14px;
						cursor: pointer;

						@media @mobile-query {
							display: block;
						}
					}
				}
			}

			li:nth-child(1) {
				top: 33px;
				right: 99px;

				@media @mobile-query {
					top: 90px;
					right: 43%;
				}

				strong {
					width: 330px;
					top: -21px;

					@media @mobile-query {
						right: -138px;
					}

					@media @mobile-query {
						width: 300px;
						right: -134px;
					}

					&:after {
						top: 25px;
					}
				}
			}

			li:nth-child(2) {
				top: 269px;
				right: 240px;

				@media @mobile-query {
					top: 211px;
					right: 76%;
				}

				strong {
					width: 483px;
					top: -117px;

					@media @tablet-query {
						width: 290px;
					}

					@media @mobile-query {
						width: 300px;
						right: -207px;
						top: -157px;
					}

					&:after {
						top: 120px;
					}
				}
			}

			li:nth-child(3) {
				bottom: 53px;
				right: 116px;

				@media @mobile-query {
					bottom: auto;
					top: 260px;
					right: 45%;
				}

				strong {
					width: 393px;
					right: -212px;
					bottom: 43px;

					@media @tablet-query {
						width: 300px;
						right: -119px;
					}

					@media @mobile-query {
						width: 300px;
						bottom: auto;
						top: -120px;
						right: -138px;
					}

					&:after {
						top: 120px;
						border-bottom: none;
						border-left: 14px solid transparent;
						border-right: 14px solid transparent;
						border-top: 34px solid rgba(255, 255, 255, 0.9);
						top: auto;
						bottom: -34px;
						left: 50%;
						margin-left: -14px;
					}
				}
			}
		}

		img {
			float: right;
		}

		h4 {
			display: none;

			@media @mobile-query {
				display: inline;
				width: 124%;
				margin-left: -12%;
				float: left;
				margin-bottom: 20px;
			}
		}
	}
}

.mission-palm-oil {
	float: left;
	width: 100%;
	background-image: url('images/rough-divider-slim-gray.png');
	background-repeat: repeat-x;
	padding-top: 66px;
	padding-bottom: 73px;

	@media @tablet-query {
		padding-top: 38px;
		padding-bottom: 36px;
	}

	@media @mobile-query {
		background-color: @offwhite;
		.rough-border(offwhite);
		background-image: none;
		padding-top: 37px;
		padding-bottom: 33px;
	}

	p {
		color: @darkgray;
		margin-top: 21px;

		@media @tablet-query {
			margin-top: 14px;
		}

		@media @mobile-query {
			margin-top: 18px;
			text-align: center;
		}
	}

	&__image, &__description {
		float: left;

		@media @mobile-query {
			float: none;
		}
	}

	&__image {
		width: 16%;
		margin-left: 28%;

		@media @tablet-query {
			width: 20%;
			margin-left: 17%;
		}

		@media @mobile-query {
			width: 45%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 12px;
		}
	}

	&__description {
		width: 24%;
		margin-left: 12%;
		margin-top: 10px;

		@media @tablet-query {
			width: 39%;
			margin-top: 0;
		}

		@media @mobile-query {
			width: 81%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.mission-info-panel {
	width: 35%;
	margin-left: 42px;
	margin-right: 42px;
	display: inline-block;
	vertical-align: top;
	background-color: @offwhite;

	@media @tablet-query {
		width: 44%;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}

	@media @mobile-query {
		width: 100%;
		margin-top: 50px;
		margin-left: 0;
		margin-right: 0;
	}

	h4 {
		height: 70px;
		line-height: 76px;
		background-color: @lightpurple;
		color: #fff;
		.rough-border(purple);

		&:before, &:after {
			background-size: cover;
		}

		&:before {
			top: -2px;
		}

		&:after {
			bottom: -7px;
		}

		@media @tablet-query {
			font-size: 20px;
			height: 54px;
			line-height: 54px;
		}

		@media @mobile-query {
			font-size: 18px;
			height: 40px;
			line-height: 47px;
			width: 78%;
			margin-left: 11%;
			margin-top: -46px / 2;
		}
	}

	h1, h2 {
		font-weight: 400;
	}

	blockquote p {
		font-size: 46px;
		font-weight: 500;

		@media @tablet-query {
			font-size: 38px;
		}

		@media @mobile-query {
			font-size: 46px;
		}
	}

	p {
		color: @darkgray;
		margin: auto;
	}

	h1 {
		font-size: 109px;
		line-height: 1;

		@media @tablet-query {
			font-size: 75px;
		}

		@media @mobile-query {
			font-size: 60px;
		}
	}

	h2 {
		font-size: 70px;

		@media @tablet-query {
			font-size: 65px;
		}

		@media @mobile-query {
			font-size: 60px;
		}
	}

	h5 {
		font-size: 20px;
		max-width: 330px;
		margin: auto;

		@media @tablet-query {
			max-width: 79%;
		}
	}

	// nutrition
	h4 + p {
		margin-top: 35px;

		@media @tablet-query {
			margin-top: 25px;
		}

		@media @mobile-query {
			margin-top: 22px;
		}
	}

	p + h1 {
		@media @tablet-query {
			margin-top: 9px;
		}

		@media @mobile-query {
			margin-top: 17px;
		}
	}

	h1 + h5 {
		margin-top: 15px;

		@media @mobile-query {
			margin-top: 11px;
		}
	}

	h1 + h5 + blockquote {
		@media @tablet-query {
			margin-top: 4px;
		}

		@media @mobile-query {
			margin-top: 0;
		}
	}

	h1 + h5 + blockquote + h5 {
		margin-top: -3px;

		@media @mobile-query {
			margin-top: 3px;
		}
	}

	h1 + h5 + blockquote + h5 + p {
		max-width: 100%;
		width: 100%;
	}

	// donation
	h4 + h2 {
		margin-top: 20px;
		display: inline-block;

		@media @tablet-query {
			margin-top: 17px;
		}

		@media @mobile-query {
			margin-top: 23px;
		}
	}

	h2 + h5 {
		display: inline-block;

		@media @mobile-query {
			width: 100%;
		}
	}

	h5 + p {
		margin-top: 12px;

		@media @tablet-query {
			margin-top: 16px;
		}

		@media @mobile-query {
			margin-top: 4px;
		}
	}

	h5 + p + h2 + p {
		@media @tablet-query {
			margin-top: 11px;
		}

		@media @mobile-query {
			margin-top: 0;
		}
	}

	p + p {
		margin-top: 15px;
	}

	p + p + blockquote {
		margin-top: 9px;

		@media @tablet-query {
			margin-top: 4px;
		}

		@media @mobile-query {
			margin-top: 0;
		}
	}

	p + p + blockquote + h2 {
		line-height: 0.7;
	}

	p + p + blockquote + h2 + p {
		margin-top: 25px;
		width: 90%;

		@media @mobile-query {
			margin-top: 17px;
		}
	}

	&--education {
		padding-bottom: 62px;

		@media @tablet-query {
			padding-bottom: 20px;
		}

		@media @mobile-query {
			padding-bottom: 12px;
		}

		p {
			max-width: 345px;

			@media @tablet-query {
				max-width: 71%;
			}

			@media @mobile-query {
				width: 88%;
			}
		}

		img {
			margin-top: 12px;
			margin-left: 15px;
			margin-right: 15px;

			@media @tablet-query {
				float: left;
				margin-right: 0;
				margin-top: 0;
				margin-bottom: 23px;
				vertical-align: middle;
			}

			@media @mobile-query {
				transform: scale(0.68);
				float: none;
				margin-bottom: 0;
			}

			&:first-child {

				@media @tablet-query {
					margin-left: 17%;
				}

				@media @mobile-query {
					margin-left: -20px;
				}
			}

			&:nth-child(2) {
				@media @tablet-query {
					margin-left: 23%;
					clear: left;
				}

				@media @mobile-query {
					margin-left: -20px;
				}
			}

			&:last-child {
				@media @tablet-query {
					margin-right: 0;
					margin-left: 23px;
					margin-top: -53px;
				}

				@media @mobile-query {
					margin-left: 0;
					margin-top: 0;
				}
			}
		}
	}

	&--donation {
		padding-bottom: 59px;

		@media @tablet-query {
			padding-bottom: 74px;
		}

		@media @mobile-query {
			margin-bottom: 48px;
		}

		p {
			max-width: 410px;

			@media @tablet-query {
				max-width: 86%;
			}
		}

		img {
			margin-left: 24px;
			margin-right: 24px;

			@media @tablet-query {
				transform: scale(0.92);
				margin-left: 6px;
				margin-right: 6px;
			}
		}
	}

	&--offices {
		background-color: #fff;
		padding-bottom: 22px;

		@media @tablet-query {
			padding-bottom: 31px;
		}

		h4 {
			line-height: 1.17;
			background-color: @lightblue;
			height: 110px;
			padding-top: 30px;
			padding-left: 10%;
			padding-right: 10%;

			&:before, &:after {
				background-image: url('images/border-blue.svg');
			}

			@media @tablet-query {
				height: 91px;
				padding-top: 27px;
			}

			@media @mobile-query {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				background-color: #fff;
				color: @lightblue;

				&:before {
					background-image: url('images/border-white.svg');
				}

				&:after {
					display: none;
				}
			}
		}

		h1, h5, strong {
			color: @lightblue;
		}

		h1, h5 {
			display: inline;
		}

		p {
			width: 68%;

			@media @mobile-query {
				width: 74%;
			}

			strong {
				font-size: 20px;
			}
		}

		h4 + p {
			@media @mobile-query {
				margin-top: 0;
				margin-bottom: 7px;
			}
		}

		h5 + p {
			@media @mobile-query {
				margin-top: 12px;
			}
		}
	}
}

.mission-offices {
	background-color: @offwhite;
	float: left;
	width: 100%;
	position: relative;

	@media @mobile-query {
		background-color: transparent;
	}

	.mission-info-panel {
		margin-left: 10%;
		margin-right: 7%;
		float: left;
		.centerY();

		margin-left: 4%;
		margin-right: 4%;
		position: static;
		transform: none;
		margin-top: 43px;
		margin-bottom: 49px;

		@media @tablet-query {
			width: 41%;
			margin-left: 4%;
			margin-right: 4%;
			position: static;
			transform: none;
			margin-top: 43px;
			margin-bottom: 49px;
		}

		@media @mobile-query {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&__image {
		// width: 48%;
		// float: right;
		width: 51%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;

		@media @tablet-query {
			width: 51%;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			overflow: hidden;
		}

		@media @mobile-query {
			position: static;
			width: 100%;
			height: 230px;
		}

		img {
			display: block;
			height: 100%;
			width: auto;
			max-width: none;
			float: right;

			@media @tablet-query {
				height: 100%;
				width: auto;
				max-width: none;
				float: right;
			}

			@media @mobile-query {
				height: auto;
				width: 100%;
			}
		}
	}
}

.mission-go-green-header {
	float: left;
	width: 100%;
	padding-top: 76px;
	padding-bottom: 68px;

	@media @tablet-query {
		padding-top: 37px;
		padding-bottom: 25px;
	}

	@media @mobile-query {
		padding-top: 20px;
		padding-bottom: 22px;
	}

	h1 {
		margin: auto;

		@media @tablet-query {
			font-size: 50px;
			max-width: 350px;
		}

		@media @mobile-query {
			font-size: 30px;
			max-width: 220px
		}
	}
}

.mission-go-green-content {
	float: left;
	width: 100%;
	padding-top: 38px;

	@media @tablet-query {
		padding-top: 33px;
	}

	@media @mobile-query {
		padding-top: 20px;
	}

	&__intro {
		p {
			color: @darkgray;
			text-align: center;
			margin: auto;

			@media @tablet-query {
				max-width: 360px;
			}

			@media @mobile-query {
				max-width: 86%;
			}
		}
	}

	.learning-center-carousel {
		margin-top: 33px;
		margin-bottom: 47px;
		margin-left: auto;
		margin-right: auto;
		width: 70%;

		@media @tablet-query {
			width: 90%;
			margin-top: 22px;
			margin-bottom: 35px;
		}

		@media @mobile-query {
			margin-bottom: 26px;
		}
	}

	.slick-track {
		display: flex;
		justify-content: space-between;
	}

	.learning-center-card {
		margin-top: 3px;
		width: 50% !important;
		max-width: 284px;

		@media @tablet-query {
			max-width: 268px;
		}

		&__details {

			&:after {

				@media @mobile-query {
					bottom: -0.5px;
				}
			}
		}
	}

	.carousel-dots();
	.slick-dots {
		margin-top: 8px;

		li {
			background: @lightestgray;

			&.slick-active {
				background-color: @orange;
			}
		}
	}

	&__button {
		text-align: center;

		.button {
			background-color: @orange;

			@media @tablet-query {
				font-size: 16px;
			}

			@media @mobile-query {
				padding-left: 20px;
				padding-right: 34px;

				&:after {
					right: 15px;
				}

				&:hover:after {
					right: 11px;
				}
			}
		}
	}
}