.page-modular-landing-module,
.materlandingposts-template-page-modular-landing,
.page-template-page-modular-landing {
    #content.site-content {
        max-width: 100%;
        margin-top: 184px;

        @media @tablet-query {
            margin-top: 80px;
        }

        @media @mobile-query {
            margin-top: 50px;
        }
    }

    .action-interest .modular-landing-wrapper {
        h3, span {
            text-align:center;
            display:block;
        }
        span {
            @media (max-width: 767px) {
              margin-bottom:0 !important;  
              display: block;
            }

        }
    }

    .action-interest .modular-landing-wrapper {
        h3, span {
            text-align:center;
            display:block;
        }
    }

    #custom_fc_button {
        display:none;
    }
   
    .content-master-list {
        @media (max-width: 767px) {
            padding: 0 0px 44px 0px;            
        }
    }

    .content-master-list .descript {
        color: #6e6c69;
    }

    .modular-bottom-sections-wrapper {
        @media (min-width: 768px) {
            float:left;
            width:100%;

        }

    }
    .modular-bottom-sections .bottom-section {
        @media (min-width: 768px) {
            display:block;
        }
    }

    .modular-bottom-section,
    .icons-wrapper,
    .image-slider,
    .controls,
    .modular-bottom-sections,
    .module-11,
    .video-module-wrapper{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        clear: left;
    }

    .modular-top-section {
        background: none;
    }
    .modular-top-section.main_module_modular,.action-interest.main_module_modular {
        width: 100%;       
        display: inline-block;
        text-align:center;
    }

    .caption-title,
    .caption-description {
        color: #6E6C69;
        line-height: 130%;       
        display: block;
        letter-spacing: 0.4px;

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }

    .caption-title {
        font-weight: 700;
        margin-bottom: 5px;
    }

    .icons-wrapper {
        margin: 0px auto 0px auto;
        padding: 0 20px;
        @media (max-width: 767px) {
            margin: 0px auto;
        }
    }
    .image-slider {
        margin-top:0px;
        @media (max-width: 767px) {
            margin-bottom: 54px;
        }
    }

   
    .video-module-wrapper {
        @media (max-width: 768px) {
        margin: 18px 0 56px;
        }
    }

    .slick-slide {
        img {
            @media (max-width: 767px) {
                width: 100%;
            }

        }
    }

    .module-12 {
           @media (max-width:767px) {
                padding-bottom: 60px;
            }
            @media (min-width:768px) {
                padding-bottom:80px;
            }
    }

    .module-twelve-container {
        text-align:center;    
        max-width: (1600px - 2*80px); // Match width of .modular-subbanner-section
        margin: 0 auto;

        img, video {
            width: 100%;
            max-width: 100%;
        }
    }
    //padding-bottom-moduls

    .site-content {
        .modular-landing-wrapper .modular-info {
            @media (max-width:767px) {
              padding-bottom:0px;
            }
        }
        
        .modular-landing-wrapper{  
            &.mod-btn-prev {
                padding-bottom:0;
            }       
            @media (max-width:767px) {
                padding-bottom: 60px;
            }
            @media (min-width:768px) {
                padding-bottom: 80px;
                display: inline-block;
            }
        }
        .modular-subbanner-section { 
            &.mod-btn-prev {
                padding-bottom:0;
            }             
            @media (max-width:767px) {
                padding-bottom: 60px;
            }
            @media (min-width:768px) {
                padding-bottom: 80px;
                margin-top:0;
                padding-top:0;
            }
    
        }
        .image-slider.view-1 {  
            &.mod-btn-prev {
                padding-bottom:0;
            }    
            margin-top:0;
            padding-top:0;
            margin-bottom: 0;       
            @media (max-width:767px) {
               padding-bottom: 60px;
                margin-top:0;
                padding-top:0;
            }
            @media (min-width:768px) {
                padding-bottom: 80px;               
            }
    
    
        }

        .image-slider {     
            &.mod-btn-prev {
                padding-bottom:0;
            }  
            margin-bottom: 0 !important;      
            @media (max-width:767px) {
                padding-bottom: 60px;
                margin-top:0;
                padding-top:0;
            }
            @media (min-width:768px) {
                padding-bottom: 80px;
                margin-top:0;
                padding-top:0;
               
            }
    
    
        }

        
    
        .module-11 .modular-subbanner-section {  
            &.mod-btn-prev {
                padding-bottom:0;
            }  
                     
            @media (max-width:767px) {
                padding-bottom:0;
            }
    
            @media (min-width:768px) {
                padding-bottom: 0;
                margin-top:0;
                padding-top:0;
            }
    
        }
    
        .icons-wrapper {     
            &.mod-btn-prev {
                padding-bottom:0;
            }       
            @media (max-width:767px) {
                padding-bottom: 60px;
            }
    
            @media (min-width:768px) {
                padding-bottom: 80px;
                margin-top:0;
                padding-top:0;
            }    
        }    
    
    }

}

span.dynamic-font-modular {
    @media(max-width:980px) {
        font-size: 21px;
        line-height: 26px;
    }

    @media(max-width:767px) {
        font-size: 18px;
        line-height: 20px;
    }
   
   
}

.modular-landing-wrapper {
    font-family: BoosterNextFY, sans-serif;
    padding-bottom: 0;
    padding-top: 55px;
    max-width: 1600px;
    margin: 0 auto;   

    @media (min-width: 768px) {
        padding: 55px 40px 40px;
    }
    @media (min-width:1024px) {
        padding: 55px 40px 40px;
    }
    @media (min-width:1280px) {
        padding: 55px 80px 40px;
    }
    

    @media (max-width: 767px) {
        padding-top: 0;
    }

    .modular-info {
        @media (max-width: 767px) {
            padding: 30px 20px 50px;
        }

        @media (min-width: 768px) {
            float: left;
            width:48%;
            padding-right: 25px;
        }

        h3 {
            color: #6e6c69;
            font-weight: 400;
            @media (max-width: 350px) {
                font-size: 25px;
            }

            @media (max-width: 767px) {
                font-size: 29px;
                line-height: 31px;
                margin-bottom: 20px;
            }

            @media (min-width: 768px) {
                font-size: 33px;
                line-height: 33px;
                margin-bottom: 25px;
                text-align:left;
            }

            @media (min-width: 1280px) {
                font-size: 65px;
                line-height: 67px;
                margin-bottom: 54px;
            }
        }
        span {
            @media (min-width: 768px) {
                text-align:left;
                display:block;
            }

            @media (max-width: 767px) {
                margin-bottom: 20px;
                display:block;
            }
            
        }

        p {
            color: #6e6c69;

            @media (max-width: 767px) {
                font-size: 25px;
                line-height: 34px;
            }

            @media (min-width: 768px) {
                font-size: 16px;
                line-height: 20px;
            }

            @media (min-width: 1280px) {
                font-size: 32px;
                line-height: 42px;
            }
        }
    }

    .modular-img-wrap {
        z-index: 1;
        position: relative;

        img {
            width:auto;
        }

        video {
            width: 100%;
        }

        @media (max-width: 767px) {
            width: 90%;
            margin: 0 auto;
        }

        @media (min-width: 768px) {
            float: right;
            width: 50%;
        }
    }

    .modular-overlay {
        clear: right;
    }

    .modular-overlay-border {
        clear: right;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 50px;
            margin-top: -156px;
            background: url("./images/border-green.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .modular-back {
        padding-left: 55px;
        position: relative;
        color: #6e6c69;
        line-height: 40px;
        display: block;
        margin-bottom: 20px;
        font-size: 16px;
        text-align:left;

        @media (min-width: 768px) {
            margin-bottom: 30px;
            line-height: 30px;
            font-size: 12px;
            padding-left: 45px;
        }

        @media (min-width: 1280px) {
            margin-bottom: 40px;
            line-height: 40px;
            font-size: 16px;
            padding-left: 55px;
        }

        &:after {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            left: 0;
            background: url("./images/back.svg") 0 0;
            background-size: cover;

            @media (min-width: 768px) {
                width: 30px;
                height: 30px;
            }

            @media (min-width: 1280px) {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.modular-button-wrapper {
    text-align: center;     

    @media (max-width:767px) {
        padding-bottom:60px;
        padding-top:15px;
    }
    @media (min-width: 768px) {
        padding-bottom:80px;
        padding-top:30px;
     }
}

.modular-buttons {
    display: inline-block;
    padding: 0px 25px;
    background: #70A401;
    margin: 0;
    min-width: 200px;
    @media (max-width: 767px) {
        padding: 0 8px;
    }

    button {
        background-color: #fbb913;
        padding: 0 55px 0 40px;
        border: none;
        height: 45px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        font-family: BoosterNextFY, sans-serif;
        border-radius: 25px;
        @media (max-width: 767px) {
            padding: 0 33px 0 23px;
            line-height: 12px;
            font-size: 14px;
        }

        &:after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 40px;
            border-right: 3px solid;
            border-bottom: 3px solid;
            transform: translateY(-50%) rotate(-45deg);
            transition: .2s ease-in-out;
            @media (max-width: 767px) {
                right: 18px;
            }
        }
    }
}
.materlandingposts-template-page-modular-landing .site-content {
    .image-slider,.icons-wrapper,.modular-bottom-sections {
        max-width: 1600px;

        @media (min-width: 768px) {
            padding-right: 40px;
            padding-left: 40px;
        }

        @media (min-width:1024px) {
            padding-right: 40px;
            padding-left: 40px;
        }

        @media (min-width:1280px) {          
            padding-right: 80px;
            padding-left: 80px;
        }
    }
   
   
}

@media screen and (max-width: 980px) and (min-width: 768px) {
    .materlandingposts-template-page-modular-landing {

        .modular-bottom-sections {
            font-size: 44px;
		   line-height: 51px;
        }

    }

}


.modular-subbanner-section {

    @media (max-width: 767px) {
        padding: 0px 20px 0px 20px;
        clear: left;
    }

    .subbanner-info {
        @media (max-width: 767px) {
            margin-bottom: 23px;
        }

    }

    @media (min-width: 768px) {
        padding: 0px 40px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        max-width: 1600px;
        margin: 0 auto;
    }
    @media (min-width:1024px) {       
        padding: 0px 40px 40px;
    }
    @media (min-width:1280px) {     
        padding: 0px 80px 40px;
    }

    .subbanner-info {
        @media (min-width: 768px) {
            width: 50%; 
            padding-right: 25px;
        }

        h3 p {
            @media (max-width: 767px) {               
                margin-bottom:0px;
            }
        }

        h3 {
            color: #70A401;
            line-height: 100%;
            font-weight: 400;           

            @media (max-width: 767px) {
                font-size: 30px;
                margin-bottom: 20px;
            }
            @media (max-width: 350px) {
                font-size: 26px;
                margin-bottom: 19px;
            }

            @media (min-width: 768px) {
                font-size: 36px;
                margin-bottom: 23px;
            }

            @media (min-width: 1280px) {
                font-size: 45px;
                margin-bottom: 43px;
            }
        }

        p {
            color: #6E6C69;
            line-height: 130%;

            @media (max-width: 767px) {
                font-size: 18px;
                margin-bottom: 50px;
            }

            @media (min-width: 768px) {
                font-size: 25px;
            }

            @media (min-width: 1280px) {
                font-size: 32px;
            }
        }
    }

    .subbanner-wrapper {
        @media (max-width: 767px) {
            margin: 0 0px;
            text-align:center;
        }

        @media (min-width: 768px) {
            width:48%;
        }

        img, video {

            @media (max-width: 767px) {
                margin-bottom: 0px;
                width:100%;
            }

            @media (min-width: 768px) {
                margin-bottom:0px;
                width: 100%;
            }
        }
    }
}

.modular-subbanner-sec-section {
    display: flex;

    @media (max-width: 767px) {
        padding: 0px 30px 15px;
        flex-wrap: wrap;
    }

    @media (min-width: 768px) {
        padding: 0px 40px 100px;
        justify-content: space-between;
        align-items: center;
        width:100%;
        max-width: 1600px;
        margin: 0 auto;
    }

    @media (min-width: 1280px) {
        padding: 0 80px 120px;
    }

    .subbanner-info {
        @media (max-width: 767px) {
            margin-bottom: 25px;
        }

        @media (min-width: 768px) {
            width: 37.56%;
        }

        h3 {
            color: #70A401;
            line-height: 100%;
            font-weight: 400;
            @media (max-width: 350px) {
                font-size: 24px;
                margin-bottom: 15px;
            }

            @media (max-width: 767px) {
                font-size: 29px;
                margin-bottom: 22px;
            }

            @media (min-width: 768px) {
                font-size: 36px;
                margin-bottom: 23px;
            }

            @media (min-width: 1280px) {
                font-size: 45px;
                margin-bottom: 43px;
            }
        }

        p {
            color: #6E6C69;
            line-height: 130%;

            @media (max-width: 767px) {
                font-size: 18px;
                margin-bottom: 15px;
            }

            @media (min-width: 768px) {
                font-size: 25px;
                margin-bottom: 33px;
            }

            @media (min-width: 1280px) {
                font-size: 32px;
            }
        }
    }

    .subbanner-wrapper {
        text-align: center;

        @media (max-width: 767px) {
            width: 100%;
            order: 2;
        }

        @media (min-width: 768px) {
            width: 57.29%;
        }

        img, video {
            width: 100%;

            @media (max-width: 767px) {
                min-width: 157px;
            }
        }
    }
}

.icons-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 120px auto;      

    .icon:nth-child(odd) {
        @media(max-width:767px) {
        float:left;
        }

    }
    .icon:nth-child(even) {
        @media(max-width:767px) {
        margin-right:0;
        float:right;
        }

    }
    

    .icon {
        padding: 0px;
        width: 14.35%;
        margin-right: 14%;
        &:last-child, &:nth-child(4) {
            margin-right:0%;
        }
        @media @tablet-query {
            width: 18.35%;
           margin-right: 8%;
        } 
        @media(max-width:980px) {
            width: 20.35%;
            margin-right: 5%;
        }

        @media(max-width:767px) {
            width: 44.7%;
            float: left;
            margin-bottom: 30px;
            margin-right: 5%;
        }
        @media(min-width:768px) {
            margin-bottom:10px;
        }
    }

    .caption-title, .caption-description {
        font-size: 14px;
        text-align:center;
    }

    .image-wrapper{
        margin: 0 0 0px;
        text-align: center;
    }
}

.materlandingposts-template-page-modular-landing.materlandingposts-protecting-the-planet {

    .action-interest + .image-slider .after-icons .info {
        @media (min-width: 768px) {
            width:84%;
        }
    }
    .after-icons .info {
        margin: 0 auto 10px;

        @media (max-width: 767px) {
            margin: 0 auto 0px;
        }        

        div,span {
            text-align:center;
        }

    }  

    .image-slider {

        margin-bottom: 19px;

        @media (max-width: 767px) {
            padding-bottom: 60px;
            margin-bottom: 0;
        }

        .dots {
            @media (max-width: 767px) {
               margin: 0 auto;
            }
        }

    }  

    .icons-wrapper + .image-slider {
        .info .caption-title {

            @media (max-width: 767px) {
                margin-bottom:25px;           
            }
    
        }

        .dots {
            @media (max-width: 767px) {
                margin: 25px auto 0;
            }
        }
    
    }
}

.after-icons {
    .info {
        width: 84%;
        margin: 0px auto 30px;

        @media(max-width:767px) {
            width: 100%;
            margin: 0px auto 18px;
        }
    }
}

.image-slider{
    padding: 0 15px;
    margin-bottom: 120px;

    .items {
        display: flex;
        align-items: center;
    }

    .item {
        margin: 0 5px
    }

    .slick-arrow {
        background-image: url('images/carousel-arrow-green.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 48px;
        min-width: 48px;
        height: 48px;
        top: 50%;
        transform: translateY(-50%);
        color: transparent;
        border-radius: 100%;
        border: 0;
        padding: 0;
        margin: 0 0px 0 0;
        z-index: 1;
    }

    .slick-next {
        transform: translateY(-50%) rotate(180deg);
        margin: 0 0 0 0px;
    }

    .details {
        margin: 25px 0 0;
    }

    .dots {
        width: 70%;
        margin: 25px auto 0;
    }

    .slick-dots {
        display: flex;
        font-size: 0;
        line-height: 0;
        background: #F2F2F2;
        border-radius: 5px;

        li,
        button {
            width: 100%;
            height: 7px;
            border: 0;
            margin: 0;
            padding: 0;
            background: none;
            font-size: 0;
        }

        .slick-active {
            button {
                background: #70A401;
                border-radius: 5px;
            }
        }
    }

    .slick-disabled{
        opacity: 0.4;
    }

    .slick-list{
        width: 100%;
    }
}

.image-slider.view-1{
    margin-top:0px;
    margin-bottom: 60px;

    @media(max-width: 1800px) {
        padding: 0 15px 0 35px;
    }

    @media(max-width: 1024px) {
        padding: 0 15px;
        margin-top: 51px;
    }
    @media(max-width:767px) {
        margin-bottom:20px;
        margin-top: -19px;
    }

    .info{
        width: 100%;
    }

    .caption-description{
        max-width: 50%;

        @media(max-width: 768px) {
            max-width: 100%;
        }
    }

    .slick-active{
        button{
            background: none;
        }        
    }

    .slick-slide{
        overflow: hidden;

        &:last-child{
            opacity: 1;
        }
    }

    .slick-arrow{
        width: 28px;
        min-width: 28px;
        height: 28px;
        position: absolute;
    }

    .slick-prev{
        left:27px;

        @media(max-width:1800px) {
            left:27px;
        }
        @media(max-width:1200px) {
            left:-15px;
        }
    }

    .slick-next{
        right:27px;
        left:auto;
        @media(max-width:1200px) {
            right:-12px;
        }
    }

    .items{
        display: block;
    }

    .slick-slide{
        margin: 0 80px 0;

        @media(max-width:1200px) {
            margin: 0 15px 0;
        }
    }

    .slick-list{
        margin: 0 0px 0;

        @media(max-width:1200px) {
            margin: 0 -4px 0;
        }
        @media(max-width:767px) {
            margin: 0 0px 0;
        }
    }

    .slick-track{
        display: flex;
        align-items: center;
    }

    .progress{
        opacity: .5;
        &:first-child{
            button {
                border-radius: 5px 0 0 5px;
            }
        }
        button {
            background: #70A401;
            border-radius: 0;
        }
    }

    .slick-active {
        button {
            border-radius: 5px;
        }
        &:first-child{
            button {
                border-radius: 5px;
            }
        }

        button {
            border-radius: 0 5px 5px 0;
        }
    }

    .dots{
        width: 40%;
    }

    .slick-dots{
        li, button{
            height: 3px;
        }
    }
}


.sticky-menu {
    position: relative;    
    background: #fff;
    &:after {
        content: '';
        position: absolute;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .09);
        width: 100%;
        top: calc(100% + -6px);
        height: 6px;
    }

    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: BoosterNextFY, sans-serif;
        padding: 55px 20px;

        @media(max-width:768px) {
            padding: 30px 25px;
        }

        .title {
            color: #F37021;
            font-size: 83px;

            @media(max-width:768px) {
                font-size: 43px;
            }
        }
    }

    .actions-wrapper {
        width: 43%;

        @media(max-width:1200px) {
            width: 54%;
        }

        @media(max-width:768px) {
            width: auto;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #716F6C;

        @media(max-width:768px) {
            justify-content: flex-end;
        }


        .icon {
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
            overflow: hidden;
        }

        .text {
            float: left;
            line-height: 29px;
            margin: 0 20px 0 0;

            @media(max-width:991px) {
                margin: 0 5px 0 0;
            }

        }

        .our-story-link {
            font-family: ARS Maquette Pro;

            @media(max-width:768px) {
                display: none;
            }

            .icon {
                width: 29px;
                height: 29px;
                background-image: url("./images/icon-move-forward.svg");
            }
        }

        .download {
            @media(max-width:768px) {
                display: none;
            }

            .icon {
                width: 29px;
                height: 29px;
                background-image: url("./images/icon-download.svg");
            }
        }

        .menu {
            .icon {
                width: 59px;
                height: 59px;
                background-image: url("./images/icon-nav.svg");

                @media(max-width:768px) {
                    width: 43px;
                    height: 43px;
                }
            }
        }
    }
}

.action-interest {    

    .modular-info {
        float: none;
        width: 100%;
    }

    .secede {
        color: #70A401;
    }
}

.modular-bottom-sections-wrapper {
    border-top: 1px solid #c0bfbe;
    background: #F7F7F7;   
}

.modular-bottom-sections {
    color: #6E6C69;
    padding: 33px 20px 20px;
    font-family: BoosterNextFY, sans-serif;

    .icon {
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        width: 29px;
        height: 29px;
    }

    .back-to-all-topics {
        text-align: center;
        font-size: 14px;
        margin: 0 0 62px;

        .icon {
            background: url("./images/icon-back-to-all-topics.svg");
            margin: 30px auto 0;
        }
    }

    .bottom-section {
        display: flex;
        justify-content: space-between;       

        .title {
            font-size: 83px;
            margin: 0 0 35px;

            @media(max-width:1200px) {
                font-size: 63px;
            }

            @media(max-width: 768px) {
                font-size: 45px;
                justify-content: center;
            }

        }

        &.top{
            .icon{
                background-image: url("./images/icon-move-forward.svg");
            }
        }

        &.bottom{
            .icon{
                background-image: url("./images/icon-move-forward-blue.svg");
            }
        }
    }

    .learn-more{
        display: flex;

        @media(max-width: 768px) {
            font-size: 16px;
            align-items: center;
        }

        .text{
            width: 28%;
            margin: 0 20% 0 0;

            @media(max-width:1200px) {
                width: 35%;
                margin: 0 12% 0 0;
            }

            @media(max-width: 768px) {
                width: 70%;
            }

        }
    }

    .info {
        width: 45%;
        margin: 0 5% 0 0;

        @media(max-width: 768px) {
            width: 100%;
            margin: 0;
        }
    }

    .image-wrapper{
        width: 55%;
        text-align: right;

        @media(max-width: 768px) {
            display: none;
        }
    }
}

.module-11{
    .modular-subbanner-section{
        padding: 0px 20px 60px 20px;
        @media(max-width: 768px) {
            padding: 0px 20px 50px;
        }

        .subbanner-info {
            width: 75%;
            display: inline-block;
            margin: 0 auto;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    h3, span{      
        text-align: center;
        display:block;       
    }
}
.video-module-wrapper{
    margin: 0px 0 112px;

    @media(min-width: 768px) {
        padding: 0 20px;
    }

    @media(max-width: 768px) {
        margin: 115px 0 56px;
    }


    .info{
        width: 100%;
        @media (max-width: 768px) {
            padding: 0 15px;
        }
    }

    .caption-description{
        max-width: 60%;
         margin: 0 auto;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}
.video-module{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .video-controls-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: BoosterNextFY, sans-serif;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        z-index: 1;
    }

    .video-icon{
        display: block;
        background-image: url("./images/icon-play-video-green.svg");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        width: 62px;
        height: 60px;
        margin: 0 auto;
    }

    .title{
        margin: 0 0 9px;
    }

    .description{
        margin: 0 0 12px;
    }

    .image-wrapper{
        text-align: center;
        img{
            opacity: 0.7;
        }
    }

    .torn-line{
        background-image: url('./images/torn-line-white.png');
        top: 98%;
        z-index: 5;
        position: absolute;
        height: 39px;
        width: 100%;
    }

    @media (min-width: 1024px) {
        width: 84%;
        margin: 0 auto;
    }
}

.orange {
    color: #F37021;
}

.blue {
    color: #009ED2;
}

.green{
    color: #70A401
}

.mob{
    display: none;

    @media(max-width: 768px) {
        display: block;
    }
}

.desk{
    display: none;

    @media(min-width: 768px) {
        display: block;
    }
}

.materlandingposts-providing-real-time-support-for-parents {

    .image-slider {
        .details {
            @media(max-width:479px) {
                margin: 25px 0 0;
            }

            @media(min-width:480px) {
                margin: 0;
            }
        }

        .dots {
            margin: 0 auto;
        }
    }
}



.materlandingposts-protecting-the-planet {

    .image-slider {
        .details {              
            margin: 0;          
        }
        .dots {
            @media(min-width: 768px) {     
              margin: 0 auto;
            }
        }
    }

}



.materlandingposts-providing-real-time-support-for-parents.materlandingposts-template-page-modular-landing  {
    .site-content .image-slider.view-1 {
        @media (max-width: 767px) {
            margin-bottom: 36px;
        }
    }
}




