// /**
//  * @Madwell
//  */

//
//  Common
//  _____________________________________________

    .pages {
        .items {
          white-space: nowrap;
          list-style: none none;
        }
      > .label {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      .action {
          width: 34px;
          &.previous,
          &.next {
              border-radius: 10px;
              border: 2px solid @orange;
              padding: 12px 20px;
              span {
                color: @orange;
              }
          }
          &.previous {
              margin-right: 47px;             
          }

          &.next {
              margin-left: 47px;
          }
      }
        .item {
          font-size: 16px;
          font-family: @booster;
          line-height: 15.4px;
          letter-spacing: 0.14px;
          margin: 0 2px 0 0;

          a.page {
            &:extend(.pages .item);
            padding: 0 4px;
            text-decoration: none;
          }
          strong.page{
            &:extend(.pages .item);
            color: @orange;
            letter-spacing: 0.14px;
          }
          .label {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }
          &.pages-item-previous{
            a {
              color: @darkgray;
              font-size: 16px;
              font-family: @booster;
              line-height: 15.4px;
              letter-spacing: 0.14px;
              text-decoration: none;
              img {
                vertical-align: middle;
              }
              &:hover, &:focus, &:active {
                &:extend(.pages .item.pages-item-previous a);
              }
            }
          }
          &.pages-item-next{
            a {
              &:extend(.pages .item.pages-item-previous a);
            }
            img {
              &:extend(.pages .item.pages-item-previous a img);
            }
          }
        }


    }

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @mobile-breakpoint) {
  .pages {
    padding: 20px 0 20px 0;
    .items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .action {
      &.previous {
        margin-right: 0px;
      }

      &.next {
        margin-left: 0px;
      }
    }
    .item:not(.mobile-pagination):not(.pages-item-previous):not(.pages-item-next) {
      display: none;
    }
    .item {
      letter-spacing: 0.14px;
      .page-separator {
          color: @darkgray;
      }

      a.page {
        padding:0;
        letter-spacing: 0.14px;
      }
    }
  }
}
//Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @mobile-breakpoint) {
  .pages {
      .mobile-pagination {
        display:none;
      }
  }
}
