
.catalog-product-view {
    button:active {
        box-shadow: none;
    }
    .messages {
        @media @mobile-query {
            position: absolute;
            width: 100%;
            top: 125px;
        }
    }
    .column.main {
        max-width: 100%;
    } 
} 
.product-basic-info-container {
    @media @mobile-query {
       // position: absolute;
       // top: 110px;
    }
}                 
.product-content-container {
    a, li, p{
        color: @darkgray;
    }
    .button {
        border-width: 0;
    }
    margin-top: 53px;
    @media @tablet-query {
        margin-top: 20px;
    }
    @media @mobile-query {
        margin-top:0;
    }
}

.products {
    margin: auto;
}
//product images 

 .fotorama__img--full {
     display: none !important;
 }
 .product-info-price-container{
     display: inline-block;
     @media @tablet-query {
         display: block;
         float: none;
     }
 }
 
 .product-icons-container{
     .icon-item {
        display: inline-block;
     }
 }

 .catalog-product-view .product.media {   
        display: inline-block;
        float: none;
        width: 45%;
        max-height: 600px;     
        margin-left: 80px;
    .fotorama {
        max-height: 600px;
    }
    .fotor__wrap {
        z-index: @z-index-base;
    }
    @media @smdesktop-query {
        margin-left: 20px;
    }
    @media @tablet-query {
        width: 50%;
        margin-left:0;
    }
    @media @mobile-query {
        width: 100%;
        margin-top: 0;
        margin-left:0;
        
        
        /* TODO move later */
        .fotorama__nav-wrap--vertical {
            position:static;
            display:block;
            
            .fotorama__nav.fotorama__nav--thumbs {
                width:100% !important;
                height: auto !important;
            }
            .fotorama__nav__frame--thumb {
                display:inline-block !important;
            }
        }
        .fotorama__stage__shaft  {
            max-width: none !important;
        }
        .fotorama__stage {
            left:0 !important;
            height:350px !important;
        }
        /* END move later */
    }
    .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
        width: 100%;
        text-align: center;
    } 
    
    .gallery-placeholder {
        .fotorama__stage {
            margin-left: -42px;
            max-height: 550px;
            @media @tablet-query {
                margin-left: 0;
            }
            @media @mobile-query{
                margin: 0 auto;
            }          
        }
        .fotorama__nav--thumb {
            margin-bottom: 21px;
        }
        .fotorama__thumb-border {
            border: 0;
            background: none;
        }
        .fotorama__nav__frame--thumb {
            opacity: .5;
            margin-bottom: 20px;
            @media @tablet-query {
                height: 85px;
                max-width: 65px;
                padding: 0;
                margin: 5px;
            }
        }
        .fotorama__active{
            opacity: 1;
        }
        .fotorama__thumb {
            background: none;
        }
        .fotorama__stage__shaft.fotorama__grab{
           max-height: 450px;
           @media @tablet-query {
               max-height: 309px;
           }
           @media @mobile-query {
               max-height: 350px;
           }
        }
        .fotorama__stage__frame .fotorama__img {
            max-height: 100%;
            max-width: 100%;
            height: auto;
            left: 50%;
            @media @mobile-query {
                left: 50%;
            }
        }
    }
}
//product information section
.product-details {
    position: relative;
}

.catalog-product-view .product-info-main {
    color:  @darkgray;
    font-family: @booster;
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 45%;
     &.basic-info.mobile-only {
            display: none;
            @media @mobile-query {
                display: block;
            }
    }
    @media @smdesktop-query {
        width: 49%;
    }
    @media @mobile-query {
        width: 100%;
        float: none;
     }
    .page-title {
        font-size: 46px;
        line-height: 63px;
        font-weight: 400;
        color: @green;
        text-align: left;
        @media @smdesktop-query {
            font-size: 40px;
            line-height:43px;
        }
        @media @tablet-query {
            font-size: 36px;
        }
        @media @mobile-query {
            color: @green;
            line-height:40px;
            font-size: 30px;
            line-height: 37px;
            margin-bottom:0;
        }
    }
    .product-info-price-container .price-box .price-wrapper .price {
        font-weight: 700;
    }
    .product-packaging {
        display: inline-block;
        font-size: 22px;
        color: @mediumgray;       
        font-weight: 700;
        line-height: 31.71px;
        @media @tablet-query {
            font-size: 15px;
        }
        @media @mobile-query {
            line-height: 24px;
            vertical-align: top;
            color: @lightgray;
        }
    }
    .price-box.price-final_price,
    .product-price-label.product-page {
        display: inline-block;
    }
    .price-box{    
        font-weight: 700;
        .price-wrapper .price {
            font-size: 29px;
            color: @darkgray;
            font-weight: 700;
            line-height: 36px;
            @media @smdesktop-query {
                font-size: 27px;
            }
            @media @mobile-query {
                font-size: 24px;
                line-height:25px;
            }
        }    
    }
    .product-price-label {
        font-size:15px;
        font-weight: 700;
        @media @mobile-query {
            font-size: 14px;
            color: @lightgray;
        }
    }
    .product-price-label .price-box {
            .price {
                font-size: 15px;
                line-height: 27.73px;
            }     
    }
    .overview,
    .overview p {
        color:  @darkgray;
        font-size: 18px;
        line-height: 31.82px;
        font-weight: 500;
        margin-bottom: 28px;
        @media @tablet-query {
            font-size: 16px;
            line-height:25px;
        }
        @media @mobile-query {
            font-size:14px;
            line-height:22px;
        }
    }
    .icon-item {
        display: inline-block;
        text-align: center;
        width: 19%;
        height: 90px;
        vertical-align: top;
        @media @tablet-query {
            width: 18%;
        }
        .icon {
            display: inline-block;
            margin-bottom: 10px;
            @media @tablet-query {
                max-width: 35px;
            }
            img {
                width: 43px;
                height: 43px;
                @media @tablet-query {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .title {
            color: @lightgray;
            display: block;
            font-size: 13px;
            line-height: 16px;
            font-weight: 700;
            @media @mobile-query {
                font-size:10px;
                line-height: 12px;
            }
        }
    }

    .box-tocart {
        margin-top: 39px;
        padding: 0;
        width: 100%;
        .field.qty {
            display: inline-block;
            width: 176px;
            height: 45px;
            border-radius: 23px;
            background: @offwhite;
            border: 0;
            position: relative;
            padding: 0;
            margin: 0 45px 0 0;
            @media @smdesktop-query {
                margin: 0 20px 0 0;
                width: 150px;
                height: 40px;
            }
            @media @tablet-query {
                display: block;
                float: left;
                height: 40px;
                width: 128px;
                margin: 0;
            }
            @media @mobile-query {
                width: 94px;
            }
            button {               
                border: 0;
                background: none;
                .centerY();
                color: @lightestgray;
                display: inline-block;
                font-family: @booster;               
                font-size: 45px;
                font-weight: 700;
                z-index: @z-index-base;
                @media @mobile-query {
                    padding: 5px;
                    font-size:25px;
                }
            }
            .button-minus {              
                left: 0;
                @media @mobile-query {
                    left:4px;
                }
            }
            .button-plus {             
                right: 0;
                @media @mobile-query {
                    right:4px;
                }
            }
        }
        .input-text.qty {
            background: none;
            border: 0;
            display: block;
            text-align: center;
            font-size: 24px;
            font-family: @booster;
            height: 45px;
            margin: 0 auto;
            padding: 0;
            border-radius: 0;
            @media @tablet-query {
                font-size: 20px;
            }
            @media @mobile-query {
                font-size: 16px;
                padding:0;
            }
        }
        .actions{
            display: inline-block;
            @media @tablet-query {
                display: block;
                float: right;
                padding-top: 0;
            }
        }
    }

    .product-info-stock-sku {
        @media @mobile-query {
            text-align: center;
        }
    }
    .stock.unavailable {
        float: right;
        font-size: 30px;
        margin-right: 0;
        text-transform: initial;
        color: @lightgray;
        margin-top: 40px;
        width: 100%;
        @media @mobile-query{ 
            margin-top: 20px;
        }
    }
}


//Your May Also Like and More for your family sections
.product-addition {
    display: inline-block;
    margin-top: 53px;
    width: 100%;
    
    @media @tablet-query {
        margin-top: 20px;
    }
    @media @mobile-query {
        margin-top: 12%;
    }
}
.column.main .block {
    .product-item{
        display: inline-block;
        text-align: center;
        width: 25%;
    }
    .title {
        color: @orange;
        font-family: @organico;
        h3 {
             font-size: 60px;
             font-weight: 400;
             @media @mobile-query {
                 font-size: 30px;
             }
        }
        #block-related-heading {
            color: #fff;
            font-size: 60px;
            @media @tablet-query {
                font-size: 50px;
            }
            @media @mobile-query {
                color: @lightpurple;
                font-size: 40px;
                background: rgba(255,255,255, .8);
                border-bottom: 5px solid #FFF;
                border-top: 5px solid #FFf;
                border-image: url('./images/border-white.svg');
                height: auto;
                line-height: 1.2em;
                padding: 10px 0;
            }
        }      
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        margin-bottom: 0;
    }
    .product-item-name{
        display: block;
        height: 50px;
        @media @mobile-query {
            font-size: 14px;
            height: auto;
        }
    }
    .product-line {
        color: @lightgray;
        font-size: 15px;
        font-weight: 700;
        max-height: 24px;
        overflow: hidden;
        @media @tablet-query {
            font-size:13px;
        }
        @media @mobile-query {
            max-height: 18px;
            font-size: 10px;
        }
    }
    a.product-item-link {
        text-decoration: none;
        color: @darkgray;
        font-size: 18px;
        font-family: @booster;
        @media @tablet-query {
            font-size: 16px;
        }
        @media @mobile-query {
            font-size: 14px;
        }
    }
    button {
        background: @orange;
        margin-top: 22px;
        @media @mobile-query {
            margin-top: 5px;
        }       
        &:hover,
        &:active {
            color: #FFF;
        }
    }
    &.related {
           .product-item {
            width: 33%;
        }
        button {
         background: @lightpurple;
         max-width: 450px;
         @media @mobile-query {
             background: @offwhite;
             color:@lightpurple;
             &::after {
                 border-color:@lightpurple;
             }
         }
         
        }
        .block-title {
            padding-top: 119px;
            margin-bottom: 51px;
            padding-top: 138px;
            background: url(./images/pdp/bg-image-related.png) no-repeat top center;
            background-size: cover;
            height: 407px;
            @media @tablet-query {
                background: url(./images/pdp/bg-image-related-mobile.png) no-repeat top center;
                background-size: cover;
                padding-top: 153px;
            }
            @media @mobile-query {
                padding-top: 290px;
            }
        }
        @media @tablet-query {
            margin-bottom: 120px;
        }
        @media @mobile-query {
            margin-bottom: 40px;
        }
    }
    
}
.block.upsell {
    margin-bottom: 0;
    .block-title {
        margin-top: 0; /* white space on image adds some whitespace */
        
    }
    h2 {
        font-size: 60px;
        @media @tablet-query {
            font-size:40px;
            margin-top:40px;
        }
        @media @mobile-query {
            margin-top: 14px;
        }
    }
}
.products-upsell {
    margin: 20px 0 0; /* images in carousel have padding which increase overall whitespace */

}

.products-grid.products-related{
    text-align: center;
    width:92%;
    .product-line {
        display: none;
    }

    .name.product-item-name {
        display: block;
       a {color: @lightpurple;} 
    }
    @media @mobile-query {
        background: @lightpurple;
    }
}
.product-item-info{
    width: auto;
}
.product-blocks .product-item-details {
    text-align: center;
}

//slide button 
#upsell,
#related {
    max-height: 600px;
    @media @tablet-query {
        max-height: 500px;
    }
    .carousel-arrow-circle( @bg-color:#FFF);
        button.slick-arrow {
        .centerY();
        margin-top: 0;
        z-index: @z-index-base;       
    }

    .slick-slide {
        display: block;
        text-align: center;
        overflow: hidden;
    }
    .product-item:nth-child(2n) {
        margin-left: auto;
    }
    .slick-list {
        max-width: 92%;
        margin: 0 auto;
    }     
}

#upsell .slick-next {
    right: -20px;
}

#upsell .slick-prev {
    left: 0;
    @media @mobile-query {
        left: -20px;
    }
}

#related .slick-next {
    right: -75px;
    @media @smdesktop-query {
        right: -59px;
    }
    @media @tablet-query{
        right: -40px;
    }
    @media @mobile-query {
        right: -25px;
    }
}

#related .slick-prev {
    left: -55px;
    @media @smdesktop-query {
        left: -40px;
    }
    @media @tablet-query{
        left: -25px;
    }

}
.related-short-description, 
.related-short-description p,
.related-short-description p:last-child {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    height: 81px;
    @media @mobile-query {
        color: #fff;
        max-width: 90%;
    }
}
@media @tablet-query {
    #related .product-items {
        margin-left: 0;
    }
    #upsell button.slick-arrow,
    #related button.slick-arrow {
     height: 45px;
     width: 45px;
     top: 38%;
    }
    #upsell button.slick-arrow:after,
    #related button.slick-arrow:after {
    width: 13px;
     height: 13px;
     left: 28%;
    }
}
.related .block-content {
    margin-top: -152px;
}    
@media @mobile-query {
	.related .block-content {
        background:@lightpurple;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-image: url('./images/border-white.svg') 1 space;
        margin-top: -54px;
	}
    #upsell button.slick-arrow {
        height: 32px;
        width: 32px;
        top: 40%;
       } 
    #related button.slick-arrow {
     height: 40px;
     width: 40px;
     top: 50%;
     background:@lightpurple;
     border-color:@offwhite;
    }   
    #upsell button.slick-arrow:after {
        width: 10px;
        height: 10px;
        left: 25%;
    }
    #related button.slick-arrow:after {
        width: 12px;
        height: 12px;
        left: 26%;
        background:@lightpurple;
        border-color:@offwhite;
    }
    #related button.slick-arrow:hover:after {
        left: 35%;
    }
    #related .product-image-photo {
        max-width: 70%;
        margin: 30px auto 0;
    }
    #related .product-item-details {
        margin-top: -25px;
        p, a{
            color: #FFF;

            @media @mobile-query {
                display: block;
            }
        }
    }  
}
#upsell .product button {
    @media @tablet-query {
        min-width: 140px;
        font-size: 16px;
        padding: 0px 63px 0 45px;
    }
    @media @mobile-query {
        min-width: 100px;
        max-width: 145px;
        padding: 0px 35px 0 29px;
         &:after {
            right: 20px;
        }
    }
}
#related .product button {
    @media @tablet-query {
        max-width: 302px;
        overflow: hidden;
        &:after {
            right: 25px;
        }
        &:hover:after {
            right: 20px;
        }
    }
    @media @tablet-query {
        max-width: 260px;
    }
    @media @mobile-query {
        max-width: 240px;
        min-width: 182px;
        padding: 0 23px 0 10px;
        margin-top: 15px;
        &:after {
            right: 32px;
        }
        &:hover:after {
            right: 30px;
        }
    }
}

.am_shopby_filter_items_attr_lifestage,
.am_shopby_filter_items_attr_age_range {
   .label {
        text-transform: lowercase;
   }
}

.am_shopby_filter_items_attr_allergies .label {
    text-transform: none;
}
