
  input[type=checkbox] {
    display:none;
  }
  
  input[type=checkbox] + label
  {
    background:  transparent url('./images/plp/filter-checkbox.svg') no-repeat 0px 0px;
    height: 19px;
    width: 18px;
    display:inline-block;
    padding: 0 5px 0 0px;
    vertical-align: middle;
  
  }
  input[type=checkbox]:checked + label
  {
    background:  transparent url('./images/plp/filter-checkbox-checked.svg') no-repeat 0px 0px;
    height: 19px;
    width: 18px;
    display:inline-block;
    padding: 0 5px 0 0px;
  }
  
  @media @lgdesktop-query {
    .breadcrumbs {
      .item:not(:last-child)::after {
        font-size: 16px;
        font-weight: 400;
        line-height: 15.4px;
        font-family: @organico;
      }
    }
  }
  
  @media @mobile-query {
    .breadcrumbs {
      .item:not(:last-child)::after {
        color: @darkgray;
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;
        padding-left:3px;
        letter-spacing: 0.15px;
      }
    }
  }