.learning-center-article__content,
.page-template-page-basic .text-darkgray {

	& > *:first-child,
	& > *:first-child > *:first-child,
	& > *:first-child > *:first-child > *:first-child {
		margin-top: 0;
	}

	@media @tablet-query {
		margin: 20px 0;
	}

	h1, h2, h3, h4, h5, h6 {
		text-transform: none;
		font-family: @booster;

		& + p > b,
		& + p > strong {
			margin-top: auto;
		}
	}

	h1 {
		font-size: 24px;
		margin-top: 36px;
		margin-bottom: 10px;
		letter-spacing: 0;

		@media @tablet-query {
			font-size: 27px;
			margin-top: 3px;
		}

		@media @mobile-query {
			font-size: 20px;
			margin-top: 12px;
			margin-bottom: 7px;
		}
	}

	h2 {
		font-size: 22px;
		margin-top: 32px;
		margin-bottom: 8px;

		@media @tablet-query {
			font-size: 25px;
			margin-top: 3px;
		}

		@media @mobile-query {
			font-size: 18px;
			margin-top: 12px;
			margin-bottom: 7px;
		}
	}

	h4 {
		font-size: 20px;
		margin-top: 28px;
		margin-bottom: 8px;

		@media @tablet-query {
			font-size: 23px;
			margin-top: 3px;
		}

		@media @mobile-query {
			font-size: 16px;
			margin-top: 12px;
			margin-bottom: 7px;
		}
	}

	h5 {
		font-size: 18px;
		margin-top: 26px;
		margin-bottom: 6px;

		@media @tablet-query {
			font-size: 21px;
			margin-top: 3px;
		}

		@media @mobile-query {
			font-size: 14px;
			margin-top: 12px;
			margin-bottom: 7px;
		}
	}

	h6 {
		font-size: 17px;
		margin-top: 26px;
		margin-bottom: 6px;

		@media @tablet-query {
			font-size: 20px;
			margin-top: 3px;
		}

		@media @mobile-query {
			font-size: 14px;
			margin-top: 12px;
			margin-bottom: 7px;
		}
	}

	p, li, table {
		color: @darkgray;
		margin-bottom: 12px;

		@media @tablet-query {
			font-size: 16px;
			margin-bottom: 20px;
		}

		@media @mobile-query {
			font-size: 14px;
			margin-bottom: 7px;
		}
	}

	a {
		color: @orange;
	}

	b, strong {
		margin-top: 15px;
		display: inline-block;
	}

	ol {
		list-style: none;
		counter-reset: li;
		padding-left: 23px;

		& > li {
			counter-increment: li;

			&:before {
				content: '.' counter(li);
				color: red;
				display: inline-block;
				width: 1em;
				margin-left: -1.5em;
				margin-right: 0.5em;
				text-align: right;
				direction: rtl;
				font-weight: 700;
			}
		}
	}

	ul {
		list-style: none;

		li {
			padding-left: 1em;
			text-indent: -.7em;

			&:before {
				content: "• ";
				background-color: transparent;
				color: @orange;
			}
		}
	}
	
	ul ol li, ol ol li, ul ul li, ol ul li {
		padding-left: 1.5em;
		text-indent: 0;
	}

	li {
		margin-top: 6px;

		b, strong {
			display: inline;
			margin-top: auto;
		}
	}

	blockquote {
		padding: 20px;
	}

	sup {
		vertical-align: super;
		font-size: 0.7em;
	}

	img {
		margin-bottom: 12px;
	}

	table {
		margin: 15px 0 5px;
	}

	td {
		border: 1px solid @darkgray;
		padding: 5px;
	}
}