
.p-w-r .pr-snippet .pr-snippet-stars .pr-rating-stars .pr-star-v4 {
    width: 15px !important;
    height: 15px !important;
    @media @tablet-query {
        width: 12px !important;
        height: 11px !important;
    }
}

.p-w-r .pr-review-snapshot .pr-snippet .pr-snippet-stars .pr-rating-stars .pr-star-v4 {
    width: 24px !important;
    height: 24px !important;
    @media @tablet-query {
        width: 20px !important;
        height: 20px !important;
    }
}


.p-w-r .pr-media-carousel {
     .button:focus {
         outline: none;
     }

     .button:after {
         content: none;
     }

     .carousel__footer {
            .centerX();
    }

    .carousel__body.carousel__body--dark {
        width: 100%;
    }

    .carousel__body .slide {
        display: block;
        width: auto;
        height: auto;
        .center();
    }

    .carousel__body .slide img {
        width: 100%;
        height: auto;    
    }

    .carousel__body .slide__left,
    .carousel__body .slide__right {
        margin-left: -100%;
        transform: translateX(-100%);
    }

}

.p-w-r section.pr-media-modal {
    padding: 0;
    left: auto;
    @media @lgdesktop-query {
        left: 0;
    }
}

.page-wrapper {
    .pwr-category-snippets {
      .p-w-r {
         margin:0;
        .pr-category-snippet {
          display:block;
        }
        
        .pr-rating-stars {
          padding-bottom: 6px;
        }
      }
    }
    .p-w-r {
     
      .pr-category-snippet__total {
        display:none;
      }
      .pr-snippet-stars {
        .pr-snippet-rating-decimal {
           display:none;
        }
      }
    }
  }

#maincontent .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-100-filled {
    background-image: url(./images/star-filled.svg);
} 

#maincontent .p-w-r .pr-category-snippet .pr-category-snippet__item .pr-rating-stars .pr-star-v4-100-filled {
    background-image: url(./images/star-filled-orange.svg);
}

.p-w-r .pr-category-snippet .pr-category-snippet__item .pr-rating-stars .pr-star-v4-75-filled {
    background-image: url(./images/star-75-filled-orange.svg);
}

.p-w-r .pr-category-snippet .pr-category-snippet__item .pr-rating-stars .pr-star-v4-50-filled {
      background-image: url(./images/star-50-filled-orange.svg);
}

.p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-75-filled {
    background-image: url(./images/star-75-filled-yellow.svg);
}

.p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-50-filled {
    background-image: url(./images/star-50-filled.svg);
}

.p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-0-filled {
    background-image: url('./images/star.svg');
}


//Reviews section style 
#pr-reviewdisplay .p-w-r footer.pr-rd-main-footer {
    display: block;
    border-bottom: 4px solid #FCF8F2;
    .pr-rd-review-position {
        display: none;
    }

    .pr-rd-to-top {
        color: @orange;
        font-size: 18px;
    }

    .pr-rd-pagination {
        @media @tablet-query {
            border-top: none;
            border-bottom: none;    
        }
    }

    @media @tablet-query {
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
    }

    .pr-rd-pagination .pr-rd-pagination-btn {
        color: @orange;
        font-size: 18px;
        font-family: @booster;
        margin: 0 30px;
        padding: 5px 15px;
        border-radius: 23px;
        border: 2px solid @orange;
        &:focus {
            box-shadow: none;
            outline: none;
        }
        &:hover {
            color: #fff;
            background: @orange;
            opacity: .8;
        }

        @media @tablet-query {
            font-size: 15px;
            &[aria-label="Previous"] {
                float: left;
                margin-left: 0;
            }
            &[aria-label="Next"] {
                float: right;
                margin-right: 0;
            }
        }
    }
    span {
        display: none;
    }
}
.catalog-product-view .product.data.items {
    text-align: center;
    @media @tablet-query {
        position: relative;
    }
    padding-top: 50px;
    border-top: 3px solid @lightestgray;
    border-image: url('images/border-lightgray.svg') 15;
    &> .item.title.active {
        background: url(./images/reviews-qa.png) no-repeat left bottom;
        @media @tablet-query {     
            right: 50%;
            left: auto;
            z-index: @z-index-high;
            top: 40px;
            position: absolute;
        }
        &> .switch {
            background: none;          
            color: @darkgray;
            padding: 0;
            &:active,
            &:hover,
            &:focus {
                background: none;
                padding: 0;
            }       
        }
    }
    &> .item.title {       
        display: inline-block;
        float: none;
        background: url(./images/reviews-qa.png) no-repeat right bottom;
        margin-right: 0;
        margin-left: -5px;
        @media @tablet-query {
            position: absolute;
            top: 40px;
            right: auto;
        }
        @media @mobile-query {
           // right: 19%;
        }
        &> .switch {
            border: 0;
            background: none;
            color: @lightgray;
            font-size: 30px;
            font-weight: 900;
            font-family: @booster;
            height: auto;
            line-height: 45px;
            padding: 0;
            width: 200px;   
            &:visited {
                color: @lightgray;
            }        
            @media @mobile-query {
               width:120px;
            }
        }
        &:not(.disabled) > .switch:hover {
            background: none;
        }
        @media @tablet-query {
            width: auto;
            max-width: 200px;
        }
        @media @mobile-query {
            width: 100%;
            max-width: 140px;
        }
    }
    &> .item.content {
        border: 0;
        @media @tablet-query {
            width: 100%;
            padding: 20px 20px 80px;
            left: 0;
        }
        @media @mobile-query {
            padding: 20px;
        }
        
    }   
}

#pr-image-display {   
    margin-top: 60px;
}
.writereview-index-index #maincontent {
    margin-bottom: 100px;
}

#pr-write {
    .pr-war {
        margin: 0 auto;
    }

    .pr-subscript {
        line-height: 1.5;
        a {
            font-size: 18px;
        }
    }

    span.pr-required-indicator {
        color: @red;
    }
    .p-w-r {
        
        a {
            color: @orange;
        }

        textarea.form-control {
            border-radius: 32px;
        }

        p,
        label,
        span, 
        legend {
            color: @darkgray;
            font-family: @booster;
            font-size: 18px;
        }

        input[type=text] {
            height: 45px!important;
            border-radius: 32px;
        }

        .btn-group-radio-vertical {
            border-radius: 32px;
        }

        .pr-btn.active {
            background: @orange;
        }
        
        .pr-accessible-btn,
        .pr-btn-fileinput {
            background: @orange;
            .button();
            border: 0;
            span, span:after {
                content: none;
                color: #FFF;
            }           
        }
        
        .pr-header-product-name {
            font-size: 20px;
            font-family: @booster;
            font-weight: 700;
        }

        .pr-header-title {
            display: none;
        }

        .p-w-r .pr-clear-all-radios {
            color: @orange;
        }

        .pr-header-required {
             margin-bottom: 40px;
             span{
                display: none;   
            }
        }
    }
}

.p-w-r .pr-btn.pr-btn-default.pr-accessible-btn,
.p-w-r .pr-review-snapshot .pr-review-snapshot-simple .pr-review-snapshot-snippets .pr-snippet-read-and-write a {
    .button();
    background-color: @orange;
    border: 0;
    &:active, &:focus {
        outline: none;
    }
}

.p-w-r .pr-qa-display.pr-qa-display-desktop h2.pr-qa-display-thankyou-headline {
    float: none;
    text-align: center;
    font-family: @booster;
    color: @darkgray;
}

#pwr-snippets {
    display: inline-block;
    float: right;
    padding-top: 5px;  
    @media @tablet-query {
        float: none;
    }
    .p-w-r {
        
        .pr-snippet-reco-to-friend,
        a .pr-snippet-write-review-link {
            display: inline-block;
            color: @green;
        }

        .pr-snippet-stars-container {
            display: inline-block;
            margin: 0 15px 0 0px;
            @media @tablet-query {
                margin-left: 0px;
                margin-right: 5px;
            }
        }

        .pr-snippet-read-and-write {
            a {
                color: @orange;
                font-size: 18px;
                margin: 0 0 0 10px;
                padding: 0;
            }
            margin-top: 0; 
            span {
                padding: 0;
            }         
        }
       @media @tablet-query {
           margin: 0;

       } 
    }
}

.p-w-r .pr-review-display .pr-rd-no-reviews {
    margin-top: 40px;
}

#tab-label-reviews,
#tab-label-reviews-title,
.product-reviews-summary {
    display: none;
}

#pr-reviewdisplay {
    .pr-review-snapshot {
        margin-top: 65px;
        @media @tablet-query {
            margin-top: 50px;
        }
    }
  
    .p-w-r {
        .pr-review-snapshot-block-container,
        .pr-snippet-reco-to-friend,
        .pr-review-snapshot-header-intro,
        .pr-review-snapshot-msq-container,
        .pr-snippet-review-count,
        .pr-rd-footer.pr-rd-content-block,
        .pr-rd-content-block.pr-accordion,
        .pr-rd-main-footer {
                display: none;
        }
        .pr-review-snapshot .pr-review-snapshot-content-block {
            margin-bottom: 10px;
            @media @tablet-query {
                height: 30px;
            }
        }
        .pr-rd-main-header {
            background: none;
            padding: 0 0 20px;
            border-bottom: 4px solid @offwhite;
            height: auto;
            .pr-rd-sort-group label{
                display: none;
            }
            position: relative;
        }
        .pr-rd-review-total {
            display: inline-block;
            color: @darkgray;
            font-size: 24px;
            font-family: @booster;
            font-weight: 400;
            line-height: 43px;
            letter-spacing: .3px;
            text-transform: none;          
            @media @tablet-query {
                display: inline-block;
                font-size: 16px;
                font-weight: 700;
                position: relative;
                top: -48px;
                margin-left: 120px;
                width: auto;
                margin-bottom: 0;
            }
            @media @mobile-query {
                font-weight: 500;
                top: -18px;
                margin-left: 0;
            }
        }
        .review-add {
            display:none;
        }
        .pr-review {
            border-bottom: 4px solid @offwhite;
        }
        .pr-rd-star-rating {
            float: none;
        }
        .pr-rd-review-headline {
            color: @darkgray;
            font-size: 24px;
            font-family: @booster;
            font-weight: 700;
            text-align: left;
            margin: 10px 0; 
            @media @smdesktop-query {
                max-width: 600px;
            }
            @media @mobile-query {
                font-size: 13px;
            }          
        }
        .pr-rd-description p {
            color: @darkgray;
            font-size: 18px;           
            font-weight: 400;
            font-family: @booster;
            line-height: 26px;
            max-width: 868px;
            @media @smdesktop-query {
                max-width: 600px;
            }
            @media @mobile-query {
                font-size: 10px;
            }
            &.pr-rd-description-text {
                @media @mobile-query {
                     font-size: 14px;
                }              
            }
            &:before {
                @media @mobile-query {
                    height: 14px;
                    width: 14px;
                }
            }
        }
        .pr-rd-side-content-block {
            width: 300px;
            top: -86px;
        }
        .pr-rd-bold {
            display: none;
        }
    }
    #pr-rd-sort-by {
        -moz-appearance: none;
    }
    .pr-rd-sort-group {
        width: 259px;
        height: 45px;
        background: @offwhite;
        border-radius: 23px;
        text-align: center;

        select.pr-rd-sort {
            border: none;
            background: none;
            color: @darkgray;
            font-size: 18px;
            font-family: @booster;
            font-weight: 900;
            line-height: 26px;
            letter-spacing: .36px;
            margin: 0 auto; 
            padding: 0;
            -webkit-appearance: none;
            box-shadow: none;
            outline: none;  
            @media @mobile-query {
                font-weight: 500;
                display: inline-block;
                margin: 0;
                height: 36px;
                width: auto;
            }          
        }
        .button();
        &:after {
            border-right: 3px solid @darkgray;
            border-bottom: 3px solid @darkgray;
            transform: translateY(-50%) rotate(45deg);
            @media @tablet-query {
                right: 26px;
            }
            @media @mobile-query {
                right: 24px;
                width: 8px;
                height: 8px;
                &:hover:after {
                    right: 20px;
                }
            }
        }
        @media @tablet-query {
            padding: 0 63px 0 35px;
            width: 205px;
            height: 45px;
            float: right;
        }
        @media @mobile-query {
           width: 100%;
           margin-top: 50px;
            line-height: 2.2em;
            padding: 5px 21%;
            display: inline-block;
            text-align: center;
        }
    }

    .pr-review-snapshot-snippets {
        position: relative;
    }

    .p-w-r .pr-review-display .pr-rd-image-container{
        @media @tablet-query{
            display: inline-block;
            margin-right: 5px;
        }
        @media @mobile-query {
            width: 46%;

        }
    }

     .p-w-r .pr-review-snapshot .pr-snippet .pr-snippet-read-and-write {
            .centerX();         
            top: 36px;
            z-index: @z-index-base;
           
            @media @tablet-query {
                line-height: 2em;
                left: 0;
                margin-left: 0;
                transform: translate(0);
                &:after {
                    right: 24px;
                }
            }
            @media @mobile-query {
                padding: 0;
                text-align: center;
                min-width: auto;
                position: relative;
                top: 42px;
                width: 100%;
                &:after {
                    right: 24px;
                    width: 8px;
                    height: 8px;
                }
                &:hover:after {
                    right: 20px;
                }
            }
    } 
    .pr-rd-reviewer-details {
        .pr-rd-author-nickname:before {
            background: url(images/icon-login.svg) no-repeat left bottom;
            background-size: 50%;
            content: '';
            width: 24px;
            height: 24px;
            display: inline-block;           
        }
        .pr-rd-author-location {
            &:before {
                 .pin();
            }
           
        }
    }

    .p-w-r section a.pr-snippet-write-review-link {
        .button();
        font-size: 18px !important;
        min-width: auto;
        line-height: 2em;
        padding: 5px 63px 2px 53px;
        background: @orange;
        color: #FFF;
        text-decoration: none;
        @media @mobile-query {
            min-width: auto;
            line-height: 1em;
            padding: 13px 63px 11px 37px;
            width: 100%;
        }
        &:after {
           width: 10px !important;
           @media @mobile-query {
               right: 36px;
           }
        }
    }
}
.p-w-r .pr-qa-display {
    @media @tablet-query {
            margin-top: 40px;
    }
}
#pr-questiondisplay {
    .pr-qa-display-headline h1 {
        color: @darkgray;
        font-size: 20px;
        font-family: @booster;
        margin-bottom: 30px;
        text-transform: initial;
        width: 100%;
        text-align: center;
        @media @mobile-query {
            font-size: 16px;
        }
    }
}

.p-w-r .btn-group .pr-btn {
    font-family: @booster;
    border-bottom-width: 1px;
}

.pr-alert.pr-alert-warning {
    display: none;
}

.p-w-r .pr-waq-prequestion-message {
    font-family: @booster;
    font-size: 18px;    
    fieldset {
        line-height: 1.5;
        a {
            color: @orange;
        }
    }
}

.p-w-r .pr-btn.pr-btn-default.active {
    background-color: @orange;
    font-weight: 600;
    &:focus {
        outline: none;
    }
}
.p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-headline section {
    float: none;
    color: @darkgray;
    button {
        background: @orange;
        .button();
        border-bottom: 0;
        font-size: 18px;
        float: none;
        margin: 40px auto auto;
        display: block;

        &:hover {
            background: @orange;
            border: 0;
            color: #fff;
        }
    }
    .pr-waqwaa {
        margin: auto;
    }
}

.p-w-r .pr-qa-display section.pr-qa-display-ask-question {
    text-align: center;
}

.p-w-r .pr-qa-display button.pr-btn-ask-question {
    .button();
    float: none;
    font-weight: 500;
    padding: 10px 63px 10px 53px;
    line-height: normal;
    background-color: @orange;
    @media @mobile-query {
        font-size: 16px;
    }
    .pr-cross-icon {
        display: none;
    }
    span {
        color: #fff;
        text-transform: initial;
        @media @tablet-query {
          &:focus {
            text-shadow: none;
            box-shadow: none;
            background-image: none; 
            color: #FFF;
          } 
        }
        @media @mobile-query {
            font-size: 16px;
        }
    }
}

.p-w-r .pr-question-form {
    font-family: @booster;
    textarea,input {
        border-radius: 32px;
    }
    a {
        color: @orange;
    }
    .pr-waq-legal-text span {
        font-size: 18px;
        line-height: 1.5;
        @media @mobile-query {
            font-size: 15px;
        }

    }
}

.pr-qa-display-headline button {
    float: none;
}
span.pr-snippet-review-count {
    display: none;
}

.p-w-r .thank-you-page {
    color: @darkgray;
    font-family: @booster;

    .pr-row .header {
        border-top: 2px solid @lightestgray;
        border-image: url(images/rough-divider.png) 30;
    }

    h5 {
        text-align: center;
        .button();
        left: 50%;
        transform: translateX(-50%);
    }

    .header .title,
    .header .subtitle {
        color: @darkgray;
        text-align: center;
    }

   .pr-row .pr-rating-date {
        border: 0;
        color: @darkgray;
        font-family: @booster;
    }
}
.p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-stars-reco-reco {
    display: none;
}

.pwr-category-snippets {
    @media @tablet-query {
        height: auto;
    }
}

.catalog-category-view .p-w-r section.pr-no-reviews {
    display: none;
}