.press-hero {
	background: @orange;

	h4 {
		color: #fff;

		@media @tablet-query {
			font-size: 20px;
		}
	}
}

.press-archive-container {
	width: 330px;
	max-width: 90%;
	height: 40px;
	cursor: pointer;
	margin: 60px auto 80px;
	z-index: @z-index-base;
	position: relative;
	border-bottom: 4px solid @orange;
	background-color: #fff;

	@media @tablet-query {
		max-width: 308px;
		margin: 52px auto 54px;
	}

	@media @mobile-query {
		max-width: 130px;
		margin: 30px auto 27px;
		height: 21px;
		border-width: 2px;
	}
}

.press-archive {
	text-align: center;
	position: absolute;
	max-height: 40px;
	overflow: hidden;
	width: 100%;
	top: 0;
	left: 0;
	transition: 0.5s max-height ease-in-out;


	@media @mobile-query {
		max-height: 21px;
	}

	&.expanded {
		max-height: 250px;
	}

	&__title, &__all, &__year a {
		color: @orange;
		font-family: @booster;
		font-size: 30px;
		line-height: 1.3;
		font-weight: 700;
		text-decoration: none;
		background-color: #fff;
		display: block;
		width: 100%;

		@media @tablet-query {
			font-size: 27px;
		}

		@media @mobile-query {
			font-size: 16px;
		}
	}

	&__title {
		margin-bottom: 10px;
		padding-bottom: 10px;
		line-height: 1;
		background-color: transparent;

		@media @mobile-query {
			margin-bottom: 5px;
			padding-bottom: 5px;
		}
	}

	.arrow();
	&:after {
		border-color: @orange;
		transform: rotate(45deg);
		right: 15px;
		top: 10px;

		@media @mobile-query {
			right: 5px;
			top: 0;
			border-width: 2px;
			width: 8px;
			height: 8px;
		}
	}

	&:hover:after {
		right: 15px;

		@media @mobile-query {
			right: 5px;
		}
	}
}

.press-container {
	max-width: 1300px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto 40px;
	box-shadow: 0 4px 4px -4px rgba(29, 28, 28, 0.29);

	@media @tablet-query {
		width: calc(100% - 60px);
	}

	@media @mobile-query {
		width: calc(100% - 40px);
	}
}

.press-article {
	width: 32.3%;
	margin-bottom: 60px;

	@media @tablet-query {
		width: 49%;
	}

	@media @mobile-query {
		width: 100%;
		margin-bottom: 30px;
	}

	&__logo-container {
		height: 212px;
		width: calc(100% - 4px);
		margin: auto;
		box-shadow: 0 0 4px rgba(29, 28, 28, 0.29);
		background-color: #ffffff;
		padding: 20px;
		position: relative;
		display: block;

		@media @mobile-query {
			height: 151px;
		}
	}

	&__logo {
		.center();
		max-width: 80%;
		max-height: 80%;
	}

	&__details-container {
		background-color: @lightblue;
		.rough-border(blue);
		padding: 15px 60px 15px 30px;
		height: calc(100% - 212px);

		@media @mobile-query {
			height: calc(100% - 151px);
			padding: 15px 50px 15px 30px;
		}
	}

	&__title {
		line-height: 1;
	}

	&__title a {
		color: #fff;
		font-family: @booster;
		font-size: 24px;
		text-decoration: none;
		.arrow();

		@media @mobile-query {
			font-size: 20px;
		}

		&:after {
			right: -15px;
			top: auto;
			transform: rotate(-45deg);
			display: inline-block;
			bottom: 9px;
		}

		&:hover:after {
			right: -25px;
		}
	}

	@media only screen and (min-width: @tablet-breakpoint) {
		&:nth-child(6n) .press-article,
		&:nth-child(6n-1) .press-article,
		&:nth-child(6n-2) .press-article {

			&__details-container {
				background-color: @orange;
				.rough-border(orange);
			}

		}
	}

	@media only screen and (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
		&:nth-child(4n) .press-article,
		&:nth-child(4n-1) .press-article {

			&__details-container {
				background-color: @orange;
				.rough-border(orange);
			}

		}
	}



	@media only screen and (max-width: @mobile-breakpoint) {
		&:nth-child(2n) .press-article {

			&__details-container {
				background-color: @orange;
				.rough-border(orange);
			}

		}
	}
}

.press-pagination {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto 40px;
	text-align: right;

	@media @tablet-query {
		text-align: center;
	}

	.page-numbers {
		color: @darkgray;
		font-family: @booster;
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		margin: 0 10px;
		display: inline-block;

		&.current, &.next, &.prev {
			color: @orange;

			@media @tablet-query {
				display: inline-block;
				margin-right: 0;
			}
		}

		@media @tablet-query {
			display: none;

			&:nth-last-child(2) {
				display: inline-block;
				margin: 0 10px 0 5px;
			}

			&:nth-last-child(2):before {
				content: '/';
				margin-right: 5px;
			}
		}
	}

	.page-numbers.next, .page-numbers.prev {
		border: 2px solid @orange;
		border-radius: 10px;
		padding: 12px 40px 12px 25px;

		.arrow();
		&:after {
			border-color: @orange;
			right: 25px;
		}

		&:hover:after {
			right: 20px;
		}

		@media @tablet-query {
			color: @darkgray;
			border: 0;
			padding: 0 15px 0 0;

			&:after {
				border-color: @darkgray;
				right: 0;
				height: 8px;
				width: 8px;
			}

			&:hover:after {
				right: 0;
			}

		}
	}

	.page-numbers.prev {
		padding: 12px 25px 12px 40px;

		&:after {
			right: auto;
			left: 25px;
			transform: translateY(-50%) rotate(135deg);
		}

		&:hover:after {
			left: 20px;
			right: auto;
		}

		@media @tablet-query {

			 &:after,
			 &:hover:after {
				left: 0;
			}
		}
	}
}

.posts-by-year {
	display: none;
}