/* Category Page */
//font colors:
.green {
  color:  @green;
}

.red {
  color: @red;
}

.lightblue {
   color: @lightblue;
}

.lightpurple {
   color: @lightpurple;
}

.pages {
  @media @mobile-query {
    padding: 20px;
  }
}

.category-view .baby-age-container {
    display: none;
}
//side navbar
.block.filter .filter-options-item.lifestage .filter-options-content .item {
      @media @mobile-query {
        font-size: 14px;
      }
}

.block.filter .filter-options-item.display_category .filter-options-content .item {
  font-size: 16px;
  text-transform: lowercase;
}

.block.filter .filter-options-item.display_category .filter-options-title.display_category {
  height: 0;
  margin-top: 10px;
}

.block.filter .filter-options-item:before {
  z-index: -1;
}

.catalog-category-view {
    .columns {
      box-shadow: 0 2px 23px rgba(74, 74, 74, 0.14);
      border-radius: 12px;
      padding-top: 73px;
      margin-top: -113px;
      padding-left: 20px;
      padding-right: 20px;
      max-width: 1440px;
      @media @mobile-query {
        padding: 0 0 5px 0;
      }
    }
    .breadcrumbs {
      background: @lightblue;
      .items {
          padding-left: 20px;
      }
     .item a, .item{
        color: #FFF;
        text-decoration: none;
      }
      .item:not(:last-child)::after {
        content: '/';
        color: #FFF;
         @media @mobile-query {
           font-size:10px;
           line-height: 12px;
         }
      }
      .item {
          border-bottom: 2px solid #FFF;
          padding-bottom: 10px;
      }
    }
    
    .sorter,
    .toolbar-line {
        display: none;
    }

    select option {
      background-color: @orange;
    }

    
//Featured products
    .block.widget .products-grid .product-item {
      margin-left: calc((100% - 3 * 33.439%) / 3);
      padding: 10px;
      width: 30.439%;
      box-shadow: none;
      @media @smdesktop-query {
         width: 29.439%;
      }
      @media @tablet-query {
        margin-left: calc((100% - 3 * 33.439%) / 3);
      }
      @media @mobile-query {
        margin: auto;
      }
      .product-item-info {
          border: 0;
          border-radius: 10px;
          box-shadow: 0 3px 15px rgba(137, 135, 133, 0.22);
      }
    }
    .block.widget .products-grid .product-item:nth-child(3n + 1) {
            margin-left: 0;
      }
    .block-featured-products {
      max-width: 1440px;
      margin: 93px auto;
      padding-top: 0;
      @media @tablet-query {
          margin-top: 40px;
      }
      .block-title {
        color: @orange;
        font-family: @organico;
        font-size: 60px;
        @media @mobile-query {
          font-size: 50px;
        }
      }
      .product-item {
          box-shadow: 2px 3px 10px rgba(137, 135, 133, 0.22);
          margin: 0 10px;
          text-align: center;
          @media @tablet-query {
              box-shadow: none;
          }
      }
      .block-content {
          margin-top: 63px;
          @media @tablet-query {
            margin-top: 0;
          }
      }
      .button {
          background: @orange;
          border: 0;
          margin-bottom: 32px;
          @media @tablet-query {
            margin-top: 20px;
            min-width: auto;
          }
      }

      .products-grid .product-items .product-item-details{
          @media @tablet-query {
            height: auto;
          }
      }
    }
    .toolbar.toolbar-products {
      @media @mobile-query {
          margin-top: 40px;
      }
        
    }
}

.product-item .tocart {
          width: 119px;
          padding: 3px 13px 0;
          @media @tablet-query {
              padding: 3px 0 0;
              width: 83px;
              font-size: 9px;
          }
}
.addtocart-listing
 {
    border-radius: 15px;
    color: @orange;
    font-size: 13px;
    font-family: @booster;
    font-weight: 700;
    transition: 0.3s all;
    @media @tablet-query {
      height: 25px;
    }
    &:hover {
        font-size: 13px;
        border-radius: 15px;
        font-weight: 700;
    }
    span {
        font-size: 13px;
    }
    span:hover {
        color: #FFF;
    }
    &.orange-white {
         font-size: 13px;
         border-radius: 15px;
         @media @tablet-query {
          font-size: 10px;
        }
        &:hover {
            font-size: 13px;
            border-radius: 15px;
            @media @tablet-query {
              font-size: 10px;
            }
        }
        
    }
    &:hover {
      @media @tablet-query {
          height: 25px;
      }

    }
}

//product Grid /*intergrate with Magento css*/

.page-products {
  .products-grid {
    .product-items {
        margin: 0;
        .product-item-details{
            margin-bottom: 20px;
            @media @tablet-query {
              margin-bottom: 10px;
              height: 120px;
              vertical-align: bottom;
              display: table-cell;
              width: 60%;
            }
            @media @mobile-query {
              padding: 0;
            }
            
        }
  }
    .product-item {
      margin-left: 80px;
      width: calc(~'100%/3 - 53.4px');
      @media @smdesktop-query {
        margin-left: 40px;
      }
      @media @tablet-query {
          margin-left: 50px;
          padding: 0;
          width: calc(~'100%/3 - 35.4px');
          &:nth-child(3n + 1) {
              margin-left: 0;
          }
        &-name{
          max-height: 48px;
          margin-bottom: 0px;
          overflow: hidden;
          a {
              font-size: 13px;
          }
          
        }
      }
      @media @mobile-query {
          margin-left: 0;
          width: calc(100%/2 - 10.4px);
          &:nth-child(3n + 1) {
              margin-bottom: 20px;
          }
      }
      .stock.unavailable {
          @media @tablet-query {
              font-size: 12px;
          }
      }
    }
  }
  .columns .sidebar-main {
    @media @smdesktop-query {
        padding-left: 20px;
        padding-right: 20px;
        .filter-button.arrow-up:after {
          transform: translateY(-50%) rotate(0deg) !important;
        }
    }
    
  }
}
.product-item-name {
  @media @mobile-query {
    max-height: 38px;
    height: auto;
  }
}

.page-products .products-grid .product-item-name {
    height: 48px;
    @media @tablet-query {
      height: 20px;
      overflow: hidden;
    }
    a {
      @media @mobile-query {
        font-size: 10px;
        height: auto; 
      }
    }
}



.page-layout-2columns-left .column.main {
  width: 75%;
  .products-grid .product-item:nth-child(2n) {
    @media @mobile-query {
        margin-left: 20px;
        margin-bottom: 20px;
    }
  }  
}
//END PRODUCT GRID

.addtocart-listing,
.addtocart-listing:hover,
.addtocart-listing.orange-white {
    height: auto;
}
.addtocart-listing:active {
    height: auto;
    border: 2px solid @orange;
    border-radius: 15px;
    text-align: left;
}
.addtocart-listing.adding {
          background: #fd6a0c url('./images/plp/adding-cart.gif') no-repeat center;
          color: #fff;
          padding: 5px 13px 3px;
          border-radius: 15px;
          width: 50px;
          pointer-events: none;
          opacity: 1;
          font-size: 0;
          span {       
            display: none;
          }
}
.madwell-icons {
    display: inline-block;
    vertical-align: middle;
  }
  .product-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid @lightgray;
  }
  @media @lgdesktop-query {
    .category-view-baby-age {
      padding-top: 45px;
      padding-bottom: 145px;
      .baby-age-container {
        height: 37px;
      }
      .age-label{
        letter-spacing: -0.16px;
        padding-right: 15px;
        font-size: 36px;
      }
      .baby-age-select {
        &.custom__select{
          width: 410px;
          .custom__select__value, select {
            font-size: 36px;
            line-height: 35.4px;
            letter-spacing: -0.16px;
          }
          .js-customSelect__option {
            font-size: 36px;
            line-height: 35.4px;
            letter-spacing: -0.16px;
          }
        }
      }
    }
  }
  @media @mobile-query {
    .category-view-baby-age {
      padding-top: 23px;
      padding-bottom: 23px;
  
      .age-label{
        width: 100%;
        text-align: center;
        font-size: 24px;
        letter-spacing: -0.11px;
        display: block;
      }
      .baby-age-select {
        &.custom__select{
          width: 280px;
          .custom__select__value {
            padding-top:12px;
          }
          .custom__select__value, select {
            font-size: 24px;
            line-height: 15.4px;
            letter-spacing: -0.13px;
          }
          .js-customSelect__option {
            font-size: 24px;
            line-height: 15.4px;
            letter-spacing: -0.13px;
          }
        }
      }
    }
  }
  .category-view-baby-age {
    width: 100%;
    background-color: @lightblue;
    position: relative;
    padding: 15px 0 153px 0;
    .age-label{
      opacity: 1;
      color: #fff;
      font-weight: 900;
      line-height: 15.4px;
    }
    .baby-age-select {
      &.custom__select{
  
        background-color: @lightblue;
        color: #fff;
        font-size: 36px;
        font-weight: 900;
        line-height: 15.4px;
        letter-spacing: -0.16px;
  
        &.is-open {
          .custom__select__value{
            &:after {
              background: transparent url('./images/dropdown-arrow-white-up.svg') no-repeat 0px 0px;
            }
          }
          z-index: @z-index-mid;
        }
        &.option-selected-state {
          .custom__select__value{
            span {
              opacity: .85;
            }
          }
        }
        .custom__select__value, select {
          font-weight: 900;
          color: #fff;
          background-color: @lightblue;
          height: 45px;
          padding-left: 0;
          z-index: 0;
        }
        .custom__select__value{
          border-bottom: 4px solid #FFF;
          z-index: @z-index-mid;
          &:hover {
            span {
              opacity: 1;
            }
            &:after {
              opacity: 1;
            }
          }
          span {
            opacity: 0.5;
            padding-left:30px;
  
          }
          &:after {
            background: transparent url('./images/dropdown-arrow-white.svg') no-repeat 0px 0px;
            height: 9px;
            width: 13px;
            margin-right: 17px;
            opacity: 0.75;
          }
        }
  
        .js-customSelect {
          color: #fff;
          background-color: @lightblue;
          margin-top:45px;
          z-index: @z-index-base;
  
        }
        .js-customSelect__option {
          opacity: 0.75;
          font-weight: 900;
          padding-left: 20px;
          &:hover {
            opacity: 1;
          }
        }
        .js-customSelect__option--active {
          &:after {
            background: transparent url('./images/checkmark-white.svg') no-repeat 0px 0px;
            width: 16px;
            height: 11px;
            content: "";
            position: absolute;
            margin-right: 25px;
            margin-top: 9px;
            opacity: 0.75;
            right:0;
          }
        }
      }
    }
  }
  
  .product-line {
    color: @darkgray;
    font-family: @booster;
    font-weight: 700;
    line-height: 18px;
    height: 18px;
    .display-category {
      font-weight: 900;
      @media @tablet-query {
        font-size: 10px;
      }
      @media @mobile-query {
        font-size: 8px;
      }
    }
    .line-separator {
      color: @lightgray;
      font-weight: 400;
      padding: 0 5px;
    }
    .product-line-attribute {
      font-weight:  700;
      @media @tablet-query {
        font-size: 10px;
      }
    }
    @media @mobile-query {
      height: 36px;
      font-size: 8px;
    }
  }
  
  .product-packaging {
    color: @lightgray;
    font-weight: 700;
    line-height: 24px;
    .size-qty {
      color: @darkgray;
      font-weight: 700;
      @media @tablet-query {
        font-size: 10px;
      }
    }
    .line-separator {
      font-weight: 400;
      padding: 0 5px;
      @media @tablet-query {
        font-size: 10px;
      }
    }
    .packaging-label {
      font-weight: 700;
      color: @darkgray;
      @media @tablet-query {
        font-size: 10px;
      }
    }
    .price-box {
      margin: 0;
      display: inline-block;
      .price {
        font-weight: 700;
        font-size: 15px;
        @media @tablet-query {
          font-size: 10px;
        }
      }
    }
  }
  
 
    .product-line {
       @media @lgdesktop-query {
      font-size: 13px;
    }
    @media @tablet-query {
      line-height: 13px;
      height: 20px;
    }
    @media @mobile-query {
        font-size: 10px;
        height: auto;
    }
  }
    .product-packaging {
       @media @lgdesktop-query {
          font-size: 13px;
       }  
       @media @mobile-query {
          font-size: 10px;
          .price-box {
            .price {
                font-size: 10px;
              }
            }
          }
    }
  
  .product-item-inner {
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    > .empty-span {
      flex-grow:1;
      order: 2;
    }
    .price-box {
      padding-top:15px;
      margin: 0;
      order:1;
      align-self: flex-start;
      .price {
        color:@orange;
        font-family: @booster;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.03px;
        @media @tablet-query {
          font-size: 12px;
        }
      }
    }
    .product-item-actions {
      order: 3;
      align-self: flex-end;
    }
  }
 
  body:not(.catalog-product-view) .product-packaging {
      height: 48px;
      margin-top: 8px;
      overflow: hidden;
     @media @tablet-query {
          height: auto;
      }
  }