.catalogsearch-result-index {
        .search {
            width: auto;
            @media @tablet-query {
                height: auto;
                padding: 0;
            }
        }

        .product-item-details {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            @media @tablet-query {
                width: 100%;
            }
        }
        .breadcrumbs {
            background: @lightblue;
            .item.search {
                color: #fff;
            } 
        }
        .page-title-wrapper {
            background: @lightblue;
            padding-bottom: 140px;
            margin-top: 0;
            .page-title {
                color: #fff;
            }
        }
        .columns {
            margin-top: -100px;
        }
        .product-item-name {
            height: 48px;
        }
        .product-packaging {
        	height: auto;
        }
}

.search-result__tabs {
    @media @mobile-query {
        text-align: center;
    }
}

.search-results.tab {
    display: inline-block;
    margin: 0 25px;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    &.active a{
        color: @orange;
    }
    @media @mobile-query {
        margin: 20px 5px 5px;
        padding: 5px;
        font-size: 12px;
    }
}

.search-result-container {
    display: none;
    &.active {
        display: block;
    }
}

.ais-hits--item {
    display: inline-block;
    margin: 20px;
    padding: 0;
    width: 29%;
    @media @tablet-query {
        width: 26%;
        padding: 0;
    }
    @media @mobile-query {
        width: 43%;
        margin: 10px;
        padding: 0;
    }
}

.search-results-products .wrapper {
    padding: 0;
}

.page-products.page-layout-1column .search.results .products-grid .product-item {
    width: 21%;
    padding: 0;
    margin-left: 20px;
    @media @smdesktop-query {
        width: 20%;
    }

    @media @tablet-query {
        width: 27%;
        margin-left: 20px;
        @media @mobile-query{
            &:nth-child(3n+1) {
            margin-left: 0;
            }
        }
        
        .tocart {
            padding: 2px 6px 0;
            @media @mobile-query {
                padding: 0px 10px 0;
                margin-top: 11px;
                margin-top: 6px;
            }
        }
    }

    @media @mobile-query {
        max-width: 36%;
        padding: 0;

    }

}

.page-products.page-layout-1column .products-grid .product-item {
     width: 25%;
     @media @tablet-query {
         margin-left: 50px;
         width: calc(100%/3 - 35.4px);
     }
     @media @mobile-query {
         margin-left: 0;
        width: 100% !important;
     }
}
.page-products.page-layout-1column .products-grid .product-item:nth-child(3n+1) {
   @media @tablet-query {
       margin-left: 0;
   }    
}

.page-products.page-layout-1column .products-grid .product-item:nth-child(2n) {
   @media @mobile-query {
       margin-left: 20px;
   }    
}

// Articles & Recipes search results styles
#instant-search-results-wp-recipes-container,
#instant-search-results-wp-container {

    .ais-hits--item {
        display: flex;
        width: 23%;
        margin: 40px 1% 0;

        .learning-center-card {
            width: 100%;
            max-width: 300px;
            margin: auto;
            justify-content: flex-start;
            height: 100%;
        }

        @media @tablet-query {
            width: 31%;
            margin-top: 20px;

            .learning-center-card__details {
                padding: 20px 12px 30px;
            }
        }

        @media @mobile-query {
            width: 95%;

            .learning-center-card__details {
                padding: 15px;
            }
        }
    }

    .ais-hits {
        display: flex;
        flex-wrap: wrap;
    }

}