.page-template-template-stages {
	
	.site-sub-header--with-images .site-sub-header-menu__item {
		width: 130px;
	}
}

#fiber-protein-products.stages {
	display: block;

	@media @mobile-query {
		display: none;
	}
}

// Lifestage filters (modification of hover tabs component)

#lifestage-filter.hover-tabs {
	background-color: transparent;
	padding-top: 0;

	.hover-tabs__container {
		background-color: @offwhite;
	}

	.slick-slider {
		max-width: 1020px;
		width: 80%;
		float: none;
		margin: auto;
	}

	.carousel-arrow();

	.slick-arrow {
		background-image: url(images/carousel-arrow-green.svg);
		width: 48px;
		height: 48px;
		left: -30px;

		@media @mobile-query {
			background-size: 32px 32px;
			background-position: top left;
			border-radius: 0;
		}
	}

	.slick-next {
		right: -30px;
		left: auto;
	}

	.tab-drawer-header {
		background-color: @offwhite;
		padding: 18px;

		&:after {
			display: none;
		}

		&:before {
			height: 3px;
			bottom: 0;
		}

		& ~ div	p {
			display: block;

			@media @mobile-query {
				padding: 0;
			}
		}

		p:last-child:after {
    		top: 2px;
    		border-color: @darkbeige;
		}

		&.expanded p:last-child:after {
			top: 7px;
		}

		em {
			float: right;
			color: @green;
			font-size: 14px;
			padding-right: 20px;
			font-style: normal;
		}
	}
}

#lifestage-filter .hover-tab {
	width: 20%;
	position: relative;
	padding: 50px 0 28px;

	&__title {
		font-size: 24px;
		line-height: 1.2;
		width: 100%;

		@media @tablet-query {
			font-size: 16px;
		}
	}

	&__description {
		color: @green;
		font-size: 15px;
		font-weight: 700;
		transition: color 0.1s ease-in-out;
	}

	&:before {
		content: '';
		position: absolute;
		opacity: 0;
		top: 40px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 67px;
		height: 27px;
		background-image: url(images/bings-text.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;
		transition: all 0.1s ease-in-out;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -25px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0;
		height: 0;
		opacity: 0;
		border-style: solid;
		border-width: 25px 25px 0 25px;
		border-color: @offwhite transparent transparent transparent;
		transition: opacity 0.1s ease-in-out;
	}

	&.active {

		.hover-tab__description {
			color: @orange;
			transition: color 0.1s ease-in-out;
		}

		&:before {
			top: 20px;
		}

		&:before, &:after {
			opacity: 1;
			transition: all 0.1s ease-in-out;
		}
	}
}

#lifestage-filter .tab-content {
	visibility: hidden;
	transition: 0.3s opacity, 0.3s visibility;
	min-height: 400px;

	&.active {
		visibility: visible;
	}

	@media @tablet-query {
		min-height: 360px;
	}

	@media @mobile-query {
		visibility: visible;
		min-height: 0;
	}
}

.lifestage-filter {

	&__description {
		padding: 5px 0 35px;
		border-bottom: 1px solid @darkgray2;
		width: 1020px;
		max-width: 100%;
		margin: 0 auto 40px;

		@media @mobile-query {
			padding: 15px 0;
			max-width: 90%;
			margin: 0 auto 20px;

			br {
				display: none;
			}
		}
	}

	&__plp {

		p {
			padding: 0 10px;
			width: 100%;
		}

		img {
			max-height: 250px;
			width: auto;
			margin: 0 auto;

			@media @tablet-query {
				width: 100%;
			}

			@media @mobile-query {
				width: 90%;
			}
		}

		p strong {
			font-size: 15px;
    		line-height: 1.3;
		}
	}

}

.hero {
	
	&.stages-product {
		clear: both;
		padding: 60px 0 80px;
		overflow: visible;
		height: auto;

		.col-12 {
			float: none;
			.clearfix();
		}

		@media @tablet-query {
			padding: 50px 0;
		}

		@media @mobile-query {
			padding: 40px 0;
		}

		.main {
			padding-top: 0;
		}
	}

	&__description.stages-product-hero__description {
		width: 60%;
		height: auto;

		@media @tablet-query {
			width: 100%;
			padding: 0;

			h1 {
				margin-bottom: 25px;
			}

			p {
				width: 431px;
				margin-bottom: 28px;
				margin-left: auto;
				margin-right: auto;
			}

			a {
				display: none;
			}
		}

		@media @mobile-query {

			h1 {
				font-size: 30px;
				margin-bottom: 20px;
			}

			p {
				width: 269px;
			}
		}
	}

	&__image.stages-product__image {
		text-align: center;

		@media @tablet-query {
			position: relative;
			width: 100%;
			max-width: 375px;
			margin: 0 auto 25px;
			top: auto;
			left: auto;
			float: none;
		}

		img {
			float: none;
			position: relative;
			height: auto;

			@media @tablet-query {
				margin-top: 0;
				position: relative;
				transform: none;
				top: auto;
				left: auto;
				max-width: 100%;
			}
		}
	}

	&__button.stages-product-hero__button {
		text-align: center;

		a {
			.button();
			background-color: #fff;
			color: inherit;

			&:after { border-color: inherit; }
		}

	}
}

.mini-hero-stages {
	padding-bottom: 0;

	[class^="col-"], [class*=" col-"] {
		padding-left: 0;
		padding-right: 0;
	}
}

.mini-hero-bg {
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
	overflow: hidden;
	position: relative;

	@media @tablet-query {
		background-image: none !important;
		height: 640px;
	}

	&-tablet {
		display: none;

		@media @tablet-query {
			.centerX();
			display: block;
			width: auto;
			min-height: 640px;
			max-width: none;
			min-width: 100vw;
		}

		@media @mobile-query {
			display: none;
		}
	}

	&-mobile {
		display: none;

		@media @mobile-query {
			display: block;
			width: 100%;
		}
	}

	&__contentbox {
		background-image: url('images/background-rough-transparent.png');
		text-align: center;
		padding: 30px 10px;
		margin-bottom: 26px;
		background-size: 98% 98%;
		background-position: center;
		background-repeat: no-repeat;

		p {
			color: @darkgray;
		}

		@media @mobile-query {
			background-image: none;
			padding: 20px 0;
			margin-bottom: 0;

			h1 {
				font-size: 40px;
			}
		}

		&-container {
			width: 375px;
			.centerY();
			right: 10%;
			text-align: center;

			@media @tablet-query {
				top: inherit;
				bottom: 5%;
				left: 0;
				right: 0;
				margin: 0 auto;
				transform: translateY(0);
			}

			@media @mobile-query {
				position: relative;
				bottom: -4px;
				width: 100%;
			}

			&.mama {

				@media @tablet-query {
					top: inherit;
					bottom: 5%;
					left: 0;
					right: 0;
					margin: 0 auto;
					transform: translateY(0);
				}
			}
		}
	}

	h1&__headline {
		margin-bottom: 0;

		&.mama {
			color: @mediumyellow;
		}
	}

	&__icons {
		position: absolute;
		vertical-align: middle;
		margin: 0 25px;
		left: 0;
		bottom: 25px;

		@media @mobile-query {
			position: absolute;
			top: 40%;
			left: 0;
			margin: 0 6px;
			width: 40px;
		}
	}

	@media @mobile-query {
		background-image: none !important;
		height: auto;
	}
}

.learning-center {

	&-stages {
		padding: 62px 0;
		width: 100%;
		float: left;
	}
}

.stages-video {
	z-index: @z-index-mid;
}

.stages-products-carousel-container {
	display: none;
	text-align: center;

	&.carousel-products-small {

		.slick-arrow {
			background-image: url(images/carousel-arrow-green.svg);
		}
	}

	@media @mobile-query {
		display: block;
	}
}

.stages-product {
	&.allergy-product {

		img {
			max-height: 270px;
			margin: 0 auto;
		}

		p {
			position: relative;
			padding: 0 30px;
		}

		a {
			text-decoration: none;
		}
	}
}