.story-description {
	z-index: @z-index-mid;
}

.story-shazi {
	background-color: @offwhite;
	height: 40vw;
	max-height: 525px;
	position: relative;

	@media @tablet-query {
		height: auto;
		max-height: none;
	}

	@media @mobile-query {
		background-color: #fff;
	}

	.article-with-image__intro {
		.centerY();
		margin: 0;
		max-width: 50%;

		@media @tablet-query {
			max-width: 100%;
			position: relative;
			top: auto;
			transform: none;
			width: 100%;
			.clearfix();
			clear: both;

			&.main.no-padding {
				padding: 50px 0;
			}

			h1, p {
				width: 565px;
				max-width: 95%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		@media @mobile-query {
			margin-bottom: 25px;
			position: relative;
			margin-left: 0;

			&.col-6 {
				width: 100%;
				margin: -58px auto 30px;
				float: left;
			}

			&:before {
				content: '';
				display: block;
				opacity: 0.8;
				background-image: url('images/border-white-flat-bottom.svg');
				height: 66px;
				top: -11px;
				position: absolute;
				width: 100%;
				background-size: cover;
			}

			&.main.no-padding {
				padding: 0;
			}
		}

		h1 {
			color: @orange;

			@media @mobile-query {
				font-size: 40px;
				margin-bottom: 25px;
			}
		}
	}

	.article-with-image__image {
		height: 100%;

		@media @tablet-query {
			height: 50vw;
		}

		@media @mobile-query {
			height: 70vw;
		}

		&:before, &:after {
			background-image: url('images/border-offwhite-vertical.svg');
		}

		&:after {
			background-image: url('images/border-offwhite.svg');

			@media @mobile-query {
				background-image: url('images/border-white.svg');
			}
		}
	}
}

.vc_section.vc_section-has-fill + .story-description.vc_section {
	padding-top: 50px;

	@media @tablet-query {
		padding-top: 40px;
	}

	@media @mobile-query {
		padding-top: 25px;
	}
}

.story-stages {
	float: left;
	width: 100%;

	.story-stages-header {
		padding-top: 54px;
		float: left;
		width: 100%;
		z-index: @z-index-base;

		@media @tablet-query {
			padding-top: 36px;

			h1 {
				font-size: 50px;
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		@media @mobile-query {
			padding-top: 0;

			&:before, &:after {
				display: none;
			}

			h1 {
				font-size: 30px;
				color: #fff;
				background-color: @orange;
				.rough-border(orange);
				padding-top: 22px;
				padding-bottom: 22px;

				.tablet-only {
					display: none;
				}
			}
		}
	}

	.story-carousel {
		float: left;
		width: 100%;
	}
}

.story-press {
	float: left;
	width: 100%;
	padding-top: 74px;
	padding-bottom: 73px;
	.carousel-arrow();
	box-shadow: 0 4px 4px -4px rgba(29, 28, 28, 0.29);

	@media @tablet-query {
		padding-top: 35px;
		padding-bottom: 46px;
	}

	@media @mobile-query {
		padding-top: 27px;
		padding-bottom: 38px;
	}

	.slick-arrow {
		background-image: url('images/carousel-arrow-orange.svg');
		transition: 0.3s transform;
		width: 32px;
		height: 32px;
		left: -40px;

		@media @mobile-query {
			right: -27px;
		}

		&:hover {
			transform: scale(1.2) translateY(-50%);
		}

		&.slick-next {
			right: -40px;

			@media @mobile-query {
				right: -26px;
			}

			&:hover {
				transform: scaleX(-1.2) scaleY(1.2) translateY(-50%);
			}
		}
	}

	h1 {
		@media @tablet-query {
			font-size: 50px;
		}

		@media @mobile-query {
			font-size: 40px;
		}
	}

	.press-pagination {
		display: none;
	}

	.press-archive-container {
		display: none;
	}

	.press-container {
		box-shadow: none;
		width: 95%;
		margin-top: 38px;
		margin-bottom: 57px;

		@media @tablet-query {
			width: 85%;
			margin-top: 31px;
		}

		@media @mobile-query {
			margin-top: 21px;
			margin-bottom: 30px;
		}

		.slick-track {
			display: flex;
		}

		.slick-slide {
			padding-top: 2px;
			margin-left: 9px;
			margin-right: 9px;
			height: auto;
		}

		.press-article {
			margin-bottom: 10px;
		}

		.press-article__details-container {
			background-color: @orange;

			&:before, &:after {
				background-image: url('images/border-orange.svg');
			}
		}
	}

	.button {
		background-color: @orange;
		.centerX();
		position: relative;

		@media @tablet-query {
			font-size: 16px;
			min-width: auto;
			padding-left: 36px;
			padding-right: 50px;

			&:after {
				right: 31px;
			}

			&:hover:after {
				right: 27px;
			}
		}
	}
}
.page-our-story{
	#story-description{
		&.border-white{
			&:before {
				background-position: top left;
				top: -9px;
			}
			&:after {
				background-position: bottom left;
				bottom: -9px;
			}
			@media @mobile-query {
				&:before, &:after {
					background-size: 610px auto;
				}
			}
		}
	}
}
