a {
    text-decoration: none;
}

.action.primary:focus,
.action.primary:active {
    background: @orange;
    border: 1px solid @orange;
}

.action.close {
    .button();
    background: @orange;
    border: none;
}

button:focus, 
button:active, 
.cart.table-wrapper .actions-toolbar > .action:focus, 
.cart.table-wrapper .actions-toolbar > .action:active, 
.action-gift:focus, .action-gift:active {
    color: #FFF;
    border: none;
}

address {
    font-size: 18px;
    color: @darkgray;
    line-height: 1.4;
    font-family: @booster;
}

.fieldset > .field {
    margin: 0 0 20px;
}

.field.choice,
.field.newsletter {
    label span {
        margin-left: 12px;
        vertical-align: middle;
    }
}

.field.password {
    margin-bottom: 0;
}

.actions-toolbar .primary {
    float: right;
}
.actions-toolbar .secondary {
    float: left;
}

.pwr-category-snippets { //display powerReviews stars on category page
    height: 22px;
}

.control._with-tooltip .note:before{
    content: none;
}

div.mage-error[generated] { 
    color: @orange;
    font-size: 1rem;
    margin-bottom: 10px;
}

button:hover {
    color: #FFF;
}
#maincontent.page-main { //magento class
    margin-top: 124px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
    @media @tablet-query {
        margin-top:110px;
    }
    @media @mobile-query {
        margin-top: 70px;
    }
}
.column.main .block .title {
    letter-spacing: inherit;
}
.page-title-wrapper {
    margin-top: 40px;
    display: block;
    text-align: center;
    @media @tablet-query {
        margin-top: 10px;
    }
}
.page-title {
    font-size: 42px;
    color: @orange;
    @media @tablet-query {
        font-size: 32px;
        padding-top: 10px;
    }
    @media @mobile-query {
        font-size: 25px;
    }
}

.pages .action.previous,
.pages .action.next {
    padding: 5px 13px 4px;
    border-radius: 23px;
}

.abs-margin-for-forms-desktop, .fieldset .legend, 
.column:not(.sidebar-main) form .actions-toolbar, 
.column:not(.sidebar-additional) form .actions-toolbar, 
.login-container .fieldset:after {
    margin-left: auto;
}

.modals-wrapper .modal-content {
    top: auto;
}

#top-cart-btn-checkout {
    font-size: 100%;
    &.action.primary.checkout {
        width: auto;
        padding: 5px 50px 5px 30px;
        margin: 15px auto;
    }
}

.message.success,
.message.error {
    background: #FFF;
}

.page.messages {
    .center();
    position: fixed;
    z-index: @z-index-uber;
    box-shadow: 0 2px 23px rgba(74, 74, 74, 0.14);
    max-width: 300px;
    .message-success {
        margin: 0;
        &.message__hide {
                -moz-animation: hideMessag 5s forwards;
                    /* Firefox */
                -webkit-animation: hideMessage 5s forwards;
                    /* Safari and Chrome */
                -o-animation: hideMessage 5s forwards;
                    /* Opera */
                animation: hideMessage 5s forwards;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                @keyframes hideMessage {
                    0%   {opacity: 1;}
                    90%  {opacity: 1;}
                    100% {opacity: 0;}
                }
                @-webkit-keyframes hideMessage {
                    0%   {opacity: 1;}
                    90%  {opacity: 1;}
                    100% {opacity: 0;}
                }
        }
    }
 
}

button:active {
    box-shadow: none;
}
.slick-prev:before, 
.slick-next:before {
    content: '';
}
.breadcrumbs {
    margin: auto;
    padding-top: 32px;
    width: 100%;
    max-width: none;
    @media @tablet-query {
        padding-top: 20px;
    }
    .items {
        max-width: 1440px;
        margin: 0 auto;
    }
    .item {
        color: @darkgray;
        font-family: @booster;
        font-size: 15px;
        font-weight: 700;
        line-height: 15.92px;
        &.product {
            font-weight: 500;
        }
        
        &:not(:last-child)::after {
            content: ' > ';
            color: @darkgray;
             @media @mobile-query {
               font-size:10px;
               line-height: 12px;
             }
        }
        a {
        	color: @darkgray;
        }
        @media @mobile-query {
           font-size:10px;
           line-height: 12px;
        }
    }
    @media @mobile-query {
    	padding-left:0;
    }
}

// minicart delect popup confirmation dialog
aside.modal-popup.confirm {
    .modal-inner-wrap {
        position: relative;
        .modal-content {
            font-family: @booster;   
            text-align: center; 
            opacity: 1;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
            margin: 0 auto;
            line-height: 1.5;
            position: relative;
            top: auto;
            left: auto;
            transform: translate(0);
        }
    }
    
    .modal-footer {
        display: inline-block;
        margin: 0 auto;
        button {
            .button();
            background: @orange;
            margin-right: 40px;
            padding: 0 53px;
            &:after {
                width: 0;
                height: 0;
                border: 0;
            }
            &:hover {
                background: rgba(234,118,65,.7);
            }
        }
    }
    
}


._has-modal .modal-content {
    top: 0;
    position: relative;
}

#maincontent .modal-header,
#maincontent .modal-footer {
        z-index: @z-index-uber;
}

#maincontent .modal-content {
    opacity: 1;
    position: relative;      
    background: none;
    box-shadow: none;
    padding: 0;
    top: auto;
    left: auto;
    transform: none;
    z-index: @z-index-mid;
    @media @tablet-query {
        width: 100%;
    }
}

.fieldset > .field:not(.choice) > .label {
    padding: 10px 0;
}

.popup-authentication .block-authentication {
    border-top: none;
}

.block-authentication .block-title{
    font-size: 32px;
}

.fieldset > .field:not(.choice) > .label {
    width: auto;
}

.expand {
    display: block !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    transform: none !important;
    margin: auto !important;
    width: 100% !important;
}
.arrow-up {    
        &:after {
       transform: translateY(-50%) rotate(-135deg) !important;
   } 
    
}