.cms-shop-all {
	font-family: @booster;

	.page-title-wrapper {
		display: none;
	}

	#maincontent.page-main {
		padding: 0;
		margin-top: 0;
	}
	
	.page-header {
		height: 0;
	}
}

.cms-shop-all .title,
.cms-shop-all .section-title,
.checkout-onepage-success .title,
.checkout-onepage-success .section-title
 {
	color: #fff;
	font-family: @organico;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	position: relative;
	text-align: center;

	@media @tablet-query {
		font-size: 39px;
		letter-spacing: 2px;
	}

	@media @mobile-query {
		font-size: 30px;
	}
}

.cms-shop-all .section-title,
.checkout-onepage-success .section-title {
	color: @orange;
	font-size: 60px;

	@media @tablet-query {
		font-size: 40px;
	}

	@media @mobile-query {
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
}

.cms-shop-all .button,
.checkout-onepage-success .button {
	padding: 0;
}
	
.cms-shop-all a.button,
.checkout-onepage-success a.button {
	padding: 0 75px 0 50px;
	min-width: 0;
	color: #fff;

	&:hover {
		color: #fff;
	}

	&:after {
		display: none;
	}

	@media @mobile-query {
		font-size: 16px;
	}
}

.cms-shop-all .top-banner,
.checkout-onepage-success .top-banner {
	text-align: center;
	background-color: @green;
	padding: 195px 0 51px;
	margin-bottom: 10px;
	.rough-border(green);

	@media @tablet-query {
		padding: 110px 0 40px 0;
	}

	@media @mobile-query {
		padding: 65px 0 25px 0;
	}

	.title {
		display: inline;
		.with-bings();
		width: 630px;

		@media @tablet-query {
			display: inline-block;
			width: 86%;
			max-width:100%;
		}

		@media @mobile-query {
			width: 99%;
			padding: 0 47px;
			line-height: 1.3;
			&:before, &:after {
				display: none;
			}
		}
	}

	.text {
		margin: 5px auto;
		color: #fff;
		font-size: 24px;
		font-weight: 700;

		@media @tablet-query {
			font-size: 16px;
		}

		@media @mobile-query {
			font-size: 14px;
		}
	}

	.button {
		background-color: #fff;
		color: @green;
		padding: 0 61px 0 39px;
		margin-top: 20px;
		a {
			color: @green;
		}
		&:hover {
			color: @green;
			&:after {
				right: 35px;
			}
		}

		&:after {
			border-color: @green;
			top: 18px;
			right: 40px;
			transform: rotate(-45deg);	
			@media @mobile-query {
				top: 14px;
			}		
		}

		@media @mobile-query {
			padding: 0 31px 0 20px;
			min-width: 178px;
			font-size: 16px;
		}
	}
}

.cms-shop-all .top-banner + .banners-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	.rough-border(white);

	@media @tablet-query {
		margin-bottom: 40px;
	}
}

.checkout-onepage-success .top-banner + .banners-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	.rough-border(white);

	@media @tablet-query {
		margin-bottom: 40px;
	}
}

.cms-shop-all .left-banner,
.cms-shop-all .right-banners-container,
.checkout-onepage-success .left-banner,
.checkout-onepage-success .right-banners-container {
	position: relative;
	height: 50vw;
	max-height: 700px;
	width: calc( 50% - 3.5px );
	overflow: hidden;

	picture, picture img {
		width: 100%;
	}

	.banner-image {
		position: absolute;
		width: 100%;
	}

	a.button {
		position: relative;
		transform: none;
		bottom: auto;
		left: auto;
	}
	
	@media @tablet-query {
		height: 520px;
		width: 100%;
		.carousel-arrow();

		.slick-arrow {
			background-image: url('images/carousel-arrow-white.svg');
			height: 40px;
			width: 40px;
			left: 30px;
		}

		.slick-next {
			left: auto;
			right: 30px;
		}

		.carousel-dots();
		.slick-dots {
			.centerX();
			bottom: 22px;
			height: 7px;

			li {
				height: 7px;
				width: 7px;
				margin: 0 6px;
				opacity: 1;

				&.slick-active {
					background-color: @orange;
				}
			}
		}

		.left-banner {
			display: block;
		}

	}
	
	@media @mobile-query {
		height: 420px;

		.slick-arrow {
			left: 15px;
		}

		.slick-next {
			right: 15px;
		}

		.slick-dots {
			bottom: 17px;
		}

	}
}

.cms-shop-all .left-banner,
.checkout-onepage-success .left-banner {
	background-image: url('images/background-blue-white.jpg');
	background-size: auto 100%;
	
	.title {
		margin: 5% auto 0;
		width: 500px;
		color: #fff;
	}

	.button {
		.centerX();
		background-color: @lightpurple;
		bottom: 5%;
	}

	.banner-content {
		width: 100%;
		height: 100%;
	}

	@media @tablet-query {
		display: none;

		.title {
			width: 370px;
			margin: 40px auto;
		}

		.button {
			bottom: 50px;
		}

		.banner-image {
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			top: 10px;
		}
	}

	@media @mobile-query {

		.title {
			width: 280px;
			margin: 33px auto;
		}

		.button {
			bottom: 40px;
		}

		.banner-image {
			width: 125%;
			max-width: 400px;
			top: 0;
		}
	}
}

.cms-shop-all .right-top-banner,
.cms-shop-all .right-bottom-banner,
.checkout-onepage-success .right-top-banner,
.checkout-onepage-success .right-bottom-banner {
	height: calc( 50% - 3.5px );
	position: relative;
	overflow: hidden;

	.banner-content {
		width: 300px;
		.centerY();
		left: 30px;
		text-align: center;

		@media @smdesktop-query {
			left: 10px;
		}
	}

	.title {
		margin-bottom: 40px;

		@media @smdesktop-query {
			margin-bottom: 20px;
		}
	}

	@media @tablet-query {
	    height: 520px;
		overflow: visible;

		.banner-image {
			.center();
			height: 100%;
			width: 100%;
			max-width: 100%;
			overflow: hidden;

			picture {
				height: 100%;
				display: block;
				width: 100%;
			}

			picture img {
				width: auto;
				height: 100%;
				max-width: none;
				top: 0;
				right: 0;
				position: absolute;
			}
		}

		.banner-content {
			height: 100%;
			width: 100%;
			padding: 40px;
		}

		.button {
			.centerX();
			bottom: 50px;
		}
	}

	@media @mobile-query {
	    height: 420px;

		.banner-image {
			width: 350px;
		}

		.banner-content {
			padding: 33px;
		}

		.button {
			bottom: 40px;
		}
	}
}

.cms-shop-all .right-top-banner,
.checkout-onepage-success .right-top-banner {
	margin-bottom: 7px;

	.button {
		background-color: @orange;
	}

	@media @tablet-query {
		background-color: @lightestgray;
	}

	.title {
		color: @orange;
	}
}

.cms-shop-all .right-bottom-banner,
.checkout-onepage-success .right-bottom-banner {
	.title {
			color: @green;
	}

	.button {
		background-color: @green;
	}
}

.cms-shop-all .category-title {
	width: 1300px;
	max-width: 90%;
	margin: 65px auto 30px;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	border-bottom: 3px solid @lightestgray;
	text-align: center;

	@media @tablet-query {
		font-size: 27px;
		margin: 50px auto 0;
		padding-bottom: 11px;
	}

	@media @mobile-query {
		font-size: 24px;
		padding-bottom: 7px;
	}
}

.cms-shop-all .product-container {
	width: 1090px;
	max-width: calc( 90% - 220px );
	margin: 0 auto 40px;
	.carousel-arrow();

	.slick-prev {
		left: -110px;
	}

	.slick-next {
		right: -110px;
	}

	.slick-track {
		display: flex;
		justify-content: space-between;
		min-width: 100%
	}

	@media @tablet-query {
		max-width: calc( 90% - 160px );

		.slick-arrow {
			height: 43px;
			width: 43px;
		}

		.slick-prev {
			left: -80px;
		}

		.slick-next {
			right: -80px;
		}
	}

	@media @mobile-query {
		max-width: calc( 90% - 50px );
		margin-bottom: 20px;

		.slick-arrow {
			background-size: 28px;
			top: 80px;
		}

		.slick-prev {
			left: -40px;
		}

		.slick-next {
			right: -40px;
		}
	}
}

.cms-shop-all .column.main .product-item {
	padding: 0;
	text-align: center;
}

.cms-shop-all .column.main .product-line {
	font-size: 15px;

	@media @tablet-query {
		font-size: 10px;
	}
}

.cms-shop-all .column.main .product-name {
	color: @darkgray;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;

	@media @tablet-query {
		font-size: 13px;
	}

	@media @mobile-query {
		font-size: 14px;
	}
}

.cms-shop-all .column.main .product-image {
	display: flex;
	align-items: center;
	height: 210px;

	a {
		width: 100%;
	}

	@media @tablet-query {
		height: 178px;
	}

	@media @mobile-query {
		height: 165px;
	}
}

.cms-shop-all .column.main .product-image-photo {
	max-height: 209px;
	height: auto;
	width: auto;

	@media @tablet-query {
		max-height: 178px;
	}

	@media @mobile-query {
		max-height: 165px;
	}
}

.cms-shop-all .category-products-container {
	text-align: center;

	.button-container {
		display: inline-block;
		.arrow();
	}

	.button {
		color: #fff;
		padding-right: 63px;

		&:hover {
			color: #fff;
		}
	}

	&:nth-last-of-type(4) {

		.category-title, .display-category {
			color: @green;
		}

		.slick-arrow {
			background-image: url('images/carousel-arrow-green.svg');
		}

		.button {
			background-color: @green;
		}
	}

	&:nth-last-of-type(3) {

		.category-title, .display-category {
			color: @lightpurple;
		}

		.slick-arrow {
			background-image: url('images/carousel-arrow-purple.svg');
		}

		.button {
			background-color: @lightpurple;
		}
	}

	&:nth-last-of-type(2) {

		.category-title, .display-category {
			color: @lightblue;
		}

		.slick-arrow {
			background-image: url('images/carousel-arrow-blue.svg');
		}

		.button {
			background-color: @lightblue;
		}
	}

	&:last-of-type {

		.category-title, .display-category {
			color: @mediumyellow
		}

		.slick-arrow {
			background-image: url('images/carousel-arrow-yellow.svg');
		}

		.button {
			background-color: @mediumyellow;
		}
	}
}
