.team-users {
	float: left;
	width: 100%;

	.team-users-container {
		max-width: 1310px;
		margin: 0 auto;
		width: 100%;
	}

	.team-user {
		float: left;
		width: 25%;
		margin-bottom: 40px;

		&:nth-child(4n + 1) {
			clear: left;
		}

		// start hiding from the 9th element
		&:nth-child(n + 9) {
			display: none;
		}

		@media @tablet-query {
			width: 31%;
			margin-bottom: 36px;
			margin-right: 2%;

			&:nth-child(4n + 1) {
				clear: none;
			}

			&:nth-child(3n + 1) {
				clear: left;
				margin-left: 1%;
			}

			// start hiding from the 7th element, tablet have only 6 items to show by default
			&:nth-child(n + 7) {
				display: none;
			}
		}

		@media @mobile-query {
			margin-bottom: 36px;
			margin-bottom: 26px;
			width: 46%;
			margin-left: 2%;
			margin-right: 2%;
			margin-bottom: 36px;

			&:first-child {
				margin-left: 2%;
			}

			&:nth-child(4n + 1) {
				clear: none;
			}

			&:nth-child(3n + 1) {
				clear: none;
				margin-left: 2%;
			}

			&:nth-child(2n + 1) {
				clear: left;
			}

			// override tablet
			&:nth-child(n + 7) {
				display: block;
			}

			// mobile has 8 elements by default
			&:nth-child(n + 9) {
				display: none;
			}
		}


		&:nth-child(8n + 1) .team-user__name {
			color: @green;
		}

		&:nth-child(8n + 2) .team-user__name {
			color: @orange;
		}

		&:nth-child(8n + 3) .team-user__name {
			color: @lightpurple;
		}

		&:nth-child(8n + 4) .team-user__name {
			color: @mediumblue;
		}

		&:nth-child(8n + 5) .team-user__name {
			color: @red;
		}

		&:nth-child(8n + 6) .team-user__name {
			color: #9966cc;
		}

		&:nth-child(8n + 7) .team-user__name {
			color: @lightblue;
		}

		&:nth-child(8n + 8) .team-user__name {
			color: #99cc33;
		}


		&__avatar {
			text-align: center;
			width: 100%;

			img {
				max-width: 95%;
			}
		}

		&__name, &__job-title {
			text-align: center;
			line-height: 1;
			padding: 0 4%;

			@media @tablet-query {
				font-size: 20px;
			}
		}

		&__name {
			margin-top: 16px;

			@media @tablet-query {
				margin-top: 22px;
			}

			@media @mobile-query {
				font-size: 16px;
				margin-top: 8px;
			}
		}

		&__job-title {
			font-weight: 500;
			margin-top: 8px;
			color: @darkgray;

			@media @tablet-query {
				margin-top: 12px;
			}

			@media @mobile-query {
				font-size: 13px;
				margin-top: 7px;
				font-weight: 700;
			}
		}
	}

	&.see-all {
		.team-users__see-all {
			display: none;
		}

		.team-user:nth-child(n + 7) {
			display: block;
		}
	}

	.team-users-featured-container {
		max-width: 1040px;
		margin: 0 auto;
		width: 100%;

		.team-user {
			width: 37%;
			margin-left: 6%;
			margin-right: 6%;
			margin-bottom: 56px;

			@media @tablet-query {
				width: 31%;
				margin-left: 1%;
				margin-right: 1%;
				margin-bottom: 53px;

				&:first-child {
					margin-left: 18%;
				}
			}

			@media @mobile-query {
				width: 46%;
				margin-left: 2%;
				margin-right: 2%;
				margin-bottom: 36px;

				&:first-child {
					margin-left: 2%;
				}
			}

			&__name {
				@media @mobile-query {
					margin-top: 13px;
				}
			}

			img {
				width: 100%;
			}
		}
	}

	&__see-all {
		float: left;
		width: 100%;
		text-align: center;
		margin-top: 15px;

		a {
			.arrow();
			font-size: 18px;
			color: @orange;
			text-decoration: none;
			font-family: @booster;
			font-weight: 700;

			@media @mobile-query {
				font-size: 16px;
			}

			// arrow
			&:after {
				border-color: @orange;
				transform: translateY(-50%) rotate(45deg);
				top: 41%;
				right: -21px;

				@media @mobile-query {
					top: 35%;
				}
			}

			// underline
			&:before {
				content: '';
				height: 2px;
				width: 0;
				position: absolute;
				background-color: @orange;
				left: 0;
				bottom: 0;
				transition: width 0.2s ease-in-out 0s
			}

			&:hover {
				&:after {
					right: -21px;
				}

				&:before {
					width: 100%;
				}
			}
		}
	}
}

.team-hero.mini-hero {
	@media @tablet-query {
	 padding: 16px 0 45px;
	}
}

.team-hero {
	&.mini-hero .main {
		padding-top: 0px;

		@media @tablet-query {
			padding-top: 0px;
		}

		@media @mobile-query {
			padding-top: 0px;
		}
	}

	h1 {
		color: @orange;

		@media @tablet-query {
			margin-bottom: 30px;
		}

		@media @mobile-query {
			font-size: 40px;
			margin-bottom: 20px;
		}
	}

	h4 {
		color: @darkgray;
		font-size: 18px;
		font-weight: 500;
		max-width: 620px;
		line-height: 1.4;

		@media @tablet-query {
			font-size: 16px;
			line-height: 1.6;
		}

		@media @mobile-query {
			font-size: 14px;
		}
	}
}

.team-careers {
	float: left;
	width: 100%;
	text-align: center;


	&.vc_section {
		margin-top: 45px;
	}

	.main {
		height: 100%;
		padding-top: 100px;
		background-size: cover;
		height: 453px;

		@media @tablet-query {
			padding-top: 40px;
			height: 300px;
		}

		@media @mobile-query {
			height: 220px;
			position: relative;
			padding-top: 115px;

			&:before {
				content: '';
				opacity: 0.8;
				background-image: url('images/border-white-flat-bottom.svg');
				height: 130px;
				bottom: 0;
				width: 100%;
				background-repeat: repeat-x;
				position: absolute;
				left: 0;
				background-size: cover;
				background-position: top;
			}
		}
	}

	&__content {
		@media @mobile-query {
			z-index: @z-index-base;
		}
	}

	h1 {
		width: 100%;
		margin-bottom: 30px;

		@media @tablet-query {
			font-size: 50px;
			margin-bottom: 17px;
		}

		@media @mobile-query {
			color: @orange;
			font-size: 40px;
			line-height: 1.1;
			height: 88px;
			align-items: center;
			display: flex;
			margin-bottom: 37px;
			justify-content: center;
		}
	}

	p {
		max-width: 610px;
		width: 94%;
		margin: 0 auto;

		@media @tablet-query {
			font-size: 16px;
		}

		@media @mobile-query {
			color: @darkgray;
		}
	}

	a {
		.button();
		background-color: @orange;
		margin-top: 42px;

		@media @tablet-query {
			font-size: 16px;
			padding-left: 40px;
			padding-right: 55px;
			margin-top: 30px;

			&:after {
				right: 38px;
			}

			&:hover:after {
				right: 34px;
			}
		}

		@media @mobile-query {
			margin-top: 20px;
			margin-bottom: 6px;
		}
	}
}