@tb-lgdesktop-design: 1440px;
@tb-smdesktop-design: 1024px;
@tb-tablet-design: 768px;
@tb-mobile-design-s: 320px;
@tb-mobile-design-m: 375px;
@tb-mobile-design-l: 600px;

@tb-lgdesktop-breakpoint: 1440px;
@tb-smdesktop-breakpoint: 1200px;
@tb-tablet-breakpoint: 1023px;
@tb-mobile-breakpoint: @tb-mobile-design-l;

@top-banner-background: #414143;

.top-b-tablet,
.top-b-mobile {
  display: none;
}

.top-b-desktop,
.top-b-tablet,
.top-b-mobile {
  text-align: center;
  margin: 0 auto;
  max-width: 445px;
  overflow: hidden;
}

.top-banner-block {
  display: block;
  width: 100%;
  position: fixed;
  height: 40px;
  top: 0;
  z-index: 5;
  padding: 0 70px;
  margin: 0 auto;
  background-color: @top-banner-background;
}

.inner-banner-block {
  background-color: @top-banner-background;
  margin: 0 auto;
  display: block;
  max-width: 1440px;
  max-height: 40px;
}

.page-infant-feeding-support .feeding-hero {
  margin-top: 0 !important;
}

#content {
  &.site-content {

    @media @mobile-query {
      margin-top: 50px;
    }

  }
}

.top-banner-block {

  .text,
  .top-button {
    display: block;
    float: left;
    margin-left: 10px;
  }

  img {
    max-height: 40px;
  }
}

.site-header.hidden {
  display: block;
  top: -125px;
}

.fordesktop {
  display: block;
}

.fortablet,
.fortabletl,
.formobile {
  display: none;
}

.top-banner-block.hidden {
  top: -50px;
}

.top-image {
  margin-top: 30px;
}

.page-infant-feeding-support {
  #content.site-content {
    margin-top: 168px;

    @media @tablet-query {
      margin-top: 120px;
    }
  }
}

@media only screen and (max-width: @tb-tablet-breakpoint) {
  .site-header.hidden {
    top: -82px;
  }

  .top-b-tablet {
    display: block;
  }

  .top-b-desktop {
    display: none;
  }

  .top-banner-block {
    height: 42px;
    padding: 0 20px;
  }

  .fordesktop,
  .fortablet,
  .formobile {
    display: none;
  }

  .fortabletl {
    display: block;
  }

  #header {
    .nav-toggle.expanded {
      top: 21px;
    }

    .menus-container {
      top: 42px;
    }
  }

  .packaging-promise-anchor {
    margin-top: -274px;
  }

}

@media only screen and (max-width: @tb-mobile-design-s) {
  div {
    div.top-banner-block {
      img {
        max-height: 40px;
        max-width: 140px;
      }
    }
  }

  .top-b-mobile {
    .text {
      img {
        margin-top: 0px;
      }
    }
  }

  div.top-banner-block {
    div {
      div.top-b-mobile {
        max-width: 290px;
      }
    }
  }
}

@media only screen and (max-width: @tb-mobile-design-s + 40px) {
  div.top-banner-block {
    div.top-b-mobile {
      max-width: 290px;
    }
  }
}

@media only screen and (max-width: @tb-mobile-design-m) {
  .top-banner-block {
    div.top-b-mobile {
      max-width: 290px;
    }
  }

  div.top-banner-block {
    img {
      max-height: 38px;
      margin-top: 3px;
    }
  }

  .packaging-promise {
    a.button {
      min-width: 100px;
      margin-top: 20px;
      margin-bottom: -10px;
      width: auto;
      max-width: 280px;
      padding: 0px 40px 0px 20px;
      font-size: 13px;

      &:after {
        width: 8px;
        height: 8px;
        right: 22px;
      }
    }
  }

  .packaging-promise a.button:hover:after {
    right: 26px;
  }

  div.packaging-promise-anchor {
    margin-top: -154px;
  }

  .page-bundles {
    section.vc_section {
      margin: 0 auto;
      overflow: hidden;
    }

    .bundles-how {
      div.col-12 {
        padding: 15px 0px;
      }
    }

    #mc_embed_signup {
      width: 100%;
    }
  }
}

@media only screen and (min-width: @tb-mobile-design-l + 1px) {
  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }
}

@media only screen and (max-width: @tb-mobile-design-s + 170px) {
  body div.top-banner-block {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: @tb-mobile-design-s +100px) {
  .top-banner-block {
    .top-b-mobile {
      max-width: 340px;
    }

    .top-button {
      margin-left: 5px;
    }
  }

  body {
    .top-banner-block {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .packaging-promise {
    a.button {
      margin-top: 20px;
      margin-bottom: -10px;
    }
  }

  div div.packaging-promise-anchor {
    margin-top: -154px;
  }

  div div.packaging-promise-anchor.mission-page {
    margin-top: -20px;
  }
}

@media only screen and (max-width: @tb-mobile-design-l) {
  .page-infant-feeding-support #content.site-content {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: @tb-mobile-design-l + 50px) {
  .site-header.hidden {
    top: -52px;
  }

  .top-b-mobile {
    display: block;
    max-width: 290px;
  }

  .top-b-desktop,
  .top-b-tablet {
    display: none;
  }

  .top-banner-block {
    img {
      max-height: 45px;
    }
  }

  body {
    #header.site-header {
      top: 0px;
    }
  }

  .top-banner-block {
    height: 45px;
  }

  .fordesktop,
  .fortablet,
  .fortabletl {
    display: none;
  }

  .formobile {
    display: block;
  }

  .top-banner-active {
    #header.site-header {
      margin-top: 40px;

      @media @tablet-query {
        margin-top: 42px;
      }

      @media @mobile-query {
        margin-top: 45px;
      }
    }

    #content {
      margin-top: 40px;

      @media @tablet-query {
        margin-top: 42px;
      }

      @media @mobile-query {
        margin-top: 95px;
      }
    }

    .site-header {
      &--with-sub-header.--short-sub-header {
        &+#content.site-content {
          margin-top: 224px;

          @media @tablet-query {
            margin-top: 170px;
          }

          @media @mobile-query {
            margin-top: 160px;
          }
        }
      }
    }

    &.page-template-learning-center-category,
    &.page-our-story,
    &.page-our-experts,
    &.page-packaging-safety,
    &.page-farmed-for-our-future,
    &.single-post {
      #content.site-content {
        margin-top: 233px;

        @media @tablet-query {
          margin-top: 132px;
        }

        @media @mobile-query {
          margin-top: 100px;
        }
      }
    }

    &.page-campaign-design,
    &.page-campaign-landing-page,
    &.page-happiness-wins,
    &.page-happy-farms,
    &.page-modular-landing-module,
    &.materlandingposts-template-page-modular-landing {
      #content.site-content {
        margin-top: 224px;

        @media @tablet-query {
          margin-top: 122px;
        }

        @media @mobile-query {
          margin-top: 95px;
        }
      }
    }

    &.page-template-learning-center-category.page-recipes-meal-plans {
      #content.site-content {
        margin-top: 40px;

        @media @tablet-query {
          margin-top: 42px;
        }

        @media @mobile-query {
          margin-top: 100px;
        }
      }
    }

    &.page-template-page-masterbrand {
      #content.site-content {
        margin-top: 224px;

        @media @tablet-query {
          margin-top: 120px;
        }

        @media @mobile-query {
          margin-top: 95px;
        }
      }
    }

    &.page-our-team {
      #content.site-content {
        margin-top: 320px;

        @media @tablet-query {
          margin-top: 214px;
        }

        @media @mobile-query {
          margin-top: 135px;
        }
      }
    }

    &.remove-top-spacing {
      #content.site-content {
        margin-top: 40px;
      }

      @media @mobile-query {
        #content.site-content {
          margin-top: 95px;
        }
      }
    }
  }

  #header {
    .nav-toggle.expanded {
      top: 6px;
    }
  }

  div#header .menus-container {
    top: 45px;
  }

  #content.site-content {
    margin-top: 45px;
  }

  .top-image {
    margin-top: 25px;
  }

  #mission-design {
    .wpb_content_element {
      margin-bottom: 25px;
    }
  }
}

#header.site-header {
  top: 0px;
}

.packaging-promise {
  text-align: center;

  .button {
    cursor: pointer;
    background-color: #fbb913;
    margin-top: 25px;
    color: #fff;

    &:after {
      border-color: #ffffff;
    }
  }
}

@media only screen and (max-width: @tb-tablet-design -1px) {
  .formobile {
    display: block;
  }

  .fordesktop,
  .fortabletl,
  .fortablet {
    display: none;
  }
}

@media only screen and (max-width: @tb-tablet-design) {
  div.packaging-promise-anchor {
    margin-top: -232px;

    &.mission-page {
      margin-top: -20px;
    }
  }

  .top-banner-block {
    .inner-banner-block {
      img {
        margin-top: 3px;
        max-height: 36px;
      }
    }
  }

  .page-infant-feeding-support {
    #content.site-content {
      margin-top: 80px;
    }
  }
}

.main .packaging-promise-anchor {
  margin-bottom: 0px;
}

.packaging-promise-anchor {
  margin-top: -280px;
  position: absolute;
  width: 100%;
}

.site-header--with-sub-header+.site-content>.mini-hero:first-child div.main {
  padding-top: 160px;
}

.packaging-promise-anchor {
  &.mission-page {
    margin-top: -20px;
  }
}

div#fc_frame.fc-widget-normal.h-open-container,
div#fc_frame.h-open-container {
  z-index: 9999 !important;
}