html {
	height: 100%;
}

body {
	min-height: 100%;
	font-size: 18px;
	font-family: @booster;
	letter-spacing: 0.1px;

	@media @tablet-query {
		font-size: 16px;
	}

	@media @mobile-query {
		font-size: 14px;
	}
}

body.locked {
	overflow: hidden;
}

#content {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;	
}

// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	color: #fff;
	font-family: @organico;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;

	@media @tablet-query {
		font-size: 40px;
		letter-spacing: 2px;
	}
}

h2 {
	font-size: 52px;
	font-family: @organico;
	text-transform: uppercase;

	@media @tablet-query {
		font-size: 30px;
	}
}

h3 {
	font-family: @booster;
	font-size: 30px;
	font-weight: 700;

	@media @tablet-query {
		font-size: 24px;
	}
}

h4 {
	font-size: 24px;
	font-family: @booster;
	font-weight: 700;

	@media @tablet-query {
		font-size: 16px;
	}
}

h5 {
	font-weight: 700;
	font-size: 15px;
	font-family: @booster;

	@media @tablet-query {
		font-size: 10px;
	}
}

p, li {
	color: #fff;
	font-family: @booster;
	font-weight: 500;
	line-height: 1.5;

	@media @tablet-query {
		font-size: 16px;
	}

	@media @mobile-query {
		font-size: 14px;
	}
}


// Structure

.wrapper {
	max-width: 100%;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
}

section {
	max-width: 1440px;

	&.vc_section {
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
	}
}

.no-padding > .col-12,
.no-padding > .main > .col-12 {
	padding-left: 0;
	padding-right: 0;
}

// UI Elements

.arrow() {
	position: relative;

	&:after {
		content: '';
		width: 10px;
		height: 10px;
		.centerY();
		right: 44px;
		border-right: 3px solid #fff;
		border-bottom: 3px solid #fff;
		transform: translateY(-50%) rotate(-45deg);
		transition: 0.2s ease-in-out;
	}

	&:hover:after {
		right: 40px;
	}
}

.button() {
	min-width: 200px;
	display: inline-block;
	font-family: @booster;
	font-weight: 700;
	color: #fff;
	line-height: 2.5em;
	font-size: 18px;
	padding: 0 63px 0 53px;
	border-radius: 23px;
	text-decoration: none;
	white-space: nowrap;
	.arrow();
}

.button {
	.button();
}

.button-close (@size: 30px){
    position: absolute;
    cursor: pointer;
    &:before {
        display: inline-block;
        content: "\00d7";
        color: @mediumgray2;
        font-size: @size;
        line-height: 45px;
	}
}



.carousel-arrow() {

	.slick-arrow {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 63px;
		width: 63px;
		.centerY();
		appearance: none;
		color: transparent;
		border-radius: 100%;
		border: 0;
		padding: 0;
		background-color: transparent;
		z-index: @z-index-base;

		&.slick-next {
			left: auto;
			transform: scaleX(-1) translateY(-50%);
		}
	}
}

.carousel-dots() {

	.slick-dots {
		text-align: center;

		li {
			display: inline-block;
			margin: 0 24px;
			background: #fff;
			border-radius: 100%;
			border: 0;
			height: 15px;
			width: 15px;
			transition: 0.3s opacity;
			opacity: 0.5;

			@media @tablet-query {
				height: 7px;
				width: 7px;
				margin: 0 12px 0 0;
			}
		}

		button {
			opacity: 0;
		}

		li.slick-active {
			opacity: 1;
		}
	}
}

.section-beige {
	background-color: @lightbeige;
}

.section-purple {
	background-color: @lightpurple;
}

.section-blue {
	background-color: @lightblue
}

.section-yellow {
	background-color: @mediumyellow
}

.section-offwhite {
	background-color: @offwhite;
}

.section-green {
	background-color: @green;
}

.section-orange {
	background-color: @orange;
}


.carousel-arrow-circle( @border-color: @orange; @bg-color: none ) {
	button.slick-arrow {
		height: 63px;
		width: 63px;
		padding: 5px;
		text-align: center;
		border-radius: 50%;
		display: inline-block;
		color: transparent;
		font-size: 1.1em;
		font-weight: 600;
		background: @bg-color;
		border: 3px solid @border-color;
		&:before {
			display: none;
		}
		&:after {
			content: '';
			width: 15px;
			height: 15px;
			.center();
			left: 32%;
			border-right: 3px solid @border-color;
			border-bottom: 3px solid @border-color;
			transform: translateY(-50%) rotate(-45deg);
			transition: 0.2s ease-in-out;
		}
		&:hover:after {
			left: 40%;
		}		
	}
	.slick-prev.slick-arrow {
		transform: translateY(-50%) scaleX(-1);
	}
}

//icons
.pin(@width: 24px, @height: 24px) {
	 
	background: url(images/icon-pin.svg) no-repeat left bottom;
	background-size: 50%;
	content: '';
	display: inline-block;
	width: @width;
	height: @height;       
	
}

//grey 3px border
.lrg-bottom-border() {
	&:after {
		content: '';
		display: block;
		height: 3px;
		background: #a7a5a3;
		opacity: .3;
		margin-top: 20px;
	}
}



