
// Z-Index

@z-index-base: 1;
@z-index-mid: 2;
@z-index-high: 3;
@z-index-uber: 4;


// Design sizes

@lgdesktop-design: 1440px;
@smdesktop-design: 1024px;
@tablet-design: 768px;
@mobile-design: 320px;


// Breakpoints

@lgdesktop-breakpoint: 1440px;
@smdesktop-breakpoint: 1200px;
@tablet-breakpoint: 1023px;
@tablet-breakpoint-2: 1024px; // For "up" media queries.
@mobile-breakpoint: 600px;
@mobile-breakpoint-2: 601px; // For "up" media queries.


// Media Queries

@lgdesktop-query: ~'only screen and (max-width: @{lgdesktop-breakpoint})';
@smdesktop-query: ~'only screen and (max-width: @{smdesktop-breakpoint})';
@tablet-query: ~'only screen and (max-width: @{tablet-breakpoint})';
@mobile-query: ~'only screen and (max-width: @{mobile-breakpoint})';

@mobile-down: ~'only screen and (max-width: @{mobile-breakpoint})';
@mobile-up: ~'only screen and (min-width: @{mobile-breakpoint-2})';
@tablet-down: ~'only screen and (max-width: @{tablet-breakpoint})';
@tablet-up: ~'only screen and (min-width: @{tablet-breakpoint-2})';


// Colors

@red: #EE4154;
@orange: #E9713A;
@brightorange: #fc6c0f;
@mediumyellow: @red;
@darkyellow: @red;
@green: #70A401;
@green2: #7ec437;
@lightblue: #009ED2;
@mediumblue: #549AD5;
@darkblue: #62c6e2;
@lightpurple: #B16BB9;
@deeppurple: #1B1C56;
@pink: #F88792;
@darkgray: #716F6C;
@darkgray2: #d0d0d0;
@mediumgray: #808080;
@mediumgray2: #898989;
@mediumgray3: #959595;
@lightgray: #999;
@lightestgray: #d1d1d1;
@offwhite: #FCF8F2;
@lightbeige: #fcf8f3;
@darkbeige: #e4d8c6;

// Fonts

@omnes: 'omnes-pro', sans-serif;
@organico: 'Organico-Regular', sans-serif;
@booster: 'BoosterNextFY', sans-serif;
