.page-yogurt .yogurt-hero {
	background-color: @brightorange;

	.hero-content__fullwidth {
		width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 100px;
	}

	h1.hero {
		height: auto;
		margin-bottom: 30px;
	}

	p {
		margin-bottom: 50px;
		font-size: 20px;
	}

	.home-hero__background {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.hero-button {
		.button();
		background-color: #fff;
		color: @brightorange;

		&:after {
			border-color: @brightorange;
		}
	}
}

.happy-belly {
	float: left;
	width: 100%;
	padding-bottom: 18px;

	&:before {
		z-index: @z-index-base;
	}

	// maintain offwhite background when switching tabs
	&.border-top:after {
		display: block;
		left: 0;
		height: 155px;
		width: 100%;
		position: absolute;
	}

	h1 {
		color: @lightpurple;
		margin-bottom: 6px;
	}

	.tab-container {
		margin-top: 30px;
		width: 64%;
		float: left;
		margin-left: 18%;

		@media @tablet-query {
			width: 100%;
			margin-left: 0;
		}
	}

	p {
		max-width: 600px;
	}

	&.article-with-tabs {
		.tab-section p:first-child {
			strong {
				display: table-cell;
				height: 83px;
			}

			a {
				height: 83px;
				margin-bottom: 10px;
			}

			img {
				margin-bottom: 0;
				vertical-align: middle;
			}
		}

		.tab-section.active p:first-child {
			a:after {
				top: -3px;
				background-image: url('images/accent-bing-green.svg');
			}
		}
	}
}


.yogurt-carousel.carousel-products-small {
	.slick-slide p {
		font-size: 18px;
	}

	.slick-slider {
		max-width: 1400px;
		width: 90%;
		margin-bottom: 75px;
		margin-top: 0;

		@media @tablet-query {
			width: 84%;
			margin-bottom: 45px;
		}

		@media @mobile-query {
			margin-bottom: 30px;
		}
	}

	.slick-track {
		display: flex;
		justify-content: space-between;
		min-width: 100%;
	}

	.slick-slide {
		width: 33% !important;

		p {
			@media @tablet-query {
				font-size: 16px;
			}

			@media @mobile-query {
				margin-top: 7px;
			}
		}

		a {
			color: inherit;
			text-decoration: none;
			line-height: 1.2;
			text-align: center;

			&:hover {
				text-decoration: underline;
			}

			@media @mobile-query {
				margin-top: 7px;
			}

			img {
				display: inline;
			}
		}
	}
}

section.vc_section.yogurt-articles-header {
	margin-top: 70px;

	&#yogurt-articles-header {
		margin-top: 10px;
	}

	h3 {
		margin-top: 45px;
	}
}

.enlightened-nutrition-links {
	padding: 40px 0;

	a {
		text-decoration: underline;
	}
}

.page-whole-milk-yogurt .find-store {
	margin-top: 70px;
}
