.lifestage-products {
	width: 100%;
	overflow-y: hidden;
}

.allergy-filters {
	width: 100%;
	float: left;
	z-index: 1;
	position: relative;
	text-align: center;
}

.allergy-filter {
	margin-bottom: 80px;
	position: relative;

	&__container {
		padding-top: 64px;
		padding-bottom: 46px;
		background-color: @offwhite;

		@media mobile-query {
			padding-top: 36px;
			padding-bottom: 28px;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 100px 100px 0 100px;
			border-color: @offwhite transparent transparent transparent;
		}

		p {
			color: @lightpurple;

			@media @mobile-query {
				padding: 0 20px;
			}
		}
	}

	&__headline {
		color: @lightpurple;
		font-family: @organico;
		font-size: 60px;
		text-transform: uppercase;
		margin-bottom: 28px;

		@media @tablet-query {
			font-size: 40px;
		}
	}

	&__list {
		padding-bottom: 40px;
		margin-top: 20px;

		@media @tablet-query {
			padding: 0 45px 40px;
		}

		@media @mobile-query {
			padding: 0 12px 20px;
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
		}

		.allergy-filter__item img.color {
			opacity: 1;
		}



		&.filtered .allergy-filter__item:not(.active) img.color {
			opacity: 0;
		}
	}

	&__item {
		width: 100%;
		max-width: 108px;
		max-height: 143px;
		margin: 0 12px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		position: relative;

		@media @mobile-query {
			max-width: 75px;
			margin: 0 4px;
		}

		&.active {

			img {

				&.active {
					opacity: 1;
					transition: opacity 0.1s ease-in-out;
				}
			}

			span {
				color: @orange;
				transition: color 0.1s ease-in-out;
			}
		}

		img.color {
			position: absolute;
			opacity: 0;
			transition: opacity 0.1s ease-in-out;
		}

		span {
			color: @darkgray;
			font-family: @booster;
			font-size: 15px;
			font-weight: 700;
			display: inline-block;
			vertical-align: super;
			transition: color 0.1s ease-in-out;
		}
	}

	&__link a {
		.button();
		color: #fff;
		margin-bottom: 40px;
	}
}

.kosher-toggle {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	
	&__button {
		width: 64px;
		background: @darkbeige;
		height: 26px;
		border-radius: 32px;
		padding: 4px 4px;
		position: relative;
		cursor: pointer;
		margin: 0 auto;
		display: inline-block;
	}
	
	&__slider {
		width: 20px;
		height: 20px;
		border-radius: 30px;
		background: white;
		position: absolute;
		top: 3px;
		left: 4px;
		transition: all 0.2s ease-in-out;
		
		&.active {
			width: 40px;
			background: @orange;
			left: 20px;
			transition: all 0.2s ease-in-out;
		}
	}

	&__label {
		display: inline-block;
		vertical-align: super;
		color: @orange;
		font-family: @booster;
		font-size: 15px;
		font-weight: 700;
	}
}