.article-with-image {
	width: 100%;
	float: left;

	.main.no-padding {
		padding: 0;
	}

	&--image-right {
		.article-with-image__image {
			float: right;
		}
	}

	&__image {
		height: 525px;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		.rough-border(white);
		.rough-border--vertical-border(white);

		&:after {
			display: none;
		}

		&:before {
			z-index: 0;
		}

		@media @tablet-query {
			width: 100%;
			float: left;
			height: 266px;
			background-position: 0 50%;
			.rough-border(white);

			&:after {
				display: block;
				top: auto;
			}

			&:before {
				display: none;
			}
		}

		@media @mobile-query {
			height: 163px;
		}
	}

	@media @tablet-query {
		.col-6:not(.article-with-image__image) {
			width: 90%;
			float: none;
			margin: auto;
		}
	}

	&__intro, &__list-wrapper, &__button {
		max-width: 88%;
		margin: auto;

		@media @tablet-query {
			width: 90%;
			margin-left: 5%;
			max-width: none;
		}
	}

	&__intro {
		margin-top: 36px;
		max-width: 98%;

		@media @tablet-query {
			margin-top: 30px;
		}

		@media @mobile-query {
			margin-top: 14px;
		}

		h1 {
			color: @green;
			line-height: 1.1;
			margin-bottom: 22px;
			width: 100%;

			@media @smdesktop-query {
				font-size: 50px;
			}

			@media @tablet-query {
				margin-bottom: 22px;
				letter-spacing: 2.5px;
				width: 100%;
			}

			@media @mobile-query {
				font-size: 30px;
				line-height: 1.23;
				letter-spacing: 1px;
				margin: 0 auto 14px;
			}
		}

		p {
			color: @darkgray;
			width: 70%;
			margin: auto;

			@media @tablet-query {
				font-size: 16px;
				width: 60%;
			}

			@media @mobile-query {
				font-size: 14px;
				width: 90%;
			}
		}
	}

	&__list-wrapper, .vc_column_container {
		margin-top: 35px;
		text-align: center;
		display: flex;
		justify-content: center;

		& > .col-12 {
			display: flex;
			justify-content: space-around;
		}

		@media @tablet-query {
			margin-top: 35px;
		}

		@media @mobile-query {
			display: block;
			margin-top: 20px;
		}

		.hero-container__fullwidth {
			display: table-cell;
			max-width: 180px;
			.img-desktop-display(inline);

			@media @mobile-query {
				width: 30%;

				img {
					max-width: 60px;
					max-height: 32px;
				}
			}

			.hero-content__fullwidth {
				padding: 0 20px;
				margin-top: 9px;

				@media @tablet-query {
					margin-top: 4px;
				}

				@media @mobile-query {
					padding: 0;
				}
			}

			p {
				color: @mediumgray2;
				line-height: 1.2;
				font-size: 15px;
				font-weight: 700;

				@media @tablet-query {
					font-size: 16px;
					line-height: 1.35;
				}

				@media @mobile-query {
					font-size: 12px;
					line-height: 1.25;
					display: inline-block;
				}
			}
		}
	}

	&__button {
		margin-top: 30px;

		a {
			.button();
			background-color: @green;
			margin-top: 30px;

			@media @mobile-query {
				max-width: 100%;
				padding: 0 60px 0 40px;
			}
		}

		@media @tablet-query {
			margin-bottom: 38px;
		}

		@media @mobile-query {
			margin-top: 20px;
		}




	}
}
