.article-with-list {
	padding-bottom: 50px;

	@media @tablet-query {
		padding-bottom: 40px;
	}

	@media @mobile-query {
		padding-bottom: 450px;
	}

	h1 {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;

		@media @tablet-query {
			font-size: 50px;
			margin-top: 40px;
			margin-bottom: 40px;
		}

		@media @mobile-query {
			font-size: 40px;
			margin-top: 22px;
			margin-bottom: 8px;
		}
	}

	&__list {
		width: 50%;
		float: left;


		@media @mobile-query {
			width: 100%;
			position: relative;
			height: 0;

			&:last-child {
				p {
					left: 50%;
					margin-left: 0;
				}
			}

			ul {
				visibility: hidden;
				opacity: 0;
				transition: 0.3s opacity;
			}

			&.active {
				p {
					background-image: url('../images/rough-divider-tab-active.png');
				}

				ul {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		&--positive li {
			background-image: url('../images/yes-icon.png');
		}

		&--negative li {
			background-image: url('../images/no-icon.png');
		}

		ul {
			margin-top: 10px;

			@media @tablet-query {
				margin-top: 18px;
			}

			@media @mobile-query {
				margin-top: 57px;
				width: 90%;
				margin-left: 5%;
			}
		}

		li, p {
			padding-left: 48px;

			@media @tablet-query {
				padding-left: 42px;
			}
		}

		li {
			height: 31px;
			line-height: 31px;
			background-repeat: no-repeat;
			background-size: contain;
			margin-bottom: 18px;
			vertical-align: middle;
			color: @darkgray;

			strong {
				font-weight: normal;
				display: inline-block;
				line-height: 1.25;
			}

			@media @tablet-query {
				font-size: 16px;
				margin-bottom: 16px;
			}

			@media @mobile-query {
				font-size: 14px;
				color: #000;
				height: 25px;
				line-height: 25px;
				padding-left: 33px;
				margin-bottom: 29px;
			}
		}

		p {
			@media @mobile-query {
				position: absolute;
				z-index: @z-index-base;
				top: 0;
				width: 45%;
				padding-left: 0;
				margin-left: 5%;
				text-align: center;
				background-image: url('../images/rough-divider-tabs.png');
				background-position: 0 100%;
				background-repeat: no-repeat;
				background-size: 100% 4px;
				height: 31px;
				line-height: 27px;
			}

			strong {
				color: @darkgray;
				font-size: 24px;

				@media @tablet-query {
					font-size: 20px;
				}

				@media @mobile-query {
					font-size: 16px;
				}
			}
		}
	}
}