.article-with-carousel {
	height: 780px;
	position: relative;

	&__intro {
		.centerY();
		width: 350px;
		margin-left: 7%;

		h1 {
			margin-bottom: 43px;
		}

		p {
			margin-bottom: 34px;
			font-weight: 500;
		}

		a {
			.button();
		}

		@media @tablet-query {
			position: relative;
			transform: none;
			top: auto;
			width: 95%;
			max-width: 600px;
			margin: 40px auto 0;
			float: none;

			h1 {
				width: 56%;
				margin-left: (100 - 56%) / 2;
				margin-bottom: 20px;
			}
		}

		@media @mobile-query {
			h1 {
				width: 100%;
				margin-left: 0;
				letter-spacing: 1px;
			}
		}
	} // __intro

	&__content {
		.center();
		left: 65%;
		width: 638px;
		padding: 0;
		max-width: 45%;

		.slick-slide {
			overflow: hidden;
		}

		@media @tablet-query {
			position: relative;
			transform: none;
			margin: auto;
			top: auto;
			left: auto;
			width: 286px;
			max-width: none;
			float: none;
		}
	} // __content

	.carousel-arrow();
	.slick-arrow {
		left: -12%;

		&.slick-next {
			right: -12%;
		}

		@media @tablet-query {
			display: block;
			height: 45px;
			width: 45px;
			left: -13px;
			top: 140px;

			&.slick-next {
				right: -13px;
			}
		}
	}
}