.carousel-video {
	float: left;
	width: 100%;
	position: relative;

	h1 {
		margin-top: 50px;

		@media @tablet-query {
			font-size: 50px;
			margin-top: 42px;
		}

		@media @mobile-query {
			font-size: 40px;
			margin-top: 30px;
		}
	}

	.slick-track {
		display: flex;
		justify-content: space-between;

		@media only screen and (min-width: @tablet-breakpoint + 1) {
			width: auto !important; // override inline slick styles.
		}
	}

	.slick-slider {
		margin-bottom: 95px;
		margin-top: 30px;

		@media @tablet-query {
			width: 67%;
			margin-bottom: 61px;
		}

		@media @mobile-query {
			width: 84%;
			margin-bottom: 55px;
		}
	}

	.slick-arrow {
		&.slick-next {
			right: -18%;

			@media @mobile-query {
				right: -5%;
			}
		}

		&.slick-prev {
			left: -18%;

			@media @mobile-query {
				left: -5%;
			}
		}
	}

	.slick-slide {
		height: auto;
		background-color: #fff;

		@media only screen and (min-width: @tablet-breakpoint + 1) {
			width: calc(50% - 40px) !important; // override inline slick styles.
		}

		margin: 0 20px;

		p {
			margin-top: 0;

			&:first-child { // image
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -35px;
					margin-left: -35px;
					background-image: url('../images/play-carousel-video-button.png');
					background-position: center;
					background-repeat: no-repeat;
					width: 71px;
					height: 71px;
					pointer-events: none;
				}

				img {
					width: 100%;
				}
			}

			&:nth-child(2) {
				padding-top: 15px;
				padding-bottom: 5px;
			}

			&:last-child {
				padding-bottom: 20px;
			}

			&:first-child { 
				padding-bottom: 0;
			}

			&:not(:first-child) { // description
				background-color: #fff;
				padding-right: 25px;
				padding-left: 25px;
				color: @lightpurple;
				font-weight: 400;

				@media @mobile-query {
					padding-left: 10px;
					padding-right: 10px;
				}

				a {
					font-weight: 700;
					color: @lightpurple;
					font-size: 24px;
					text-decoration: none;

					@media @tablet-query {
						font-size: 27px;
					}

					@media @mobile-query {
						font-size: 16px;
						max-width: 90%;
					}
				}
			}
		}
	}
}
