.carousel-products-big-top {
	width: 100%;
	overflow: hidden;
	height: 400px;

	&:before {
		z-index: @z-index-base;
	}

	@media @tablet-query {
		height: 272px;
	}

	@media @tablet-query {
		height: 290px;
	}

	.main, .col-12 {
		height: 100%;
	}

	.carousel-products-big-top__header {
		.carousel-products-big-top__background-image {
			img {
				min-height: 100%;
				width: auto;
				min-width: 100%;
				max-width: 1440px;
				.center();

				@media @tablet-query {
					position: static;
					transform: none;
				}

				@media @mobile-query {
					top: 0;
					left: 0;
					transform: none;
					position: absolute;
				}
			}
		}

		.carousel-products-big-top__title {
			position: absolute;
			top: 0;
			margin-top: 9%;
			width: 100%;

			&:before {
				display: none;
			}

			@media @tablet-query {
				font-size: 50px;
				margin-top: 12%;
			}

			@media @mobile-query {
				top: auto;
				bottom: 0;
				font-size: 40px;
				left: 0;
				width: 100%;
				height: 105px;
				opacity: 0.95;

				&:before {
					display: block;
					opacity: 0.9;
					background-image: url('../images/border-white-flat-bottom.svg');
					height: 120px;
					top: -10px;
					z-index: -1;
					background-size: auto 100%;
					z-index: -@z-index-base;
				}
			}

			h1 {
				width: 100%;
				text-align: center;

				@media @mobile-query {
					color: @lightpurple;
					width: 80%;
					margin-left: 10%;
					line-height: 1.1;
				}
			}
		}
	}
}

.carousel-products-big {
	.carousel-products-small();
	margin-top: -172px;
	float: left;
	width: 100%;

	@media @tablet-query {
		margin-top: -127px;
	}

	@media @mobile-query {
		margin-top: 0;
		background-color: @lightpurple;
		.rough-border(purple);

		&:before {
			top: -4px;
		}
	}

	.slick-track {
		display: flex;

		.slick-slide .hero-button {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.slick-slider {
		margin-bottom: 46px;
		max-width: 1200px;
		width: 95%;

		@media @tablet-query {
			width: 85%;
		}

		@media @mobile-query {
			width: 100%;
			margin-top: 34px;
			margin-bottom: 43px;
		}
	}

	.slick-slide {
		height: auto;
		padding-bottom: 70px;
		position: relative;
		
		h1 {
			color: @lightpurple;
			font-size: 22px;
			margin-top: 23px;

			@media @tablet-query {
				font-size: 20px;
				margin-top: 10px;
			}

			@media @mobile-query {
				font-size: 24px;
				margin-top: 7px;
				color: #fff;
			}
		}

		p {
			font-weight: 500;
			margin-top: 8px;
			line-height: 1.5;
			font-size: 18px;

			@media @tablet-query {
				font-size: 16px;
				margin-top: 8px;
			}

			@media @mobile-query {
				font-size: 14px;
				margin-top: 4px;
				color: #fff;
				width: 90%;
				margin-left: 5%;
			}
		}
	}

	.slick-arrow {
		top: 35%;

		@media @mobile-query {
			background-image: url('../images/carousel-arrow-white.svg');
			width: 48px;
			height: 48px;
			top: 25%;
		}

		&.slick-next {
			right: -5%;

			@media @mobile-query {
				right: 2%;
			}
		}

		&.slick-prev {
			left: -5%;

			@media @mobile-query {
				left: 2%;
			}
		}
	}

	.hero-container__fullwidth {
		.hero-content__fullwidth {
			width: 90%;

			@media @tablet-query {
				width: 75%;
			}

			@media @mobile-query {
				width: 100%;
			}
		}

		img {
			width: auto;
			margin-left: 0;

			@media @mobile-query {
				width: 60%;
				height: auto;
				max-height: none;
			}
		}
	}
}
