.carousel-products-small {
	width: 100%;
	.clearfix();

	.img-desktop-display(inline);

	.carousel-arrow();
	.slick-arrow {
		background-image: url('../images/carousel-arrow-orange.svg');
		transition: 0.3s transform;
		width: 48px;
		height: 48px;
		top: 43%;

		&:hover {
			transform: scale(1.2) translateY(-50%);
		}

		@media @mobile-query {
			width: 32px;
			height: 32px;
		}

		&.slick-prev {
			left: -40px;

			@media @mobile-query {
				left: -25px;
			}
		}

		&.slick-next {
			right: -40px;

			&:hover {
				transform: scaleX(-1.2) scaleY(1.2) translateY(-50%);
			}

			@media @mobile-query {
				right: -25px;
			}
		}
	}

	.slick-slider {
		max-width: 1020px;
		width: 80%;
		.centerX();
		position: relative;
		margin-bottom: 37px;

		@media @mobile-query {
			margin-bottom: 10px;
		}
	}

	.slick-slide {
		text-align: center;

		h1 {
			height: auto;
			font-family: @booster;
			font-size: 18px;
			text-transform: none;
			letter-spacing: 1px;
			color: @darkgray;
			margin-top: 18px;
		}

		p {
			font-size: 15px;
			line-height: 1.3;
			color: @darkgray;
			font-weight: 700;

			@media @mobile-query {
				margin-top: 0;
			}
		}

		h1 + p {
			margin-top: 2px;
		}

		.hero-button {
			.button();
			background-color: @lightpurple;
			margin-top: 24px;

			@media @tablet-query {
				font-size: 16px;
				padding: 0 55px 0 45px;
				min-width: 160px;
				margin-top: 20px;

				&:hover:after {
					right: 36px;
				}
			}

			@media @mobile-query {
				font-size: 14px;
				color: @lightpurple;
				background-color: #fff;
				padding: 0 50px 0 40px;

				&:after {
					border-color: @lightpurple;
					border-width: 2px;
					width: 8px;
					height: 8px;
					right: 34px;

				}
				&:hover:after {
					right: 30px;
				}
			}
		}
	}

	.hero-container__fullwidth {
		text-align: center;

		img {
			max-height: 341px;

			@media @tablet-query {
				max-height: 245px;
			}

			@media @mobile-query {
				width: 70px;
			}
		}
	}
}
