.story-stages-header {
	.slick-dots-wrapper {
		margin-top: 41px;
		margin-bottom: 15px;
		position: relative;

		@media @tablet-query {
			margin-top: 32px;
			margin-bottom: 36px;
		}

		@media @mobile-query {
			margin-top: 19px;
			margin-bottom: 16px;
		}

		.wpb_content_element {
			margin: 0;
		}

		.slick-dots-slide {
			display: none;
			width: 10px;
			height: 10px;
			border-right: 3px solid @orange;
			border-bottom: 3px solid @orange;
			transform: translateY(-50%) rotate(-45deg);
			position: absolute;
			bottom: 6px;
			right: 40px;

			@media @tablet-query {
				display: block;
			}

			@media @mobile-query {
				bottom: 1px;
				right: 25px;
				border-color: @orange;
			}

			&.disabled {
				opacity: 0.5;
			}

			&--prev {
				transform: rotate(135deg) translateY(7px);
				left: 40px;

				@media @mobile-query {
					left: 25px;
				}
			}
		}

		@media @tablet-query {
			display: block;
		}

		.slick-dots {
			display: flex;
			justify-content: space-between;
			width: 80%;
			margin: auto;

			@media @tablet-query {
				width: calc(100% - 150px);
				white-space: pre;
				overflow: hidden;
				position: relative;

				&:after {
					content: '';
					display: block;
				}
			}

			@media @mobile-query {
				width: calc(100% - 100px);
			}

			li {
				color: @darkgray;
				font-weight: 700;
				font-size: 20px;
				cursor: pointer;
				left: 0;
				transition: left .3s;

				@media @tablet-query {
					margin-left: 65px;
					position: relative;

					&:first-child {
						margin-left: 0;
					}
				}

				@media @mobile-query {
					font-size: 14px;
					margin-left: 28px;
				}

				&.slick-active, &:hover {
					span:after {
						width: 100%;
					}
				}

				span {
					position: relative;

					&:after {
						content: '';
						height: 2px;
						width: 0;
						position: absolute;
						left: 0;
						bottom: -6px;
						transition: width 0.2s ease-in-out 0s;
						background-color: @darkgray;

						@media @tablet-query {
							bottom: -2px;
						}
					}

					&.orange {
						color: @orange;

						&:after {
							background-color: @orange;
						}
					}

					&.blue {
						color: @mediumblue;

						&:after {
							background-color: @mediumblue;
						}
					}

					&.green {
						color: @green;

						&:after {
							background-color: @green;
						}
					}

					&.red {
						color: @red;

						&:after {
							background-color: @red;
						}
					}

					&.purple {
						color: @lightpurple;

						&:after {
							background-color: @lightpurple;
						}
					}
				}
			}
		}
	}
}
.story-carousel {
	background-color: @offwhite;
	.desktop-hide {
		display: none;
	}

	.carousel-arrow();
	.slick-arrow {
		background-image: url('../images/carousel-arrow-orange.svg');
		top: 33%;
		left: calc(20% - 32px);
		transition: 0.3s transform;

		@media @tablet-query {
			left: calc(12% - 32px);
			top: 33%;
		}

		&:hover {
			transform: scale(1.2) translateY(-50%);
		}

		&.slick-next {
			right: calc(20% - 32px);

			&:hover {
				transform: scaleX(-1.2) scaleY(1.2) translateY(-50%);
			}

			@media @tablet-query {
				right: calc(12% - 32px);
			}
		}
	}

	.slick-slide {
		.hero-content__fullwidth {
			h1, p {
				opacity: 0;
				visibility: none;
				transition: opacity .3s;
			}
		}

		&.slick-active {
			.hero-content__fullwidth {
				h1, p {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.hero-container__fullwidth {
		.rough-border(white);
		.rough-border--vertical-border(white);

		&:after, &:before {
			width: 12px;

			@media @mobile-query {
				display: none;
			}

			@media @tablet-query {
				width: 5px;
			}
		}

		&:before {
			left: -6px;

			@media @tablet-query {
				left: -2px;
			}
		}

		&:after {
			right: -6px;

			@media @tablet-query {
				right: -2px;
			}
		}
	}

	.hero-content__fullwidth {
		text-align: center;
		padding-top: 37px;
		padding-bottom: 50px;
		position: relative;
		z-index: @z-index-mid;
		background-color: @offwhite;
		.rough-border(offwhite);
		max-width: none;
		width: 102%; // overlay the slide border at the bottom
		margin-left: -1%;

		@media @tablet-query {
			padding-top: 23px;
			padding-bottom: 30px;
		}

		@media @mobile-query {
			padding-top: 15px;
			padding-bottom: 37px;
		}

		&:after {
			display: none;
		}

		h1, p {
			color: @darkgray;
		}

		h1 {
			margin-bottom: 19px;

			@media @tablet-query {
				font-size: 50px;
				margin-bottom: 13px;
			}

			@media @mobile-query {
				font-size: 40px;
			}
		}

		p {
			margin: auto;

			@media @mobile-query {
				width: 95%;
			}
		}

		&.orange {
			h1, p {
				color: @orange;
			}
		}

		&.blue {
			h1, p {
				color: @mediumblue;
			}
		}

		&.green {
			h1, p {
				color: @green;
			}
		}

		&.red {
			h1, p {
				color: @red;
			}
		}

		&.purple {
			h1, p {
				color: @lightpurple;
			}
		}
	}

	.hero {
		height: auto;
	}
}

.home-lifestage-carousel {
	height: 760px;

	&:before {
		display: none;
	}

	&:after {
		z-index: 1;
	}

	@media @tablet-query {
		height: 480px;
	}

	@media @mobile-query {
		height: 440px;
	}

	.slick-slide {
		width: 60%;
		margin: 0 7px;
		height: 680px;
		overflow: hidden;

		& > div {
			height: 100%;
		}

		@media @tablet-query {
			height: 400px;
		}

		@media @mobile-query {
			height: 390px;
			margin: 0;
		}
	}
	
	.carousel-arrow();
	.slick-arrow {
		background-image: url('../images/carousel-arrow-orange.svg');
		left: calc(20% - 32px);
		transition: 0.3s transform;

		&:hover {
			transform: scale(1.2) translateY(-50%);
		}

		&.slick-next {
			right: calc(20% - 32px);

			&:hover {
				transform: scaleX(-1.2) scaleY(1.2) translateY(-50%);
			}
		}

		@media @mobile-query {
			height: 40px;
			width: 40px;
			left: 15px;

			&.slick-next {
				right: 15px;
			}
		}
	}

	.carousel-dots();
	.slick-dots {
		background-color: @lightblue;
		height: 80px;
		padding: 32px 0;

		@media @mobile-query {
			height: 55px;
			padding: 22px 0 0;
		}
	}

	.hero-container__fullwidth {
		position: relative;
		height: 100%;
	}

	.home-hero__background {
		.center();
		height: 100%;
		width: auto;
		max-width: none;

		@media @tablet-query {
			min-height: 400px;
			max-width: none;
			height: auto;
		}
	}

	.hero-content__fullwidth {
		.centerX();
		background-color: @lightblue;
		bottom: -218px;
		width: 434px;
		border-radius: 100% 100% 0 0;
		height: 434px;
		padding: 40px 0 24px;
		text-align: center;
		color: #fff;

		@media @tablet-query {
			height: 286px;
			width: 270px;
			bottom: -140px;
			padding: 24px 0 14px;
		}

		h1 {
			font-family: @organico;
			font-size: 60px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 3.83px;
			margin-bottom: 10px;
			height: auto;

			@media @tablet-query {
				font-size: 30px;
			}

		}

		h2 {
			font-family: @booster;
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 15px;

			@media @tablet-query {
				font-size: 18px;
			}
		}

		p {
			display: none;
		}

		.hero-button {
			.button();
			background-color: #fff;
			color: @lightblue;

			&:after {
				border-color: @lightblue;
			}

			@media @tablet-query {
				font-size: 16px;
				padding: 0 45px 0 30px;

				&:after,
				&:hover:after {
					right: 30px;
				}
			}
		}
	}

	// Colors!

	.slick-dots, .hero-content__fullwidth {
		transition: 0.5s background-color;
	}

	&.green {
		.rough-border(green);

		.slick-dots, .hero-content__fullwidth {
			background: @green;
		}

		.hero-button {
			color: @green;

			&:after {
				border-color: @green;
			}
		}
	}

	&.purple {
		.rough-border(purple);

		.slick-dots, .hero-content__fullwidth {
			background: @lightpurple;
		}

		.hero-button {
			color: @lightpurple;

			&:after {
				border-color: @lightpurple;
			}
		}
	}

	&.yellow {
		.rough-border(yellow);

		.slick-dots, .hero-content__fullwidth {
			background: @mediumyellow;
		}

		.hero-button {
			color: @mediumyellow;

			&:after {
				border-color: @mediumyellow;
			}
		}
	}

	&.blue {
		.rough-border(blue);

		.slick-dots, .hero-content__fullwidth {
			background: @lightblue;
		}

		.hero-button {
			color: @lightblue;

			&:after {
				border-color: @lightblue;
			}
		}
	}

}