.category-links {
	float: left;
	width: 100%;
	padding-top: 42px;
	padding-bottom: 50px;

	@media @tablet-query {
		padding-bottom: 35px;
	}

	@media @mobile-query {
		padding-top: 32px;
		padding-bottom: 30px;
	}

	h1, p {
		width: 90%;
		margin: 0 auto;
	}

	h1 {
		color: @orange;
		font-size: 52px;
		margin-bottom: 17px;
		max-width: 670px;

		@media @tablet-query {
			font-size: 50px;
		}

		@media @mobile-query {
			font-size: 30px;
			margin-bottom: 8px;
		}
	}

	p, a {
		color: @darkgray;
		transition: 0.3s color;
	}

	p {
		max-width: 600px;

		@media @tablet-query {
			font-size: 16px;
			max-width: 480px;
		}

		@media @mobile-query {
			font-size: 16px;
		}
	}

	a:hover {
		color: @orange;
	}

	.button-container {
		display: inline-block;
		border-radius: 50%;
		width: 166px;
		height: 45px;
		border-radius: 23px;
		background-repeat: no-repeat;
		margin-top: 37px;
		margin-left: 26px;
		margin-right: 26px;

		@media @tablet-query {
			width: 149px;
			height: 40px;
			background-position: 25px 50%;
			margin-top: 30px;
		}

		@media @mobile-query {
			margin-left: 0;
			margin-right: 0;
			width: 130px;
		}

		&.button--green {
			background-color: @green;
			background-position: 34px 50%;

			@media @tablet-query {
				background-size: 17%;
				background-position: 28px 50%;
			}

			@media @mobile-query {
				margin-right: 19px;
				background-position: 20px 50%;
			}

			&:hover {
				background-color: darken(@green, 12);
			}
		}

		&.button--purple {
			background-color: @lightpurple;
			background-position: 20px 50%;

			@media @tablet-query {
				background-size: 26%;
				background-position: 22px 50%;
			}

			@media @mobile-query {
				background-position: 15px 50%;
			}

			&:hover {
				background-color: darken(@lightpurple, 12);
			}
		}

		.button {
			background: transparent;
			width: 100%;
			padding: 0;
			min-width: auto;
			border: none;
			padding-left: 76px;
			font-size: 18px;
			line-height: 1;

			@media @tablet-query {
				font-size: 16px;
				padding-left: 68px;
			}

			@media @mobile-query {
				padding-left: 52px;
			}

			b {
				float: left;
				padding-top: 8px;
			}

			strong {
				clear: left;
				float: left;
				font-size: 10px;
				text-transform: uppercase;

				@media @tablet-query {
					font-size: 10px;
				}
			}

			&:after {
				display: none;
			}
		}
	}
}
