.category-carousel-header {
	float: left;
	width: 100%;
	background-image: url('../images/rough-divider-slim-gray.png');
	background-repeat: repeat-x;

	&--no-border {
		background-image: none;
	}

	h3 {
		margin-top: 30px;
		margin-bottom: 3px;

		@media @tablet-query {
			font-size: 27px;
		}

		@media @mobile-query {
			font-size: 24px;
			margin-top: 20px;
			margin-bottom: 7px;
		}
	}

	p {
		color: @darkgray;

		@media @tablet-query {
			font-size: 16px;
		}

		@media @mobile-query {
			font-size: 16px;
		}
	}

	h4:not(.learning-center-card__title) {
		margin-top: 20px;

		@media @tablet-query {
			font-size: 20px;
			margin-top: 16px;
		}

		@media @mobile-query {
			font-size: 16px;
		}
	}

	&__image {
		margin-top: 16px;
		overflow: hidden;

		@media @tablet-query {
			margin-top: 14px;
		}

		@media @mobile-query {
			margin-top: 16px;

			img {
				min-height: 230px;
				max-width: none;
				width: 158%;
				margin-left: -29%;
			}
		}
	}

	&__sub-header {
		margin-bottom: 30px;
		
		@media @mobile-query {
			float: left;
			width: 100%;
		}
	}

	&--green {
		h3, h4 {
			color: @green;
		}
	}

	&--purple {
		h3, h4 {
			color: @lightpurple;
		}
	}

	&--blue {
		h3, h4 {
			color: @lightblue;
		}
	}
}

.category-carousel {

	&__top-header {
		margin-bottom: 25px;

		@media @mobile-query {
			margin-bottom: 15px;
		}
	}

	&--green-buttons {
		.slick-arrow {
			background-image: url('../images/carousel-arrow-green.svg');
		}
	}

	&--purple-buttons {
		.slick-arrow {
			background-image: url('../images/carousel-arrow-purple.svg');
		}
	}

	&--blue-buttons {
		.slick-arrow {
			background-image: url('../images/carousel-arrow-blue.svg');
		}
	}

	&--white-buttons {
		.slick-arrow {
			background-image: url('../images/carousel-arrow-white.svg');
		}
	}

	&--blue-name {
		.slick-slide p {
			color: @lightblue;
		}
	}

	&--purple-name {
		.slick-slide p {
			color: @lightpurple;
		}
	}
}