.chat {
	background-color: @green;
	height: 750px;
	padding: 40px 0 0;
	clear: both;

	& + section {
		z-index: 0;
	}

	&:after {
		z-index: @z-index-base;
	}

	.main, .col-12 {
		height: 100%;
		position: relative;
	}

	@media @tablet-query {
		height: 540px;
		padding-top: 30px;

		.main {
			width: 600px;
			max-width: 100%;
			margin: 0 auto;
			float: none;
		}
	}

	@media @mobile-query {
		padding-top: 33px;
		height: auto;

		.main {
			.clearfix();
		}

		.col-12 {
			padding: 0;
		}
	}

	.col-4 {
		width: 50%;

		& > * {
			width: 490px;
			margin-left: auto;
			margin-right: auto;

			@media @tablet-query {
				width: 290px;
			}

			@media @mobile-query {
				width: 100%;
			}
		}

		@media @mobile-query {
			margin-left: auto;
			width: 100%;
		}
	}

	&__phone {
		z-index: @z-index-mid;
		text-align: center;
		position: absolute;
		top: 5px;
		right: 0;
		overflow: hidden;
		height: calc(100% + 3px);
		background-image: url('../images/chat-blank-phone.png');
		background-repeat: no-repeat;
		background-position: top 4px center;
		background-size: auto 831px;

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			height: 100%;
		}

		@media @tablet-query {
			background-size: auto 519px;
			margin: 64px 0 0;
			right: 0;
			height: calc(100% - 60px);

			img {
				width: 250px;
			}
		}

		@media @mobile-query {
			width: 280px;
			float: none;
			margin: 0 auto -5px;
			position: relative;
			right: auto;
			height: 470px;
			top: auto;
			clear: both;
			background-size: 100% auto;

			img {
				width: 100%;
			}
		}

		img {
			.centerX();

			&.animated {
				opacity: 0;
			}

			&.animated.loaded {
				opacity: 1;
			}
		}

		&--masked {
			height: 43%;
			width: 100%;
			.centerX();
			overflow: hidden;

			img {
				left: calc(50%);
			}
		}
	}

	&__content {
		padding-top: 30px;
		text-align: center;

		@media @tablet-query {

			&.col-4 {
				width: 100%;
				padding: 0;
				margin-left: 0;
			}

			&.col-4 > * {
				width: auto;
			}
		}

		img {
			width: 300px;

			@media @tablet-query {
				width: 130px;
				margin-right: 15px;
			}

			@media @mobile-query {
				width: 110px;
				margin-right: 10px;
			}
		}

		@media @mobile-query {
			width: 100%;
		}

		h1 {
			margin-bottom: 25px;
			line-height: 1;

			@media @tablet-query {
				margin-bottom: 10px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		p {
			margin-bottom: 15px;

			@media @tablet-query {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0;
			}
		}
	}

	&__hours {
		clear: left;
		margin-top: 15px;
		margin-bottom: 10px;

		@media @tablet-query {
			margin: 20px 0 0;
		}

		@media @mobile-query {
			margin: 0;
			width: 100%;
			float: none;
		}

		p {
			margin-bottom: 30px;

			@media @tablet-query {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 5px;
				}
			}
		}

		a {
			.button();
			background-color: #fff;
			color: @green;
			margin-top: 10px;

			&:after {
				border-color: @green;
			}

			@media @mobile-query {
				font-size: 16px;
				margin: 0 auto;
			}
		}
	}

	&__disclaimer {
		clear: left;
		text-align: center;

		@media @tablet-query {
			margin-left: 4px;
		}

		@media @mobile-query {
			margin: 0 auto 10px;
		}

		&.col-4 > * {
			width: 98%;
			max-width: 590px;
			line-height: 1.2;

			@media @tablet-query {
				width: 290px;
			}

			@media @mobile-query {
				width: 100%;
			}
		}

		h4 {
			display: none;
			color: #fff;
			.arrow();
			font-size: 12px;
			padding: 0 20px;
			cursor: pointer;
			margin-bottom: 10px;

			&:after {
				right: 5px;
				transform: translateY(-50%) rotate(45deg);
				top: 40%;
				width: 8px;
				height: 8px;
				border-width: 2px;
			}

			&:hover:after {
				right: 5px;
			}

			&.active:after {
				top: 60%;
				transform: translateY(-50%) rotate(-135deg);
			}

			@media @tablet-query {
				display: inline;
			}
		}

		p {
			font-size: 11px;

			@media @tablet-query {
				display: none;
				font-size: 10px;
				width: 350px;
				margin-left: 0;
			}

			@media @mobile-query {
				width: 100%;
				max-width: none;
			}
		}

		a {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.home .chat__phone {
	overflow: visible;
	height: 820px;
	z-index: @z-index-mid;

	@media @tablet-query {
		height: 453px;
    	overflow: hidden;
	}

	@media @mobile-query {
		height: 470px;
	}
}

.home .chat + section {
	z-index: 0;
}