.comparison-chart {
	padding: 70px 0;
	clear: both;

	@media @tablet-query {
		padding: 50px 0;
	}

	.main {
		.clearfix();
	}

	&__title {
		margin-bottom: 25px;

		@media @tablet-query {
			margin-bottom: 15px;
		}

		@media @mobile-query {
			margin-bottom: 20px;

			h4 {
				font-size: 25px;
			}
		}
	}

	&__chart {
		margin: 0 auto 15px;
		max-width: 90%;

		@media @tablet-query {
			margin-bottom: 10px;
			max-width: 95%;
		}

		@media @mobile-query {
			overflow: scroll;
			max-width: none;
			margin-bottom: 20px;
			
			img {
				height: 400px;
				max-width: none;
				padding: 0 10px;
			}
		}
	}

	&__disclaimer h5 {
		text-align: center;

		@media @mobile-query {
			text-align: left;
		}

	}
}