.coupon {
	float: left;
	width: 100%;
	position: relative;

	.main {
		height: 650px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		@media @tablet-query {
			height: 405px;
		}

		@media @mobile-query {
			height: 340px;
			background-size: 175%;
			background-position: top;
		}
	}

	.col-12 {
		height: 100%;
	}

	&__help-text {
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;
		background-image: url('../images/inner-shadow-white.png');
		background-repeat: no-repeat;
		background-position: 0 12px;
		height: 151px;

		@media @tablet-query {
			height: 103px;
			background-size: cover;
		}

		@media @mobile-query {
			bottom: 75px;
			height: 62px;
			background-image: url('../images/inner-shadow-white-mobile.png');
			background-size: 100%;
			background-position: 0 90%;

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 75px;
				background-color: #fff;
				left: 0;
				top: 100%;
			}
		}

		h3, p {
			display: inline-block;
			position: relative;
			top: 78px;
			z-index: @z-index-base;

			@media @tablet-query {
				top: 40px;
			}
		}

		h3 {
			color: @orange;
			line-height: 50px;
			vertical-align: middle;

			@media @tablet-query {
				font-size: 27px;
			}

			@media @mobile-query {
				font-size: 24px;
				width: 100%;
				line-height: 1.4;
				margin-bottom: 5px;
			}
		}

		p {
			a {
				.button();
				background-color: @orange;
				margin-left: 15px;

				@media @tablet-query {
					font-size: 16px;
					line-height: 2.85em;
				}

				@media @mobile-query {
					line-height: 2.5;
					padding-left: 43px;
					padding-right: 53px;
					margin-left: 0;

					&:after {
						right: 40px;
					}

					&:hover:after {
						right: 36px;
					}
				}
			}
		}
	}
}
