.favorites {
	float: left;
	width: 100%;
	padding-bottom: 45px;

	@media @mobile-query {
		padding-bottom: 15px;
	}

	.main {
		max-width: 1000px;
		margin: 0 auto;

		@media @tablet-query {
			width: 74%;
		}

		@media @mobile-query {
			width: 100%;
		}

		h1, h4 {
			color: @lightpurple;
		}

		h1 {
			text-align: center;
			margin-top: 47px;
			margin-bottom: 50px;

			@media @tablet-query {
				font-size: 50px;
				margin-top: 35px;
				margin-bottom: 30px;
			}

			@media @mobile-query {
				font-size: 30px;
				letter-spacing: 2px;
				margin-top: 25px;
				margin-bottom: 25px;
			}
		}

		h4 {
			margin-bottom: 8px;

			@media @tablet-query {
				font-size: 20px;
				margin-bottom: 4px;
			}

			@media @mobile-query {
				font-size: 16px;
				margin-bottom: 0;
			}
		}

		p {
			color: @darkgray;

			@media @tablet-query {
				font-size: 16px;
			}

			@media @mobile-query {
				font-size: 14px;
			}
		}

		.favorites__button {
			.button();
			background-color: @lightpurple;
			margin-top: 40px;

			&:after {
				@media @tablet-query {
					width: 8px;
					height: 8px;
					right: 40px;
				}
			}

			@media @tablet-query {
				font-size: 16px;
				padding: 0 55px 0 45px;
				min-width: 160px;
				margin-top: 28px;

				&:hover:after {
					right: 36px;
				}
			}

			@media @tablet-query {
				margin-top: 15px;
			}
		}

		& > .col-12 {
			.favorites__description, .favorites__image {
				float: left;
				width: 50%;

				&:nth-of-type(3n) {
					clear: left;
					float: right;
				}

				&:nth-of-type(1n) {
					width: 54%;

					@media @tablet-query {
						width: 46%;
					}

					@media @mobile-query {
						width: 62%;
						margin-left: 19%;
					}
				}

				&:nth-of-type(2n) {
					width: 43%;
					margin-left: 3%;

					p {
						max-width: 270px;

						@media @tablet-query {
							max-width: 210px;
						}

						@media @mobile-query {
							width: 80%;
							max-width: none;
							margin-left: 10%;
						}
					}

					@media @tablet-query {
						width: 38%;
						margin-left: 16%;
					}

					@media @mobile-query {
						width: 100%;
						margin-left: 0;
					}
				}

				&:nth-of-type(3n) {
					width: 44%;
					margin-left: 2%;

					@media @tablet-query {
						width: 60%;
						margin-right: -10%;
					}

					@media @mobile-query {
						width: 62%;
						margin-left: 19%;
						float: left;
					}
				}

				&:nth-of-type(4n) {
					width: 39%;
					margin-left: 15%;

					@media @tablet-query {
						width: 40%;
						margin-left: 0%;
					}

					@media @mobile-query {
						width: 100%;
						margin-left: 0;
					}

					p {
						max-width: 330px;

						@media @tablet-query {
							max-width: 210px;
						}

						@media @mobile-query {
							width: 80%;
							max-width: none;
							margin-left: 10%;
						}
					}
				}

				@media @mobile-query {
					text-align: center;
				}
			}

			.favorites__image {
				text-align: center;

				img {
					max-width: 100%;
				}
			}

			.favorites__description {
				margin-top: 10%;

				@media @tablet-query {
					margin-top: 7%;
				}

				@media @mobile-query {
					margin-top: 10px;
					margin-bottom: 20px;
				}
			}
		}
	}
}
