// .fiber-protein-power {
// 	float: left;
// 	width: 100%;
// 	text-align: center;

// 	h1, h3 {
// 		color: @lightpurple;
// 	}

// 	h1 {
// 		margin-top: 55px;
// 		margin-bottom: 12px;

// 		@media @tablet-query {
// 			font-size: 50px;
// 			margin-top: 42px;
// 			margin-bottom: 7px;
// 		}

// 		@media @mobile-query {
// 			font-size: 40px;
// 			margin-top: 36px;
// 			margin-bottom: 7px;
// 			width: 90%;
// 			margin-left: 5%;
// 		}
// 	}

// 	h3 {
// 		margin-top: 23px;
// 		margin-bottom: 25px;

// 		@media @tablet-query {
// 			font-size: 27px;
// 			margin-top: 22px;
// 			margin-bottom: 30px;
// 		}

// 		@media @mobile-query {
// 			font-size: 24px;
// 			margin-top: 27px;
// 		}
// 	}

// 	p {
// 		color: @darkgray;
// 		display: inline-block;
// 		max-width: 564px;

// 		@media @tablet-query {
// 			font-size: 16px;
// 		}

// 		@media @mobile-query {
// 			font-size: 14px;
// 			width: 80%;
// 		}
// 	}

// 	&.offwhite {
// 		background: @offwhite;
// 	}

// 	.vc_tta-container {
// 		margin-bottom: 50px;

// 		@media @tablet-query {
// 			margin-bottom: 62px;
// 		}

// 		@media @mobile-query {
// 			margin-bottom: 6px;
// 		}
// 	}

// 	.vc_tta-color-grey.vc_tta-style-classic {
// 		.vc_tta-tab {
// 			&, &.vc_active {
// 				a, a:hover {
// 					background-color: transparent;
// 				}
// 			}
// 		}

// 		.vc_tta-panel {
// 			&, &.vc_active {
// 				.vc_tta-panel-heading, .vc_tta-panel-heading:hover {
// 					background-color: transparent;
// 				}
// 			}
// 		}
// 	}
// 	.vc_tta.vc_tta-tabs .vc_tta-tabs-container {
// 		display: block;

// 		@media @mobile-query {
// 			display: none;
// 		}
// 	}

// 	.vc_tta-tabs-list {
// 		text-align: center;
// 		margin-bottom: 25px;

// 		@media @tablet-query {
// 			margin-bottom: 18px;
// 		}

// 		.vc_tta-tab {
// 			display: inline-block;

// 			&.vc_active {
// 				position: relative;

// 				a:after {
// 					content: '';
// 					display: block;
// 					position: absolute;
// 					background-image: url('../images/fiber-protein-actove-spark.png');
// 					width: 27px;
// 					height: 37px;
// 					top: 0;
// 					left: 69%;
// 				}
// 			}

// 			a {
// 				text-decoration: none;
// 				display: block;
// 				background-repeat: no-repeat;
// 				margin: 0 79px;
// 			}

// 			span {
// 				width: 95px;
// 				height: 95px;
// 				padding-top: 105px;
// 				display: block;
// 				background-size: 100%;
// 				background-repeat: no-repeat;
// 				color: @mediumgray;
// 				font-weight: 700;

// 				@media @tablet-query {
// 					font-size: 16px;
// 				}
// 			}

// 			[href="#fiber-protein-power__fiber"] span {
// 				background-image: url('../images/fiber-tab-icon.png');
// 			}

// 			[href="#fiber-protein-power__protein"] span {
// 				background-image: url('../images/protein-tab-icon.png');
// 			}
// 		}
// 	}

// 	.vc_tta .vc_tta-panels {
// 		position: relative;
// 		height: 80px;

// 		@media @mobile-query {
// 			height: auto;
// 		}

// 		.vc_tta-panel {
// 			opacity: 0;
// 			visibility: hidden;
// 			transition: 0.3s opacity;
// 			top: 0;
// 			position: absolute;
// 			width: 100%;
// 			padding-bottom: 1px;

// 			@media @mobile-query {
// 				overflow: hidden;
// 				.rough-border(beige);

// 				&:before, &:after {
// 					height: 2px;
// 					width: 110%;
// 				}

// 				&:before {
// 					top: -1px;
// 				}

// 				&:after {
// 					bottom: 0px;
// 				}

// 				&:first-child:after {
// 					display: none;
// 				}

// 				.vc_tta-panel-body {
// 					transition: 0.3s height;
// 					overflow-y: hidden;
// 					height: 0;
// 				}
// 			}

// 			&.vc_active {
// 				opacity: 1;
// 				visibility: visible;

// 				@media @mobile-query {
// 					.vc_tta-panel-body {
// 						height: 119px;
// 					}
// 				}
// 			}

// 			@media @mobile-query {
// 				opacity: 1;
// 				visibility: visible;
// 				position: relative;

// 				.vc_tta-panel-body {
// 					background-color: #fff;

// 					h4 {
// 						display: none;
// 					}
// 				}
// 			}
// 		}

// 		.fiber-protein-power-tab-content--green {
// 			h4 {
// 				color: @greenfiber;
// 			}
// 		}

// 		.fiber-protein-power-tab-content--orange {
// 			h4 {
// 				color: @orange;
// 			}
// 		}

// 		h4 {
// 			@media @tablet-query {
// 				font-size: 24px;
// 			}
// 		}

// 		p {
// 			max-width: 620px;
// 			margin-top: 5px;

// 			@media @tablet-query {
// 				max-width: 590px;
// 				margin-top: 9px;
// 			}

// 			@media @mobile-query {
// 				width: 94%;
// 				float: left;
// 				margin-left: 6%;
// 				text-align: left;
// 				margin-top: 18px;
// 				margin-bottom: 16px;
// 			}
// 		}

// 		.vc_tta-panel-heading {
// 			display: none;

// 			@media @mobile-query {
// 				display: block;
// 				a {
// 					text-decoration: none;
// 					height: 29px;
// 					width: 100%;
// 					display: block;
// 					padding-top: 10px;
// 					padding-bottom: 10px;
// 					box-sizing: content-box;
// 				}

// 				span {
// 					font-size: 16px;
// 					color: @mediumgray;
// 					background-size: 28px;
// 					height: 29px;
// 					background-repeat: no-repeat;
// 					padding-left: 38px;
// 					margin-left: 20px;
// 					padding-top: 7px;
// 					display: block;
// 					.arrow();

// 					&:after {
// 						border-right: 3px solid #e4d8c6;
// 						border-bottom: 3px solid #e4d8c6;
// 						transform: translateY(-50%) translateY(-50%) rotate(45deg);
// 						top: 64%;
// 						right: 22px;
// 					}

// 					&:hover:after {
// 						right: 22px;
// 					}
// 				}

// 				[href="#fiber-protein-power__fiber"] span {
// 					background-image: url('../images/fiber-tab-icon.png');
// 				}

// 				[href="#fiber-protein-power__protein"] span {
// 					background-image: url('../images/protein-tab-icon.png');
// 				}

// 			}
// 		}
// 	}
// }
