.find-store {
  float: left;
  width: 100%;
  background-color: @orange;
  padding-top: 78px;
  padding-bottom: 73px;

  @media @tablet-query {
    padding-top: 57px;
    padding-bottom: 65px;
  }

  @media @mobile-query {
    padding-top: 33px;
    padding-bottom: 35px;
  }

  h1 {
    text-align: center;
    margin-bottom: 33px;

    @media @tablet-query {
      font-size: 40px;
      letter-spacing: 3px;
    }

    @media @mobile-query {
      font-size: 28px;
      letter-spacing: 1.3px;
      margin-bottom: 17px;
    }
  }

  form {
    float: left;
    text-align: center;
    width: 100%;

    input[type="text"] {
      .placeholder(@mediumgray, 18px, 500);
      font-size: 18px;
      min-width: 262px;
      text-align: center;
      border-radius: 23px;
      height: 45px;
      color: @orange;
      border: none;
      font-family: @booster;
      padding: 0 10px;
      margin-right: 18px;
      width: auto;

      @media @tablet-query {
        .placeholder(@mediumgray, 16px, 500);
        font-size: 16px;
        min-width: 220px;
        height: 40px;
      }

      @media @mobile-query {
        .placeholder(@mediumgray, 14px, 500);
        font-size: 14px;
        line-height: 2.9em;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .button {
      color: @orange;
      padding: 0 55px 0 45px;
      min-width: 182px;
      border: none;
      background-color: #fff;

      &:after {
        border-color: @orange;
      }

      @media @tablet-query {
        font-size: 16px;
        min-width: 154px;
        padding: 0 54px 0 39px;
      }
    }
  }
}