.wpcf7-form {
	
	label {
		font-weight: 700;
		display: inline-block;
		color: @orange;

		&:first-child {
			margin-right: 10px;
		}
	}	

	fieldset {
		float: left;
		width: 50%;
		margin-bottom: 30px;

		&.full-width {
			display: block;
			width: 100%;

			label {
				width: 100%;

				&:first-child {
					margin-right: 0px;
				}
			}
		}
	}

	input,
	select,
	textarea {
		margin-top: 16px;
		width: 100%;
		padding: 10px 20px;
		border-radius: 20px;
		border: 1px solid @orange;
		font-size: 16px;
		height: auto;

		&.wpcf7-not-valid {
			border-color: @red;
		}
	}

	textarea {
		resize: none;
		height: 113px;
	}

	select {
		-webkit-appearance: none;
		display: block;
		background: transparent;
	}

	.select-wrapper {
		.arrow();

		&:after {
			border-color: @orange;
			transform: translateY(-50%) rotate(45deg);
			right: 20px;
			margin-top: -2px;
			z-index: -1;
		}

		&:hover:after {
			right: 20px;
		}
	}

	.submit {
		background: @orange;
		border: 0;
	}

	//error & success messages
	span.wpcf7-not-valid-tip {
		margin-top: 5px;
		color: @red;
	}

	.wpcf7-response-output {
		border: none;
		padding: 0;
		font-weight: 700;

		&.wpcf7-mail-sent-ok {
			color: @green;
		}

		.wpcf7-validation-errors {
			color: @red;
		}
	}

}


