.home-hero-carousel {

	// Before Slick Init, reduce layout shift by hardcoding height.
	.col-12:not(.slick-initialized) {
		overflow: hidden;

		@media @mobile-down {
			height: 560px;
		}
		@media @mobile-up {
			height: 810px;
		}
	}

	.col-12 {
		padding: 0;
	}

	img, video {
		&.desktop-hide {
			@media @mobile-up {
				display: none;
			}
			@media @mobile-down {
				display: block;
			}
		}
	
		&.desktop-only {
			@media @mobile-up {
				display: block;
			}
			@media @mobile-down {
				display: none;
			}
		}
	}

	.slick-dots {
		position: absolute;
		width: 100%;
		text-align: center;
    	bottom: 24px;

    	@media @mobile-query {
    		bottom: 20px;
    	}

    	li {
			height: 78px;
			width: 78px;
			display: inline-block;
			margin-right: 28px;
			padding: 6px;
			border-radius: 100%;
			border: 4px solid rgba(255,255,255,0.4);
			transition: 0.3s border;
			cursor: pointer;
			transition: 0.3s opacity;

	    	@media @mobile-query {
				height: 7px;
				width: 7px;
				padding: 0;
				border: 0;
				background-color: #fff;
				margin-right: 12px;
				opacity: 0.5;
			}

			button {
				opacity: 0;
			}
    	}

    	li.slick-active {
    		border-color: #fff;

    		@media @mobile-query {
    			opacity: 1;
    		}
    	}
	}

	&__thumb {
		vertical-align: middle;
		height: 100%;
		width: 100%;
		border-radius: 100%;
	}

	.home-hero__background {
		min-width: 100%;
		height: 100%;
		max-width: none;
		.centerX();
		top: 0;
	}

	video.home-hero__background {
		width: 100%;
		object-fit: cover;
	}
	
	.hero-button {
		.button();
		display: inline-block;
		bottom: 96px;
		right: 0;
		position: absolute;
		border-radius: 23px 0 0 23px;

		@media @tablet-query {
			bottom: 150px;
			right: auto;
			.centerX();
			border-radius: 63px;
		}

		@media @mobile-query {
			width: auto;
			bottom: 50px;
		}
	}

	.hero-container__fullwidth {
		position: relative;
		min-height: 810px;

		@media @mobile-query {
			min-height: 560px;
		}
	}

	.hero-content__fullwidth.wrapper {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    padding: 195px 0 160px;
	    text-align: center;
	    color: #fff;

	    @media @tablet-query {
	    	padding: 155px 0 220px;
	    }

		@media @mobile-query {
			padding: 90px 0 70px;
			width: 300px;
			.centerX();
		}

	    h1 {
	    	margin: 0 auto 20px;
	    	height: auto;
	    	position: relative;
			overflow: visible;
			display: inline;

			@media @tablet-query {
				font-size: 45px;
			}

			@media @mobile-query {
				font-size: 30px;
			}

	    	&:after {
				content: '';
				background-image: url('../images/arrow-looped.svg');
				width: 102px;
				height: 130px;
				background-size: contain;
				bottom: -100px;
				right: -80px;
				display: inline-block;
				background-repeat: no-repeat;
				transform: rotate(-90deg) scaleX(-1);
				position: absolute;

				@media @tablet-query {
					height: 40px;
					width: 72px;
					bottom: -50px;
					right: -30px;
				}
	    	}
	    }

	    &.hide-arrow h1:after {
	    	display: none;
	    }

	    p {
			text-shadow: 0 0 83px rgba(29, 28, 28, 0.59);
			font-size: 24px;
			font-weight: 700;
			padding: 0 90px;

			@media @tablet-query {
				display: none;
			}
	    }

	    img {
	    	display: none;
	    }

	    &.button-orange .hero-button {
			background-color: @orange;
	    }
	    &.button-blue .hero-button {
			background-color: @lightblue;		
	    }
	    &.button-yellow .hero-button {
			background-color: @mediumyellow;		
	    }
	    &.button-green .hero-button {
	    	background-color: @green;
	    }
	    &.button-purple .hero-button {
	    	background-color: @lightpurple;
	    }
	}
}