.hero {
    height: 745px;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
    }

    @media @smdesktop-query {
        height: 700px;
    }

    @media @mobile-query {
        height: 560px;
    }

    .main {
        padding-top: 220px;

        @media @tablet-query {
            padding-top: 80px;
        }

        @media @mobile-query {
            padding-top: 50px;
        }
    }

    .main,
    .col-12 {
        height: 100%;
        background-position: bottom;
        background-size: auto 100%;

        @media @mobile-query {
            background-position: center;
        }
    }

    &__image {
        float: right;
        width: 60%;
        height: 100%;
        position: relative;

        &.full-width {
            width: 100%;
            float: none;
            top: -160px;
            height: calc(100% + 160px);


            img {
                height: 100%;
                max-width: none;
                .centerX();
                top: 0;
                min-width: 100%;
            }
        }

        @media @tablet-query {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            position: absolute;
            right: 0;
            bottom: 0;

            @media @tablet-query {
                float: none;
                height: 450px;
                margin-right: 0;
                bottom: 5px;
                right: auto;
                width: auto;
                max-width: none;
                .centerX();
            }

            @media @mobile-query {
                bottom: 3px;
                height: 300px;
            }
        }
    }

    &__description {
        margin-top: 100px;
        margin-left: 11%;
        position: absolute;
        z-index: @z-index-base;

        @media @smdesktop-query {
            margin-left: 5%;
            margin-top: 60px;
        }

        @media @tablet-query {
            width: 450px;
            margin: 0 auto;
            position: relative;
            padding-top: 45px;
            height: 100%;
            text-align: center;
        }

        @media @mobile-query {
            padding-top: 30px;
            width: 300px;
        }

        h1 {
            width: 50%;
            margin-bottom: 30px;
            line-height: 1;

            @media @tablet-query {
                width: 100%;
                margin-bottom: 7px;
                font-size: 50px;
            }

            @media @mobile-query {
                margin-bottom: 15px;
                font-size: 40px;
            }
        }

        p {
            font-size: 18px;
            line-height: 1.4;
            font-weight: 500;
            margin-bottom: 45px;
            width: 40%;

            @media @tablet-query {
                font-size: 16px;
                width: 100%;
            }

            @media @mobile-query {
                font-size: 14px;
            }
        }

        a {
            .button();
            color: inherit;
            background-color: #fff;

            &:after {
                border-color: inherit;

                @media @tablet-query {
                    width: 8px;
                    height: 8px;
                    right: 34px;
                }
            }

            @media @tablet-query {
                bottom: 40px;
                font-size: 16px;
                padding: 0 45px 0 35px;
                min-width: 160px;
                .centerX();

                &:hover:after {
                    right: 30px;
                }
            }
        }
    }
}

.hero.formula-hero .hero {

    &__description {
        margin-top: 130px;
        margin-left: 6%;

        @media @tablet-query {
            width: 450px;
            margin: 0 auto;
            position: relative;
            padding-top: 45px;
            height: 100%;
            text-align: center;
        }

        @media @mobile-query {
            padding-top: 30px;
            width: 300px;
        }

        h1 {
            margin-bottom: 80px;
            width: 55%;

            @media @tablet-query {
                width: 100%;
                margin-bottom: 7px;
                font-size: 50px;
            }

            @media @mobile-query {
                margin-bottom: 15px;
                font-size: 40px;
            }
        }
    }
}

.mini-hero {
    height: auto;
    padding: 20px 0 60px;
    overflow: visible;

    @media @tablet-query {
        padding: 80px 0 45px;
    }

    @media @mobile-query {
        padding: 25px 0 20px;
    }

    h1 {
        margin-bottom: 20px;

        @media @tablet-query {
            font-size: 50px;
            margin-bottom: 15px;
        }

        @media @mobile-query {
            font-size: 30px;
        }
    }

    &--with-bings {
        text-align: center;
    }

    &--with-bings h1 {
        position: relative;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;

        &:after,
        &:before {
            content: '';
            background-image: url('../images/accent-bing.svg');
            background-repeat: no-repeat;
            position: absolute;
            left: -56px;
            top: 10px;
            width: 34px;
            height: 100%;

            @media @tablet-query {
                top: 4px;
                left: -47px;
            }

            @media @mobile-query {
                display: none;
            }
        }

        &:after {
            transform: scaleX(-1);
            right: -56px;
            left: auto;

            @media @tablet-query {
                right: -47px;
            }
        }

        @media @mobile-query {
            font-size: 40px;
            display: block;
        }
    }

    &--with-image {
        height: 397px;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        padding-bottom: 0;

        @media @tablet-query {
            height: 462px;
        }

        @media @mobile-query {
            height: 165px;
        }
    }

    section.vc_section.mini-hero--with-image& {
        margin-top: 240px;
        padding-top: 0;

        @media @tablet-query {
            margin-top: 195px;
        }

        @media @mobile-query {
            margin-top: 109px;
        }
    }

    &--middle-content {
        position: relative;

        &>.main {
            .centerY();
            width: 100%;
            height: auto;

            @media @tablet-query {
                position: static;
                transform: none;
                margin-top: 134px;
                float: left;
            }

            @media @mobile-query {
                .centerY();
                margin-top: 0;
            }
        }
    }

    h4,
    p {
        max-width: 810px;
        margin: 0 auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        @media @tablet-query {
            max-width: 630px;
        }
    }

    p {
        max-width: 596px;
    }

    .col-12 {
        float: none;
    }

    // Colors!

    &.green {
        background: @green;
        .rough-border(green);
    }

    &.purple {
        background: @lightpurple;
        .rough-border(purple);
    }

    &.yellow {
        background: @mediumyellow;
        .rough-border(yellow);
    }

    &.blue {
        background: @lightblue;
        .rough-border(blue);
    }
}