.hover-tabs {
	background-color: @offwhite;
	padding: 45px 0 55px;
	position: relative;
	clear: both;

	@media @mobile-query {
		padding: 32px 0 0;
	}

    .main {
    	.clearfix();
    }

    &__introduction {

    	@media @mobile-query {
    		margin-bottom: 25px;
    	}
    }

    &__container {
		display: flex;
		text-align: center;
		justify-content: center;
		margin-bottom: 45px;

		@media @mobile-query {
			display: none;
		}
    }

	h1 {
		margin-bottom: 25px;

		@media @mobile-query {
			font-size: 30px;
			margin: 0 auto 10px;
		}

		& + p {
			margin: 0 auto 30px;

			@media @mobile-query {
				margin: auto;
			}
		}
	}
	

	h3 {
		margin-bottom: 30px;

		@media @mobile-query {
			display: none;
		}
	}

	p {
		width: 80%;
		max-width: 700px;
		margin: auto;

		&, b, strong {
			color: @darkgray;
		}
	}
}

.hover-tab {
	text-decoration: none;
	width: 170px;
	padding: 0 15px;
	cursor: pointer;

	&__title {
		color: @darkgray;
		text-decoration: none;
		position: relative;
		font-weight: 700;
	}

	&__icon-container {
		position: relative;
		display: inline-block;
		min-height: 100px;
		text-align: center;
	}

	&__icon {
		margin-bottom: 10px;
		max-width: 100px;
	}

	&.active &__icon-container:after {
		content: '';
		height: 32px;
		width: 27px;
		background-image: url(../images/accent-bing-orange.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: -30px;
		transform: scaleX(-1) rotate(20deg);
	}
}

.hover-tabs {

	&.purple .hover-tab.active .hover-tab__icon-container:after {
		background-image: url(../images/accent-bing-purple.svg);
	}

	&.green .hover-tab.active .hover-tab__icon-container:after {
		background-image: url(../images/accent-bing-green.svg);
	}

}

.tab-content {
	position: absolute;
	opacity: 0;
    bottom: 55px;
    width: 100%;
    transition: 0.3s opacity;

	&.active {
		opacity: 1;
	}

	strong {
		margin-bottom: 15px;
		font-size: 21px;
		display: block;
	}

	@media @mobile-query {
		opacity: 1;
		position: relative;
		bottom: auto;

		& > .col-12 {
			padding: 0;
		}
	}
}

.tab-drawer-header {
	display: none;
	height: 58px;
	padding: 0 10%;
	.rough-border(beige);

	&:before {
		top: 0;
		height: 3px;
	}

	&:after {
		display: none;
	}

	p {
		display: block;
		vertical-align: middle;
		width: 100%;
		font-size: 16px;
		font-weight: 700;

		&:last-child {
			.arrow();
			width: 92%;
		}

		&:last-child:after {
			right: 0;
			border-color: @darkgray;
			transform: rotate(45deg);
			top: 8px;
		}

		&:last-child:hover:after {
			right: 0;
		}
	}

	&.expanded p:after {
		transform: rotate(-135deg);
		top: 12px;
	}

	img {
		max-width: 32px;
		max-height: 32px;
		vertical-align: middle;
		margin-right: 20px;
	}

	@media @mobile-query {
		display: flex;

		& ~ div {
			display: none;

			p {
				background-color: #fff;
				padding: 20px;
				width: 100%;

				&:first-child {
					display: none;
				}
			}
		}
	}
}
