.home-our-impact {
	min-height: 890px;
	width: 100%;
	overflow: hidden;
	padding: 0;

	@media @smdesktop-query {
		min-height: 920px;
	}

	@media @tablet-query {
		position: relative;
		z-index: @z-index-base;
		min-height: 670px;
	}

	@media @mobile-query {
		min-height: 710px;
	}

	.main, .main > .col-12 {
		height: 100%;
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 890px;
		z-index: -1;

		img {
			min-height: 100%;
			width: auto;
			min-width: 100%;
			max-width: 1440px;
			.center();

		}

		@media @smdesktop-query {
			height: 920px;
		}

		@media @mobile-query {
			height: 100%;
			width: auto;
		}
	}

	&__intro {
		margin-bottom: 20px;
		padding-top: 192px;

		@media @tablet-query {
			padding-top: 70px;
		}

		@media @mobile-query {
			padding-top: 48px;
			margin-bottom: 0;
		}

		h1 {
			color: #fff;
			font-family: @organico;
			font-size: 60px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 3.6px;
			margin-bottom: 38px;
			text-align: center;

			@media @tablet-query {
				font-size: 45px;
				margin-bottom: 20px;
			}

			@media @mobile-query {
				font-size: 36px;
			}
		}

		p {
			color: #fff;
			font-family: @booster;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: 40px;

			@media @tablet-query {
				margin-bottom: 25px;

				br { display: none; }
			}

			@media @mobile-query {
				font-size: 14px;
				width: 220px;
				margin: 0 auto 30px;
			}
		}

		a {
			.button();
			background-color: @orange;

			@media @mobile-query {
				padding: 0 60px 0 30px;
			}
		}
	}

	&__project {
		text-align: center;

		@media @mobile-query {
			background-color: @orange;
			padding: 25px 30px;
			.rough-border(orange);
			height: 100%;

			&:before, &:after {
				background-size: 600px auto;
			}
		}

		img {
			max-height: 143px;
			margin-bottom: 25px;

			@media @tablet-query {
				max-height: 100px;
				max-width: 100%;
			}
		}

		p {
			color: #fff;
			font-family: @booster;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.5;
			width: 330px;
			display: block;
			margin: auto;
			max-width: 90%;

			@media @tablet-query {
				max-width: 100%;
				font-size: 16px;
			}
		}
		
		p strong {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 0.7em;
			display: block;

			@media @tablet-query {
				font-size: 18px;
			}
		}

	}

	.slick-slider.vc_column_container {
		position: relative;
		margin: 0 auto 40px;
		width: 228px;
		float: none;
		clear: both;
		
		.carousel-arrow();
		.slick-arrow {
			background-image: url('../images/carousel-arrow-orange.svg');
			height: 48px;
			width: 48px;
			left: -28px;
		}

		.slick-next {
			left: auto;
			right: -28px;
		}

		.slick-track{
			display: flex;
		}

		.slick-slide{
			display: flex;
			height: auto;
			align-items: center;
			justify-content: center;
			padding: 15px 0;
		}

		.slick-slide > div {
			width: 100%;
			height: 100%;
		}
	}
}