//ingredients

.product-ingredient-container{
    &:before {
        content: "";
        background: url(../images/pdp/ingredients/farm-image.jpg) 100% 100% no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; 
        @media @mobile-query {
            background: url(../images/pdp/ingredients/farm-image.png) center -500px no-repeat;
        }
    } 
    min-height: 754px;
    width: 100%;
    margin-top: 0;
    color: @darkgray;
    position: relative;

    @media @smdesktop-query  {
        margin-top: 20px;
    }
    @media @tablet-query {
        top: 35px;
        min-height: 700px;
    }
    @media @mobile-query {
        top: 0;
        margin-top: 30px;
    }
    .product-flip {
        display: none;
        .centerY();
        left: 10%;
        @media @lgdesktop-query {
            left: -30px;
        }
        @media @smdesktop-query {
            left: -69px;
        }
        @media @tablet-query {
            left: auto;
            right: auto;
            width: 345px;
        }
        @media @mobile-query {
            top: 20%;
            height:auto;
            transform:none;
            padding-top:21px;
            position:static;
            display:block;
            height: 376px;
        }
        .fotorama__img {
            opacity: 1;
         @media @smdesktop-query {
            max-width: 480px;
         }
          @media @tablet-query {
               max-width: 345px; 
          }
          @media @mobile-query {
                max-width: 100%;
          }
        }
        .flipper {
           transition: 1s;
           transform-style: preserve-3d;
           position: relative;
           width: 600px;
           border:0px solid transparent;
           @media @tablet-query {
               width: 345px;
               left: -15%
           }
           @media @mobile-query {
               width: 345px;
               height:auto;
               margin:0 auto;
               top: 213px;
               left: auto;
               z-index:@z-index-high;
          } 
        }
        .front, .back {
             backface-visibility: hidden;
             display: block;
             width: 100%;
             position: absolute;
             top: 0;
             left: 0;
        }
        .front {
            z-index: 2;
            /* for firefox 31 */
            transform: translateY(-50%) rotateY(0deg);
         }
         /* back, initially hidden pane */
         .back {
             transform: translateY(-50%) rotateY(180deg);
         }
         &:hover .flipper, &.hover .flipper {
             transform: translateY(-50%) rotateY(180deg);
         }
        
         &:before {
              content: '';
              background: url(../images/flip-me.svg) right 25px no-repeat;
              display: block;
              width: 168px;
              height: 150px;
              position: absolute;
              right: 50px;
              transform: translateY(-180%);
              z-index: @z-index-base;
              @media @smdesktop-query {
                   right: 123px;
              }
              @media @tablet-query {
                   right: 33%;
                  left: auto;
                  transform: translateY(-173%) rotate(-40deg);
                  width:125px;
                  height: 148px;
              }
              @media @mobile-query {
                  display:none;
              }
         }

    }
    .recipe-container {
        display: inline-block;
        font-family: @booster;
        .centerY();
        text-align: center;
        right: 100px;
        max-width: 528px;
        width: 100%;       
        z-index: @z-index-base;

          @media @smdesktop-query {
              right: 40px;
              max-width: 531px;
          }
          @media @tablet-query {
              right: 20px;
              width: calc(100% - 235px);
              height: auto;
              max-width: 431px;
          }
          @media @mobile-query {
               background: none;
                border: 0;  
                top: 60px;
                right: auto;
                height: 153px;
                width: 100%;
                max-width: none;
                position: relative;
        }
        .recipe-title {
            color: #FFF;
            font-size: 30px;            
            font-weight: 900;
            line-height: 44.9px; 
            padding-top: 30px;
            margin: 0;
            background: rgba(165, 205, 57, 0.8);
            border-radius: 62px 62px 0 0;
            @media @tablet-query {
                font-size: 20px;
            }
            @media @mobile-query {
                font-size: 24px;
                border: 0;
                border-radius: 0;
                margin: 0;
            }         
        }
        .recipe-description {
            display: inline-block;   
            color: #FFF; 
            background: rgba(165, 205, 57, 0.8);  
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin: 0;
            padding: 10px;
            
            @media @tablet-query {
                font-size: 14px;
                line-height: 20px;
            }
            @media @mobile-query {
                margin: 0;
            }
        }
        .ingredients {
            height: auto;
            margin-top: 0px;
            margin-left: auto;
            background: rgba(255, 255, 255, 1);
            padding: 10px 0;

            .slick-list {
                width: 100%;
                margin: 0 auto;
                padding: 0 !important;
            }

            @media @mobile-query {
                margin: 0;
                padding-top: 0;
                width: 100%;
                background: none;
                max-height: none;
            }
        }
        .ingredient-item {
            display: inline-block;
            width: 33%;
            position: relative;
            :hover {
                cursor: pointer;
            }
            @media @tablet-query {
                margin: 0 11px;
            }
            @media @mobile-query {
                background: rgba(255, 255, 255, 1);
                margin: auto;
                display: block;
                width: 100%;
                height: 100px;
                max-width: 100%;
                text-align: left;
                padding: 0px 20px;
                .arrow();
                &:after {
                    border-color: @darkgray;
                    transform: translateY(-50%) rotate(45deg);                   
                }
                   
            }
            &:hover:before {
                content: '';
                background: url(../images/bing.svg) right top no-repeat;
                width: calc(100% - 20px);
                height: 25px;
                display: block;
                margin-top: 0;
                margin-left: 0;
                position: absolute;
                @media @mobile-query {
                    width: 87px;
                    margin-left: 90px;
                    margin-top: 5px;
                }
            }
        }
       
        .ingredient-item-thumbnail {
            text-align: center;
            display: inline-block;
            margin-bottom: 0;
            height: 80px;
            @media @mobile-query {
                padding: 10px;
                text-align: left;
                height: auto;
            }
            img {
                max-width: 80px;
                max-height: 80px;
                margin: 0;
                padding: 0;
                display: inline-block;
                vertical-align: middle;
            }
            
        }
        .ingredient-abbreviated-title {
            font-size: 15px;
            margin-bottom: 0;
            font-weight: 700;
            padding: 0 10px;
            @media @tablet-query {
                font-size:14px;
            }
            @media @mobile-query {
                display: table;
                float: left;
                padding: 0;              
                font-size: 16px;
                margin: auto;
                height: 100%;
                width: 85px;
                span {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 5px 0 0;
                }
            }
        }
        .ingredient-cscoor1 {
            color: #a5cd39;
            font-size: 13px;
            font-weight: 700;
            line-height: 16px;
            margin-bottom: 0;
            width:90%;
            @media @tablet-query {
                font-size:12px;
                line-height: 12px;
            }
            @media @mobile-query {
                display:none;
            }
            &::before {
                background: url(../images/icon-pin-green.png) no-repeat left bottom;
                background-size: 50%;
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
            }
        }
        .ingredient-cscoor2 {
            @media @mobile-query {
                display:none;
            }
        }
        .recipe-button {
            @media @mobile-query {
                margin-bottom: 20px;
                display: inline-block;
            }
            .button {
                background: #FFF;
                color: @green;
                .centerX();
                margin-top: -27px;
                @media @tablet-query {
                    margin-top: -30px;
                }
                @media @mobile-query {
                    position: relative;
                    margin-top: auto;
                }
                &:after {
                    border-right: 3px solid @green;
                    border-bottom: 3px solid @green;
                    @media @mobile-query {
                        border-color: #fff;
                    }
                }
                @media @mobile-query {
                    background: rgba(234, 118, 65, 0.9);
                    bottom: 153px;
                    color: #fff;
                }
            }
            &.mobile-only {
                @media @mobile-query {
                    display: block;
                }
                .button {
                    @media @mobile-query {
                        background: rgba(255, 255, 255, 0.9);
                        bottom: auto;
                        color: @orange;
                        &:after {
                            border-color: @orange;
                            }
                    }
                }
                
            }
        } 
        
    }
//map
    .recipe-map {
        margin-top: -48px;
        padding: 38px 0;
        background: url('../images/white-box-outline.svg') left bottom no-repeat;
        background-size: 100%;
        @media @mobile-query {
            background: url('../images/pdp/ingredients/farm-image.png')center 100% no-repeat; 
            margin: 10px 0 ;
            border: 0;
            border-radius: 0;
        }
        .map-full {
            opacity: 0.85;
        }
        .map-white {
            opacity: 0.85;
            fill: #FFFFFF;
            enable-background: new;
        }
        .map-highlight {
            display: block;
            fill: @orange;
        }
        svg {
            max-width: 400px;
            padding: 30px 0 5px;
            @media @tablet-query {
                max-width: 330px;
                margin-top: 0px;
            }
        }
    }
    #highlight_countries {
        display: block;
    }
//popup
.ingredients {
    .carousel-arrow-circle(@border-color: @lightestgray);
    button.slick-arrow {
        .centerY();
        margin-top: 0;
        width: 35px;
        height: 35px;
        z-index: @z-index-base;
        border-width:0;
        top:46%;
        @media @tablet-query {
            top:41%;
        }
        &:after {
            width: 10px;
			height: 10px;
            left: 23%;
        }
    }
    .product-featured-in {
        .carousel-wrapper {
            width: 100%;
        }

    	button.slick-arrow {
    		border-width:2px;
    		border-color: @orange;
    		&:after {
                border-color: @orange;
            }
        }
        a {
            width: 100%;
        }
    	img {
    		height: auto;
    		width: auto;
        }
       
    }
    .slick-next {
        right: 4px;
        left:auto;
        @media @tablet-query {
            right:15px;
        }
    }
    .slick-prev {
        left: 12px;
        right: auto;
        @media @tablet-query {
            left:15px;
        }
    }
.modal-dialog {
    display: none;
    width: 858px;
    background: rgba(255, 255, 255, 1);
    margin: 0 auto;    
    .center();
    top: 183px;
    left: 30%;
    margin-right: 80px;
    text-align: left;
    padding: 20px;
    z-index: @z-index-uber;
    @media @tablet-query {
        top: 40%;
        width: 592px;
        left: 106px;
    }
    @media @mobile-query {
        padding: 0;
        color: #FFf;
        top: auto;
        width: 100%;
        left: auto;
        transform: translate(0);
    }
    .ingredient-info {
        display: inline-block;
        width: 49%;
        height: 100%;
        vertical-align: middle;
        padding: 39px 0;
        @media @tablet-query {
            width: 40%;
            padding:20px 0 10px 0;
        }
        @media @mobile-query {
            width: 100%;
            background: @orange;
            
        }
    }    
    .ingredient-cor {
        display: inline-block;
        margin-bottom:10px;
        font-size:14px;
        text-align:right;
        &:after {
            .pin(12px, 12px);
        }
        @media @tablet-query {
            margin-bottom: 5px;
        }
    }
    .ingredient-title {
        color: @orange;
        font-size: 40px;
        font-family: @organico;
        padding-left: 20px;
        text-transform: uppercase;
        @media @tablet-query {
            font-size: 35px;
        }
        @media @mobile-query {
            color: #fff;
            padding: 0;
            text-align: center;
        }
    }
    .ingredient-photo {
        display: inline-block;
        width: 20%;
        vertical-align: middle;
        @media @mobile-query {
            display: none;
        }
    }
    .ingredient-description {
        display: block;
        font-size: 18px;
        font-family: @booster;
        font-weight: 500;
        padding: 20px;
        line-height: 26px;
        @media @tablet-query {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .product-featured-in {
        background: url(../images/pdp/ingredients/rough-divider.png) no-repeat;
        display: inline-block;
        width: 29%;   
        vertical-align: middle;
        text-align: center;
        @media @tablet-query {
            width: 31%;
            padding-left:5%;
            margin-left:3%;
        }
        @media @mobile-query {
            background: rgba(255, 255, 255, 0.9) url(../images/border-gray.png) bottom left repeat-x;
            width: 100%;
            color: @darkgray;
            margin: 30px auto;
            padding-left: 0;
        } 

        .product-featured-in-title {
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            padding-left: 0;
        }

        .featured-in-item {
            width: 265px;
            @media @tablet-query {
                width: 174px;
            }
            @media @mobile-query {
                width: 338px;
            }
        }

        .featured-in-item img{
            display: block;
            padding: 0;
            margin: 0 auto;
            max-height: 265px;            
            @media @mobile-query {
                display: inline-block;
            }
        }
        .slick-next {
            @media @tablet-query {
                right: -40px;
            }  
            @media @mobile-query {
                right: 0;
            }         
        }
        .slick-prev {
            @media @tablet-query {
                left: -20px;
            }   
            @media @mobile-query {
                left: 0;
            }       
        }
    }
    .button-close  {            
        top: 10px;
        right: 10px;
        .button-close(60px); 
        @media @mobile-query {
            display: none;
            }          
        }       
    }
    }
}
.remove-arrows{ //for javascript use, only be used when the popup is hidden
    .ingredient-abbreviated-title {
        width: 120px !important;
    } 
    span.ingredient_qty {
        text-align: right;
    }
    &:after {
        content: none !important;
    }
}

.no-flip {
    &:hover .flipper {
        transform: none !important;
    }
    &:before {
        content: none !important;
    }            
}
