.home-hero-intro {
	background-color: @lightblue;
	padding: 70px 0 60px;
	clear: both;
	color: #fff;
	margin-bottom: 30px;
	transition: 0.5s background-color;

	@media @tablet-query {
		padding: 40px 0;
	}

	@media @mobile-query {
		padding: 30px 0 20px;
	}

	.col-12 {
		float: none;
	}

	&__container {
		text-align: center;
	}

	h1 {
		font-family: @organico;
		font-size: 52px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3.12px;
		margin: 0 auto 30px;
		position: relative;
		display: inline;

		&:after, &:before {
			content: '';
			opacity: 0;
			background-image: url('../images/accent-bing.svg');
			background-repeat: no-repeat;
			position: absolute;
			left: -50px;
			top: 0;
			width: 34px;
			height: 100%;
			transition: 0.3s opacity;
			display: inline-block;

		    @media @tablet-query {
		    	top: 50%;
		    	transform: translateY(-50%);
		    }

		}

		&:after {
			transform: scaleX(-1);
			right: -50px;
			left: auto;

		    @media @tablet-query {
				transform: rotate(180deg);
				right: -39px;
				left: auto;
				top: 0;
		    }
		}

	    @media @tablet-query {
	    	width: 550px;

	    	&:before {
	    		left: -40px;
	    	}
	    }

	    @media @mobile-query {
			font-size: 30px;
			width: auto;
			margin-bottom: 20px;

			&:after, &:before {
				display: none;
			}
	    }
	}

	p {
		font-family: @booster;
		font-size: 24px;
		font-weight: 700;

		@media @tablet-query {
			width: 400px;
			margin: auto;
		}

		@media @tablet-query {
			width: auto;
			font-size: 14px;
		}
	}

	// Animations!

	&.viewed {

		h1:after, h1:before {
			opacity: 1;
		}
	}

	&.section-green {
		background: @green;
		.rough-border(green);
	}

	&.section-purple {
		background: @lightpurple;
		.rough-border(purple);
	}

	&.section-blue {
		background: @lightblue;
		.rough-border(blue);
	}

	&.section-yellow {
		background: @mediumyellow;
		.rough-border(yellow);
	}

}