.learning-center-book {
	float: left;
	width: 100%;
	margin-top: 80px;
	min-height: 416px;
	padding-bottom: 20px;

	@media @tablet-query {
		min-height: 365px;
		margin-top: 30px;
	}

	@media @mobile-query {
		text-align: center;
	}

	&__image {
		width: 42%;
		float: left;
		margin-top: 20px;

		@media @tablet-query {
			width: 48%;
			margin-top: 40px;
		}

		@media @mobile-query {
			width: 100%;
			margin-top: 0;
		}

		img {
			float: right;
			max-width: 450px;

			@media @tablet-query {
				max-width: 336px;
			}

			@media @mobile-query {
				max-width: 88%;
				float: none;
				margin-right: 9%; // adjustment for the image left shadow
			}
		}
	}

	&__description {
		float: left;
		width: 58%;
		padding-left: 9%;
		padding-right: 3%;

		@media @tablet-query {
			width: 52%;
			padding-left: 3%;
		}

		@media @mobile-query {
			width: 76%;
			margin-left: 12%;
			margin-bottom: 10px;
			padding: 0;
		}

		p {
			font-size: 18px;
			max-width: 490px;

			@media @tablet-query {
				font-size: 14px;
				max-width: 316px;
			}

			@media @mobile-query {
				font-size: 14px;
				max-width: none;
			}
		}

		.button {
			margin-top: 30px;
			background-color: #fff;
			color: @lightpurple;

			&:after {
				border-color: @lightpurple
			}

			@media @tablet-query {
				font-size: 16px;
				margin-top: 19px;
				padding-right: 43px;
				padding-left: 28px;
				min-width: auto;

				&:after {
					right: 27px;
					width: 8px;
					height: 8px;
				}

				&:hover:after {
					right: 23px;
				}
			}
		}
	}

	h1 {
		font-size: 52px;
		margin-top: 55px;
		margin-bottom: 35px;

		@media @tablet-query {
			font-size: 40px;
			line-height: 1.1;
			margin-top: 67px;
			margin-bottom: 14px;
		}

		@media @mobile-query {
			text-align: center;
			font-size: 30px;
			padding-left: 20px;
			padding-right: 20px;
			margin-top: 10px;
			line-height: 1.2;
			margin-bottom: 0;
		}
	}
}
