.learning-center  {
	background-color: @lightblue;
	clear: both;
	padding-top: 74px;

	&:after {
		z-index: @z-index-base;
	}

	@media @tablet-query {
		padding: 10px 0;
	}

	&__intro {
		position: relative;
		height: 100%;
		padding-top: 180px;

		@media @tablet-query {
			width: 100%;
			height: auto;
			padding: 40px 0 0;
			margin: auto;
		}

		@media @mobile-query {
			padding: 20px 0 0;
		}

		h1 {
			margin-bottom: 30px;

			@media @lgdesktop-query {
				font-size: 50px;
			}

			@media @tablet-query {
				margin-bottom: 20px;
			}

			@media @mobile-query {
				font-size: 40px;
				line-height: 1.1;
				margin-bottom: 8px;
			}
		}

		p {
			margin: 0 auto 50px;
			max-width: 370px;

			@media @tablet-query {
				width: 438px;
				max-width: 90%;
				margin-bottom: 20px;
			}
		}

		a {
			.button();
			color: @lightblue;
			background-color: #fff;

			&:after {
				border-color: @lightblue;
			}
		}
	}

	&__content {
		.clearfix();

		@media @tablet-query {
			width: 690px;
			max-width: 95%;
			margin: 0 auto;
			float: none;
			clear: both;
		}

		h4 {
			color: #fff;
			width: calc(100% - 150px);
			padding-left: 25px;
			margin: 0 auto 15px;

			@media @lgdesktop-query {
				font-size: 20px;
				padding-left: 5px;
			}

			@media @tablet-query {
				width: calc(100% - 110px);
				padding-left: 0;
			}

			@media @mobile-query {
				text-align: center;
				margin-bottom: 5px;
				width: auto;
			}
		}

	} // learning-center__content

	.learning-center-carousel.blue {
		margin-bottom: 32px;

		@media @lgdesktop-query {
			padding: 0;
			float: right;
		}

		@media @tablet-query {
			margin: 0 auto 30px;
			float: none;
			clear: both;
		}

		@media @mobile-query {
			margin-bottom: 20px;
		}

		.slick-arrow {
			background-image: url('../images/carousel-arrow-white.svg');

			@media @mobile-query {
				width: 33px;
				height: 33px;
			}
		}
	}

	.learning-center-card {

		&__title {
			margin-left: 0;
			width: auto;
			padding-left: 0;
			text-align: left;
		}

		&__image {
			flex-shrink: 0;
			min-width: 100%;
			min-height: 100%;
		}
	}


	// if Learning Section only has one carousel
	&.one-carousel &__intro,
	&.one-carousel &__content-title,
	&.one-carousel &__content {
		padding: 0 100px;
		width: 1150px;
		margin: auto;
		top: auto;
		float: none;
		transform: none;
		max-width: 100%;
		height: auto;

		@media @tablet-query {
			padding: 0 50px;
		}

		@media @mobile-query {
			padding: 0;
		}
	}

	&.one-carousel {
		padding: 40px 0;

		.learning-center-carousel {
			width: 100%;
		}
	}

	&.one-carousel &__intro p {
		max-width: 500px;
		margin-bottom: 30px;

		@media @mobile-query {
			max-width: 90%;
			margin-bottom: 20px;
		}
	}
}