.learning-center-columns {
	width: 80%;
	position: relative;
	float: left;
	margin-top: 35px;
	margin-left: 10%;

	@media @tablet-query {
		width: 83%;
		margin-left: 8.5%;
		margin-top: 24px;
	}

	@media @mobile-query {
		width: 93%;
		margin-left: 3.5%;
	}

	.clearfix {
		display: none;
	}


	.learning-center-card {
		float: left;
		width: 50%;
		// override carousel styles
		margin: 0;
		height: auto;

		@media @mobile-query {
			width: 100%;
		}

		&__link {
			float: left;
			width: 100%;
			overflow: hidden;
			// override carousel styles
			height: auto;
			margin-top: 0;
			display: block;
			position: static;

			img {
				width: 100%;
				height: auto;
				position: static;
				transform: none;
			}
		}

		&__details {
			float: left;
			width: 100%;
			margin-top: -10px;
			height: 151px;
			padding-left: 39px;
			background-size: 100% 98%;
			// override carousel styles
			position: static;
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;

			@media @tablet-query {
				height: 104px;
				padding-left: 27px;
			}

			@media @mobile-query {
				height: 110px;
			}
		}

		&__breadcrumb {
			color: @darkgray;
			text-transform: uppercase;
			margin-top: 32px;
			background-size: auto 100%;
			// override carousel styles
			line-height: 1.5;
			margin-bottom: 0;

			@media @tablet-query {
				font-size: 13px;
				margin-top: 20px;
			}

			@media @mobile-query {
				font-size: 10px;
			}
		}

		&__title {
			margin-top: 12px;
			max-width: 80%;
			// override carousel styles
			margin-bottom: 0;
			font-size: 24px;

			@media @tablet-query {
				margin-top: 3px;
				max-width: 200px;
				font-size: 16px;
			}

			@media @mobile-query {
				margin-top: 8px;
			}

			a {
				text-decoration: none;
				color: @darkgray;
			}
		}

		&__excerpt {
			display: none;
		}
	}

	.learning-center-card.purple {
		.learning-center-card__details {
			background-image: url('../images/featured-article-background-purple.png');
		}

		.learning-center-card__breadcrumb, .learning-center-card__title a {
			color: #fff;
		}
	}

	.learning-center-card.blue {
		.learning-center-card__details {
			background-image: url('../images/featured-article-background-blue.png');
		}

		.learning-center-card__breadcrumb, .learning-center-card__title a {
			color: #fff;
		}
	}
	.learning-center-card.green {
		.learning-center-card__details {
			background-color: @green;
		}

		.learning-center-card__breadcrumb, .learning-center-card__title a {
			color: #fff;
		}
	}

	.learning-center-card.yellow {
		.learning-center-card__details {
			background-color: @mediumyellow;
		}

		.learning-center-card__breadcrumb, .learning-center-card__title a {
			color: #fff;
		}
	}

	.learning-center-card.orange {
		.learning-center-card__details {
			background-color: @orange;
		}

		.learning-center-card__breadcrumb, .learning-center-card__title a {
			color: #fff;
		}
	}

}

.learning-center-columns {
	&__container {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 20px;
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 3px;

		@media @mobile-query {
			position: static;
			float: left;
			height: 385px;
			padding-left: 0;
			width: 100%;
			margin-top: 7px;
		}

		&__hr {
			border: none;
			border-bottom: 1px solid @darkgray2;
			margin: 0;

			@media @mobile-query {
				&:first-child {
					display: none;
				}
			}
		}

		.learning-center-card {
			width: 100%;
			float: left;
			padding: 0 28px;
			height: 100%;
			padding-top: 23px;
			padding-bottom: 23px;
			position: relative;
			// override carousel styles
			box-shadow: none;
			border-bottom: 1px solid @darkgray2;

			&:first-child {
				border-top: 1px solid @darkgray2;
			}

			@media @tablet-query {
				padding-top: 5px;
				padding-left: 6px;
				padding-right: 6px;
				padding-bottom: 5px;
			}

			@media @mobile-query {
				padding-top: 20px;
				padding-bottom: 20px;
				padding-left: 17px;
				padding-right: 15px;
				margin-left: 0;
			}

			&__link {
				float: left;
				position: absolute;
				width: 29%;
				top: 23px;
				bottom: 23px;
				overflow: hidden;

				@media @tablet-query {
					width: 39%;
					top: 5px;
					bottom: 5px;
				}

				@media @mobile-query {
					width: 36%;
					top: 20px;
					bottom: 20px;
					// override carousel styles
					min-height: auto;
				}

				img {
					width: auto;
					height: 100%;
					.centerX();
					max-width: none;
					top: 0;
				}
			}

			&.purple, &.blue, &.green, &.yellow, &.orange {
				.learning-center-card__details {
					background-image: none;
					background-color: transparent;
				}

				.learning-center-card__title a,
				.learning-center-card__breadcrumb {
					color: @darkgray;
				}
			}

			&__details {
				float: left;
				padding-left: 28px;
				width: 71%;
				margin-left: 29%;
				// override carousel styles
				box-shadow: none;
				margin-top: 0;
				height: auto;

				@media @tablet-query {
					width: 61%;
					padding-left: 21px;
					padding-top: 5px;
					margin-left: 39%;
				}

				@media @mobile-query {
					margin-left: 36%;
					padding-left: 23px;
				}
			}


			&__breadcrumb {
				font-size: 15px;
				text-transform: uppercase;
				margin-bottom: 6px;
				margin-top: 0;
				max-height: 36px;

				@media @tablet-query {
					font-size: 12px;
					line-height: 1;
					margin-bottom: 9px;
					max-height: 26px;
					overflow: hidden;
				}

				@media @mobile-query {
					font-size: 10px;
					margin-bottom: 12px;
					line-height: 1.3;
				}
			}

			&__title {
				margin-top: 0;

				@media @tablet-query {
					line-height: 1;
				}

				a {
					text-decoration: none;
				}
			}
		}
	}
}
