.learning-center-carousel,
.learning-center-grid {
	padding-left: 20px;
	padding-right: 20px;
	.clearfix();

	&__container {
		width: 1200px;
		margin: auto;
		max-width: calc(100% - 150px);

		@media @tablet-query {
			max-width: calc(100% - 100px);
		}

		@media @mobile-query {
			max-width: 220px;
		}
	}

	.carousel-arrow();
	
	.slick-arrow {
		height: 46px;
		width: 46px;

		@media @tablet-query {
			height: 25px;
			width: 25px;
		}

		@media @tablet-query {
			height: 33px;
			width: 33px;
		}
	}

	.slick-prev {
		left: -65px;

		@media @tablet-query {
			left: -40px;
		}

		@media @mobile-query {
			left: -35px;
		}
	}

	.slick-next {
		right: -65px;

		@media @tablet-query {
			right: -40px;
		}

		@media @mobile-query {
			right: -35px;
		}
	}

	.slick-track {
		display: flex;
	}

	.slick-initialized .slick-slide {
		display: flex;
		justify-content: flex-start;
	}
}

.learning-center--hide-carousel {
	.slick-slider {
		display: none;
	}
}

.learning-center-carousel__container {
	opacity: 0;
	transition: 0.3s opacity;

	&.slick-initialized {
		opacity: 1;
	}
}

.learning-center-grid__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;

	@media @tablet-query {
		width: 100%;
		max-width: 620px;
	}
}

.learning-center-card {
	position: relative;
	padding: 0 6px;
	display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    justify-content: space-between;
    text-align: left;

	a {
		text-decoration: none;
		color: inherit;
	}

	&__link {
		height: 200px;
		display: flex;
		overflow: hidden;
		width: 100%;
		position: relative;

		@media @tablet-query {
			height: 150px;
		}
	}

	&__image {
		display: block;
		height: 100%;
		min-width: 100%;
		width: auto;
		max-width: none;
		.center();
		object-fit: cover;
	}

	&__details {
		background-image: url('//www.happyfamilyorganics.com/wp-content/themes/happyfamily/dist/images/background-white.png');
		background-size: 102% 100%;
		background-repeat: no-repeat;
		background-position: center;
		padding: 30px 20px;
		width: 102%;
		margin: -15px 0 11px -1%;
		height: 50%;
		z-index: @z-index-base;

		@media @tablet-query {
			padding: 10px 12px;
		}

		@media @mobile-query {
			padding: 15px;
		}
	}

	&__breadcrumb {
		text-transform: uppercase;
		font-size: 13px;
		line-height: 1;
		margin-bottom: 8px;

		@media @tablet-query {
			font-size: 12px;
		}

		@media @mobile-query {
			font-size: 10px;
		}
	}

	&__excerpt {
		font-size: 18px;
		line-height: 1.1;

		@media @tablet-query {
			font-size: 14px;
		}
	}

	h4&__title {
		margin-bottom: 5px;
		margin-top: 0;

		@media @tablet-query {
			font-size: 18px;
		}

		@media @mobile-query {
			font-size: 16px;
		}
	}

	&--featured {
		width: 84%;
		margin-left: 8%;
		display: block;
		float: left;
		position: relative;
		margin-top: 74px;
		height: 454px;
		margin-bottom: 35px;

		@media @tablet-query {
			margin-top: 44px;
			height: 302px;
			width: 88%;
			margin-left: 6%;
			margin-bottom: 28px;
		}

		@media @mobile-query {
			margin: 35px auto;
			width: 100%;
			height: auto;
		}

		.learning-center-card__link {
			float: right;
			width: 58%;
			position: relative;
			z-index: @z-index-base;
			height: 98%;
			margin-top: 0.5%;
			overflow: hidden;

			@media @tablet-query {
				width: 55%;
			}

			@media @mobile-query {
				width: 100%;
			}

			img {
				height: 100%;
				max-width: none;
				.center();
				width: auto;

				@media @mobile-query {
					position: relative;
					width: 100%;
					display: block;
					top: 0;
					transform: translateX(-50%);
				}
			}
		}

		.learning-center-card__details {
			width: 42%;
			height: auto;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background-image: url('../images/featured-article-background.png');
			background-position: unset;
			background-size: cover;
			background-repeat: no-repeat;
			padding-top: 60px;
			padding-left: 4%;
			padding-right: 9%;

			&:before, &:after {
				display: none;
			}

			@media @smdesktop-query {
				padding-right: 5%;
			}

			@media @tablet-query {
				width: 45%;
				padding-top: 39px;
				padding-right: 6%;
			}

			@media @mobile-query {
				width: 100%;
				position: relative;
				z-index: @z-index-base;
				float: left;
				background-image: none;
				padding-top: 21px;
				padding-bottom: 35px;
				margin-bottom: 0;
				margin-top: -6px;
				height: 110px;
				background-size: 100% 100%;
			}
		}

		.learning-center-card__breadcrumb {
			font-size: 15px;
			margin-bottom: 12px;

			@media @tablet-query {
				font-size: 13px;
				margin-bottom: 9px;
			}

			@media @mobile-query {
				font-size: 10px;
				margin-bottom: 11px;
			}
		}

		.learning-center-card__title {
			margin-bottom: 28px;

			@media @tablet-query {
				font-size: 20px;
				margin-bottom: 10px;
			}

			@media @mobile-query {
				font-size: 16px;
				margin-bottom: 0;
			}
		}

		.learning-center-card__excerpt {
			line-height: 1.5;

			@media @tablet-query {
				font-size: 13px;
				line-height: 1.3em;
			}

			@media @mobile-query {
				display: none;
			}
		}
	}
}

// Grid of Recipes & Meal Plans are different than article cards
// i.e. 3 per row and purple
.learning-center-recipes,
.learning-center-meal-plans {

	.learning-center-grid {

		@media @mobile-query {
			padding: 0;
			margin-bottom: 50px;
		}
	}

	h3 {
		color: @lightpurple;
	}

	h3 + p {
		color: @darkgray;
		margin-bottom: 35px;

		@media @mobile-query {
			margin-bottom: 20px;
		}
	}

	.learning-center-card {
		width: calc(33% - 10px);
		margin-bottom: 73px;

		@media @tablet-query {
			margin: 0 0 30px;
			width: calc(33% - 15px);
		}

		@media @mobile-query {
			display: none;
			width: 100%;
			margin: 0;
			padding: 19px;
			border-bottom: 1px solid @darkgray2;
			flex-direction: row;
			justify-content: space-between;

			&:first-child {
				border-top: 1px solid @darkgray2;
			}
			
			&:first-child,
			&:nth-child(2),
			&:nth-child(3) {
				display: flex;
			}
		}

		&__link {
			height: 220px;

			@media @tablet-query {
				height: 120px;
			}

			@media @mobile-query {
				height: 86px;
				width: 50%;
				min-height: 1px;
			}
		}

		&__image {
			height: 100%;
			max-width: none;
			width: auto;

			@media @tablet-query {
				height: 100%;
				min-height: 1px;
			}
		}

		&__details {
			height: 40%;

			@media @tablet-query {
				height: calc(100% - 120px);
			}

			@media @mobile-query {
				width: 51%;
				margin: 0 0 0 0;
				padding: 10px;
				height: 105%;
				margin-top: -1%;
				background-size: 105%;
				background-position: right;

				&:before, &:after {
					display: none;
				}
			}
		}
	}
}

.learning-center-carousel.blue,
.learning-center-grid.blue {

	.learning-center-card {
	
		&__title, &__breadcrumb, &__excerpt {
			color: @lightblue;
		}
	}

	.slick-arrow {
		background-image: url('../images/carousel-arrow-blue.svg');
	}

	.learning-center-card--featured {
		.learning-center-card__title, .learning-center-card__breadcrumb {
			@media @mobile-query {
				color: #fff;
			}
		}

		@media @mobile-query {
			.learning-center-card__details {
				background-image: url('../images/featured-article-background-blue.png');

				&:before, &:after {
					display: none;
				}
			}
		}
	}

}

.learning-center-carousel.purple,
.learning-center-grid.purple {

	.learning-center-card {
	
		&__title, &__breadcrumb, &__excerpt {
			color: @lightpurple;
		}
	}

	.slick-arrow {
		background-image: url('../images/carousel-arrow-purple.svg');
	}

	.learning-center-card--featured {
		.learning-center-card__title, .learning-center-card__breadcrumb {
			@media @mobile-query {
				color: #fff;
			}
		}

		@media @mobile-query {
			.learning-center-card__details {
				background-image: url('../images/featured-article-background-purple.png');

				&:before, &:after {
					display: none;
				}
			}
		}
	}

}

.learning-center-carousel.orange,
.learning-center-grid.orange {

	.learning-center-card {
	
		&__title, &__breadcrumb, &__excerpt {
			color: @orange;
		}
	}

	.slick-arrow {
		background-image: url('../images/carousel-arrow-orange.svg');
	}

	.learning-center-card--featured {
		.learning-center-card__title, .learning-center-card__breadcrumb {
			@media @mobile-query {
				color: #fff;
			}
		}

		@media @mobile-query {
			.learning-center-card__details {
				background-color: @orange;
			}
		}
	}

}

.learning-center-carousel.yellow,
.learning-center-grid.yellow {

	.learning-center-card {
	
		&__title, &__breadcrumb, &__excerpt {
			color: @mediumyellow;
		}
	}

	.slick-arrow {
		background-image: url('../images/carousel-arrow-yellow.svg');
	}

	.learning-center-card--featured {
		.learning-center-card__title, .learning-center-card__breadcrumb {
			@media @mobile-query {
				color: #fff;
			}
		}

		@media @mobile-query {
			.learning-center-card__details {
				background-color: @mediumyellow;
			}
		}
	}

}

.learning-center-carousel.green,
.learning-center-grid.green {

	.learning-center-card {
		
		&__title, &__breadcrumb, &__excerpt {
			color: @green;
		}

	}

	.slick-arrow {
		background-image: url('../images/carousel-arrow-green.svg');
	}

	.learning-center-card--featured {
		.learning-center-card__title, .learning-center-card__breadcrumb {
			@media @mobile-query {
				color: #fff;
			}
		}

		@media @mobile-query {
			.learning-center-card__details {
				background-color: @green;
			}
		}
	}

}