.modal {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	max-width: none;
	top: 0;
	left: 0;
	z-index: @z-index-high;
}

.modal-content {
	opacity: 0;
	box-shadow: 0 10px 25px rgba(0,0,0,.5);
	padding: 30px 15px;
	max-width: 90vw;
	max-height: 90vh;
	background-color: #fff;
	border-radius: 15px 0 15px 15px;
	.center();
	z-index: @z-index-uber;
}

.modal-overlay {
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
}

.modal-content,
.modal-overlay {
	transition: 0.5s opacity;
}

.modal-close {
	position: absolute;
	top: 30px;
	right: 20px;
	height: 40px;
	width: 40px;
}

.modal-close button {
	background-image: url('../images/icon-circled-x.svg');
	background-color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	min-width: 0;

	span, &:after {
		display: none;
	}
}

.modal-video {
	
	&__content {
		background-color: transparent;
		box-shadow: none;
		height: 50vw;
		width: 76.5vw;
		max-height: 670px;
		max-width: 1190px;
		padding: 0;
		border-radius: 0;
	}

	iframe, &__content-container {
		height: 100%;
		width: 100%;
	}

	.modal-close {
		top: 0;
		right: -40px;

		button {
			background-image: url('../images/close-button.png');
			background-color: transparent;
			background-size: 30px;
			background-position: top right;
		}
	}
}