.product-highlightmodule-container {

    text-align: center;
    font-size: 18px;
    font-family: @booster;
    color: @darkgray;
    line-height: 26px;
    background-color: @offwhite;
    border-top: 20px solid #FFF;
    border-bottom: 5px solid #FFF;
   // border-image: url('../images/border-white.svg') 15;
    padding: 50px 0;
    margin-top: 0px;
    position: relative;
    height: auto;
    @media @tablet-query {
        font-size: 15px;
        margin-top: 0;
        height: auto;
    }
    @media @mobile-query  {
        font-size: 14px;
        padding: 10px 0 0;
    }
    .section-title {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 25px;
        font-family: @organico;
        text-transform: uppercase;
        @media @tablet-query {
            font-size: 43px;
        }
        @media @mobile-query {
            margin-bottom: 0;
            line-height: 56px;
            font-size: 24px;
            font-weight: 700;
        }
    }
    .section-desc {
        max-width: 467px;
        margin: 0 auto 40px;
        font-weight: 500;
        line-height: 26px;
        @media @mobile-query {
            margin: 0 auto 20px;
            text-align: left;
            padding: 0 14px;
        }
    }

    .icon-name {
        color: @mediumgray;
        font-weight: 700;
        padding: 0;
        max-width: none;
        margin: 0 auto;
        @media @mobile-query {
            display: inline-block;
            max-width: none;
            margin: 0 10px;
            vertical-align: middle;
        }
    }
    .module-item,
    .module-stage-item {
        display: inline-block;
        min-width: 148px;
        margin: 0 60px;
        vertical-align: top;
        @media @smdesktop-query {
            margin: 0 45px;
        }
        @media @tablet-query {
            min-width: 120px;
            margin: 0 20px;
        }
        @media @mobile-query {
            display: block;
            border-top: 5px solid @offwhite; 
            border-image: url('../images/border-offwhite.svg') 5;
            width: 100%;
            margin: auto;           
        }
    }
    .section-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 1200px;
        .module-item,
        .module-stage-item {
            display: inline-block;
            width: 150px;
            margin: 0 10px;
            vertical-align: top;
            @media @tablet-query {
                min-width: 100px;
                width: 100px;
                margin: 0px;
            }
            @media @mobile-query {
                display: block;
                border-top: 5px solid @offwhite; 
                border-image: url('../images/border-offwhite.svg') 5;
                width: 100%;
                margin: auto;           
            }
        }
    }
    
    .icon {
        display: inline-block;
        text-align: center;
        width: 100%;
        vertical-align: top;
        position: relative;
        @media @mobile-query {
            width: 100%;
            margin: 10px 0;
            display: block;
            text-align: left;
            .arrow();
                &:after {
                    border-color: @lightestgray;
                    right: 24px;
                    transform: translateY(-50%) rotate(45deg);                   
                }
        }
        &-image {
            @media @mobile-query {
                display: inline-block;               
                margin-left: 10px;
            }
            img {
                max-height: 80px;
                display: inline-block;
                @media @tablet-query {
                    max-height: 60px;
                }
                @media @mobile-query {
                    height: 26px;
                    vertical-align: middle;
                }
            }
        }
    }

    .module-item .detail {
        background-color:@offwhite;
        display: none;
        .centerX();
        padding-bottom: 40px;
        width: 100%;
        max-width: 1400px;
        transform: translate3d(-20%, 0px, 0px) translateX(-50%);
        @media @mobile-query {
            position: relative;
            left: auto;
            transform: translateX(0);
            width: auto;
        }
    }
    .detail-title {
        font-size: 24px;
        font-weight: 700;
        font-family: @booster;
        margin: 30px auto 25px;
    }
    .detail-text {
        color: @mediumgray;
        display: block;
        font-weight: 500;
        margin: 0 auto;
        width: 80%;
        @media @mobile-query {
            text-align: left;
        }
    }
.detail-mobile {
    display: none;
}
    .active {

        .icon-wrapper:before {
            content: '';
            background: url(../images/bing.svg) right top no-repeat;
            width: 40px;
            height: 40px;
            display: block;
            margin-top: 0;
            margin-left: 20px;
            position: absolute;
            right: 4px;
            transform: rotate(25deg);
            @media @tablet-query {
                right: -20px;
            }
            @media @mobile-query {
                background: none;
            }
        }
    }

    //stage module
    .module-stage-item {
        width: 15%;
        @media @tablet-query {
            width: 20%;
            margin: 0 10px;
            display: inline-block;
        }
        @media @mobile-query {
            width: 100%;
            display: block;
            img {
                height: 35px;
            }
            .icon {
                width: auto;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
            .icon:after{
                width: 0;
                height: 0;
                border: 0;
            }
            border-top: 0; 
            border-image: none;
        }
    }
       
    &.stage {
        padding: 50px 0 100px;
        @media @tablet-query {
            padding: 50px 0;
        }
    }
    .section-title.stage {
        margin: 34px auto 64px;
        font-size: 52px;
        line-height: 54px;
        max-width: 60%;

        @media @tablet-query {
            margin: 0px auto 54px;
            font-size: 32px;
            line-height: 42px;
            max-width: 80%;
        }
        @media @mobile-query {
            font-size: 24px;
            max-width: 100%;
            margin: 0 auto 20px;
            padding: 0 10px;
            line-height: 28px;
        }
    }
    .stage-detail {
        width: auto;
        .detail-text {
            width: 100%;
        }
        @media @mobile-query {
            display: inline-block;
            width: 60%;
            text-align: left;
            vertical-align: middle;
        }
    }
    //carousel
    .section-content {        
        .carousel-arrow-circle();
        button.slick-arrow {
            border: none;
        }
    }
    .slick-prev {
        left: 0;
        z-index: @z-index-base;
    }
    .slick-next {
        right: 0;
    }
    .slick-list {
        padding: 0;
    }
    .slick-track {
        height: auto;
    }
}    

// Formula directions
.text-blue {
    color: @lightblue;
}

.bg-blue {
    &:nth-child(n) {
        background-color: @lightblue; 
    }
    &:nth-child(2n) {
        background-color: @darkblue;
    }
}

.bg-green {
    &:nth-child(n) {
        background-color: @green; 
    }
    &:nth-child(2n) {
        background-color: @green2;
    }
}

.formula {
    padding: 50px 0;
    margin-bottom: 20px;
    border-top: 0;
    @media @tablet-query {
        margin-bottom: 0;
         padding: 25px 0;
         margin-top: 20px;
    }
    @media @mobile-query {
       
    }
    .section-title {
        font-size: 52px;
        margin-bottom: 50px;
        @media @tablet-query {
            font-size: 42px;
        }
        @media @mobile-query {
            font-size: 24px;
            max-width: 80%;
            margin: 0 auto 40px;
            line-height: 32px;
        }
    }
    .icon {
        @media @mobile-query {
            &:after {
                border: 0;
                width: 0;
                height: 0;
            }
    }
}
.module-item-formula {
    display: inline-block;
    margin: 0 3%;
    width: 22%;
    vertical-align: top;
    @media @mobile-query {
        display: block;
        margin: auto;
        width: 100%;
        .icon {
            margin: 10px auto;
            text-align: center;           
            }
        }
    }
    .icon-image {
        @media @mobile-query {
            margin: 0 auto;          
        }
        img {
            width: 160px;
            height: 160px;
            max-height: none;
        }
    }
    .detail-text {
        color: @darkgray;
        margin: 15px auto;
        width: 100%;
        @media @mobile-query {
            margin: 0 auto 15px;
            padding: 0 20px;
        }
    }
    &>.button {
        display: none;
        @media @mobile-query {
            display: inline-block;
            margin-top: 50px;
            padding: 0 73px 0 42px;
            &:hover:after {
                right: 44px;
            }
            &:after {
                transform: translateY(-50%) rotate(45deg);
                }
        }
        
    }
}

.feeding-chart {
    margin-top: 40px;
    .title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        @media @tablet-query {
            font-size: 20px;
            padding: 0 10px;
        }
    }
}
.direction-table {
    text-transform: uppercase;
    @media @mobile-query {
        display: table;
        margin: 0 auto;
    }
    .col {
        display: inline-block;
        margin-right: -2px;
        border: 2px solid #FFF;        
        border-right: 0;
        border-left: 0;
        @media @mobile-query {
            display: table-cell;
            border-right: 1px solid #fff;
        }    
    }
    .cell {
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        color: #FFF;
        width: 100%;
        display: block;
        padding: 3px 90px;
        margin-bottom: 0;
        text-align: left;
        @media @smdesktop-query {
            padding: 3px 50px;
        }
        @media @tablet-query {
            padding: 3px 17px;
        }
        @media @mobile-query {
            padding: 13px 10px;
            font-size: 12px;
            height: 72px;
            vertical-align: middle;
        }
    }
}


.product-highlightmodule-container .icon:hover:after {
    right: 24px;
}