.our-story {
	background-color: @orange;
	padding-top: 114px;
	height: 590px;

	&.vc_section{
		margin-bottom: 130px;
	}

	@media @tablet-query {
		padding-top: 50px;
		height: auto;
	}

	&__intro {

		h1 {
			margin-bottom: 37px;

			@media @tablet-query {
				font-size: 45px;
				margin-bottom: 20px;
			}

			@media @mobile-query {
				font-size: 30px;
				width: 280px;
				margin: 0 auto 20px;
			}
		}

		p {
			margin-bottom: 52px;

			@media @tablet-query {
				width: 600px;
				max-width: 95%;
				margin: 0 auto 25px;
			}

			@media @mobile-query {
				font-size: 14px;

				br {
					display: none;
				}
			}
		}

		a {
			.button();
			color: @orange;
			background-color: #fff;

			&:after {
				border-color: @orange;
			}

			@media @tablet-query {
				margin-bottom: 30px;
			}
		}

	}

	&__families {
		clear: both;
		display: block;

		@media @tablet-query {
			height: 700px;
    		display: block;
		}

		@media @mobile-query {
			height: 400px;
			width: 300px;
			margin: auto;
		}
	}

	&__families > .col-12 {
		display: flex;
		justify-content: center;
		align-items: center;

		@media @tablet-query {
			max-width: 600px;
			height: 120%;
			margin: auto;
			float: none;
		}
	}

	&__family {
		width: 309px;
		height: 309px;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: @z-index-base;
		position: relative;
		margin: 0 20px;

		@media @smdesktop-query {
			width: 250px;
			height: 250px;
		}

		@media @tablet-query {
			position: absolute;
		}

		@media @mobile-query {
			width: 143px;
			height: 143px;
		}

		h1, img {
			opacity: 0;
			transition: 0.3s opacity;
		}

		h1 {
			max-width: 39%;
			font-size: 16px;
			text-align: center;
			position: absolute;
			letter-spacing: 2px;

			@media @smdesktop-query {
				font-size: 12px;
			}

			@media @tablet-query {
				font-size: 25px;
				max-width: 90%;
			}

			@media @mobile-query {
				font-size: 16px;
				max-width: 100%;
			}
		}

		img {
			width: 39px;
			position: absolute;

			@media @tablet-query {
				width: 120px;
			}

			@media @mobile-query {
				width: 50px;
			}
		}

		&:first-child {

			h1 {
				top: 12%;
				right: 16%;
			}

			img {
				top: 31%;
    			left: 55%;
			}

			@media @tablet-query {
				top: 0;
				left: 0;

				h1 {
					top: 0;
					right: -100%;

					br {
						display: none;
					}
				}

				img {
					top: 27%;
					right: -55%;
					left: auto;
				}
			}

			@media @mobile-query {

				img {
					top: 30%;
					right: -45%;
				}
			}
		}

		&:nth-child(2) {
			width: 390px;
			height: 390px;

			@media @smdesktop-query {
				width: 350px;
				height: 350px;
			}

			@media @tablet-query {
				bottom: 0;
				left: 0;
			}

			@media @mobile-query {
				width: 192px;
				height: 192px;
			}

			h1 {
				font-size: 16px;
				text-align: center;
				position: absolute;
				right: 0;
				bottom: 17%;
				max-width: none;
				width: 100%;
			}

			img {
				top: 71%;
				right: 24%;
				transform: scaleX(-1) rotate(60deg);
			}

			@media @tablet-query {

				h1 {
					top: 0;
					right: -60%;
					font-size: 25px;
					width: 60%;
				}

				img {
					transform: rotate(-10deg);
					right: -35%;
					top: 22%;
					width: 100px;
				}
			}

			@media @mobile-query {

				h1 {
					font-size: 16px;
					width: 110px;
					right: -50%;
				}

				img {
					right: -30%;
					top: 32%;
					width: 50px;
				}
			}
		}

		&:last-child {

			h1 {
				top: 13%;
				right: 19%;
			}

			img {
				top: 29%;
				right: 37%;
				transform: rotate(-20deg);
			}

			@media @tablet-query {
				top: 200px;
				right: 0;

				h1 {
					top: 45%;
					right: auto;
					left: -90%;
				}

				img {
					transform: scaleX(-1) rotate(20deg);
					right: auto;
					left: -47%;
					top: 62%;
					width: 100px;
				}
			}

			@media @mobile-query {
				top: 120px;

				img {
					width: 60px;
					top: 68%
				}
			}
		}

	}

	// Animations!

	&.viewed {

		.our-story__family h1,
		.our-story__family img {
			opacity: 1;
		}
	}
}