.plain-description {
	float: left;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;

	@media @tablet-query {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	@media @mobile-query {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	p {
		color: @darkgray;
		width: 92%;
		max-width: 631px;
		margin: auto;

		@media @tablet-query {
			max-width: 571px;
		}
	}
}
