.review-cards.vc_section {
	height: 840px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;

	&.vc_section-has-fill {
		padding: 181px 0 0;
	}

	@media @tablet-query {
		background-size: auto 333px;
		padding-top: 123px;
		height: 680px;
	}

	@media @mobile-query {
		background-size: auto 275px;
		padding-top: 145px;
		height: 532px;

		& > .main > .col-12 {
			padding: 0;
		}
	}

	h1 {
		margin-bottom: 120px;

		@media @tablet-query {
			margin-bottom: 65px;
		}

		@media @mobile-query {
			color: @green;
			font-family: @booster;
			font-size: 24px;
			font-weight: 700;
			line-height: 28px;
			letter-spacing: 0;
			text-transform: none;
			background: rgba(255,255,255,0.9);
			padding: 20px 0;
			margin-bottom: 0;
		}
	}

	.p-w-r aside.pr-rd-side-content-block,
	.p-w-r .pr-rd-review-headline,
	.p-w-r .pr-accordion,
	.p-w-r .pr-rd-images,
	.p-w-r .pr-rd-footer {
	    display: none;
	}

	.p-w-r .pr-review-display {
		width: 1122px;
		max-width: 100%;
		margin: auto;
		background-color: transparent;

		.carousel-arrow();
		.slick-arrow {
			background-image: url('../images/carousel-arrow-orange.svg');
			height: 40px;
			width: 40px;
			left: -40px;
			transition: 0.3s transform;
			outline: 0;
			box-shadow: none;

			@media @tablet-query {
				left: 0;
			}

			&:hover {
				transform: scale(1.2) translateY(-50%);
			}

			&.slick-next {
				right: -40px;
				left: auto;

				&:hover {
					transform: scaleX(-1.2) scaleY(1.2) translateY(-50%);
				}

				@media @tablet-query {
					right: 0;
				}
			}
		}

		@media @tablet-query {
			width: 710px;
			padding: 0 50px;
			max-width: 100%;
		}

		@media @mobile-query {
			width: 300px;
			padding: 0 45px;
		}
	}

	// Equal height slides
	.slick-track {
		display: flex;
		align-items: stretch;
	}

	.slick-slide {
		margin: 0 22px;
		padding: 40px 30px 30px;
		background-image: url('../images/background-rough-transparent.png');
		background-size: 100% 100%;
		text-align: center;
		height: auto;

		@media @smdesktop-query {
			margin: 0 10px;
		}

		@media @tablet-query {
			margin: 0 5px;
			padding: 30px 20px;
		}

		@media @mobile-query {
			background-image: none;
			padding: 20px 0 0;
		}
	}

	.p-w-r h2 {
		text-align: center;
		text-transform: capitalize;
		font-family: @booster;
		font-size: 24px;
		font-weight: 700;
		color: @mediumgray;
		margin-bottom: 10px;

		@media @tablet-query {
			font-size: 20px;
		}
	}

	.reviewer-details {

		&__attributes {
			height: 38px;
			margin-bottom: 15px;
			display: flex;
			justify-content: center;
			align-items: center;

			@media @mobile-query {
				width: 200px;
			}
		}

		&__city, &__date {
			display: inline-block;
			color: @mediumgray;
			font-family: @booster;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.2;
			width: 49%;
			text-align: left;

			@media @smdesktop-query {
				font-size: 16px;
			}

			@media @mobile-query {
				font-size: 14px;
			}
		}

		&__city {
			padding-right: 5px;
			text-align: right;
			border-right: 1px solid @mediumgray;
		}

		&__date {
			padding-left: 5px;
		}

	}
	
	// Review paragraph text
	.p-w-r .pr-rd-description-text {
		color: @mediumgray;
		font-family: @booster;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.5;
		height: 250px;
		overflow: scroll;

		&::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 7px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 4px;
			background-color: rgba(0,0,0,.5);
			-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
		}

		@media @tablet-query {
			font-size: 16px;
		}

		@media @mobile-query {
			font-size: 14px;
		}
	}

	.p-w-r .pr-review-display .pr-review {
		margin-bottom: 0;
	}

	.p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-content-block,
	.p-w-r .pr-review-display.pr-rd-display-tablet .pr-rd-content-block {
		width: 100%;
	}
	
	// Replace star icons
	.p-w-r .pr-star-v4-100-filled {
		background-image: url('../images/star-full.svg');
		background-size: contain;
		background-position: center;
	}
	
	// Replace star icons
	.p-w-r .pr-star-v4-0-filled {
		display: none;
	}

	// Remove numeral rating
	.p-w-r .pr-review-display .pr-snippet-rating-decimal {
		display: none;
	}

	// Center stars on card
	.p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-star-rating,
	.p-w-r .pr-review-display.pr-rd-display-tablet .pr-rd-star-rating,
	.pr-review-display .pr-rating-stars,
	.pr-snippet-stars {
		float: none;
		text-align: center;
		background-color: transparent;
	}

	.review-cards__button a {
		.button();
		background-color: @orange;

		@media @mobile-query {
		    font-size: 16px;
			padding: 0 40px 0 20px;

			&:after,
			&:hover:after {
				right: 25px;
			}
		}
	}

	@media @mobile-query {

		.p-w-r .pr-review-display .pr-review,
		.p-w-r .pr-review-display .pr-rd-content-block {
			margin-bottom: 0;
		}
	}


}

