// lifestages filter mobile styles

@media @mobile-query {

	.page-template-template-stages #stages-filter {
		display: none;
	}

	.page-template-template-stages #stages-filter-mobile {
		display: block;
	}
}

.stages-filter {

	&__item {

		&--toggle {
			padding: 18px;
			width: 100%;
			float: left;
			display: block;

			h4 {
				display: inline-block;
				float: left;
				color: @darkgray;
				font-family: @booster;
				font-size: 16px;
				font-weight: 700;
			}

			p {
				display: inline-block;
				float: right;
				color: @green;
				font-family: @booster;
				font-size: 14px;
				font-weight: 700;
				padding-right: 20px;
				position: relative;

				&:after {
					content: '';
					width: 10px;
					height: 10px;
					position: absolute;
					top: calc( 50% - 2px );
					transform: translateY(-50%);
					right: 0px;
					border-right: 3px solid @darkbeige;
					border-bottom: 3px solid @darkbeige;
					transform: translateY(-50%) rotate(45deg);
					transition: 0.3s ease-in-out;
				}
			}
		}

		&--content {
			background-image: url(../images/rough-divider-stages.png);
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: 100% 4px;
			height: auto;
			max-height: 4px;
			width: 100%;
			float: left;
			background-color: white;
			padding: 0px 20px;
			text-align: center;
			overflow-y: hidden;
			transition: max-height 0.6s ease-in;
		}

		&--copy {
			color: @darkgray;
			font-family: @booster;
			font-size: 14px;
			font-weight: 500;
			text-align: left;
			padding-top: 24px;
		}

		&--divider {
			margin: 30px 0;
			border-style: solid;
			border-color: @lightestgray;
		}

		&--link {
			background-color: @green;
			margin: 0 auto 40px;

			@media @mobile-query {
				font-size: 16px;
				margin-bottom: 24px;
				min-width: 100px;
				padding: 0 40px 0 25px;

				&:hover:after, &:after {
					right: 25px;
				}
			}
		}

		&--mobile {

			&.active {

				.stages-filter__item--toggle {
					p {
						&:after {
							top: calc(50% + 2px);
							transform: translateY(-50%) rotate(-135deg);
							transition: 0.3s ease-in-out;
						}
					}
				}

				.stages-filter__item--content {
					max-height: 800px;
					transition: max-height 0.6s ease-in;
				}
			}
		}
	}
}