// .tab-container {
// 	width: 1200px;
// 	max-width: 100%;
// 	margin: auto;
// 	display: flex;
// 	justify-content: space-between;
// 	float: none;

// 	a {
// 		display: inline-block;
// 	}
// }

// .tab-content {
// 	display: block;
// 	position: relative;
// 	width: 100%;

// 	& ~ .tab-content {
// 		display: none;
// 	}
// }

// .tab-content-wrapper {
// 	position: relative;
// 	min-height: 155px;
// 	clear: both;
// 	background-color: @offwhite;

// 	[class^="col-"], [class*=" col-"] {
// 		min-height: auto;
// 	}

// 	.tab-content {
// 		position: absolute;
// 	}

// 	& + section.vc_section {
// 		clear: both;
// 	}

// 	@media @mobile-query {
// 		background-color: transparent;
// 	}
// }

// .tab-header {
// 	display: none;
// 	width: 100%;
// 	height: 100px;
// 	text-align: center;
// 	transition: 0.6s margin-bottom;

// 	& > .col-12 {
// 		height: 100%;
// 	}

// 	a {
// 		display: block;
// 	}

// 	&__container {
// 		display: flex;
// 		align-items: center;
// 		margin: 0 calc(50% - 145px);
// 		height: 100%;
// 	}

// 	img {
// 		max-height: 65px;
// 		max-width: 85px;
// 		height: auto;
// 	}

// 	p:last-child a {
// 	    color: #fff;
// 	    text-decoration: none;
// 	    .arrow();

// 	    &:after {
// 	    	transform: translateY(-50%) rotate(45deg);
// 	    	right: -22px;
// 	    	top: 8px;
// 	    	transition: 0.5s all;
// 	    }

// 	    &:hover:after {
// 	    	right: -22px;
// 	    }
// 	}
// }

// // Display specified tab sections as drawers on tablet (for ones with a lot of content)

// @media @tablet-query {
// 	.tablet-drawers {

// 		.tab-container {
// 			display: none;
// 		}

// 		.tab-content-wrapper {
// 			height: auto;

// 			.tab-content {
// 				position: relative;
// 			}
// 		}

// 		&.tab-content {
// 			height: 100px;
// 			transition: 0.6s height;
// 			overflow: hidden;
// 			width: 100%;

// 			& ~ .tab-content {
// 				display: block;
// 			}

// 			&.active {
// 				height: 650px;
// 			}
// 		}

// 		.tab-header {
// 			display: block;
// 		}

// 	}
// }

// // All tabs are displayed as drawers on mobile

// @media @mobile-query {

// 	.tab-container {
// 		display: none;
// 	}

// 	.tab-content-wrapper {
// 		height: auto;

// 		.tab-content {
// 			position: relative;
// 		}
// 	}

// 	.tab-content {
// 		height: 100px;
// 		transition: 0.6s height;
// 		overflow: hidden;
// 		width: 100%;

// 		& ~ .tab-content {
// 			display: block;
// 		}

// 		&.active {
// 			height: 650px;
// 		}
// 	}

// 	.tab-header {
// 			display: block;
// 	}
// }

