// "header.styl" is added to all pages (imported by main styleshyeet)
body
    color red

// Remove webkit search input "X"
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration 
  -webkit-appearance none

// Search input
.ais-SearchBox-form
    position relative

    button
        background none
        border none
        
    svg
        fill orange

.ais-SearchBox-input
    height 28px
    font-family booster
    font-size 12px
    font-weight 700
    line-height 28px
    border 1px solid alpha(grey, 0.6) !important
    color grey

    &::placeholder
        color grey !important

    &:focus
        border 1px solid orange !important

.ais-SearchBox-submit
    position absolute
    top 5px
    right 8px

    svg
        width 17px
        height @width
        fill alpha(grey, 0.7)
        // Hide default icon
        path
            display none
        
        // Show custom icon
        background-image url("../../../dist/images/icon-search-gray.svg")
        background-repeat no-repeat
        background-position top right

        form.has-text &
            background-image url("../../../dist/images/shop-mega-menu-gray.svg")
            background-size 8px
            background-position center right
            position relative
            left 3px
    
    .ais-SearchBox-input:focus +&
        svg
            background-image url("../../../dist/images/icon-search-orange.svg")

            form.has-text &
                background-image url("../../../dist/images/shop-mega-menu.svg")
                

// Desktop search input
#header .desktop-search .search__form input
    +tablet-landscape-up()
        width 250px
        margin-left -70px
    +desktop-sm-up()
        width 250px
        margin-left -70px
#header .administrative-menu__item.search
    +tablet-landscape-up()
        margin-right 26px

// Mobile search input
#header .mobile-search
    #search_mini_form.search__form
        cursor default
        font-size 16px

        input
            padding 3px 64px 1px 21px
            font-size 100%
        
        .ais-SearchBox-submit
            width 34px
            height @width
            top 3px
            right 10px

            svg
                display none
                width 19px
                height @width
                            
        // When expanded, show search input
        &.expanded
            #algolia-searchbox
                display block

            .ais-SearchBox-submit svg
                display block

            input
                display block
            
            // Hide the old arrow icon
            &:after
                display none
            
    span.mobile-search-icon
        // When expanded, make search icon orange
        &.expanded
            &:after
                opacity 1
            &:before
                opacity 0
        // When disabled, don't use cursor icon
        &[disabled]
            &, &:before, &:after
                cursor default

    .block-search
        +tablet-landscape-down()
            top header-height-tablet

        +mobile-landscape-down()
            top header-height-mobile

// .mobile-search
//     #algolia-searchbox
//         width 100%
//         height 100%
