#search-results
    list-gutter = 50px

    .ais-InfiniteHits-list 
        .item.type-product
            position relative
            width 100%
            flex-basis 100%
            display flex
            flex-direction column
            flex-wrap nowrap
            align-items stretch
            margin-h -list-gutter/2

            .packaging, .price-per-quantity
                &:empty
                    display none
