#search-results
    display flex
    width 100%
    max-width max-w-lg
    margin-h auto
    background white
    flex-direction column
    justify-content flex-start

    +mobile-landscape-down()
      margin-top search-input-height-mobile

    +mobile-landscape-up()
        margin-top header-height-tablet + search-input-height-mobile

    +tablet-landscape-up()
        margin-top header-height-desktop

    .search-head
        background blue
        text-align center
        min-height 240px

    // Search Results Title ("Search results for...")
    .stats-widget h1
        color white
        letter-spacing .02em

        +tablet-up()
            padding 50px gutter 140px
            font-size 42px

        +tablet-down()
            padding 42px gutter 140px
            font-size 34px
    
    .result-wrap
        flex-grow 1
        fluid(margin-h, 70px, gutter, max-break: desktop, min-break: tablet)
        fluid(margin-bottom, 70px, gutter, max-break: desktop, min-break: tablet)
        margin-top -106px
        padding 78px gutter
        border-radius 25px
        background white
        box-shadow 0px 0px 2px rgba(0,0,0,0.5)

        +tablet-down()
            margin-h 0
            padding-h gutter-mobile
            padding-top 44px
            margin-top -120px
    
    // Tabs (Products, Articles, Recipes & Meal Plans)
    .menu-select
        +tablet-landscape-up()
            text-align left

        +tablet-landscape-down()
            text-align center

        tab-gutter-lg = 15px
        tab-gutter-sm = 9px

        +tablet-up()
            margin-h (tab-gutter-lg / -2)

        +tablet-down()
            margin-h (tab-gutter-sm / -2)

        .tab
            display inline-block
            cursor pointer
            border none
            background transparent
            color black
            font-weight 700
            margin-bottom 10px
            font-family booster
            
            +tablet-up()
                font-size 24px
                letter-spacing 0
                padding 2px 0
                margin-h tab-gutter-lg

            +tablet-down()
                font-size 19px
                letter-spacing -0.2px
                padding 0
                margin-h tab-gutter-sm
            
            &.selected
                color orange
                border-bottom 3px solid orange
                margin-bottom 7px

            &:hover
                color orange

    // Infinite Hits Widget
    .ais-InfiniteHits--empty
        display none

    .ais-InfiniteHits-list
        width 100%
        padding-top 30px
        display flex
        flex-direction row
        flex-wrap wrap

    .ais-InfiniteHits-item
        display flex
        flex-direction row
        align-items stretch
        width 33.33%
        flex-basis @width

        +tablet-down()
            width 50%
            flex-basis @width

        +mobile-down()
            width 50%
            flex-basis @width
            justify-content center

    .learning-center-card
        width 100%

    .no-results
        padding-top 60px

        display none

        &.show
            display block

        li, p
            color black
        
        a, a:visited
            color black
            text-decoration underline
            font-weight 700
        
        a:hover
            color orange

    // Hide "Load More" instead of showing a disabled button.
    // .ais-InfiniteHits-loadMore--disabled
    //     display none