// Breakpoints
json('breakpoints.json')

// Colors
grey = #716F6C
light-grey = #808080
lightest-grey = #999
dark-grey = #5e5c59
darker-grey = darken(dark-grey, 10%)
black = grey
green = #70A401
orange = #E9713A
dark-orange = darken(orange, 15%)
darker-orange = darken(orange, 25%)
beige = #FCF8F2
dark-beige = darken(beige, 4%)
purple = #B16BB9
blue = #449DCD
red = #DC4F58

// Brand Colors
brand-baby = green
brand-tot = purple
brand-kid = blue
brand-mama = red

// Fonts
booster = BoosterNextFY, sans-serif
organico = Organico-Regular, sans-serif
font-sans = booster
font-serif = organico

// Dimensions
max-w-lg = 1440px
max-w = 1140px
max-w-article = 910px
gutter = 30px
gutter-mobile = 20px

header-height-desktop = 184px // tablet-landscape-up
header-height-desktop-sticky = 48px
header-height-tablet = 80px // tablet-landscape-down and mobile-landscape-up
header-height-mobile = 50px // mobile-landscape-down

search-input-height-mobile = 48px

modal-z = 1040

// Typography
style-h1()
  font-size 60px
  letter-spacing 0.02em
  line-height 60px // 63px in the original site, but this looks better
  font-weight normal
  color green

style-h2()
  font-size 33px
  line-height 33px
  letter-spacing 0.02em
  font-weight bold
  color green

style-h3()
  font-family font-sans
  line-height 1.2
  letter-spacing 0
  font-weight 700
  color grey
  text-transform none

  +mobile-landscape-up()
    font-size 24px

  +mobile-landscape-down()
    font-size 20px


style-h4()
  font-family font-sans
  font-size 16px
  line-height 18px
  letter-spacing 0
  font-weight 700
  color grey
  text-transform none


style-body()
  font-size 18px
  line-height 26px
  letter-spacing 0.1px

arrow(size=10px, strokeWidth=2px, strokeColor=white, direction='right')
  if direction=='right'
    rotation = -45deg
  if direction=='down'
    rotation = -135deg
  if direction=='left'
    rotation = 135deg
  if direction=='up'
    rotation = 45deg
  content ''
  height size
  width size
  position absolute
  top 50%
  border-right strokeWidth solid strokeColor
  border-bottom strokeWidth solid strokeColor
  transform translateY(-50%) rotate(rotation)

// Media query helpers
on-desktop()
  @media(min-width tablet)
    {block}
on-mobile()
  @media(max-width tablet - 1px)
    {block}
when-desktop-header()
  @media(min-width nav-break + 1px)
    {block}
when-mobile-header()
  @media(max-width nav-break)
    {block}
// "Down" Breakpoints
desktop-down()
  @media(max-width desktop - 1px)
    {block}
tablet-landscape-down()
  @media(max-width tablet-landscape - 1px)
    {block}
tablet-down()
  @media(max-width tablet - 1px)
    {block}
mobile-landscape-down()
  @media(max-width mobile-landscape - 1px)
    {block}
mobile-down()
  @media(max-width mobile - 1px)
    {block}
mobile-sm-down()
  @media(max-width mobile-sm - 1px)
    {block}
max-w-inner-down()
  @media(max-width (max-w-inner + gutter + gutter))
    {block}
// "Up" Breakpoints
desktop-up()
  @media(min-width desktop)
    {block}
desktop-sm-up()
  @media(min-width desktop-sm)
    {block}
tablet-landscape-up()
  @media(min-width tablet-landscape)
    {block}
tablet-up()
  @media(min-width tablet)
    {block}
mobile-landscape-up()
  @media(min-width mobile-landscape)
    {block}
mobile-up()
  @media(min-width mobile)
    {block}
mobile-sm-up()
  @media(min-width mobile-sm)
    {block}


//////////////////////////////////////////////////////////////////
// MIXINS

focus-shadow(color)
  box-shadow 0 0 0 2px color

focus-outline(color)
  outline 2px solid color
  outline-offset 3px

// IE11 selector hack
// https://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11
ie11()
  @media all and (-ms-high-contrast:none)
    *::-ms-backdrop, & 
      {block}

/** 
 * Apply styles to elements that were focused by the mouse, but not the keyboard.
 * Requires: https://github.com/WICG/focus-visible
 * 
 * Ex:
 *   &:focus
 *     outline black
 *   +mouse-focus()
 *     outline none
 */
mouse-focus()
  .js-focus-visible &:focus:not(.focus-visible)
    {block}


// The Bukwild shared stylus library
support-for-ie = false // Don't generate px values with rem function
body-font-size = 16px
@import 'bukwild-stylus-library'

