// Destini Widget Styles
// Docs: https://support.destini.co/hc/en-us/articles/360035464173--Pop-up-Product-Widget-Implementation-Guide

.fade
  opacity 0
  transition: opacity .15s linear

  &.in
    opacity 1

.modal-open
  overflow hidden
  // Prevent scrolling in iPhone SE Safari
  -webkit-overflow-scrolling touch !important
  overflow hidden !important
  height 100% !important

#widget-modal 
  z-index modal-z + 10
  overflow auto
  height 100vh 
  padding-bottom 150px // In iOS Safari "100vh" the bottom is cut off when the toolbar is shown.

  +mobile-landscape-down()
    top 60px

  .modal-body
    position relative
    overflow hidden
    text-align center
    width 100%
    max-width 1440px
    margin-left auto
    margin-right auto
    // min-width 300px
    height auto
    transition opacity 0.5s linear
    
    +mobile-landscape-up()
      padding 60px

    +mobile-landscape-down()
      padding 0 10px 70px

  .modal-overlay
    display none

#widget-modal-close
  position relative
  z-index modal-z + 20
  color #fff
  cursor pointer
  background 0 0
  border 0
  padding 0
  font-size 50px
  line-height 1
  font-weight 700
  position fixed

  &.hide
    display none

  +desktop-up()
    top 46px
    right calc(50% - 702px)
  
  +desktop-down()
    top 46px
    right 18px

  +mobile-landscape-down()
    top 6px
    right 6px
    width 100%
    text-align right

  &:focus
    focus-outline white

#destini-div
  background #fff
  width 100%

.modal-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: modal-z
  background-color: #000
  
  &.in
    opacity 0.5
