@font-face {
  font-family: 'BoosterNextFY';
  font-weight: 200;
  src: url('./fonts/37B4ED_0_0.eot');
  src: url('./fonts/37B4ED_0_0.eot?#iefix') format('embedded-opentype'), url('./fonts/37B4ED_0_0.woff2') format('woff2'), url('./fonts/37B4ED_0_0.woff') format('woff'), url('./fonts/37B4ED_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'BoosterNextFY';
  font-weight: normal;
  src: url('./fonts/37B4ED_1_0.eot');
  src: url('./fonts/37B4ED_1_0.eot?#iefix') format('embedded-opentype'), url('./fonts/37B4ED_1_0.woff2') format('woff2'), url('./fonts/37B4ED_1_0.woff') format('woff'), url('./fonts/37B4ED_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'BoosterNextFY';
  font-weight: 500;
  src: url('./fonts/37B4ED_2_0.eot');
  src: url('./fonts/37B4ED_2_0.eot?#iefix') format('embedded-opentype'), url('./fonts/37B4ED_2_0.woff2') format('woff2'), url('./fonts/37B4ED_2_0.woff') format('woff'), url('./fonts/37B4ED_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'BoosterNextFY';
  font-weight: 600;
  src: url('./fonts/37B4ED_3_0.eot');
  src: url('./fonts/37B4ED_3_0.eot?#iefix') format('embedded-opentype'), url('./fonts/37B4ED_3_0.woff2') format('woff2'), url('./fonts/37B4ED_3_0.woff') format('woff'), url('./fonts/37B4ED_3_0.ttf') format('truetype');
}
@font-face {
  font-family: 'BoosterNextFY';
  font-weight: 100;
  src: url('./fonts/37B4ED_4_0.eot');
  src: url('./fonts/37B4ED_4_0.eot?#iefix') format('embedded-opentype'), url('./fonts/37B4ED_4_0.woff2') format('woff2'), url('./fonts/37B4ED_4_0.woff') format('woff'), url('./fonts/37B4ED_4_0.ttf') format('truetype');
}
@font-face {
  font-family: 'BoosterNextFY';
  font-weight: 700;
  src: url('./fonts/37B4ED_5_0.eot');
  src: url('./fonts/37B4ED_5_0.eot?#iefix') format('embedded-opentype'), url('./fonts/37B4ED_5_0.woff2') format('woff2'), url('./fonts/37B4ED_5_0.woff') format('woff'), url('./fonts/37B4ED_5_0.ttf') format('truetype');
}
// @font-face {
//   font-family: 'Organico-Regular';
//   src: url('./fonts/37B4ED_6_0.eot');
//   src: url('./fonts/37B4ED_6_0.eot?#iefix') format('embedded-opentype'), url('./fonts/37B4ED_6_0.woff2') format('woff2'), url('./fonts/37B4ED_6_0.woff') format('woff'), url('./fonts/37B4ED_6_0.ttf') format('truetype');
// }

@font-face {
    font-family: 'Organico-Regular';
    src: url('./fonts/happyfont-light-webfont.woff2') format('woff2'),
         url('./fonts/happyfont-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Organico-Regular';
    src: url('./fonts/happyfont-medium-webfont.woff2') format('woff2'),
         url('./fonts/happyfont-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Organico-Regular';
    src: url('./fonts/happyfont-bold-webfont.woff2') format('woff2'),
         url('./fonts/happyfont-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

