//////////////////////////////////////////////////////////////////
// RESETS
.single-products, 
.plp

  h1, p, li
    color black

  #footer
    h1, p, li
      color orange

//////////////////////////////////////////////////////////////////
// PAGE LAYOUT

body
  // On short pages stick footer to bottom
  display flex
  flex-direction column
  justify-content flex-start
  min-height 100vh

#content
  width 100%

.site-footer
  // On short pages stick footer to bottom
  margin-top auto

.room-for-header
  // Position an element below the top nav.
  margin-top 0
  +mobile-landscape-up()
      margin-top header-height-tablet
  +tablet-landscape-up()
      margin-top header-height-desktop

.room-for-header-fixed
  // Position a fixed element's "top" property so it's below the top nav.
  top header-height-mobile + search-input-height-mobile
  +mobile-landscape-up()
      top header-height-tablet + search-input-height-mobile
  +tablet-landscape-up()
      top header-height-desktop

      body.pageStickyHeader &
          top header-height-desktop-sticky


//////////////////////////////////////////////////////////////////
// GLOBAL
.single-products, 
.plp,
#search-results

  .wysiwyg
    p:not(:last-child)
      padding-bottom 14px

  button
    border none 
    font-family font-sans

  btn-hover()
    &:not(.non-interactive):not(.disabled):not([disabled])
      +hover()
        {block}

  .btn
    display inline-block
    color white
    background orange
    width 300px
    max-width 100%
    font-weight 700
    font-size 18px
    line-height 42px
    text-align center
    padding 2px 53px 0 53px
    border-radius 23px
    text-decoration none
    white-space nowrap
    position relative
    transition background 100ms

    +btn-hover()
      background dark-orange
      text-decoration underline
    
    &:focus
      background darker-orange
      focus-shadow darker-orange
    
    +mouse-focus()
      box-shadow none

    &.non-interactive, &.disabled, &[disabled]
      opacity 0.4
      cursor not-allowed
      background grey

    &.small
      width auto
      padding 2px 22px 0 22px
      font-size 13px
      line-height 30px

    &.arrow
      padding 2px 63px 0 53px

      &:after
        content ''
        width 10px
        height @width
        position absolute
        top 50%
        right 44px
        border-right 3px solid white
        border-bottom 3px solid white
        transform translateY(-50%) rotate(-45deg)
        transition 0.2s ease-in-out

      &.small
        padding 2px 44px 0 22px

        &:after
          width 8px
          height @width
          // top 46%
          right 22px

    &.outline
      background transparent
      border 2px solid orange
      color orange
      line-height 40px

      &.small
        line-height 28px

      &.arrow:after
        border-right-color orange
        border-bottom-color orange
    
      +btn-hover()
        background dark-orange
        color white
        border-color dark-orange

        &.arrow:after
          border-right-color white
          border-bottom-color white

    // Color Themes
    &.grey:not(.outline)
      background grey

      +btn-hover()
        background dark-grey

      &:focus
        background darker-grey
        focus-shadow darker-grey

      +mouse-focus()
        box-shadow none

    &.grey.outline
      border-color lightest-grey
      color lightest-grey

      +btn-hover()
        background lightest-grey
        color white

      &:focus
        focus-shadow grey
        border-color grey
        color grey

      +mouse-focus()
        box-shadow none

  // Header Search Form
  // Fix bug where it blocks clicks on page content near the top (eg. PDP breadcrumbs)
  .mobile-search #search_mini_form
    &.search__form
      display none

      &.expanded
        display block

  #header span.mobile-search-icon
    position absolute
    
    +mobile-landscape-down()
      top -35px

    +mobile-landscape-up()
      top -49px

// Header Top Right Icon
.globe-icon
  &:before
    background-image url("../../dist/images/mission-new-grey.svg")
    transition none
    width 100%
    left 0

  &:hover:before
    background-image url("../../dist/images/mission-new-orange.svg")
    transition none
    width 100%
    left 0

  &:after
    display none

// Header Top Left Icon
#header .explore-topmenu a
  &:after
    background-image url("../../dist/images/icon-login-new.svg")
  &:hover:after
    background-image url("../../dist/images/icon-login-new.svg")

// Mobile menu globe icon
@media (max-width:1023px)
  #header .menus-container .navigational-menu__item.desktop-hide
    &.globe-icon a
      background-image url("../../dist/images/mission-new-grey.svg")
      background-position 4px 11px
      background-repeat no-repeat
      background-size 25px 23px
      padding-left 43px



// Hide search (V1 launch, Jan 2020, because it required Magento)
// .search.desktop-search
//   display none !important

// .mobile-search
//   display none !important