// We changed all instances of "Organico" font to "Happy" font.
// For ease, we kept the @font-face name "Organico" and replaced the font files.

// mixin copied from variables.less
less-mobile-query()
    only screen and (max-width: 600px)
        {block}
less-tablet-query()
    only screen and (max-width: 1023px)
        {block}
less-lgdesktop-query()
    only screen and (max-width: 1440px)
        {block}



// Make all instances of "Happy" font have letter-spacing 0.02em.
happy()
    letter-spacing 0.02em

// bundles-php.less
.product-bundles-subscription-container .product-addition 
    .product-how-it-works-container .section-title
        happy()

    .product-awesome-container .section-title
        happy()

// careers.less
.careers-hero h1
    happy()

// clearly-crafted-lp.less
.clearly-crafted-hero &__clear-package
    happy()

// faq.less
+less-mobile-query()
    .faq-customer-service &__subhead
        happy()

// infant-feeding.less
.formula-base &__introcopy h2
    happy()

.feeding-base &__introcopy h2
    happy()

.feeding-intro h2
    happy()

.feeding-social h2
    happy()

.feeding-videos h2
    happy()

// mission.less
.mission-carousel &.mission-world h1
    +less-tablet-query()
        happy()

// pdp.less
.column.main .block .title
    happy()

// plp.less
+less-lgdesktop-query()
    .breadcrumbs .item:not(:last-child)::after
        happy()

// product-category.less
.catalog-category-view .block-featured-products .block-title
    happy()

// storefront.less
.cms-shop-all .title,
.cms-shop-all .section-title,
.checkout-onepage-success .title,
.checkout-onepage-success .section-title
    happy()

// universal.less
h1, h2
    happy()

// allergy-filter.less
.allergy-filter &__headline
    happy()

// carousel-centermode.less
.home-lifestage-carousel .hero-content__fullwidth h1
    happy()

// impact.less
.home-our-impact &__intro h1
    happy()

// ingredient.less
.modal-dialog .ingredient-title
    happy()

// introduction.less
.home-hero-intro h1
    happy()

// modules-pdp.less
.product-highlightmodule-container .section-title
    happy()

// Page: /picky-eating
// Go to "page-picky-eating.php" and see the <style> block.

// Homepage
.our-story__family h1
    happy()

.home-our-impact__intro h1
    happy()

.home-ingredient-carousel__overlayed-text h1
    +mobile-landscape-down()
        happy()