// Styles for single-products.php (PDP)

desktop-sm = 900px

desktop-sm-up()
  @media (min-width: desktop-sm)
    {block}

desktop-sm-down()
  @media (max-width: desktop-sm - 1px)
    {block}

.single-products
  #content
    // Make room for top navigation
    margin-top header-height-mobile
    +mobile-landscape-up()
      margin-top header-height-tablet
    +tablet-landscape-up()
      margin-top header-height-desktop

    color black

  .breadcrumbs
    padding-h gutter
    fluid(font-size, 15, 13, max-break: tablet, min-break: mobile-sm)
    font-weight 500
    line-height 1.6

    a
      color grey
      text-decoration underline

      &:visited
        color grey
      
      +hover()
        color darker-grey
      
      &:focus
        color darker-grey
        focus-outline alpha(darker-grey, 0.5)

      +mouse-focus()
        outline none

    .crumb-div
      fluid(padding-left, 12, 8, max-break: tablet, min-break: mobile-sm)
      fluid(padding-right, 14, 10, max-break: tablet, min-break: mobile-sm)
      opacity 0.5
    
    .crumb-title
      font-weight 700


  .marquee
    display flex
    flex-direction row
    flex-wrap nowrap
    margin-top gutter
    margin-h gutter

    +ie11()
      display block

    +tablet-down()
      flex-direction column

  #product-image
    flex-basis 50%
    display flex
    flex-direction row
    flex-wrap nowrap
    align-items flex-start
    
    +tablet-up()
      fluid(margin-right, gutter*2, gutter, min-break: tablet, max-break: desktop)

  .thumbs
    flex-shrink 0
    display flex
    flex-direction column
    flex-wrap nowrap
    width 80px
    margin-right gutter

    +desktop-sm-down()
      display none

  .thumb
    border none
    background none
    margin-bottom 20px

    &:focus
      focus-outline alpha(light-grey, 0.5)
    
    +mouse-focus()
      outline none

    &:not(.active)
      img
        opacity 0.5

  .slide-wrap
    width 100%

    &:focus
      focus-outline alpha(light-grey, 0.5)
    
    +mouse-focus()
      outline none

    +desktop-sm-up()
      margin-bottom 30px
    
    +desktop-sm-down()
      margin-bottom 60px
    
    +tablet-down()
      fluid(margin-bottom, 80, 70, max-break: tablet, min-break: mobile-sm)

  .flickity-viewport
    height 100%

  .flickity-button // Arrows
    display none

  .flickity-page-dots
    bottom -40px

    .dot
      width 9px
      height @width
      margin 0 6px
      background light-grey

      &.is-selected
        background green
    
    +desktop-sm-down()
      display block
    
    +desktop-sm-up()
      display none

  .slide
    width 100%
    display flex
    justify-content center
    align-items flex-start

    img
      max-height 480px

  // Prevent jank: hide slides before JS init
  .slide:not(:first-child)
    display none
  // Show slides after JS init
  .flickity-slider .slide
    display flex

  .desktop-title-wrap
    margin-top 40px
    +tablet-down()
      display none

  .mobile-title-wrap
    +tablet-up()
      display none

  .eyebrow
    font-weight 700
    margin-bottom 10px
    line-height 1.2
    
    +tablet-landscape-up()
      font-size 18px

    +tablet-landscape-down()
      font-size 16px

  .marquee-title
    style-h2()
    margin-bottom 8px

  .description-wrap
    flex-basis 50%
    margin-bottom 80px

  .price
    font-weight 700
    margin-bottom 6px
    line-height 1.2

    +tablet-landscape-up()
      font-size 18px

    +tablet-landscape-down()
      font-size 16px

  .packaging
    font-weight 500
    margin-bottom 30px
    line-height 1.2

    +tablet-landscape-up()
      font-size 18px

    +tablet-landscape-down()
      font-size 16px
      margin-bottom 24px

    +mobile-landscape-down()
      fluid(margin-bottom, 30, 10, max-break: mobile-landscape, min-break: mobile-sm)

  .description
    +tablet-up()
      text-align left

    +tablet-down()
      text-align center
    
    p, li
      style-body()
      line-height 1.5

      +tablet-landscape-down()
        font-size 16px

    a
      color orange
      text-decoration underline
      font-weight bold
      transition color 100ms

      +hover()
        color darker-orange
      
      &:focus
        color darker-orange
        text-decoration underline
        focus-outline alpha(darker-orange, 0.8)

      +mouse-focus()
        outline none

  .icons
    margin-top 40px
    display flex
    flex-direction row
    flex-wrap nowrap
    margin-h -10px
    
    +tablet-up()
      justify-content flex-start
    +tablet-down()
      justify-content center

  .icon
    flex-grow 0
    padding-h 10px
    padding-bottom 20px
    display flex
    flex-direction column
    align-items center
    text-align center

    +tablet-up()
      fluid(width, 110, 70, max-break: desktop, min-break: tablet)

    +tablet-down()
      fluid(width, 110, 75, max-break: tablet, min-break: mobile)

  .icon-image
    fluid(width, 45, 40)
    margin-bottom 10px

  .icon-label
    // font-size 15px
    line-height 1.2
    font-weight 700
    letter-spacing 0.1px
    max-width 100% // IE11
    
    +tablet-up()
      fluid(font-size, 15, 12, max-break: desktop, min-break: tablet)

    +tablet-down()
      fluid(font-size, 15, 11, max-break: tablet, min-break: mobile)

  .shop-now
    margin-top 30px

    +tablet-down()
      width 100% !important

  .card
    background beige
    margin 0
    padding 50px gutter

    &.orange-card
      background orange
      color white

      h1, h2, h3
        color white

  .ingredients-title
    style-h3()
    text-align center
    // Margin-bottom is for when there's a description but no ingredients
    margin-bottom 25px

  .ingredients-description
    text-align center
    max-width 800px
    margin 0 auto

    li, p
      +tablet-landscape-up()
        font-size 18px

      +tablet-landscape-down()
        font-size 16px
    
  .ingredients
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center
    align-items flex-start
    margin 0
    fluid(margin-top, -25, 0)
    fluid(margin-bottom, 0, 30)

    .ingredient
      flex-shrink 0
      flex-grow 0
      fluid(width, 200, 100)
      fluid(padding-h, 55, 10)
      fluid(padding-v, 40, 10)
      display flex
      flex-direction column
      align-items center
      text-align center

    .ingredient-image
      width 80px
      margin-bottom 16px

    .ingredient-label
      font-weight 700
  
  .nutrition-card
    text-align center
    fluid(padding-h, 30, 15, max-break: tablet, min-break: mobile-sm)

  .nutrition-title
    style-h3()
    text-align center
  
  .nutrition-subhead
    margin-top 6px
    font-weight 500

    +tablet-landscape-up()
      font-size 18px

    +tablet-landscape-down()
      font-size 16px

  .nutrition-facts
    margin-top 20px
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center
    fluid(margin-h, -15/2, -15/2, max-break: tablet, min-break: mobile-sm)

    .fact
      // margin-v 15px
      fluid(margin, 15, 15/2)
      padding 20px
      background white
      border-radius 30px
      color orange
      
      +mobile-sm-up()
        min-width 150px
      
      +mobile-sm-down()
        min-width 0
        width calc(50% - 16px)


    .fact-title
      font-weight 500
      fluid(font-size, 40, 30)

    .fact-subhead
      color grey
      font-weight 700
      padding-top 6px
      letter-spacing 0.1px

  .side-by-side
    display flex
    flex-direction row
    
    +tablet-up()
      flex-wrap nowrap
    
    +tablet-down()
      flex-wrap wrap

  .side-by-side-text
    text-align center 
    fluid(padding-h, 60, 20, max-break: desktop, min-break: tablet)
    fluid(margin-v, 110, 40)

    +tablet-up()
      flex-basis 50%
    
    +tablet-down()
      flex-basis 100%

    h2, h3, h4
      line-height 1.2
      letter-spacing 0.1px
      padding-bottom 16px
      
      +tablet-landscape-up()
        font-size 18px
      
      +tablet-landscape-down()
        font-size 16px

    p
      +tablet-up()
        fluid(font-size, 40, 24, max-break: desktop, min-break: tablet)
      
      +tablet-down()
        fluid(font-size, 36, 24, max-break: tablet, min-break: mobile)

  .side-by-side-image
    background-size cover
    background-position 50% 50%


    &.desktop
      flex-basis 50%

      +tablet-down()
        display none
    
    &.mobile
      flex-basis 100%

      +tablet-up()
        display none
  
