// Styles for taxonomy-product_category.php (PLP)

.plp
  // Make room for top navigation
  pad = 15px
  margin-top pad
  +mobile-landscape-up()
    margin-top header-height-tablet + pad
  +tablet-landscape-up()
    margin-top header-height-desktop + pad

  color black

  display flex
  flex-wrap nowrap
  align-items flex-start

  +tablet-landscape-up()
    flex-direction row-reverse
  
  +tablet-landscape-down()
    flex-direction column-reverse

  button
    border none
    font-size 18px
    font-weight 700
    font-family font-sans

  button.text-btn
    background none

    &.text-orange
      color orange
      text-decoration underline

      +hover()
        color dark-orange
      
      &:focus
        focus-outline alpha(orange, 0.6)
        outline-offset 0
      
      +mouse-focus()
        outline none

.plp-filter-wrap
  
  +tablet-landscape-up()
    fluid(width, 340, 240, max-break: desktop, min-break: tablet-landscape)
    padding-left 20px
    fluid(padding-right, 70, 20, max-break: desktop, min-break: tablet-landscape)
    flex-shrink 0

  +tablet-landscape-down()
    width 100%
    fluid(padding-h, gutter, 14, max-break: tablet-landscape, min-break: mobile)

    &.open
      box-shadow 0px 16px 14px -7px rgba(0,0,0,0.13)

  .title-mobile
    display block
    width 100%
    margin-bottom 10px
    padding 12px 20px
    background beige
    color grey
    font-size 15px
    font-weight 700
    transition all 100ms

    +hover()
      background dark-beige
      color dark-grey
    
    &:focus
      focus-shadow dark-grey

    .arrow
      display inline-block
      position relative
      margin-left 10px
      top -3px

      &:after
        arrow(8px, 3px, grey, 'up')
        transform translateY(-80%) rotate(45deg)
        transition transform 400ms ease-out-quint

        .open&
          transform translateY(-50%) rotate(-135deg)

    +tablet-landscape-up()
      display none

  button
    font-size 13px

  .filters-selected-wrap
    &.hide
      display none

    +tablet-landscape-down()
      display none

  .filters-selected
    margin 8px 0 40px

  .filter-selected
    font-size 13px
    color dark-grey

    button
      position relative
      top 1px
      opacity 0.6
      padding-right 2px

      +hover()
        opacity 1

      &:focus
        focus-shadow alpha(dark-grey, 0.6)
      
      +mouse-focus()
        box-shadow none

  .filter-title
    display block
    style-h4()
    color dark-grey
    border-bottom 1px solid #E3E2E2
    padding-bottom 4px

    +tablet-landscape-down()
      display none

  .filter-group  
    
    +tablet-landscape-up()
      padding-bottom 8px
      margin-bottom 4px

      &:not(:last-of-type)
        border-bottom 1px solid #E3E2E2

    +tablet-landscape-down()
      margin 0 10px

  .group-title
    font-size 13px
    font-weight 700
    color dark-grey
    padding 10px 0

    &.desktop
      +tablet-landscape-down()
        display none
    
    &.mobile
      background beige
      color orange
      margin 10px 0 0
      padding 18px 12px
      width 100%
      text-align left
      font-size 16px
      transition all 100ms

      +hover()
        color dark-orange
        background dark-beige
      
      &:focus
        focus-shadow dark-orange

      .icon
        display inline-block
        position relative
        top 2px
        width 30px
        font-size 24px
        line-height 0
        pointer-events none

      +tablet-landscape-up()
        display none

  .filter-group.open .group-title .icon:before
    content '—'

  .filter-group.closed .group-title .icon
    font-size 28px
    top 4px
    left -2px
    &:before
      content '+'        

  .terms
    +tablet-landscape-down()
      padding 18px 10px 10px

  .filter-group.closed .terms
    +tablet-landscape-down()
      display none

  // When the mobile menu is closed, hide it.
  +tablet-landscape-down()
    margin-bottom 40px

    &.closed
      .filter-group
        display none

      .buttons-mobile
        display none

  input[type=checkbox]
    display inline-block
    width 18px
    height @width
    margin 4px 0
    opacity 0.3
    cursor pointer

    +hover()
      opacity 0.6
    
    &:focus
      opacity 0.6
      focus-outline grey
      outline-offset 2px
    
    +mouse-focus()
      outline none

    &:checked
      opacity 1

    &+label, &:checked+label
      position relative
      cursor pointer
      top -1px
      font-size 13px
      color dark-grey

  .buttons-mobile
    display flex
    padding 20px 10px 40px

    .btn
      fluid(padding-h, 53, 30, max-break: tablet, min-break: mobile-sm)
      flex-grow 1

    .btn:not(:first-child)
      margin-left 10px

    +tablet-landscape-up()
      display none



//////////////////////////////////////////////////////////////////
// PRODUCT LIST

#plp-list, 
#search-results .ais-InfiniteHits-list
  flex-grow 1
  width 100%
  display flex
  flex-direction row
  flex-wrap wrap
  // margin 0 0 0 -10px

  .product-wrap, 
  .item.type-product
    width 33.33%
    flex-basis @width
    display flex
    flex-direction row
    align-items stretch

    &.hide
      display none
    
    +tablet-landscape-up()
      fluid(padding-h, 60, 20, max-break: desktop, min-break: tablet-landscape)
      fluid(margin-bottom, 90, 60, max-break: desktop, min-break: tablet-landscape)

    +tablet-landscape-down()
      fluid(padding-h, 30, 15, max-break: tablet-landscape, min-break: mobile)
      fluid(margin-bottom, 90, 60, max-break: desktop, min-break: tablet-landscape)
  
    +tablet-down()
      width 50%
      flex-basis @width

    +mobile-down()
      width 50%
      flex-basis @width
      justify-content center

  .product
    width 100%
    display flex
    flex-direction column
    flex-wrap nowrap
    align-items stretch

    +mobile-up()
      max-width 280px

    +mobile-down()
      max-width 300px

  .item-image
    padding-bottom 100%
    background-repeat no-repeat
    background-position center center
    background-size contain
    margin-bottom 22px

    &:focus
      focus-outline orange
    
    +mouse-focus()
      outline none

  .item-terms
    display block
    font-size 13px
    font-weight 700
    color light-grey
    line-height 1.3

    +tablet-landscape-up()
      fluid(margin-bottom, 24, 12, max-break: desktop, min-break: tablet-landscape)

    +tablet-landscape-down()
      fluid(margin-bottom, 24, 12, max-break: tablet-landscape, min-break: mobile)

    .term-category
      text-transform lowercase
      color green

      &.color-purple
        color purple
      &.color-blue
        color blue
      &.color-red
        color red

  .term
      &:not(:first-child)
        fluid(padding-left, 8, 3)

        &:before
          content '|'
          display inline-block
          fluid(padding-right, 8, 6)
          font-weight 500
          opacity 0.5

  .item-title
    flex-grow 1
    color grey
    font-weight 700
    font-size 17px

  .item-packaging
    height auto
    font-size 13px
    line-height 1.3
    font-weight 700
    color light-grey

    +tablet-landscape-up()
      fluid(margin-top, 24, 4, max-break: desktop, min-break: tablet-landscape)
      fluid(padding-bottom, 24, 12, max-break: desktop, min-break: tablet-landscape)

    +tablet-landscape-down()
      fluid(margin-top, 24, 4, max-break: tablet-landscape, min-break: mobile)
      fluid(padding-bottom, 24, 12, max-break: tablet-landscape, min-break: mobile)

  .packaging
    padding-right 6px

  .price-per-quantity
    border-left 1px solid alpha(lightest-grey, 0.7)
    padding-left 8px

  .price-and-buy
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content space-between
    align-items flex-start
    border-top 2px solid #e2e2e2
    padding-top 10px

  .product-price
    color orange
    font-weight 700
    position relative
    top 8px
    padding-right 8px

  .filter-no-match
    width 100%
    padding 0 gutter
    margin-bottom 80px
    display flex

    +tablet-landscape-down()
      justify-content center
      fluid(padding-h, gutter, 14, max-break: tablet-landscape, min-break: mobile)

    .inner
      padding-v 20px
      fluid(padding-h, 40, 20)
      // box-shadow 0px 2px 10px -2px rgba(0,0,0,0.13) // Old site has white bkg with box shadow.  I thought beige looked nicer.
      background beige
      font-weight 700

    .btn
      margin-left 22px

    &.hide
      display none
    