
<footer id="footer" class="site-footer clearfix">

    <div class="row site-footer__container">

        <div class="col-5">
            <h1>Get more good stuff from Happy!</h1>
            <p>Sign up to receive coupons, recipes, and more&mdash;right in your inbox.</p>

            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup_footer" class="footer-newsletter">
                <form action="/newsletter/subscriber/new/" method="post" id="mc-embedded-subscribe-form-footer" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="clearfix">
                            <input type="email" value="" placeholder="email address" name="email" class="required email" id="subscription_email" aria-required="true">
                            <div class="footer-newsletter__submit-container button mobile-hide">
                                <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe-footer-one" class="button">
                            </div>
                        </div>
                        <div class="footer-newsletter__birthday">
                            <label for="mce-MMERGE3-month"><p><strong>Your little one's birthday<span class="asterisk">*</span></strong></p></label>
                            <div class="footer-newsletter__birthday-fields clearfix visible">
                                <span class="subfield monthfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="MMERGE1[month]" id="mce-MMERGE1-month" aria-required="true"></span>
                                <span class="subfield dayfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="MMERGE1[day]" id="mce-MMERGE1-day" aria-required="true"></span>
                                <span class="subfield yearfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE1[year]" id="mce-MMERGE1-year" aria-required="true"></span>
                                <input type="text" id="birthday_1" name="birthday_1" class="hidden birthday-input">
                            </div>
                            <div class="footer-newsletter__birthday-fields clearfix">
                                <span class="subfield monthfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="MMERGE2[month]" id="mce-MMERGE2-month"></span>
                                <span class="subfield dayfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="MMERGE2[day]" id="mce-MMERGE2-day"></span>
                                <span class="subfield yearfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE2[year]" id="mce-MMERGE2-year"></span>
                                <input type="text" id="birthday_2" name="birthday_2" class="hidden birthday-input">
                            </div>
                            <div class="footer-newsletter__birthday-fields clearfix">
                                <span class="subfield monthfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="MMERGE3[month]" id="mce-MMERGE3-month"></span>
                                <span class="subfield dayfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="MMERGE3[day]" id="mce-MMERGE3-day"></span>
                                <span class="subfield yearfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE3[year]" id="mce-MMERGE3-year"></span>
                                <input type="text" id="birthday_3" name="birthday_3" class="hidden birthday-input">
                            </div>
                            <div class="footer-newsletter__birthday-fields clearfix">
                                <span class="subfield monthfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="MMERGE4[month]" id="mce-MMERGE4-month"></span>
                                <span class="subfield dayfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="MMERGE4[day]" id="mce-MMERGE4-day"></span>
                                <span class="subfield yearfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE4[year]" id="mce-MMERGE4-year"></span>
                                <input type="text" id="birthday_4" name="birthday_4" class="hidden birthday-input">
                            </div>
                            <div class="footer-newsletter__birthday-fields clearfix">
                                <span class="subfield monthfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="MMERGE5[month]" id="mce-MMERGE5-month"></span>
                                <span class="subfield dayfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="MMERGE5[day]" id="mce-MMERGE5-day"></span>
                                <span class="subfield yearfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE5[year]" id="mce-MMERGE5-year"></span>
                                <input type="text" id="birthday_5" name="birthday_5" class="hidden birthday-input">
                            </div>
                            <img class="footer-newsletter__add-birthday" src="/wp-content/themes/happyfamily/dist/images/icon-circled-plus.svg" />
                        </div>
                        <div class="footer-newsletter__submit-container button mobile-only">
                            <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe-footer" class="button">
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c03ea84fb510d1d8a20f1792_afec97eb77" tabindex="-1" value=""></div>
                    </div>
                </form>
                <div id="responses" class="clear">
                    <div class="response" id="error-response" style="display:none">Error message</div>
                    <div class="response" id="success-response" style="display:none">Success message</div>
                </div>
            </div>
            <!--End mc_embed_signup-->
        
        </div>

        <ul class="col-3 footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="<?php echo esc_url(home_url()); ?>/press">Press</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="<?php echo esc_url(home_url()); ?>/contact-us">Contact us</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="<?php echo esc_url(home_url()); ?>/faqs">FAQs</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="<?php echo esc_url(home_url()); ?>/careers">Careers</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="<?php echo esc_url(home_url()); ?>/tmall">International</a></li>
        </ul>

        <div class="col-4">

            <ul class="footer-social">
                <li class="footer-social__item"><a class="footer-social__link twitter" target="_blank" href="https://twitter.com/HappyFamily">Twitter</a></li>
                <li class="footer-social__item"><a class="footer-social__link instagram" target="_blank" href="https://instagram.com/happyfamilyorganics">Instagram</a></li>
                <li class="footer-social__item"><a class="footer-social__link facebook" target="_blank" href="https://www.facebook.com/HappyFamilyOrganics">Facebook</a></li>
                <li class="footer-social__item"><a class="footer-social__link youtube" target="_blank" href="https://www.youtube.com/happyfamilyorganics">YouTube</a></li>
                <li class="footer-social__item"><a class="footer-social__link pinterest" target="_blank" href="https://www.pinterest.com/happyfamilyorganics">Pinterest</a></li>
            </ul>

            <div class="footer-legal">
                <a class="footer-legal__badge" href="<?php echo esc_url(home_url()); ?>/our-mission#bcorp">
                    <img src="/wp-content/themes/happyfamily/dist/images/bcorp-badge.svg" />
                </a>
                <p>&copy; 2018 Nurture, Inc. All rights reserved.</p>
                <p><a href="/privacy-policy">Privacy Policy</a></p>
                <a href="/terms-conditions">Terms of Use</a>
            </div>

        </div>


    
    </div>

</footer>