<?php
	$with_sub_header = false;
	if ( have_rows('navigation_items') || is_page( array( 'our-mission', 'our-story', 'our-team', 'our-experts' ) ) ) {
		$with_sub_header = true;
	}
?>

<header id="header" class="site-header <?php if ($with_sub_header) { echo 'site-header--with-sub-header'; } if (get_field('short_subheader')) { echo ' --short-sub-header'; } ?>">

	<div class="desktop-hide nav-toggle">
		<div class="nav-toggle__icon"></div>
	</div>

	<div class="header-container">

		<div class="site-branding">
			<a href="<?php echo esc_url(home_url()); ?>" alt="<?php bloginfo( 'name' ); ?>">
				<img class="site-branding__logo" src="/wp-content/themes/happyfamily/dist/images/logo.svg" />
			</a>
		</div>
		<div class="desktop-hide cart">
			<a href="/checkout/cart">Cart</a>
		</div>
	
	</div>

	<div class="menus-container">

		<ul class="categorical-menu main-menu float-left">
			<li class="main-menu__item categorical-menu__item text-green"><a href="<?php echo esc_url(home_url()); ?>/baby">Baby</a></li>
			<li class="main-menu__item categorical-menu__item text-lightpurple"><a href="<?php echo esc_url(home_url()); ?>/tot">Tot</a></li>
			<li class="main-menu__item categorical-menu__item text-lightblue"><a href="<?php echo esc_url(home_url()); ?>/kid">Kid</a></li>
			<li class="main-menu__item categorical-menu__item text-mediumyellow"><a href="<?php echo esc_url(home_url()); ?>/mama">Mama</a></li>
		</ul>
		
		<div class="float-right menu-right">

			<ul class="navigational-menu main-menu">
				<li class="main-menu__item navigational-menu__item main-menu__dropdown">
					<a href="<?php echo esc_url(home_url()); ?>/shop">Shop</a>
					<div class="dropdown-menu">
					<div class="dropdown-menu__container">
						<ul class="dropdown-menu__section dropdown-menu__categories">
							<li class="dropdown-menu__header dropdown-menu__item text-orange">Shop by Products</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop?product_group=968">Formula</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop?product_group=971">Pouches</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop?product_group=974">Jars</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop?product_group=977">Cereal</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop?product_group=980">Bowls</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop?product_group=983">Bars</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop?product_group=986">Yogurt</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop?product_group=989">Snacks</a>
							</li>
							
							<li class="dropdown-menu__item text-orange">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop">
									<strong>Shop all</strong>
								</a>
							</li>
						</ul>
						<ul class="dropdown-menu__section">
							<li class="dropdown-menu__header dropdown-menu__item text-green">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/baby">Baby</a>
								<span class=" dropdown-menu__ages">0 - 12 mo</span>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo esc_url(home_url()); ?>/bundles">Bundles</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/baby?product_group=968">Formula</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/baby?product_group=971">Pouches</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/baby?product_group=974">Jars</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/baby?product_group=977">Cereal</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/baby?product_group=986">Yogurt</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/baby?product_group=989">Snacks</a>
							</li>
							<li class="dropdown-menu__item text-green">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/baby">
									<strong>Shop all</strong>
								</a>
							</li>
						</ul>
						<ul class="dropdown-menu__section">
							<li class="dropdown-menu__header dropdown-menu__item text-lightpurple">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/tot">Tot</a>
								<span class=" dropdown-menu__ages">12 - 24 mo</span>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo esc_url(home_url()); ?>/bundles">Bundles</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/tot?product_group=968">Formula</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/tot?product_group=971">Pouches</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/tot?product_group=980">Bowls</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/tot?product_group=983">Bars</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/tot?product_group=986">Yogurt</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/tot?product_group=989">Snacks</a>
							</li>
							<li class="dropdown-menu__item text-lightpurple">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/tot">
									<strong>Shop all</strong>
								</a>
							</li>
						</ul>
						<ul class="dropdown-menu__section">
							<li class="dropdown-menu__header dropdown-menu__item text-lightblue">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/kid">Kid</a>
								<span class=" dropdown-menu__ages">2 yrs &amp; up</span>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/kid?product_group=971">Pouches</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/kid?product_group=983">Bars</a>
							</li>
							<li class="dropdown-menu__item text-lightblue">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/kid">
									<strong>Shop all</strong>
								</a>
							</li>
						</ul>
						<ul class="dropdown-menu__section">
							<li class="dropdown-menu__header dropdown-menu__item text-mediumyellow">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/mama">Mama</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/mama?product_group=998">Breastfeeding</a>
							</li>
							<li class="dropdown-menu__item text-mediumyellow">
								<a href="<?php echo get_theme_mod('shop_url'); ?>/shop/mama">
									<strong>Shop all</strong>
								</a>
							</li>
						</ul>
					</div>
				</div>
				</li>
				<li class="main-menu__item navigational-menu__item"><a href="<?php echo esc_url(home_url()); ?>/bundles">Bundles</a></li>
				<li class="main-menu__item navigational-menu__item"><a href="<?php echo esc_url(home_url()); ?>/our-mission">About Us</a></li>
				<li class="main-menu__item navigational-menu__item"><a href="<?php echo esc_url(home_url()); ?>/learning-center">Learning Center</a></li>
				<li class="main-menu__item navigational-menu__item store-locator desktop-hide"><a href="/store-locator">Store Locator</a></li>
				<li class="main-menu__item navigational-menu__item login desktop-hide"><a href="/our-mission/equity-and-action">Equity+Action</a></li>
			</ul>

			<ul class="administrative-menu main-menu clearfix">
			
			<li class="main-menu__item administrative-menu__item search">
				<div class="block block-search algolia-search-block">

				<div class="block block-content">
				<form id="search_mini_form" class="search__form" action="<?php echo get_theme_mod('shop_url'); ?>/catalogsearch/result/" method="get">
					<div id="algolia-searchbox">
					<label for="search">Search:</label>

					<input id="search" type="text" name="q" class="input-text algolia-search-input" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" placeholder="Search for products, categories, ...">

					<span class="clear-cross clear-query-autocomplete"></span>
					</div>
				</form>
				</div>
				</div>
			</li>
				
				<li class="main-menu__item administrative-menu__item store-locator desktop-only"><a href="<?php echo esc_url(home_url()); ?>/store-locator">Store Locator</a></li>
				<li class="main-menu__item administrative-menu__item login desktop-only"><a href="<?php echo get_theme_mod('shop_url'); ?>/our-mission/equity-and-action">Equity+Action</a></li>
				<!--<li class="main-menu__item administrative-menu__item login desktop-only"><a href="<?php echo get_theme_mod('shop_url'); ?>/login">Login</a></li>-->
				<!--<li class="main-menu__item administrative-menu__item cart desktop-only"><a href="<?php echo get_theme_mod('shop_url'); ?>/checkout/cart">Cart</a></li>-->
			</ul>

		</div>
	
	</div>

	<?php if ( is_page( array( 'our-mission', 'our-story', 'our-team', 'our-experts' ) ) ) : ?>
		<div class="site-sub-header">
			<ul class="site-sub-header-menu clearfix">
				<li class="site-sub-header-menu__item">
					<a href="<?php echo esc_url(home_url()); ?>/our-mission" class="<?php if ( is_page( 'our-mission' ) ) { echo 'active'; } ?>">
						<span class="site-sub-header-menu__title">Our Mission</span>
					</a>
				</li>
				<li class="site-sub-header-menu__item">
					<a href="<?php echo esc_url(home_url()); ?>/our-story" class="<?php if ( is_page( 'our-story' ) ) { echo 'active'; } ?>">
						<span class="site-sub-header-menu__title">Our Story</span>
					</a>
				</li>
				<li class="site-sub-header-menu__item">
					<a href="<?php echo esc_url(home_url()); ?>/our-team" class="<?php if ( is_page( 'our-team' ) ) { echo 'active'; } ?>">
						<span class="site-sub-header-menu__title">Our Team</span>
					</a>
				</li>
				<li class="site-sub-header-menu__item">
					<a href="<?php echo esc_url(home_url()); ?>/our-experts" class="<?php if ( is_page( 'our-experts' ) ) { echo 'active'; } ?>">
						<span class="site-sub-header-menu__title">Our Experts</span>
					</a>
				</li>
			</ul>
		</div>
	<?php endif; ?>

	<?php if ( have_rows('navigation_items') ): ?>
		<div class="site-sub-header site-sub-header--with-images">
			<ul class="site-sub-header-menu clearfix">
				<?php while ( have_rows('navigation_items') ) : the_row(); ?>
					<li class="site-sub-header-menu__item site-sub-header-menu__item--hover-<?php the_sub_field('navigation_item_link_hover_color') ?>">
						<a href="<?php esc_attr( the_sub_field( 'navigation_item_link' ) ); ?>">
							<?php $image = get_sub_field( 'navigation_item_icon' ); ?>
							<div class="site-sub-header-menu__item-image-wrapper">
								<img src="<?php echo $image['url']; ?>" alt="<?php esc_attr( the_sub_field('navigation_item_name') ); ?>">
							</div>
							<span class="site-sub-header-menu__title">
								<?php esc_html( the_sub_field('navigation_item_name') ); ?>
							</span>
						</a>
					</li>
				<?php endwhile; ?>
			</ul>
		</div>
	<?php endif; ?>


</header>
