/*

Theme Name: Happy Family Brands
Author: Madwell
Author URI: http://madwell.com
Version: 1.0

Theme styles can be found in /css

*/
@media (max-width: 1023px) {
    #header.site-header.sticky .equity-action.login {
        width: auto;
        margin-right: 12px !important;
        right:0;
    }
    .equity-action.login {
        float: right;
        top: -10px;
        right: 15px;
        position: relative;
        padding-left: 26px;
        margin-right: 0 !important;
        width: 104px;
    }
    .equity-action.login a {
        overflow: inherit;
        font-size: 10px !important;
        line-height: 17px;
    }
    .header-minicart {
        display: none !important;
    }
    .equity-action.login:before {
        height: 20px;
    }
}
@media (max-width:600px) {
    .equity-action.administrative-menu__item.login {
        top: -29px;
        right:0;
    }
}
.minicart-wrapper {
    display: none !important;
}